[2018-01-08 22:20] #3009 closed

[2018-01-08 22:21] #3014 closed

[2018-01-08 22:33] #3008 closed

[2018-01-08 22:38] ben-manes commented on #3025
See #2641. I also implemented Kahn's algorithm on top of Guava's graph to order executions in a workflow. Simple code to write, but will gladly remove it when built in.

[2018-01-08 22:41] jbduncan commented on #3025
Oh cool, thanks @ben-manes, I missed that #2641 was raised already!

[2018-01-09 11:48] Sean-Waitkus opened #3028 "Guava Dependency Not Added to Classpath with ant+ivy repo and Gradle Plugin 3.0.x+"
Hi all,

We are trying to use dagger 2 with our Android project. dagger-compiler and dagger-android-processor have Guava as a dependency.

Our environment is pretty restricted and we cannot connect to mavenCentral(), jcenter() or google(),  etc. We have an ant+ivy repo set up locally and have confirmed all necessary dependencies are in our repo for Guava.

This is our ivy file:

[code]

What we ha

[2018-01-09 11:58] Sean-Waitkus commented on #3028
<img width="776" alt="Guava 22.0 Added to Path am" src="https://user-images.githubusercontent.com/30660396/34719839-52d1e332-f50a-11e7-8663-53adafd06fff.png">

<img width="926" alt="Guava 23.3-jre NOT added to path at 6 56 43 am" src="https://user-images.githubusercontent.com/30660396/34719860-69239f86-f50a-11e7-97b2-9c38af8f1d3c.png">

Adding a couple of screenshot illustrating that 22.0 works wh

[2018-01-09 14:32] cpovirk commented on #3021
OK, I'll close it. I've always wanted to like `CompletionService`, too....

[2018-01-09 14:32] #3021 closed

[2018-01-09 16:25] ronshapiro commented on #3028
I don't believe this is a Guava or a Dagger issue, as everything builds correctly when using the default gradle/maven instructions. It's pretty hard to debug this without a sample project (and a sample maven cache, which is what it sounds like you have?).

Some areas to look:
  - Does the guava-23.3-jre jar exist anywhere? Perhaps it's missing from your cache?
  - Are the pom files in the cache al

[2018-01-09 18:16] Sean-Waitkus commented on #3028
Thanks for replying.

The Ivy file is for the Guava dependency itself.  Each dependency version gets it's own Ivy.xml. It sort of equates to a POM file to the best of my knowledge. This tells the dependency manager what to pull in for a given dependency.

So in this case Guava needs:

[code]

We do have these dependencies available for gradle.

I know I mentioned dagger. I found this issue when tr

[2018-01-10 08:25] tomaszalusky opened #3029 "Reimplement default methods Predicate.and|or|not to get pretty toString()"
In Guava, `Predicates.and(p1,p2).toString()` returns `"Predicates.and(<toString of p1>,<toString of p2>)"` since `toString()` is invoked on `AndPredicate` class. This is great feature for debugging or logging, for which the Guava `Predicate` still has worth for me even in Java 8.

In Java 8, `p1.and(p2).toString()` returns `"some.ClassName$$Lambda$524/7624130891@4c78d6ba"` since `toString()` is in

[2018-01-10 19:32] lowasser commented on #3029
I have mixed feelings about doing this, on a few levels.  Under the assumption that you're using Java 8 at all, I'm not sure you "ought" to be using Guava's functional features at all -- you should be using lambdas everywhere you can, and I'm not sure you should be using c.g.c.b.Predicate.  Under those conditions, it doesn't seem like this change would really add any extra benefit.

[2018-01-12 00:43] gmunisifreddy commented on #1974
We recently switched from Guava to https://github.com/bbeck/token-bucket due to this issue. It helped us a lot to implement rate limiting with bursts.

[2018-01-12 10:56] LouisLei opened #3030 "whether guava cache can clear expire entity when has access for the entity during expire period?"
Use guava cache with java G1 collector( xms:1g,xmx:8g) , when the application run 3days will oom
guava cache config :
                maximumSize(1024)
                .concurrencyLevel(Runtime.getRuntime().availableProcessors())
                .initialCapacity(60)
                .expireAfterWrite(30, TimeUnit.SECONDS)

I dump the file found the concurrenthasmap&node size is 23406,773 , the java

[2018-01-12 16:24] cpovirk commented on #2886
One tiny unfortunate thing is that, if we have both `afterCommit` and `afterDone`, we need to think about which one happens first in simple cases like `set`. I think it pretty clearly has to be `afterCommit` first, since that's what happens with complicated `setFuture` cases. So my tiny concern is more that we have to think about the ordering between two separate methods at all. But maybe that's n

[2018-01-12 16:26] cpovirk commented on #2886
Oh, and I just noted in a code review that it would be just slightly nice for `AbstractTransformFuture` to null out `function` before calling `maybePropagateCancellationTo(inputFuture)`. We would get that for free if we nulled out `function` in `afterCommit`.

[2018-01-12 19:48] cgdecker commented on #3029
I agree with Louis. Our `Predicate` extends `java.util.function.Predicate` simply to help with compatibility between the two, not to improve on it. `java.util.function.Predicate` is the new and better version, not the other way around.

In my opinion, if anything this should be a feature request for the JDK to improve the `toString()` of the `Predicate` returned by `Predicate.and`... but I think t

[2018-01-12 19:48] #3029 closed

[2018-01-12 20:02] cgdecker commented on #3030
I'm not clear on what you're asking. What do you mean by "the entity need be use during the period"?

I'm not an expert on it, but AFAIK the most common cause of entries in caches not being cleared as you expect is that the cache isn't being used. I believe that by default, cache cleanup occurs on every cache write and on occasional cache reads.

You may want to try [caffeine](https://github.com/b

[2018-01-12 20:06] cpovirk commented on #2886
(When completing a future, we'd have to know whether `afterCommit` has been called. But this is just asking whether the previous state was `SetFuture`. That information is available to all callers of `complete()`, so they could pass it as a parameter.)

[2018-01-12 20:08] cgdecker commented on #3028
As Ron says, I don't think there's anything to be fixed with Dagger/Guava here. I'm not sure any of us are particularly familiar with configuring Ivy either, so we probably can't help you much there either. In general, it's better to ask questions about Guava on stackoverflow. If you think there's a specific problem with Guava that's causing your issue, you can report that as an issue here.

[2018-01-12 20:08] #3028 closed

[2018-01-12 22:50] cgdecker commented on #3025
Closing as a duplicate.

[2018-01-12 22:50] #3025 closed

[2018-01-12 22:57] jbduncan commented on #3025
@cgdecker Alrighty!

I'll consider opening a PR if the topological sort function gets open sourced and I believe it could be improved somehow. :)

[2018-01-13 03:59] phil15world988 commented on #3020
how are you

[2018-01-13 04:34] crazybob commented on #2892
Would love something like this so I don't have to remember that incantation in the simple case:

  /** Creates an in-memory cache backed by the given function. */
  public static <K, V> LoadingCache<K, V> create(Function<K, V> function) {
    return CacheBuilder.newBuilder().build(CacheLoader.from(function::apply));
  }

[2018-01-13 04:41] ben-manes commented on #2892
Well, perhaps consider `Caffeine.newBuilder().build(key -> ...)`?
https://github.com/ben-manes/caffeine

[2018-01-14 13:40] eklinger commented on #3020
If it could be made thread safe that would be a big plus.

[2018-01-14 21:44] liach commented on #3020
I assume thread safety can be guaranteed by a simple wrapper.

[2018-01-14 22:21] ronshapiro commented on #3020
Let's keep conversation on the original issue for clarity

[2018-01-14 22:21] #3020 closed

[2018-01-15 17:18] guai commented on #2824
This is madness
Just make them `provided`. Its how they *should* be declared
If this declaration causes bugs then these bugs are somewhere else

[2018-01-15 17:57] jbduncan commented on #2824
The JUnit 5 team have gone and made their dependency on opentest4j `compile` scope now, for reasons given in https://github.com/junit-team/junit5/issues/1105.

Maybe it goes to show that annotations really aren't as optional as we all might think? :thinking:

[2018-01-15 19:37] wltjr opened #3031 "Please consider a different library other than Checker-Framework for JSR305 replacement"
I understand the reasoning to move beyond JSR305. I do not think Checker-Framework to be a good replacement. First off JSR305 has [no dependencies](https://github.com/Obsidian-StudiosInc/os-xtoo/blob/master/dev-java/jsr305/jsr305-3.0.2-r10.ebuild#L17) required to build from source.

That is not the case with Checker-Framework, which seems to not be that easy to package. I am having to package
chec

[2018-01-15 19:48] guidomedina commented on #2824
I'm dealing with it by using excluding its dependencies, ugly as hell but it works.

[2018-01-15 19:52] ooxi commented on #3031
While I cannot comment on the resons for choosing Checker-Framework over JSR305 (or any other alternative) I personally would be interested why you aren't using Maven for dependency resolution.

Is this a policy thing e.g. only being able to depend on other packages already available for your distribution?

[2018-01-15 19:56] jbduncan commented on #3031
I can't comment for the Guava team - I hope that someone from the team can share some insight on the decision to use Checker Framework - but it seems to me that the authors of Checker Framework are currently seeking [seeking](https://github.com/typetools/checker-framework/issues/1224#issuecomment-356243794) [volunteers](https://github.com/typetools/checker-framework/issues/1224#issuecomment-356385

[2018-01-15 20:08] wltjr commented on #3031
@ooxi your assumption is correct. On Gentoo Maven and Gradle compete and go against Portage for dependency resolution. Packages cannot download stuff during build. They must have all things download prior. There was Ant integration which I have scrapped. It was to cumbersome to maintain with xml rewriting for classpath and source/target changes, now --release over source/target. At least with Ant,

[2018-01-15 20:12] wltjr commented on #3031
OFF TOPIC to issue!

@ooxi FYI even building maven from source seems like voodoo. Libraries are in use by Maven nothing else uses and no one seems to have a clue like [Plexus and Modello](https://github.com/codehaus-plexus/modello/issues/15). But that is just to package and build maven from source. Not sure about Gradle. Even when I have both those, neither can be used for packages in Gentoo. Deve

[2018-01-15 20:27] jbduncan commented on #3031
@wltjr

Guava seem to be incorporating `@MonotinicNonNull` into the code base, if I understand the more recent commits correctly. That annotation is a Checker Framework-specific feature which is used to check lazy initializations at compile-time. But AFAICT it could be replaced with error-prone's `@LazyInit` if Checker Framework were to be dropped.

[2018-01-15 20:31] jbduncan commented on #3031
@wltjr I'm interested to hear your thoughts on what other nullness-checking libraries or solutions you think Guava could use. :)

[2018-01-15 20:33] jbduncan commented on #3031
Ah, I see you said that "Google already uses Intellij." (which I do believe is true), sorry for missing that!

Would you be happy to list, if not for the Guava team's benefit but at least for my own, what other alternatives you think Guava could use?

[2018-01-15 20:44] wltjr commented on #3031
@jbduncan I am not really that familiar with the nullness libraries. I just recall packaging some as deps and the main reason was missing a null related class, not other annotations. I believe Java 9 has internal nullness that replaces JSR305.
Here are a few links for such
https://blog.codefx.org/java/jsr-305-java-9/#Alternatives-To-JSR-305
https://stackoverflow.com/questions/4963300/which-notnull

[2018-01-15 21:19] Maaartinus commented on #3031
@wltjr I'd bet, the insider's reasons for using the Checker-Framework annotations go deeper than we can see. IMHO a set of annotations should be used which has no dependencies on anything else - annotations are meant to be lightweight in Java: They should cause no problems at all, that's why unknown annotations get simply ignored.

IMHO what should be done is to extract an annotations-only artifac

[2018-01-15 21:31] wltjr commented on #3031
@Maaartinus I am assuming there are deeper needs, its the only logical justification for such. I am not familiar with nullness libraries. That is good that lombok would not be suffice, as it would bring in considerable unwanted deps.

One of the other things I have to package for Checker-Framework is another annotations library, [Annotations Scene LIbrary](https://github.com/typetools/annotation-t

[2018-01-15 21:55] wltjr commented on #3031
It gets works, now onto packaging Annotations Scene Library, I run into other deps. They have a [modified version of ASM](https://github.com/typetools/annotation-tools/tree/master/asmx). Which seems to be required. Not to mention even worse, deps on Guava. Which creates a circular dependency situation... Or I use an older version of Guava for Annotations Scene LIbrary, so it can be used for Checke

[2018-01-15 23:05] kluever commented on #3031
Related: https://github.com/google/guava/issues/2960

[2018-01-15 23:11] wltjr commented on #3031
@kluever thanks I missed that, and I would prefer that over Checker-Framework as I have [spot bugs annotations packaged](https://github.com/Obsidian-StudiosInc/os-xtoo/tree/master/dev-java/spotbugs-annotations) already. I think I have most alternatives just not Checker-Framework, its a pain to package sadly.

[2018-01-16 05:48] PhilippWendler commented on #3031
@wltjr Why are you attempting to build the full checker framework from source? Guava needs only the annotations, which are packaged in separate JARs, and it should be sufficient to just build that single JAR. A one-minute search through the checker framework's build files let me find the [ant target `checker-compat-qual-jar`](https://github.com/typetools/checker-framework/blob/1f48ddb6006204547311

[2018-01-16 07:21] wltjr commented on #3031
@PhilippWendler seems I should have checked the ant build. Thanks for mentioning that. I was going by the project structure in source tarball/git. Which has various subdir/src directories which usually represent the various pieces of a project. Which I am packaging as checker-subdir. As I do for most projects I package.

After looking at the ant pattern I see its using a [deep subdir compatqual](h

[2018-01-16 16:46] grfield commented on #1682
This can be achieved easily and automatically with the new bnd-maven-plugin. OSGi requires packages to be independently semantically versioned, otherwise the metadata is meaningless. If a package doesn't change, it is possible that it's version remains constant, even though other package versions are changing. OSGi doesn't care what the JAR is called or what version it is, it is just a deployment

[2018-01-16 16:54] rombert commented on #1682
Fully agree @grfield . It's just what the Guava team decides to do, there are definitely ways of achieving this.

[2018-01-16 17:46] cpovirk commented on #3031
OK, that is a relief. I'd known that the Checker Frameworks annotation package is lightweight in our internal build, but reading the beginning of this thread, I was starting to worry that I hadn't looked at the Maven dependencies. I'm glad to see that there aren't any. (We'd tried to shake out such problems by adding the dependency in 23.5 but not using it until 23.6, but for obvious reasons that

[2018-01-16 17:46] #3031 closed

[2018-01-16 18:02] wltjr commented on #3031
@cpovirk Yes not an issue for Guava per se. Ideally upstream, Checker-Framework does something better/cleaner with their nullness/annotation package.

I had assumed based on the name and looking into Checker-Framework that long term there maybe interest to use the framework more. Thus mentioning Checker-Framework vs just the annotation jar package being used. The project itself seems like it could

[2018-01-16 19:04] cpovirk commented on #2824
@jbduncan , thanks for the link to the JUnit 5 change. I mentioned it on the [Maven feature request](https://issues.apache.org/jira/browse/MNG-2205?focusedCommentId=16327595&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16327595) for a true compile-time scope.

[2018-01-16 22:03] Stephan202 opened #3033 "Support building `ImmutableRangeSet`s using overlapping ranges"
In the `ImmutableRangeSet.Builder` source code we have this comment:

https://github.com/google/guava/blob/ce73003d8420a091fd36ca2c7c23deb6437e4fe1/guava/src/com/google/common/collect/ImmutableRangeSet.java#L725

That sounds like a neat improvement onto itself. But the `ImmutableRangeSet` collector introduced in #2750 is also defined in terms of `ImmutableRangeSet.Builder`:

https://github.com/goo

[2018-01-17 16:53] AhmedMouradDev commented on #2212
I just ran into this too so i created a method that would return the CaseFormat of a given string:

`    private CaseFormat getCaseFormatName(String s) throws IllegalFormatException {

        if (s.contains("_")) {

            if (s.toUpperCase().equals(s))
                return CaseFormat.UPPER_UNDERSCORE;

            if (s.toLowerCase().equals(s))
                return CaseFormat.LOWER_UNDE

[2018-01-17 22:57] ejemba commented on #2650
Hi @jrtom
I'm considering using common.graph for an important project and the fact that successors() is not sorted  was kind of unexpected ... I'll sort them (2) but this is not practical since I'll need a full scan of all my nodes before (I can have a huge number of them) . I'd prefer not having to do it myself :)

[2018-01-18 21:30] kevinb9n commented on #3033
If I understand right, we have at least two separate questions:

1. Should the collector be based on add or union?
2. Should the builder expose a union method?

[2018-01-18 21:38] Stephan202 commented on #3033
@kevinb9n exactly! I guess I should have summarized this more clearly myself.

[2018-01-19 15:51] LukasSmrcka commented on #2929
I am currently facing the same issue. Any progress in this?

[2018-01-19 20:22] piegamesde opened #3034 "MutableValueGraph add/remove a Collection of nodes"
I just wanted to remove a lot of nodes from my `MutableValueGraph` and wrote the following code:

    Set<ContextState> nodes = graph.nodes();
    nodes.retainAll(nodeSet);

I got a `java.lang.UnsupportedOperationException` because `nodes` is immuable, as I found out after some digging in the source code. Not only does this behavior differ from what I am used to from other data structures like `ma

[2018-01-21 10:35] derektom14 opened #3035 "ArrayTable still lacks enum static constructor for convenience and efficiency"
There's a TODO in `ArrayTable` that's been there for over seven years:
"TODO(jlevy): Add factory methods taking an Enum class, instead of an iterable, to specify the allowed row keys and/or column keys. Note that custom serialization logic is needed to support different enum sizes during serialization and deserialization."
https://github.com/google/guava/blame/master/guava/src/com/google/common/co

[2018-01-21 11:25] 62mkv opened #3036 "Add a page to reflect functional equivalents for Apache Commons commons-io packages"
Something similar to [this page](https://github.com/google/guava/wiki/ApacheCommonCollectionsEquivalents) should be very helpful

[2018-01-22 10:03] ben-manes commented on #2774
In regards to the original issue, I suspect it may be due to a [Linux kernel bug](https://github.com/torvalds/linux/commit/76835b0ebf8a7fe85beb03c75121419a7dec52f0). This is my belief having seen another [unexplained deadlock](https://gerrit-review.googlesource.com/c/gerrit/+/153090) in Gerrit, having debugged it as the cause for a similar report against Caffeine. The kernel was broken throughout

[2018-01-22 23:48] bdupras opened #3037 "user-provided Ticker for RateLimiter"
Internally, RateLimiter code can already take a provided SleepingStopWatch, which in turn can take a provided Ticker. The the Ticker instance used is hard coded one that reads from the system clock.

I would like to supply my own time source, so it would be great to have a public `create` method that allows the caller to provide a customer Ticker. (Use-case: simulation environment with a time cloc

[2018-01-24 10:12] jozsefilles commented on #2950
Thanks for the info!

[2018-01-24 17:30] ronshapiro commented on #3035
I believe I remember hearing that @lowasser wanted to create a `TableBuilder` similar to [`MultimapBuilder`](https://github.com/google/guava/blob/d57a40e546cfe6daa8cdfe3fb9c5c8dafb446227/guava/src/com/google/common/collect/MultimapBuilder.java)

If so, I think this would be a good candidate for that, i.e. `TableBuilder.enumRows(MyEnum.class)...`

[2018-01-24 17:33] #3030 closed

[2018-01-24 17:38] ronshapiro commented on #3001
I still think the second snippet looks fine, if not better, than the third. I'm going to close, and we can reopen if we get more feedback/data.

[2018-01-24 17:38] #3001 closed

[2018-01-24 20:09] #3026 closed

[2018-01-24 23:20] #2976 closed

[2018-01-25 06:25] mrts commented on #135
Using ConcurrentHashMap<K, CopyOnWriteArrayList<V>> sounds great, why not implement ConcurrentMultimap in terms of this?

It seems a perfect candidate for a "general purpose" concurrent multimap and I would expect that it performes better than a synchronized multimap for a majority of users.

 What are the downsides?

[2018-01-25 11:46] leksak commented on #1346
What's the status on this? I have a very definite use-case for it in an application that I am working on.

[2018-01-25 12:24] ooxi commented on #1346
I'm really not sure such an addition would carry it's weight.

[2018-01-25 15:31] jrtom commented on #3034
First, a clarification: if the graph is mutable, `nodes()` does not return an immutable set (i.e., one whose entries are guaranteed to never change), it returns an unmodifiable view.  That is, if the nodes of the graph change in the usual ways, the `Set` returned by `nodes()` will reflect those changes.  This is a pretty common behavior in the Guava implementations.

This behavior is documented he

[2018-01-25 15:48] jrtom commented on #2650
@ejemba
In general, one should assume that `Set`s are unsorted.  Even their iteration order is not guaranteed to be the same from iteration to iteration.

The reasons that we don't (and probably won't) provide support for sorting the `successors()` are:
(1) Insertion-ordered sorting on a per-`successors()`would either be inconsistent with the overall insertion ordering for the graph as a whole, or

[2018-01-25 15:58] ronshapiro commented on #2986
Should this be incorporated into https://github.com/google/guava/pull/3002?

[2018-01-25 19:12] piegamesde commented on #3034
Thank you for this information. The only thing I am still missing now (a bit) is some convenience methods for bulk adding and removing nodes and edges. But I can understand if you don't think they provide enough benefit to add them in (I am a really lazy person so I always prefer them to iterators / for loops).

[2018-01-26 21:49] j-white commented on #2514
+1 for fairness.

[2018-01-28 19:43] jrtom commented on #3034
I can understand your desire for convenience methods.  The problem is that there's kind of a slippery slope.

Adding/removing a collection of nodes: that's easy, we could do that; the API would be straightforward:

[code]

I would still have some reservations about removing a collection of nodes because of the side effect (removing the incident edges), but one could argue that that's no more confu

[2018-01-28 20:01] vorburger commented on #2030
@ronshapiro @cgdecker FYI https://github.com/vorburger/ch.vorburger.fswatch

[2018-01-28 23:08] piegamesde commented on #3034
Thank you for the explanation.

[2018-01-28 23:08] #3034 closed

[2018-01-29 12:01] lptr opened #3038 "Faster lookups for non-empty ImmutableSortedSet and Map"
`RegularImmutableSet` and `RegularImmutableMap` allow O(1) lookups via their hash table. `RegularImmutableSortedSet` and `RegularImmutableSortedMap` uses less memory, but requires O(log n) binary search to locate keys. An implementation that guarantees sortedness while retaining fast lookups at the cost of more memory would be useful.

One way to implement this would be to add methods in the `Buil

[2018-01-29 13:10] tomaszalusky commented on #3029
Thanks for response, though it's sad for me to hear such result. I tried to concentrate on area where `java.util.Predicate` is obviously not a "better version".

I will deal with it and find some workaround.

[2018-01-29 15:10] ronshapiro commented on #2929
There isn't much information here for us to dissect the issue - I recommend trying StackOverflow with the `guava` tag for more help.

[2018-01-29 15:10] #2929 closed

[2018-01-29 15:11] #2931 closed

[2018-01-29 15:13] ronshapiro commented on #2941
I think #3002 will be preferred. A builder is much more flexible than a combinatorial explosion of constructors.

[2018-01-29 15:13] #2941 closed

[2018-01-29 15:20] ronshapiro commented on #2887
@cpovirk can this be closed? Looks like the PR proposed for this issue was also closed.

[2018-01-29 16:04] martinfrancois commented on #3011
Implemented in PR #3023

[2018-01-29 19:38] eklinger commented on #3020
Why was this closed?

[2018-01-29 19:39] lowasser commented on #3020
There was already an issue discussing interval trees.  Please keep the discussion there.

[2018-01-29 20:20] #2887 closed

[2018-01-31 09:15] jbduncan opened #3039 "Consider introducing JUnit Jupiter variant of Collection Suite Builders"
Currently, classes for testing the implementations of collections like `ListTestSuiteBuilder` are dependent on JUnit 3 `TestSuite`s to do their job.

This is perfectly fine in the land of JUnit 3 & 4. However, with the relatively modern [JUnit Jupiter](http://junit.org/junit5/docs/current/user-guide/#overview-what-is-junit-5) testing framework (part of [JUnit 5](https://github.com/junit-team/junit

[2018-01-31 09:19] jbduncan commented on #3039
Note that I'm raising this issue not because I have an immediate need for this feature, but because I think it would be interesting to implement and nice-to-have from a JUnit 5 perspective.

If the Guava team decides that this is not worth pursuing, or that it's not important enough to be at the top of the TODO list, I'm thinking about writing my own implementation in the medium-to-long term futur

[2018-01-31 15:57] netdpb commented on #3039
We have no plans to move to JUnit 5 for our tests. I'm guessing that this feature request is only relevant if we decide to use JUnit 5. Is that right?

[2018-01-31 21:36] jbduncan commented on #3039
Yep, that's right @netdpb. :)

[2018-02-01 11:28] Librazy opened #3040 "classLoader"

[2018-02-01 11:28] #3040 closed

[2018-02-01 15:42] kuzma725 commented on #872
Just curious if anything was ever done to implement raymond.rishty's original request from 6 years ago :) Seems like a very common use case, based on comments here and elsewhere. In any case, really appreciate the work you guys have done with Guava.

This is probably OT, but could someone possibly suggest an alternative thread-safe cache implementation for Java 7 that supports both time-based and

[2018-02-01 22:11] kashike commented on #2641
Any update on getting this into guava, @jrtom?

[2018-02-03 00:36] netdpb commented on #3039
I'm pretty sure we're not planning to do that anytime in the near future, so I'm going to close this. If we ever do move to JUnit 5 for our tests, please reopen it then.

[2018-02-03 00:36] #3039 closed

[2018-02-03 15:09] oliviercailloux opened #3041 "ImmutableSortedSetMultimap"
There’s [ImmutableSetMultimap](http://google.github.io/guava/releases/snapshot/api/docs/com/google/common/collect/ImmutableSetMultimap.html) and [SortedSetMultimap](http://google.github.io/guava/releases/snapshot/api/docs/com/google/common/collect/SortedSetMultimap.html), but no `ImmutableSortedSetMultimap`. Would you perhaps consider adding this?

In a class of mine I’d like to have a method:
[co

[2018-02-04 13:28] amarlearning commented on #2956
@netdpb i would like to work on this

[2018-02-04 23:57] rafalkrupinski opened #3042 "Add (last)indexOf accepting some sort of equals() override"
Many methods working on collections has versions accepting both Comparable and Comparator, where Comparator effectively allow users to override compareTo(T) method.

Please add the following variations of List.(last)indexOf() that would effectively allow users to override equals(Object) method.

- <code> int indexOf(List<T > list, T e, Function<T,?>keyExtractor)</code>
    return index of such ele

[2018-02-05 00:23] jbduncan commented on #3042
If this is considered a good idea by the Guava team, I would suggest replacing all declarations of `(Bi)Function` in @rafalkrupinski's API suggestion with `com.google.common.base.Equivalence`.

[2018-02-05 14:43] NabinKhatiwada commented on #1095
<dependency>
    		<groupId>com.google.code.findbugs</groupId>
   			 <artifactId>jsr305</artifactId>
   			 <version>3.0.2</version>
		</dependency>

[2018-02-06 04:34] jrtom commented on #2641
@kashike No updates to share, sorry.  It's still on our list, but there are other things in front of it.  Unfortunately, common.graph is not anyone's full-time employment, so progress on these items like this is often slower than we'd like.  :(

[2018-02-06 05:15] liach commented on #2641
Here is a side note:
@ben-manes said in [#3025](https://github.com/google/guava/issues/3025#issuecomment-356119360) that

In the Kahn's algorithm, elements are enqueued and dequeued. Not only an array based queue but a priority queue can achieve this functionality, giving the elements another keyword to sort besides the graph-based ordering.

Use case: If a loader loads a list of plugins which spe

[2018-02-06 06:03] kashike commented on #2641
Thanks for the update - just wanted to make sure this wasn't lost. :dancer:

[2018-02-06 15:08] cpovirk commented on #3041
If you call `orderValuesBy` on an `ImmutableSetMultimap.Builder`, you'll get back an `ImmutableSetMultimap` whose value collections are instance of `ImmutableSortedSet` -- though the signatures do not reflect this, so you must cast. This was our design compromise, given that users might need arbitrary combinations of <sorted keys, sorted values>, and we'd need 4 classes to support them all in the

[2018-02-06 15:09] cpovirk commented on #3041
(I guess even more than 4 types, given that you can sort the keys of a *list* multimap, too :))

[2018-02-06 15:15] cpovirk commented on #3042
We have generally taken the position that "`equals` means interchangeable," and when it doesn't, we've steered people toward using `Equivalence` and storing `Equivalence.Wrapper` instances, rather than providing static methods for each use case. I understand wanting to avoid `hash`, but I don't think we want to create a separate ecosystem of methods for that purpose.

You might also consider somet

[2018-02-06 15:15] #3042 closed

[2018-02-06 18:51] oliviercailloux commented on #3041
Yes, that works!

Indeed, when starting from `ImmutableSetMultimap.builder()`, and thinking about using `orderValuesBy`, one can see the relevant javadoc, but it is a bit hard to find. Furthermore, in my case `Issue` already implements `Comparable` so I did not search specifically about how to provide an explicit comparator.

Also I previously used the route of `Collector<Issue, ?, SortedSetMultim

[2018-02-06 19:08] cpovirk commented on #3041
@lowasser may have thoughts about right way to do a `Collector`.

[2018-02-06 19:29] lowasser commented on #3038
I would tend to consider this a contract violation: sorted collections should use the comparator and the comparator alone to check key equality, and should have the same behavior as the mutable sorted collections when a comparator is not consistent with equals.

If you want this behavior, you can easily enough just do `ImmutableMap.copyOf(new TreeMap<>(map))`, since `ImmutableMap` retains insertio

[2018-02-06 19:29] #3038 closed

[2018-02-06 22:11] sean-xiaoyin opened #3043 "ClassPath.getTopLevelClasses() return empty set"
In Guava 19.0, ClassPath.getTopLevelClasses(String packageName) returns empty set on Java 9.

The reason is that, in ClassPath class, the method getClassPathEntries() checks whether the classloader is a URLClassLoader, which was the default of Java 8, but Java 9 is using PlatformClassLoader now.

[2018-02-06 22:14] JakeWharton commented on #3043
Have you tried 24.0?

[2018-02-06 22:15] jbduncan commented on #3043
~~I don't know if there's been any change to `ClassPath` since Guava 24-jre, but have you tried Guava 24-jre to see if this problem has been fixed?~~

Ah, @JakeWharton got there before me. :)

[2018-02-06 22:49] #3043 closed

[2018-02-07 09:00] andviane opened #3044 "Allow RateLimiter to check IF it would acquire the permit immediately"
Administrators who do load balancing asked me to provide the external REST API to check if my web service is overloaded or not. The "overloaded service" means that its RateLimiter (that is guarding the service from overload) is engaged, actively limiting the traffic. I just call withing request tryAcquire() and simply return 429 (too many requests) if it returns false.

I could call "tryAcquire" f

[2018-02-07 14:49] cpovirk commented on #1935
Removed in 24.0.

[2018-02-07 14:49] #1935 closed

[2018-02-08 15:24] cpovirk commented on #3044
We even have this internally. It's not too widely used, but it's probably simple enough to expose it. I'll check with the rest of the team.

[2018-02-08 23:59] dineshjoshi commented on #2774
@ben-manes we're running into this on macOS as well.

[2018-02-09 16:27] kluever commented on #1266
One downside of this proposal is that it violates an overloading best practice ("avoid inconsistent parameter ordering"):
[code]

[2018-02-09 20:51] cpovirk commented on #3041
Bump to @lowasser about whether we should do something for a `Collector` here (which might just mean "We probably should but won't figure it out anytime soon").

[2018-02-09 21:13] lowasser commented on #3041
I don't actually feel super strongly about this one, but I guess we probably should do something?

[2018-02-13 06:18] ben-manes commented on #2999
Thanks to @kluever, we've added these overloads to Caffeine (upcoming release). Thanks Kurt!

[2018-02-17 18:57] pnowy opened #3046 "Preconditions and Verify and custom exceptions"
I've read the ConditionalFailuresExplained guidelines but from my perspective it would be useful to have an option to throw custom exception by `Preconditions` or `Verify`. I was thinking about something like that (with overrides methods supports formatting):

[code]
Do you consider that kind of methods in `Preconditions` or `Verify` - or additional similar class with support of checks with custom

[2018-02-17 19:32] lowasser commented on #3046
This seems to be a duplicate of #1388.

[2018-02-18 00:54] crazybob commented on #1029
I just needed it.

[2018-02-18 01:13] jbduncan commented on #1029
@crazybob Would you be at liberty to share with us why you needed to use something like `Lists.concat`? :)

[2018-02-18 01:32] crazybob commented on #1029
private static final List<WelcomeGroup> ALL = ImmutableList.<WelcomeGroup>builder()
      .addAll(MAJOR_CITIES)
      .addAll(SECONDARY_CITIES)
      .build();

[2018-02-18 01:34] crazybob commented on #1029
No one can remember what is and isn't in the API, so we should account for the aggregate cost of people spending time looking for a method like this and not finding it. :-)

[2018-02-18 15:28] pnowy commented on #3046
I agree with previous discussion that Preconditions and Verify could be not the best place to add that kind of method. But in my opinion it would be good to consider additional class (or maybe Throwables but I'm not sure about that) with that kind of custom exception support.

[2018-02-18 23:07] jbduncan commented on #1325
I'm not entirely sure which constants are being referred to in this issue. Are they the ones like "DIR_SEPARATOR" and "LINE_SEPARATOR" in https://commons.apache.org/proper/commons-io/apidocs/org/apache/commons/io/IOUtils.html? If so, I'm not 100% sure I see the benefit of including them over using built-in constants like `File.separator` and `System.lineSeparator()` or defining one's own constants

[2018-02-20 05:17] orionll commented on #2970
It's worth mentioning that if we add `module-info.java`, all packages will not be open anymore.

[2018-02-20 15:30] jbduncan commented on #2970
@orionll Am I right to think/remember that in the JPMS, open packages are packages whose internal classes can be inspected with reflection?

[2018-02-20 16:29] orionll commented on #2970
@jbduncat Yes, exactly. And also private members of public classes.

[2018-02-20 16:37] jbduncan commented on #2970
@orionll Cool, thanks for confirming things for me. :)

I personally wonder how important it would be for Guava's packages to be open when used on the module path. I struggle to imagine that reflectively calling Guava's internals is a common thing to do, especially considering Guava's (IMO) pretty durn good API. :thinking:

[2018-02-20 16:38] HoldYourWaffle commented on #2970
Are there any reasons for it not being open? Even if it's uncommon it might still be done by some people.

[2018-02-20 16:44] jbduncan commented on #2970
@HoldYourWaffle I think the main reason is it prevents people from using reflection to depend on internals which may change or disappear in future releases of Guava without warning.

[2018-02-20 16:45] jbduncan commented on #2970
...which by my understanding makes things easier for everyone in the long-run.

[2018-02-20 16:47] jbduncan commented on #2970
The only reason I can currently think of to have Guava's packages open in the `module-info.java` is if frameworks like Spring need to reflectively access its internals to do important stuff, but I don't know how important or common that is.

[2018-02-20 16:59] orionll commented on #2970
All Guava packages should be closed because as @jbduncan said the dependence on class internals is a bad practice. If someone **really** wants to access the internals, they can use `--add-opens` command line option which forces the specified package to be open.

[2018-02-20 17:06] HoldYourWaffle commented on #2970
Good point I forgot about `--add-opens`. Imho you should always be able to hack into internals (maybe you want to do something the developers didn't think of but it's too 'personal' that it's not worthy of a PR), with the risk of it breaking in new versions. `--add-opens` allows for this so it'd indeed be better to close the guava packages.

[2018-02-21 01:10] jbduncan commented on #1822
This might be due to the fact that this issue was exported from Google Code, but I personally don't see any difference between the expected and actual outputs, so I'm lost.

@fluentfuture @cgdecker Can you remember or can you find out if these outputs are what the original poster actually posted for _Expected output_ and _Actual output_?

[2018-02-21 02:55] perezd commented on #2850
Hey, I did the work:
https://github.com/perezd/guava/blob/bazel/README.bazel.md

Above is my branch with this working, checkout the README, and here's a bazel-based travis run:
https://travis-ci.org/perezd/guava/builds/344132470

[2018-02-21 05:32] jhmanson commented on #3046
Perhaps best to take the conversation to that bug?

[2018-02-21 05:32] #3046 closed

[2018-02-21 08:30] pnowy commented on #3046
Well it's hard to have any discussion if all tickets are closed ...

[2018-02-21 10:29] jbduncan commented on #3046
Agreed. I think https://github.com/google/guava/issues/1388, the original issue, should be re-opened. :)

[2018-02-22 23:34] shmosel opened #3048 "TypeToken.getSubtype() inconsistency"
I came across this anomaly while trying to (mis)use `getSubtype()` in place of a [narrowing cast](https://github.com/google/guava/issues/1852). Consider this snippet:

[code]
This produces the following output:
[code]
This is expected, considering `StringList` is incompatible with `List<Number>`. But now let's change the type to a bounded wildcard:
[code]
Suddenly it runs without error, producing

[2018-02-23 01:00] jbduncan commented on #1620
Hmm, is there any plan yet to open source the source code escapers? If not, we may want to consider closing this issue, because at this rate it looks like it's never going to happen. :)

[2018-02-23 03:04] ronshapiro commented on #1620
@cushon has done so in GoogleJavaFormat (or ErrorProne, I don't remember?) but package-private. I think it's a question of API and not feasibility.

I wonder if we'd be willing to release it in a separate, small standalone library. It seems niche enough that maybe we could do that as we experiment with the API? But perhaps it needs some package-private details that would make that challenging.

[2018-02-23 03:13] cushon commented on #1620
@cpovirk has a good sense of the API questions that would need to be answered. These are the copies I know of:

* https://github.com/google/error-prone/blob/8beb267881dacf3146e47a8b366d013a4c94c127/check_api/src/main/java/com/google/errorprone/util/SourceCodeEscapers.java
* https://github.com/google/turbine/blob/fdf5ba9682da33dcb5544e19f1511685c1bfa817/java/com/google/common/escape/SourceCodeEscap

[2018-02-23 20:29] cpovirk commented on #1620
Here's a slightly edited version of what I wrote internally just recently:

- Do we really want to continue to have a single `javaCharEscaper()` / `javaStringEscaper()` that escapes both `"` and `'` characters, or should we instead rename the existing method to `javaCharOrStringEscaper()`, migrate everyone to that, and then introduce separate `javaCharEscaper()` and `javaStringEscaper()` methods f

[2018-02-23 20:33] jbduncan commented on #1620
Just so I'm clear on this, if Google decides to keep `javaCharEscaper()` and open sources it, and/or does the same for `javaStringEscaper()`, would those escapers just escape `'` into `\'` and `"` into `\"` respectively? Or would they affect other characters as well in some way?

[2018-02-23 20:41] jbduncan commented on #1620
And would you mind clarifying for me which APIs you're referring to when you say "higher-level APIs" and "low-level APIs"?

[2018-02-23 20:44] cpovirk commented on #1620
The escapers would escape other characters, too, like `\n` and control characters. We'd have to figure out exact details.

We encourage people to use tools like [JavaPoet](https://github.com/square/javapoet) rather than manually escape strings.

[2018-02-23 20:48] jbduncan commented on #1620
Ah okay, understood and understood. :)

[2018-02-24 20:10] fluentfuture commented on #3048
Yeah. We took a short-cut there when wildcard is involved by saying that no type variable substitution is necessary anyway so just leave it as is.

It turns out properly validating the input types with presence of type variables, wildcards and upper/lower bounds isn't easy. Always checking isSubtypeOf() as a precondition won't work because String.isSubtypeOf(<T>) would be false and vice versa.

Th

[2018-02-28 02:27] swankjesse commented on #3015
FYI: https://github.com/square/moshi/blob/dac5f695b3ddae9ee72b4172ee6b52805656c342/moshi/src/main/java/com/squareup/moshi/LinkedHashTreeMap.java

https://arstechnica.com/information-technology/2011/12/huge-portions-of-web-vulnerable-to-hashing-denial-of-service-attack/

[2018-02-28 02:32] #3015 closed

[2018-02-28 13:03] kluever commented on #3048
@fluentfuture Should this be closed then?

[2018-02-28 15:58] anton-tregubov opened #3049 "TreeRangeSet still down't work in GWT"
`@GwtIncompatible("uses NavigableMap")
public class TreeRangeSet`

That means that users with  GWT 2.7.0+(https://github.com/gwtproject/gwt/issues/4236) unable to use TreeRangeSet. Because annotated files with GwtIncompatible are skip sources in guava-gwt.

Please remove it or describe why it's not possible.

Also maybe you know easy WA to make TreeRangeSet usable?

[2018-02-28 16:23] cpovirk commented on #3049
Last time I looked into this, I spent a little time and then concluded:

It would be nice to do someday, but I wouldn't expect it to become a priority, sorry :(

[2018-02-28 16:33] anton-tregubov commented on #3049
https://github.com/google/guava/blob/master/guava/src/com/google/common/collect/TreeRangeSet.java
Use only NavigableMap.

I actually don't understand your point about NavigableSet. And even if we accept fact that there are some guava implementations that are not available under GWT, i think this classes are marked with @ GwtIncompatible and unavailable with or without fixed TreeRangeSet.

[2018-02-28 16:55] cpovirk commented on #3049
Sorry, you're right, `NavigableMap`, not `NavigableSet`.

That includes `AbstractNavigableMap` and its dependencies, including `DescendingMap` and `NavigableKeySet`.

[2018-03-01 02:51] fluentfuture commented on #3048
I just realized that we could do isSubtypeOf() *after* type variable substitutions.

I'm running some experiments.

[2018-03-01 03:37] johaw commented on #2943
@kluever I noticed that https://github.com/google/guava/wiki/NewCollectionTypesExplained, does have a couple of mentions of MultimapBuilder in the Construction section.   Are you looking for more?

[2018-03-01 16:28] kluever commented on #2943
Ahh, indeed it does. I think I wanted to mention it again in the `Implementations` section.

https://github.com/google/guava/wiki/NewCollectionTypesExplained#implementations-1

[2018-03-01 16:30] kluever commented on #2943
Actually I wonder if we should just ditch the entire `Implementations` section.

[2018-03-03 03:40] gaul opened #3051 "De-beta-ify Invokable and TypeToken"
Apache jclouds makes extensive use of Invokable and TypeToken.  Could you promote these?

[2018-03-03 03:41] gaul opened #3052 "De-beta-ify HostAndPort"
Apache jclouds makes extensive use of HostAndPort.  Could you promote this?

[2018-03-03 04:17] patrickpilch commented on #2117
Any updates?

[2018-03-03 14:37] kluever commented on #3051
/cc @fluentfuture

[2018-03-04 10:03] kilotaras commented on #1901
Added in Java 9. Could still be useful to people on Java 8

[2018-03-05 04:32] gengjiawen commented on #2117
Is it possible to change the build tools. If we switch to gradle or bazel like dagger, this will be much easier.

[2018-03-05 11:28] passionofvc opened #3053 "CacheBuilder get return different value every time even the key is the same."
I use CacheBuilder to cache work in java, but the cache get return me different value even
to get for the same key, I implement ERROR_KEY with hashcode and equal.
ERROR_KEY key1 = new ERROR_KEY("tableName", BigDecimal.ONE);
ERROR_MSG s1 = cache.get( key1 );
how to get the same value for the same key?

[code]

[2018-03-05 12:10] jbduncan commented on #2117
@gengjiawen I opened an issue for that some time ago: https://github.com/google/guava/issues/2850. :)

[2018-03-05 12:28] Maaartinus commented on #3053
You're using `weakKeys` which unfortunately implies that the keys get compared by identity. So it can't work with `key1 != key2` and `equals` doesn't matter.

There are some reasons for `weakKeys` implying identity comparison, which I disagree with.

However, there are chances that you'd get better served using weak or soft values.

[2018-03-05 12:29] zlnnjit commented on #2840
.....

[2018-03-05 15:09] mlmitch opened #3054 "Request to expose com.google.common.io.ByteStreams::toByteArray as public"
com.google.common.io.ByteStreams currently has this convenience method:
 `public static byte[] toByteArray(InputStream in) throws IOException`

It also has this overload of `toByteArray` with no access modifier:
`static byte[] toByteArray(InputStream in, int expectedSize) throws IOException`

I am requesting that this overload be made public.

My use case is data decompression via java.util.zip.In

[2018-03-05 15:42] kluever commented on #3053
Thanks @Maaartinus !

[2018-03-05 15:42] #3053 closed

[2018-03-05 15:45] gengjiawen commented on #2850
@ronshapiro Do you have time to migrate guava from maven to bazel. I know gradle but not bazel. A lot of work blocked for limitation of maven.

[2018-03-05 16:03] davidecaroselli opened #3055 "BloomFilter multithread problem: put() NOT atomic"
Hello team!

I just found a problem using `com.google.common.hash.BloomFilter` with more than one thread. Long story short: `put()` is not atomic so I am able to reproduce a **false negative**.

This is the config in `pom.xml`:
[code]

I created a simple [Test.java](https://github.com/google/guava/files/1781560/Test.java.txt) class that proves the point. The fix is also included in the file: just

[2018-03-05 16:36] ooxi commented on #2850
This is more of a meta question, but how does Dagger build Maven metadata files for publication on Maven Central?

[2018-03-05 16:51] Maaartinus commented on #3055
Funny! It looks like that for a given value, occasionally, one thread succeeds to set some bits while the other sets other bits, so both get `true` back. This happens rather often (e.g., "Expected count <=10000 but found 10892"), probably because of the thread currently being behind doing just fast `get` instead of the slower `compareAndSet` (and then another CAS in `bitCount.increment`).

The jav

[2018-03-05 17:41] perezd commented on #2850
@gengjiawen Did you happen to take a look at my branch? I did a majority of the work there already.

@ooxi, I don't really understand how that relates to this thread, can you please start another? I'd like to keep this discussion focused. Thanks!

[2018-03-05 17:49] ronshapiro commented on #2850
@perezd we have some BUILD files internally that we want to use/transform to the opensource BUILD files that we would want to have, rather than maintaining two sets of build files. I think the initial questions (bazel 1.0, windows+gwt testing) are probably the bigger points right now.

I can take a look at trying to sanitize+export our internal build files and release them in "alpha" mode. That wa

[2018-03-05 18:25] davidecaroselli commented on #3055
Well.. this is actually the main use-case if you want to filter out duplicates in a data stream.. and I see a lot of cases in which this can be the "primary" goal, or am I missing something?

As far as I understand, it seems to me that the part of code that produces the bug is this one:
[code]

So the solution should be to "collect" all 1s positions and then apply them atomically. I truly believe

[2018-03-05 19:15] lowasser commented on #3055
This is already thread-safe based on the API that Bloom filters are generally advertised as having.  The current implementation already guarantees that if put(elem) happens-before maybeContains(elem), then maybeContains always returns true.  Additionally, the reason we changed this in the first place is that there are users out there who need the performance benefits of concurrent puts and maybeCo

[2018-03-05 19:29] Maaartinus commented on #3055
I guess, I was missing something (though I wonder that your filtering can't tolerate occasional duplicates while it can tolerate lost items?).

Whatever you "collect", you can't apply it atomically without locking. Typically with `n` hash functions, you use `n` different words; there are (more cache-efficient) variants packing multiple bits per word. Packing everything into a single word (so it ca

[2018-03-05 19:32] lowasser commented on #3055
I'm not sure I see a thread-safe, lock-free solution that returns a meaningful value from `put`.  We might be in a position of being forced to break one of those API specifications.

[2018-03-05 22:47] ben-manes commented on #3055
My understanding was that `thread-safe` and `lock-free` in the JavaDoc does not guarantee that the entire operation is atomic. This allowed the small design change in #2748 to be racy, assuming that the results were overall okay.

The alternative that I proposed was more invasive, by using a Bloom-1 design. If redesigning the implementation to target concurrency, then I think it would be better to

[2018-03-06 10:57] Maaartinus commented on #2861
@cowwoc I guess, you both mean `AbstractMap.SimpleImmutableEntry`. The fields being immutable doesn't help when you can override methods using them. As no single method is final, you can do pretty everything (e.g., add mutable `key2` and `value2` and redirect all methods to them, and as bonus randomize `hashCode`).

[2018-03-06 17:33] cowwoc commented on #2861
@Maaartinus true

[2018-03-07 07:12] Prodigysov opened #3058 "Unresolved task detected: AbstractFuture "TODO(lukes): investigate using the @Contended annotation on these fields when jdk8 is available.""
We're working on a technique to automatically detecting unresolved
trigger-action todo comments in codebase. Here is what we found in
this project:

- guava/src/com/google/common/util/concurrent/AbstractFuture.java:329
[code]

- The trigger: "when jdk8 is available" happened around commit <86fb7001aecb8954dd15ee3c64e7172b4a6e512a> (Nov 4 2016).

- But the action: "investigate using the @Contended

[2018-03-07 07:21] Prodigysov opened #3059 "Unresolved task detected: ClassPath "TODO(benyu): Try java.nio.file.Paths#get() when Guava drops JDK 6 support.""
We're working on a technique to automatically detecting unresolved
trigger-action todo comments in codebase. Here is what we found in
this project:

- guava/src/com/google/common/reflect/ClassPath.java:582
[code]

- The trigger: "Guava drops JDK 6 support" happened around commit <9ebd95a9a84a21e96bf2f077f4cc93efc14e9b86> (Feb 20 2018).

- But the action: "Try java.nio.file.Paths#get()" never happe

[2018-03-07 15:08] cpovirk commented on #3059
Thanks, but while we have dropped support for JDK6, we still support older versions of Android that don't contain `Path` ([as old as Ice Cream Sandwich](https://github.com/google/guava#important-warnings)).

[2018-03-07 15:08] #3059 closed

[2018-03-07 15:10] cpovirk commented on #3058
The comment should say something like "when jdk8 is available to all flavors of Guava." We currently maintain a backport that targets JDK7 and older versions of Android, and we try to keep the backport and mainline mostly in sync. That's not to say that we couldn't do this, but we'd have to weigh the benefits against the cost of diverging the two.

[2018-03-07 15:10] #3058 closed

[2018-03-08 13:04] cowwoc commented on #2861
Here is the JDK bug report: https://bugs.openjdk.java.net/browse/JDK-8199318

[2018-03-08 16:04] srinivascodes opened #3060 "public static BigInteger lcm(BigInteger a, BigInteger b)"
/*Returns the least common multiple of two BigIntegers using gcd method.*/

[2018-03-08 22:45] cgdecker commented on #3060
(This proposal seems to be for `BigIntegerMath`, see PR #3063.)

Louis, any thoughts? It seems likely to me that there would be very few usages for this method... the existing methods on `BigIntegerMath` don't have many usages to begin with.

[2018-03-08 23:04] kevinb9n commented on #3060
I'm a bit motivated to write up a quick proposal.

[2018-03-09 10:26] slux83 commented on #1410
Hi,
I'm facing the same issue with version 18.0 and it looks like the leak is gone if I use the concurrencyLevel(1).

[2018-03-10 03:21] try0 opened #3064 "Request to add nonNullOrEmpty method to Strings class"
I request to add the nonNullOrEmpty method to the String class.
When use stream,  can use method reference to write whether the string is null or empty.

[code]

I think this is useful.
What do you think?

[2018-03-10 04:36] kashike commented on #3064
https://github.com/google/guava/blob/master/guava/src/com/google/common/base/Strings.java#L34-L42

[2018-03-10 06:22] jrtom commented on #3064
@kashike, I don't see how that would solve the problem that @try0 is trying to solve.  `Strings.nullToEmpty()` converts a possibly-null string to an empty string (or returns the original if non-null).

I _think_ that you are trying to filter out strings that are neither null nor empty, but the "non" prefix is ambiguous (does that apply to just null or to both null and empty?), so the naming would

[2018-03-10 08:28] try0 commented on #3064
@kashike, @jrtom
I'm sorry I didn't make it clear enough.
What I hope is a method that returns values equivalent to the following results.
[code]
I often use java.util.Objects#nonNull. This method  returns the opposite value to the isNull method.
[code]
In the same way as above, I thought would like to check if the string is null or empty.

but, As @jrtom  have written
[code]
may be this is enough

[2018-03-10 09:38] cowwoc opened #3065 "Ability to peek() into RateLimiter"
I am implementing a `BlockingQueue` similar to `DelayQueue` but with a global (as opposed to a delay per element) dynamic (changes over the lifetime of the queue) rate limit.

`RateLimiter.tryAcquire()` allows me to implement all methods that remove elements from the queue but I am unable to implement methods that require peeking into the collection without removing elements.

Please add a method

[2018-03-10 11:20] Stephan202 commented on #3065
This sounds like a generalization of #3044 (return a `long` rather than a `boolean`).

[2018-03-11 02:04] dimo414 commented on #2861
As Martin said on the bug, it's doubtful the JDK can retrofit this class to be properly immutable at this point. Hence why it would be useful for Guava to provide such a type :)

[2018-03-11 02:45] cowwoc opened #3066 "Consider initializing RateLimiter.mutex eagerly"
Out of curiosity, what is gained by initializing `RateLimiter.mutex()` lazily? Effective Java Item 71 ("Use lazy initialization judiciously") strongly recommends against lazy initialization unless the object being initialized is expensive to construct. This is certainly not the case for you.

Consider:
* All `RateLimiter`'s public methods require the use of `mutex`.
* Removing lazy initialization

[2018-03-11 02:49] cpovirk commented on #3066
https://github.com/google/guava/blob/7f1defafe4155a4e14a9805cb6c14fa406b390f3/guava/src/com/google/common/util/concurrent/RateLimiter.java#L185

[2018-03-11 02:51] cpovirk commented on #3066
...which is a pretty crazy reason, but it solved the problem :)

[2018-03-11 03:10] kashike commented on #3064
@jrtom Oops. I misread `filter` as `map`. :smile_cat:

[2018-03-11 08:46] cowwoc commented on #3066
@cpovirk Hmm... does this include `private final Object mutex = new Object();` as a field (as opposed to inside the constructor)?

[2018-03-11 13:47] bauda opened #3067 "DECRYPTER ALGUEM ?"
8ogtg9bj6FWLS9MiCIS/Nw==-STRADA ADVENTURE-SP
OU
8ogtg9bj6FWLS9MiCIS/Nw==

[2018-03-11 17:28] cpovirk commented on #3066
Yep. Inline field initialization is syntactic sugar for initializing from
the constructor. Feel free to give it a shot; the tests should catch the
problem, and you can peek at the bytecode with javap.

[2018-03-11 17:50] cowwoc commented on #3066
Okay, sad. Feel free to close this issue.

[2018-03-11 23:15] alamothe opened #3068 "Closer does not support AutoCloseable"
Closer currently works only with `Closeable`. This issue is to support `AutoCloseable` which is more general

Closer seems originally conceived for pre-JDK7 when try-with-resources didn't exist.

However, it is much more useful than that. There are many situations where try-with-resources cannot be used while `Closer` can e.g.:
- we want to log exceptions separately if they come from create/body/c

[2018-03-12 08:35] confusecoder opened #3069 "eifjccgiieubtbindnijihfvehktcngrceffkbkjrcch"

[2018-03-12 09:37] Stephan202 commented on #3069
Apt username ;)

[2018-03-12 14:20] #3069 closed

[2018-03-12 16:49] cgdecker commented on #3068
`Closer` was only created as a poor replacement for try-with-resources that is slightly better than trying to do it manually, and in general I'm leery of trying to support anything beyond that with it. This isn't as simple as adding a `register(AutoCloseable)` method. For example, the `rethrow()` and `close()` methods on `Closer` all throw `IOException`, because they're dealing with `Closeable` ob

[2018-03-12 16:49] #3068 closed

[2018-03-12 17:05] cgdecker commented on #3064
Though we do have some methods (well, `Strings.isNullOrEmpty()`, at any rate) that do so, we generally don't encourage methods that treat `null` and non-`null` values the same. There are a lot of ways you could deal with this situation without us needing to add a new method:

- `filter(not(Strings::isNullOrEmpty))` (Guava's `Predicates.not()`)
  - or `filter((Strings::isNullOrEmpty).negate())`, bu

[2018-03-12 17:05] #3064 closed

[2018-03-12 17:10] #3066 closed

[2018-03-12 18:15] cgdecker commented on #2867
Re-fixed this.

[2018-03-12 18:15] #2867 closed

[2018-03-12 18:23] cgdecker commented on #3054
Duplicate of #2616

[2018-03-12 18:23] #3054 closed

[2018-03-12 23:37] try0 commented on #3064
@cgdecker
Thank you for presenting an example. I'll use those.

[2018-03-13 00:11] alamothe commented on #3068
Thanks for the response! It makes a lot of sense.

In that case, I would maybe suggest having a separate, newer version of `Closer` (e.g. `Closer7`) which would be post-JDK7, while keeping the existing version JDK6 compliant.

This version would be a lot simpler (e.g. no need to check if `addSuppressed` method exists) and work with `AutoCloseable` _only_ (which is more general than `Closeable`)

I

[2018-03-13 23:30] schackbrian2012 commented on #2152
I am experiencing this issue with Guava 23.0 and Eclipse 4.72. The following code is the simplest example that I could make. But it just returns an empty collection!

[code]

https://stackoverflow.com/questions/49267460/how-do-i-use-classpathgetallclasses-in-guava

[2018-03-14 17:26] mlmitch commented on #2616
Is there any appetite for these changes?
If so, I don't mind submitting a PR.

[2018-03-14 17:56] cgdecker commented on #3052
I assume you're asking for it to be removed from `@Beta`?

[2018-03-14 18:01] gaul commented on #3052
@cgdecker Yes, please.

[2018-03-15 01:56] swankjesse commented on #3052
https://github.com/google/guava/pull/2776

[2018-03-15 03:25] Lanchon commented on #2616
well, the way i presented this in the OP it would take inside of 5 minutes to implement. but a year and a half later, it is still pending. so i'd say no, no appetite.

meanwhile, my use case relies on this hack: https://github.com/DexPatcher/multidexlib2/blob/v2.2.2/src/main/java/com/google/common/io/ByteStreamsHack.java

[2018-03-15 14:01] UnAfraid commented on #2152
Try with 24.0, it works for me even on java 9

[2018-03-15 17:47] blue-atom commented on #2754
this feature seems interesting...can you please elaborate @cgrushko

[2018-03-15 21:26] Normal commented on #775
but what if I need the data be populated repeatedly on eviction time is over? PutAll doesn't handle that. Isn't it?

[2018-03-15 22:37] bjmi commented on #2009
Thank you for implementing traversal of multiple root notes in [release 24.1](https://github.com/google/guava/releases/tag/v24.1)

[2018-03-16 00:25] jrtom commented on #578
Guava 23.5 includes [Files.fileTraverser()](http://google.github.io/guava/releases/23.5-jre/api/docs/com/google/common/io/Files.html#fileTraverser--) and [MoreFiles.fileTraverser()](http://google.github.io/guava/releases/23.5-jre/api/docs/com/google/common/io/MoreFiles.html#fileTraverser--) which should (I think) answer the original request:

https://github.com/google/guava/releases/tag/v23.5

(Th

[2018-03-16 00:25] #578 closed

[2018-03-16 00:34] jrtom commented on #2754
@blue-atom it's still on our radar, it's just got a few other work items in front of it.

[2018-03-16 00:36] jrtom commented on #2009
Yep, we gave it some additional thought and decided that it was worth doing.  Thanks for your patience.  :)

[2018-03-16 14:14] mlmitch commented on #2616
I'll get a bit more specific than I was in [#3054](https://github.com/google/guava/issues/3054).
This is a stripped down version of what we want to do with a public ByteStreams::toByteArray.

[code]

The incoming data arrays do not come from disk and vary in size up to multiple megabytes.
This happens on our main data flow, and the allocations have become a noticeable hot spot.

The estimated leng

[2018-03-16 14:38] cpovirk commented on #2616
Thanks for the details. While I would still recommend the `ByteSource` approach in most cases, it does feel wrong to tell you to implement its `sizeIfKnown` method to return a size that's known to likely be wrong, so it's probably the wrong approach for your case. The size issue also explains why `readFully` isn't a good fit for you.

[2018-03-16 18:35] cgdecker commented on #2616
@cpovirk FWIW, even for `ZipFile`, the `ByteSource` approach works: `ZipFile` has a `getInputStream(ZipEntry)` method that returns an `InputStream` for reading that entry's content, so a `ByteSource` wrapping a `ZipFile` + `ZipEntry` can be created.

[2018-03-18 16:32] schackbrian2012 commented on #2152
@UnAfraid Thank you, updating to version 24 worked!

[2018-03-19 05:57] Lanchon commented on #2616
thank you. definitely better.

[2018-03-20 12:31] ghuser commented on #1818
+1

[2018-03-20 15:49] xak2000 commented on #583
Also, as of Java 8, you can use
`collection.stream().sorted().collect(toList())` or
`collection.stream().sorted(comparator).collect(toList())`.

[2018-03-20 16:01] perceptron8 commented on #583
For the given use case, it would be better to use
`Collections.min(collection)` or
`Collections.min(collection, comparator)`.

Alternatively, as of Java 8,
`collection.stream().min(comparator).get()`.

[2018-03-20 16:22] eklinger opened #3075 "Comparators.least() performance"
Hello,
In the docs for Comparators.least() it recommends using the collector version for Java 8 users. Is that still true even if the source collection is an ArrayList? What about if the source list is small (<20) and k is 5. Currently I'm doing list.stream().collect(Comparators.least(5, ....)) but I'm wondering if this is more overhead to construct the stream than to either sort the array directl

[2018-03-20 16:55] lowasser commented on #3075
If the list is small, it's not likely to make a significant difference in any direction, and not likely to have any more performance overhead than other stream based operations.  You will have to do benchmarks on your own devices to determine exactly what is best for you.

Ordering.leastOf delegates to the same backing implementation, basically.

[2018-03-20 16:55] #3075 closed

[2018-03-20 17:59] xak2000 commented on #583
Yes, you are right. My use-case was slightly different. I just googled how to create a sorted list from an unsorted set and found this thread.
Before Java 8, there was no one-line alternative to `Ordering.sortedCopy`, but now there is.

[2018-03-21 13:39] larinme opened #3078 "Strange behavior on different JVM"
Hello everyone!

I have got a problem with using Google Guava in test project. I have configured a module with binding singletone implementation to an interface with wrong module configuration. Something like below described:

and implementation:

and Module:

**Expected behavior:** Could not find a suitable constructor in Helper. Classes must have either one (and only one) constructor annotated w

[2018-03-21 13:45] JakeWharton commented on #3078
You're looking for Guice, not Guava.

[2018-03-21 13:49] ronshapiro commented on #3078
https://github.com/google/guice/issues

[2018-03-21 13:49] #3078 closed

[2018-03-21 17:55] kluever commented on #2999
@kevinb9n just said, "I think we won't mind adding the `Duration` overloads [to common.cache]"

[2018-03-22 23:31] tkowalcz opened #3081 "LocalCache putIfAbsent confuses removal listener"
I was unable to find any issue or discussion related to what I described below and so decided to create a ticket.

After change 73e382fa877f80994817a136b0adcc4365ccd904 `LocalCache` implements its own versions of methods like `computeIfAbsent` and `computeIfPresent`. These replace previous implementations inherited from `ConcurrentMap` with ones that delegate to unconditional call to `compute` wit

[2018-03-23 04:00] gengjiawen commented on #2850
@ronshapiro How about a pr ? When @cpovirk got time, he can directly review and merge this ?

[2018-03-23 07:03] MarvellousLiang opened #3082 "cleanup cache when read cache"
As I Know,`postReadCleanup(); `will be called when read cache ;and will call `cleanUp();` when read count reach 64; But it just clean the expired cache that we read the key? Whether the 'read CleanUp' just clean what we read that cache?   Others' expired cache will be kept util we write/read it or call `Cache.cleanUp()`?

[2018-03-23 11:41] ronshapiro commented on #2850
A PR for something like this won't be so helpful because we already have BUILD files internally. Having two sets is no better (and arguably worse) than just sticking with the status quo until we're ready to adopt Bazel

[2018-03-23 12:12] gengjiawen commented on #2850
I mean a pr to convert build system from maven to bazel. Stuch with maven won't get full android support.

[2018-03-23 13:13] jbduncan commented on #2850
@gengjiawen I'm personally a bit lost as to what you mean by "full android support". Guava already has Android-specific versions, right? How else would it need to support Android? 😕

[2018-03-23 13:22] gengjiawen commented on #2850
Actually no. Guava android version doesn't bundle it's proguard rules. So basically everyone use android-guava need to google or stackoverflow the proguard rules to fix the build and crash problem when enable minify.

[2018-03-23 14:05] jbduncan commented on #2850
@gengjiawen Ah okay, thanks for the clarification.

However, I think I agree with @ronshapiro that it's best to wait until the Guava team are themselves ready to open source the Google-internal BUILD files for Guava. That way, it would prevent duplicating existing work done by the Guava team and @perezd.

[2018-03-23 15:01] perezd commented on #2850
Or, use my fork until they are ready. That's my plan. I just got tried it
waiting.

On Fri, Mar 23, 2018, 7:06 AM Jonathan Bluett-Duncan <
notifications@github.com> wrote:

[2018-03-23 16:00] gengjiawen commented on #2850
@perezd Why not a pr ?

[2018-03-23 16:38] perezd commented on #2850
I pinged this thread to determine receptiveness, and it doesn't sound like
we have good reception as they have a long term plan they want to execute.
My fork is a short term bridge to unblock myself while the team properly
sorts this out.

On Fri, Mar 23, 2018 at 9:02 AM Jiawen Geng <notifications@github.com>
wrote:

[2018-03-23 17:04] lowasser commented on #3082
I don't believe we offer any guarantees there.  (Currently I believe that cleanup occurs for the _segment_ of the cache where the key is found, which is approximately 1/concurrencyLevel of the cache.)

[2018-03-23 17:11] cpovirk commented on #2850
Sorry that I haven't replied here.

Our internal `BUILD` files are much more complicated than basic external one need to be, to the point that it might not even be worth trying to sanitize and export them. It might well be easier to have separate external `BUILD` files (probably named something like `BUILD.bazel` in our internal repo so that they don't interfere with the real ones). But @ronshapir

[2018-03-23 17:24] perezd commented on #2850
If ya'll are interested in accepting mine as canonical for external, I'd be
happy to PR. But no pressure.

On Fri, Mar 23, 2018 at 10:12 AM Chris Povirk <notifications@github.com>
wrote:

[2018-03-24 11:18] smartinsempere commented on #1370
@cgdecker Hi there! I've made a version for a random inputstream with a limited size which does not consume large amounts of memory. Is it still interesting to add this? I can make a pull request if it is.

[2018-03-24 19:17] #3082 closed

[2018-03-26 14:10] pdfdroid opened #3084 "Data Encoding and Encryption"
Dear ,

Thank you for your support.

I just want to know that this library using any Encoding/Encryption processing, if yes could you please give some information about it, if possible.

Thanks in advance.

[2018-03-26 14:12] Stephan202 commented on #3084
Probably relevant: #2985.

[2018-03-26 15:13] #3084 closed

[2018-03-26 17:59] netdpb opened #3086 "FinalizableReferenceQueue might keep ClassLoaders around"
Based on #92, in 2012 we made sure that using `FinalizableReferenceQueue` didn't stop `ClassLoader`s from being destroyed once they were no longer used.

Testing this behavior in JDK 9 revealed some strange failures. `FinalizableReferenceQueueClassLoaderUnloadingTest` has three tests:

1. `testUnloadableWithoutSecurityManager`
2. `testUnloadableWithSecurityManager`
3. `testUnloadableInStaticFieldI

[2018-03-27 04:17] slyr91 commented on #2393
Is this a guava issue? CodeTriage sent this one to me today but there doesn't appear to be an issue here. Maybe just accidentally left open?

[2018-03-27 14:34] udopt commented on #902
+1

[2018-03-27 14:53] jbduncan commented on #902
As described in https://github.com/google/guava/issues/2170#issuecomment-249962341, people seeking a Multitable class and currently using `Table<K, K, Collection<V>>` could potentially use `ValueGraph<K, Collection<V>>` instead (a similar but perhaps simpler data structure in some cases), if that would fit their use case better.

[2018-03-27 15:18] jrtom commented on #902
`common.graph.Network<K, V>` might also be appropriate if your `V` values are unique and capable of acting as a key to their "endpoints" (aka row and column specifiers).

[2018-03-27 18:45] mlmitch commented on #2616
Are there any updates on this ticket?

[2018-03-27 21:37] ineuwirth opened #3088 "Missing test case for Comparators.emptiesLast"
There are two new utility methods added in a1a83d407f3f19891b7032e151d945363c441780 however only one of them is covered by unit tests. Maybe a synchronization issue between the Google-internal and the public Guava repository?

[2018-03-27 21:59] ineuwirth commented on #3088
Please find #3089

[2018-03-28 07:55] swetha-nfinity opened #3091 "Guava 20 unresolved dependencies"
We just upgraded our codebase to Guava 20 and deplyed into service mix . we  got error related to com.google.error prone
later included errorprone dependency , now we are getting below error
org.osgi.framework.BundleException: Unresolved constraint in bundle webid-import [222]: Unable to resolve 222.4: missing requirement [222.4] osgi.wiring.package; (&(osgi.wiring.package=com.google.common.net)(v

[2018-03-28 10:08] simon04 opened #3092 "Let ThreadFactoryBuilder also build ForkJoinWorkerThreadFactory"
Currently, `com.google.common.util.concurrent.ThreadFactoryBuilder#build` constructs a `ThreadFactory`. Since `Thread`/`ForkJoinWorkerThread` and `ThreadFactory`/`ForkJoinWorkerThreadFactory` share a lot in common, I suggest to add an analogue method `com.google.common.util.concurrent.ThreadFactoryBuilder#buildForkJoinWorkerThreadFactory`. I'm happy to provide a PR.

[2018-03-28 11:52] jbduncan commented on #3091
Hi @swetha-nfinity. I'm not on the Guava team myself, but on reading your issue, it's not clear to me what the problem is and how it can be reproduced.

Can you explain things further for us? Also do you have an [MVCE](https://stackoverflow.com/help/mcve) that you can share with us? :)

[2018-03-28 14:46] netdpb commented on #3091
What version of Java are you using? Guava works with Java 9 only after release 23.1. Prior to that you may have errors.

[2018-03-28 16:13] kluever commented on #2999
Even more reason to add these overloads...I just discovered many folks inside of google writing things like:
`cacheBuilder.expireAfterWrite(jodaDuration.getStandardHours(), TimeUnit.HOURS)`

We're not going to add Joda Duration overloads, but the problem here is that the API silently truncates to the hour boundary. So if `jodaDuration = Duration.standardMintues(59)`, then this expiration is set to

[2018-03-28 16:39] MartinHlavna opened #3093 "KD Trees and QuadTrees"
I have noticed that there is no implementation of QuadTree or KDTree. These structures can be in fact very helpful in searching dimensional spaces. Any ideas on implementing these structures? I think this would be great addition to Guava.

[2018-03-28 17:30] batilei opened #3094 "LoadingCache code example has issues"
I tried to create a simple example of LoadingCache, but the code in the example doesn't work
A simple case:
[code]

But compiler complain that
The method build(CacheLoader<? super K1,V1>) in the type CacheBuilder<Object,Object> is not applicable for the arguments (CacheLoader<String,String>)

Please correct. Thanks

[2018-03-28 17:40] cpovirk commented on #3092
One thing makes the API tricky: `setThreadFactory(ThreadFactory)` wouldn't be used for `ForkJoinWorkerThreadFactory`. (`ForkJoinWorkerThreadFactory` isn't even a subclass of `ThreadFactory`, thanks to its method's `ForkJoinPool` parameter.)

(Aside: It's a little strange that `setThreadFactory` exists at all: If someone is going to go to the trouble of implementing a `ThreadFactory`, there's no lo

[2018-03-28 18:07] lowasser commented on #3094
This example works for me.  Can you give some more details about the version of Java and of Guava you are using?

[2018-03-28 18:13] cpovirk commented on #3092
I added a couple updates in my post above. As far as I can tell, the only thing that `ThreadFactoryBuilder` could set that `ForkJoinPool` wouldn't override is `setPriority`. And even that is a pretty small savings nowadays:

[code]

[code]

[2018-03-28 18:14] batilei commented on #3094
Hello, I use  guava " compile 'com.google.guava:guava:24.1-jre'" and JRE 1.8.Is this ok?

[2018-03-28 18:15] lowasser commented on #3094
Are you certain you have the right imports?  The correct `CacheLoader`, `LoadingCache`, and `CacheBuilder`?

[2018-03-28 18:17] batilei commented on #3094
I think so?
Does the import package look correct?
import com.google.common.cache.CacheLoader;
import com.google.common.cache.LoadingCache;

[2018-03-28 18:19] batilei commented on #3094
Oh, I found I used the wrong CacheBuilder....It is from org.apache.curator.shaded.com.google.common.cache.CacheBuilder<K, V>

Thank you so much

[2018-03-28 18:30] #3094 closed

[2018-03-28 18:35] ben-manes commented on #3092
Thread priority is platform specific and usually not honored. I think it only works on Windows, if I recall correctly.

[2018-03-28 21:31] netdpb commented on #3093
The fact that no one (to my knowledge) has asked for either of these structures before suggests that there isn't a big need for them in Guava, although they're certainly useful.

Do you have a specific need for a general-purpose Quadtree or K-D tree API? Other than the data structures themselves, which are not difficult to write.

If you could convince us that either API would get a lot of usage,

[2018-03-28 21:31] #3093 closed

[2018-03-29 06:56] MartinHlavna commented on #3093
My personal use case is as this:

I have data organised in 2D "grid." I need to perform nearest neighbor classification on these data. However, I have probable "location" in some much smaller space. This means that I only need to classify small portion of the data. This could be accomplished using range search on mentioned data structures.

When I was searching for good implementation in the libra

[2018-03-29 13:18] netdpb commented on #3091
It sounds like you have a dependency version problem, where some of your dependencies are themselves requiring differing versions of Guava. I'm not sure how to help you. It would take some looking at your build and Karaf configuration.

Guava 20.0 was released back in October 2016. We've made a fair number of changes since then, including updating Guava's build configuration. Maybe you could try a

[2018-03-29 13:18] #3091 closed

[2018-03-29 20:21] martinm1000 opened #3096 "RangeMap vs NavigableMap methods (lowerEntry, floorEntry, etc)"
Hi,

Is there any reason why we don't have access to some of the methods that TreeRangeMap.entriesByLowerBound offers ?

I would like an efficient method to get the lower Range key/entry from a specific existing key.
I assume I can iterate over the entry/key set in order until I get my specific key but it seems wrong  ;-)

[2018-03-30 16:44] simon04 commented on #3092
Thank you for your detailed answer.

The two setters are called in `ForkJoinPool#registerWorker` which in turn is called in the constructor of `ForkJoinWorkerThread`. This means that setting the `daemon` flag and the thread `name` after constructing the thread should have the indented effect.

The use case I would like to have a custom `ForkJoinPool` is for running parallel operations on streams w

[2018-03-31 04:26] #2748 closed

[2018-04-02 01:35] eklinger opened #3098 "TopKSelector Visibility"
Hello,
I would like to use the TopKSelector in my custom Collector but it's not visible to use. Is there a reason for this, and any work arounds?

Thanks!

[2018-04-02 15:09] cpovirk commented on #3098
(For the benefit of anyone else looking for this functionality: Most people are able to use it through [`Ordering.leastOf`](http://google.github.io/guava/releases/snapshot-jre/api/docs/com/google/common/collect/Ordering.html#leastOf-java.lang.Iterable-int-)/`greatestOf` or through [`Comparators.least`](http://google.github.io/guava/releases/snapshot-jre/api/docs/com/google/common/collect/Comparato

[2018-04-02 15:14] eklinger commented on #3098
My use case is more of a composite collector. I need to keep track of some statistics of the items coming in from the stream and then pass those items to the TopKSelector. I would like to do this in O(n) (with no constant) so I do not have to iterate over the source list multiple times. The closest thing I found was https://stackoverflow.com/questions/32071726/java-8-stream-groupingby-with-multipl

[2018-04-02 23:00] FoosballGG commented on #1203
Any clarification as to why this issue was closed unresolved? This was one of the most voted for feature requests for the Guava Cache.

[2018-04-02 23:04] ben-manes commented on #1203
@FoosballGG The feature is available in [Caffeine](https://github.com/ben-manes/caffeine), which includes Guava adapters. Currently Guava's cache is not being actively developed.

[2018-04-03 15:44] YuryYaroshevich commented on #3086
After running `mvn clean package` inside of guava-tests dir I didn't see failed tests from `FinalizableReferenceQueueClassLoaderUnloadingTest ` but instead I saw a bunch of failing tests from `MoreFilesFileTraverserTest`.
My machine setup:
[code]

[2018-04-03 18:51] jrtom commented on #3086
@YuryYaroshevich please clarify (a) what version of Guava you're using and (b) what test failures you're seeing; this might be a completely separate issue.

[2018-04-04 08:33] YuryYaroshevich commented on #3086
@jrtom ,
I forked guava repo and then I did:
1) `cd guava-tests`
2) `mvn clean test`
and I got these results:
[code]

[2018-04-04 10:57] lsliwko commented on #683
That will be very handy to have

[2018-04-04 13:27] #2999 closed

[2018-04-04 18:20] cpovirk opened #3100 "MoreFilesFileTraverserTest: unable to guarantee security of recursive delete"
Reported in https://github.com/google/guava/issues/3086#issuecomment-378523615

Needs a fix like https://github.com/google/guava/commit/8f22dbc8ea0c1abdf044846057f6df8201ee9961

[2018-04-04 18:36] adeebahmed commented on #1668
Also happens on druid 11

[2018-04-05 00:16] tgdavies commented on #2928
You can make the type of the Supplier `Supplier<Either<Exception,T>>` and catch in your Supplier implementation.

[2018-04-05 00:54] tgdavies opened #3101 "Suppliers.memoize should have some mechanism for not memoizing failure"
In the case that my supplier is impure -- e.g. it is caching an external resource which may fail, I would like to be able to create a memoization which will retry failure -- e.g.

    Supplier<Option<T>> Suppliers.retryableMemoize(Supplier<Option<T>> supplier)

So the memoization is only done when the wrapped supplier returns a non-empty Option

[2018-04-05 01:10] cpovirk commented on #3101
I see that you also posted on #2928. Are you asking for something slightly different here?

[2018-04-05 01:32] PierceHanley commented on #3101
#2928 was about preserving the original thrown exception, and re-throwing it each subsequent time the `Supplier` is invoked. This seems to be specific to suppliers of `Optional`s: asking to be able to wrap them such that it will be invoked until the first time it returns a "present" `Optional`, then that value is memoized for the future and the wrapped supplier won't be invoked again.

Not weighin

[2018-04-05 01:37] tgdavies commented on #3101
Yes -- @PierceHanley is correct.

[2018-04-05 01:56] tgdavies commented on #3101
Perhaps:
    Supplier<T> memoizeConditionally(Supplier<T> supplier, Predicate<T> condition)

[2018-04-05 13:51] cpovirk commented on #3101
Ah, sorry -- somehow I saw only the title of this and completely missed that it had a body. Thanks.

We've had some discussions of a feature like this in the context of `common.cache`, but I don't think we've taken any action :\ (Possibly [Caffeine did](https://static.javadoc.io/com.github.ben-manes.caffeine/caffeine/2.6.2/com/github/benmanes/caffeine/cache/CacheLoader.html#load-K-)?) Given our la

[2018-04-05 20:24] cpovirk opened #3102 "Docs: "How to use Guava for GWT""
- Look for `@GwtCompatible` annotations on the types you want to use.
- The GWT module for a package is usually `com.google.common.foo.Foo` (perhaps _always_, but there could be exceptions with classes in subpackages?). To see all modules, you can [search](https://github.com/google/guava/find/master) for something like `guava-gwt/src/com/gwt.xml`.
- Depend on the `guava-gwt` artifact. (We used to

[2018-04-06 11:18] jpksh90 opened #3104 "Link broken"
java.util.function  and java.util.stream link is broken on Wiki https://github.com/google/guava/wiki/FunctionalExplained. Refer to https://docs.oracle.com/javase/8/docs/api/java/util/function/package-summary.html and https://docs.oracle.com/javase/8/docs/api/java/util/stream/package-summary.html respectively.

[2018-04-06 14:03] kluever commented on #3104
Thanks!

[2018-04-06 14:03] #3104 closed

[2018-04-07 16:55] Stephan202 opened #3105 "`Ints.checkedCast` vs. `Math.toIntExact`"
As of Java 8 there is [`Math.toIntExact`](https://docs.oracle.com/javase/8/docs/api/java/lang/Math.html#toIntExact-long-). This method forms an alternative to Guava's [`Ints.checkedCast`](https://google.github.io/guava/releases/24.0-jre/api/docs/com/google/common/primitives/Ints.html#checkedCast-long-), except that the former throws an `ArithmeticException` while the latter throws an `IllegalArgum

[2018-04-08 00:19] SoniEx2 opened #3106 "Add some "dangerous" APIs"
It would be nice if guava added some "dangerous" APIs e.g. for starting/running/managing processes, because [ppl keep using guava wrong](https://github.com/MovingBlocks/Terasology/issues/2791) and we should do something about it.

[2018-04-08 00:31] jbduncan commented on #3106
@SoniEx2 It's not clear to me personally how the people in that issue are using Guava incorrectly. Could you clarify things for me?

[2018-04-08 00:34] SoniEx2 commented on #3106
they do the thing the README says not to do - expose a guava from trusted code straight to untrusted code.

the guava in terasology is NOT subject to sandbox restrictions.

[2018-04-08 00:42] jbduncan commented on #3106
Hmm... :thinking:

I think that purposely adding "dangerous" APIs is the wrong way to go about encouraging the Terasology guys from using Guava this way, if they're in fact exposing Guava in such a way that it's causing a security problem for Terasology.

However, I'm admittedly far from an expert on this topic, and I'm just an external Guava contributor (I ain't a Googler), so I'll wait for someo

[2018-04-08 07:10] jrtom commented on #3106
I'm an internal contributor to Guava, but I don't speak for the team (except perhaps about common.graph-related stuff :) ).

I'm not at all clear on what you think that Guava should actually do here.

If you think that Terasology is using Guava in a way that's potentially unsafe, it seems like you've already raised that issue with that team.

[2018-04-08 12:38] SoniEx2 commented on #3106
Why can't you, idk, put a sandboxed guava in the sandbox, rather than exposing an unsandboxed guava to the sandbox?

[2018-04-08 14:14] jbduncan commented on #3106
@SoniEx2 I might be misunderstanding what @immortius said, but isn't Terasology already sandboxing Guava by only allowing mod authors to use all packages except `com.google.common.io`? :thinking:

[2018-04-08 14:17] SoniEx2 commented on #3106
and I believe guava is still dangerous even without the io package.

[2018-04-09 00:59] Cervator commented on #3106
🍿

Suffice to say, we've talked this and other issues to death with Soni already. I suggest this issue be closed.

[2018-04-09 09:59] kavya1990 commented on #660
package stringToint;public class StringToint {public static void main(String[] args) {String str=”123″; //string valueint num1 = 110; //integer value//converting the string to an integer value stored in num2int num2 = Integer.valueOf(str);int sum=num1+num2; //performing Arithmetic operationsSystem.out.println(“Result is: “+sum);  //Display the Result}}Output:233
--

For other methods to execute in

[2018-04-09 12:29] cpovirk commented on #3096
You might be able to pull this off with `subRangeMap(...).asDescendingMapOfRanges()`, but certainly that's not as straightforward as methods like `lowerEntry`.

I'm sure we wanted to keep the API small, but I wonder if we ever considered a `RangeMaps` utility class with APIs like this. Maybe @lowasser has thoughts?

[2018-04-09 15:17] jrtom commented on #3106
@SoniEx2 I still don't understand what you're actually proposing here.

As such, I'm closing this issue for now.

If you can give a concrete example of a single specific API that you would like the Guava team to add, feel free to add a comment and we can then reopen this issue and have a discussion about that specific proposal.  If you do so, and we think it sounds like something that we'd like to

[2018-04-09 15:17] #3106 closed

[2018-04-09 17:42] martinm1000 commented on #3096
Yes, something like that will work. Just for context, I have a JTable that display the ranges and the value, and I sometimes need to read the value of the key just above the table selection, so having access to some of the navigablemap methods would be usefull.

[2018-04-09 19:30] #3100 closed

[2018-04-10 12:33] nitrocode opened #3108 "InternetDomainName.findSuffixOfType() in junit test returns java.lang.NoSuchFieldError: EXACT"
I'm using guava `24.1-jre` and jdk `1.8.0.162`

[code]

causes

[code]

It's failing on [InternetDomainName.java Line #172](https://github.com/google/guava/blob/26b09c1fd30c23bc0e48701ff7131f2de1e5fe35/guava/src/com/google/common/net/InternetDomainName.java#L172) and this [old storm issue](https://www.mail-archive.com/search?l=dev@storm.apache.org&q=subject:%22%5C%5Bjira%5C%5D+%5C%5BUpdated%5C%5D+

[2018-04-11 15:51] ChristianCiach commented on #642
I think the tools currently offered by guava work just fine: `CharSource.wrap(string).asByteSource(StandardCharsets.UTF_8).openBufferedStream()`

[2018-04-11 18:26] sarnobat commented on #1473
I too want to have this functionality. People who do UI automation testing would like to have an indicator of how long a test is expected to run when it works properly.

[2018-04-12 13:32] ogregoire opened #3110 "Queues.descending(Deque)"
Currently, to use `Deque.descendingIterator()`, we have to write code like this:

    for(Iterator<T> it = myDeque.descendingIterator(); it.hasNext(); ) {
      T element = it.next();
      // Do something
    }

Would it be possible to have something akin to the following:

    for(T element: Queues.descending(myDeque)) {
      // Do something
    }

Ideally the method content would be something

[2018-04-12 14:39] Stephan202 commented on #3110
That does require repeating `T` and is cumbersome for "long" instances of `T`, though. Tough one ;)

[2018-04-12 19:53] cpovirk commented on #3110
I see only ~10 hits in Google's repo, so this is probably going to be tough to prioritize, [as much sense as it makes](https://stackoverflow.com/a/3883636/28465) :(

If I expected it to be completely uncontroversial, I'd just say "send a pull request," but I'd expect questions about whether we should return a full `Queue` (rather than just an `Iterable`).

[2018-04-12 22:34] ogregoire commented on #3110
Noted. I created PR #3111 to tackle the issue.

[2018-04-13 08:04] amcp opened #3112 "Add RateLimiter.createBurstingLimiter() with variable burst bucket"
Currently, the constructor with a variable burst bucket size, [`SmoothRateLimiter.SmoothBursty(SleepingStopwatch stopwatch, double maxBurstSeconds)`](https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/SmoothRateLimiter.java#L280) is package private. The public static factory methods [hard code a burst bucket size of 1](https://github.com/google/guava/blob/maste

[2018-04-13 20:10] jredfox commented on #345
have their input stream remove any char with the value of 65279

[2018-04-14 11:12] jasons2000 opened #3113 "Support for JDK 10?"
Support for JDK 10, will this happen?

[2018-04-14 11:15] michalfotyga opened #3114 "Small mistake in precondition check example"
[code]

should be
[code]

😉 🤓

[2018-04-14 12:35] cpovirk commented on #3110
I was wrong when I said "10 hits": I was looking only for people who had actually written a foreach using an approach like the one above. But plenty of people do it with an old-style `for` or `while` loop. Estimating from the total number of `descendingIterator` calls, I'd say more like 100 hits. So this is worth a look eventually. (I am personally feeling extra behind schedule right now, but I'll

[2018-04-14 13:36] jbduncan commented on #3114
Hi @michalfotyga, whereabouts in the Guava code did you find this mistake? :)

[2018-04-14 13:44] michalfotyga commented on #3114
Aaa whoops, sorry :bow:
https://github.com/google/guava/wiki/PreconditionsExplained

[2018-04-14 13:47] jbduncan commented on #3114
Not a problem! Thanks for the clarification. :)

[2018-04-14 13:49] jbduncan commented on #3114
I believe this is something that only the Guava team can resolve? It doesn't look like the Wiki has public write access to me.

[2018-04-14 14:09] michalfotyga commented on #3114
Ah, I see. Creating PR is also not possible for wiki content unfortunately.

[2018-04-14 20:12] jrtom commented on #3114
I've fixed it.  Thanks for the catch!  :)

[2018-04-14 20:12] #3114 closed

[2018-04-16 15:51] devikasondhi opened #3115 "InetAddresses support for IPv4 addr containing netmask"
The InetAddresses class does not seem to support IPv4 addresses containing CIDR netmask (like /24)
Example:
InetAddresses.isInetAddress("192.168.2.0/24") returns false, while this should be considered valid and return true.
Please look into it. Thanks.

[2018-04-16 16:37] devikasondhi opened #3116 "False positives for InetAddresses.isInetAddress"
InetAddresses.isInetAddress method returns true for invalid IPv6 address containing two or more consecutive 0s in the last hextet.
Failing test case:
InetAddresses.isInetAddress("804c:404c::0:cc:c0:00c1c") //returns true

Expected to return false, as also verified with an online service here- https://www.helpsystems.com/intermapper/ipv6-test-address-validation

The issue seems to be due to the com

[2018-04-16 18:14] cpovirk commented on #2502
Sorry that this has gotten no response. You might be able to get some navigable features from the `MultimapBuilder.treeKeys().arrayListValues()` multimap's `asMap()` view (though you'd have to cast). We should still give some thought to whether we could provide a better API.

[2018-04-18 19:26] ronshapiro commented on #3081
The fix was rolled back in https://github.com/google/guava/pull/3117

[2018-04-18 20:40] perceptron8 opened #3118 "Iterables.cycle and FluentIterable.cycle stream equivalents"
1. http://google.github.io/guava/releases/24.1-jre/api/docs/com/google/common/collect/Iterables.html#cycle-java.lang.Iterable-

This is true for non-empty iterables. For empty `interable`, the resulting `Stream` is useless. For instance, `Stream.generate(() -> FluentIterable.of()).flatMap(Streams::stream).count()` leads to infinite loop. At the same time, `Iterables.size(Iterables.cycle(FluentIter

[2018-04-18 20:45] perceptron8 opened #3119 "FluentIterable.index equivalent"
http://google.github.io/guava/releases/24.1-jre/api/docs/com/google/common/collect/FluentIterable.html#index-com.google.common.base.Function-

Since 21.0,  `stream.collect(ImmutableListMultimap.toImmutableListMultimap(keyFunction, v -> v))` may be used.

[2018-04-18 22:04] dportabella opened #3120 "InternetDomainName.from("s3.amazonaws.com").topPrivateDomain fails"
`com.google.common.net.InternetDomainName.from("s3.amazonaws.com").topPrivateDomain`
fails with
`Exception in thread "main" java.lang.IllegalStateException: Not under a public suffix: s3.amazonaws.com`

[2018-04-20 13:41] ogregoire opened #3122 "Memoized throwing-suppliers are improperly tested"
[The current test](https://github.com/google/guava/blob/acf29b389bc9ff8701f69d05b30e9d899bc10e35/guava-tests/test/com/google/common/base/SuppliersTest.java#L110) expects to get exceptions thrown again and again. But `Suppliers::memoize` is not called in the "testMemoizeExceptionThrown" test.

The line 115 should be replaced:

    private void memoizeExceptionThrownTest(ThrowingSupplier memoizedSup

[2018-04-20 15:27] netdpb commented on #3108
This looks to me like there is some problem with the Guava in your classpath. `PublicSuffixPatterns` has existed, and had the field `EXACT`, since v16. The storm issue mentions shading. Are you shading Guava, and not shading all of the packages? `PublicSuffixPatterns` is in `com.google.thirdparty.publicsuffix`.

[2018-04-20 15:29] netdpb commented on #3113
We are working on our Java versioning strategy. We expect to support JDK 10.

[2018-04-20 15:29] #3113 closed

[2018-04-20 15:40] netdpb commented on #3115
Strings like "192.168.2.0/24" refer to a network prefix, not a single address. `InetAddress` is meant to represent a single IP address, not a prefix.

See `java.net.InterfaceAddress` for comparison.

[2018-04-20 15:40] #3115 closed

[2018-04-20 16:04] kashike commented on #2170
Any chance of this becoming a thing? :smiley_cat:

[2018-04-20 16:06] nitrocode commented on #3108
Hi @netdpb thanks for replying. None of the jars are shaded. I'm compiling the app as a fat jar.

I can see the `EXACT` field is there when I step through the code. I've tried blowing out the `~/.m2/` directory and reinstalling the app. Also tried removing the project from Intellij and re-adding it and I get the same issue.

My workaround has been recently to comment out the unit tests around the

[2018-04-20 16:25] kevinb9n commented on #3118
Nice catches.

For #1, I think the right fix is to change the Javadoc to "The equivalent for non-empty Streams..." or "The Stream equivalent is to first ensure the stream is not empty, then..."

Probably similarly for #2.

[2018-04-20 16:35] netdpb commented on #3120
It turns out that s3.amazonaws.com is itself a public suffix, so that exception should in fact be thrown in that case. Check `InternetDomainName.from("s3.amazonaws.com").isPublicSuffix()`.

[2018-04-20 16:35] #3120 closed

[2018-04-20 16:43] perceptron8 commented on #3118
@kevinb9n I believe you mean "The equivalend for non-empty Iterables..." or "The Stream equivalent is to first ensure the iterable is not empty, then...". Just for the record.

[2018-04-20 17:44] pmarks-net commented on #3116
You're suggesting that `parseHextet(String ipPart)` should fail when `ipPart.length() > 4`.

I don't have a strong preference either way, but by what definition is this invalid?  Guava isn't the only parser that works like this:

    $ ping6 ::00000001
    PING ::00000001(::1) 56 data bytes
    64 bytes from ::1: icmp_seq=1 ttl=64 time=0.049 ms

[2018-04-20 18:02] netdpb commented on #3122
www.sadtrombone.com

[2018-04-20 18:18] netdpb commented on #3108
What else is in your classpath? I cannot replicate this error.

[2018-04-20 23:12] Stephan202 commented on #3108
The `maven-enforcer-plugin` has the [`banDuplicateClasses`](http://www.mojohaus.org/extra-enforcer-rules/banDuplicateClasses.html) and [`requireUpperBoundDeps`](https://maven.apache.org/enforcer/enforcer-rules/requireUpperBoundDeps.html) rules; they can help track down this issue. (There are others, but I suspect one of these will point you in the right direction.)

[2018-04-21 02:04] swankjesse commented on #3116
The [RFC](https://tools.ietf.org/html/rfc4291#section-2.2) suggests both Guava and `ping6` have it wrong here:

[2018-04-21 13:15] nitrocode commented on #3108
@Stephan202 let me debug this at work on Monday using the tools @Stephan202 provided. I can try to create a mwce if I cannot find the root of it. Thank you!

[2018-04-22 04:12] Harkaran commented on #2847
@kluever is this issue still relevant, if it is I would like to take it on as my first contribution to guava as I am currently working on some domain validation on my own anyway.

[2018-04-23 14:04] cpovirk commented on #3031
No plans. I wouldn't rule out the possibility that we would someday use the Checker Framework's actual checking, but even that wouldn't involve linking in the GPL parts of the framework, and it would even still be possible to compile with the checking off if desired.

[2018-04-23 17:54] pmarks-net commented on #3116
Looking at the history of the document:

* [RFC1884](https://tools.ietf.org/html/rfc1884#section-2.2) (1995): "where the 'x's are the hexadecimal values of the eight 16-bit pieces of the address."
* [RFC2373](https://tools.ietf.org/html/rfc2373#section-2.2) (1998): same
* [RFC3513](https://tools.ietf.org/html/rfc3513#section-2.2) (2003): same
* [RFC4291](https://tools.ietf.org/html/rfc4291#section

[2018-04-24 05:28] orionll commented on #477
Any progress on this issue?

[2018-04-24 13:53] #3122 closed

[2018-04-24 17:41] cfogrady opened #3126 "Map generated by Multimap.asMap missing foreach method"
[code]

This is blocking me from working with code outside my control which expects maps.

[2018-04-24 17:42] cfogrady commented on #3126
Nevermind... seems to be power mock :(

[2018-04-24 17:42] #3126 closed

[2018-04-24 17:48] sagar-shah94 commented on #2724
Hey @cpovirk,
This is my first issue as contribution to google guava. I am not sure who i should ask to review my PR.
Can you please review PR (https://github.com/google/guava/pull/3127)
 to fix this issue.

[2018-04-24 20:08] nitrocode commented on #3108
Ok so I found out that this was related to standalone wiremock uses [guava version 20.0](https://github.com/tomakehurst/wiremock/blob/master/build.gradle#L51) and the standalone shades guava. To fix the issue, I reordered the dependencies to make guava load before wiremock and it worked.

{code}
        <dependency>
            <groupId>com.google.guava</groupId>
            <artifactId>guava</art

[2018-04-24 21:07] Stephan202 commented on #3108
@nitrocode I'd add the aforementioned checks to your build by default; they could be part of a shared company POM. Others I recommend:
* The `maven-enforcer-plugin`'s [`dependencyConvergence`](https://maven.apache.org/enforcer/enforcer-rules/dependencyConvergence.html).
* The `maven-dependency-plugin`'s various [`analyze*`](https://maven.apache.org/plugins/maven-dependency-plugin/plugin-info.html)

[2018-04-24 21:43] nitrocode commented on #3108
That's awesome, thank you @Stephan202!

[2018-04-24 21:43] #3108 closed

[2018-04-25 17:46] sagar-shah94 commented on #2724
@cpovirk @lowasser Can you please suggest me an issue that i should work on next. since i am new to contributing to google guava, i don't know which issue would be the best to work on next?

Please review PR https://github.com/google/guava/pull/3127 that will fix this issue

[2018-04-25 19:32] WammKD opened #3128 "InternetDomainName.topPrivateDomain() Fails on Suffix .site"
I have the following code:

[code]

The String `http://opticafsm.business.site/` is what's passed to `getDomainName()`.

Unfortunately, it results in the error

[code]

The version of Guava being used was, original, version 16 which I thought might be causing the issue but, after upgrading to 24.1-jre, the behavior didn't change in any way.

It seems that it's not recognizing `.site` as a public s

[2018-04-25 22:11] #3081 closed

[2018-04-26 17:01] cgdecker commented on #3128
I just tried this with `24.0-jre` and it returned `business.site` as expected. You should check that there aren't older versions of Guava on your classpath somehow after upgrading to `24.1-jre`.

[2018-04-26 17:01] #3128 closed

[2018-04-26 21:18] Stephan202 commented on #3128
(For some tips on how to debug such classpath issues, see the comment section of #3108.)

[2018-04-27 14:00] MikeFHay commented on #912
Worth noting that Guava already provides utilities that make it pretty easy to implement this yourself.

[code]

I'm not sure if this API is ideal, and probably null values could be handled better, but if use-cases are rare then developers can just use `Maps.asMap(Sets.union(...` directly.

[2018-04-27 23:03] avarzar commented on #2991
Note that another link in the table, to 'void propagateIfInstanceOf', is broken.

[2018-04-30 16:30] #2724 closed

[2018-05-03 14:00] thecoop opened #3131 "Create ForwardingSpliterator"
As a counterpart to `ForwardingIterator`, create a `ForwardingSpliterator`. This is useful for, say, asserting characteristics, or a `Comparator`, onto a spliterator that doesn't know about those things by itself.

[2018-05-03 15:36] kevinb9n commented on #3131
I don't feel too good about this, because *most* users should virtually never interact with `Spliterator` in any way. It is a very "behind-the-curtain" type.

[2018-05-04 09:07] orionll opened #3133 "Don't break the backward compatibility!"
After upgrade from Guava 18 to Guava 23 our software stopped working for some customers because the visibility of `Iterators.emptyIterator` was changed from `public` to `package`.

Can you please stop breaking the backward compatibility?

[2018-05-04 10:12] cardamon commented on #3133
They only did so after a 2 year deprecation cycle...
Deprecated: May 7, 2014. Made package private: May 5, 2016

[2018-05-04 10:14] orionll commented on #3133
There should not be deprecation cycle at all. Just deprecate methods, but do not remove them. Millions of users depend on Guava, and we make them sad when the backward compatibility breaks.

[2018-05-04 12:15] jbduncan commented on #3133
Hi @orionll, good news (I think)! It seems that some time ago, the README was changed to say the following:

So I believe that versions of Guava 21.0 onwards are safe!

WDYT?

[2018-05-04 13:56] cgdecker commented on #3133
Yep, as @jbduncan says we are in fact committing to not break backwards compatibility for non-`@Beta` APIs. To ensure you aren't using `@Beta` APIs (which you shouldn't if other code outside your control is using your code, which it sounds like is the case here) you can use https://github.com/google/guava-beta-checker.

[2018-05-04 13:56] #3133 closed

[2018-05-04 23:32] kevinmost opened #3135 "Add an .ifPresent(Consumer<? super T>) method to Optional"
One of the best features of `java.util.Optional` is the ability to call `.ifPresent` on it, executing an action only if the Optional is populated: https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html#ifPresent-java.util.function.Consumer-

Guava's Optional has no equivalent. Currently, there are 3 ways to achieve this behavior, from what I can tell:

1) Just manually unwrap the object

[2018-05-05 12:52] pascalgn opened #3136 "Add Lists.partitionBy to split a list into a list of lists"
Sometimes you wish to iterate over a list of items in a grouped fashion:

[code]

There already is `Lists.partition`, but in this case the sub lists might have different sizes (and we don't know these sizes).

It would be nice to have a standard way to split the list, with only needing to specify the difference between the items:

[code]

## Naming

There already is `Lists.partition` and as that a

[2018-05-05 13:29] jbduncan commented on #3136
Hi @pascalgn, I can't speak for anyone else, but I'm not totally clear as to what you expect the output of this new method to be.

I understand that you want to take a list and for _something_ to happen if two adjacent elements are different. Am I right to understand that this _something_ you want to happen is to partition a list into sublists, where each sublist is a consecutive, iteration-ordere

[2018-05-05 13:39] pascalgn commented on #3136
Yeah, good question, I forgot writing about that. In my opinion, it should be like your first output, so

[code]

That way, any existing order of the input list will not be changed, so it really is just a partitioning: Iterating over the original list would be the same as iterating over each returned sub-list (in order).

The main rationales here are that (1) it kind of mimics the existing `Lists.

[2018-05-05 13:51] jbduncan commented on #3136
Cool, thanks for the clarification. :)

I don't know if this proposal will be accepted, as I'm not on the Guava team myself (or a Googler, for that matter).

But if it were to be considered by the Guava team, I wonder if there would be a better name than `List.partitionBy`, due to the confusion it causes (in my mind, at least) with `Collectors.partitioningBy`, which as you described above does som

[2018-05-05 16:12] swankjesse commented on #3136
Is this what you want?
http://google.github.io/guava/releases/snapshot/api/docs/com/google/common/collect/Multimaps.html#index-java.lang.Iterable-com.google.common.base.Function-

[2018-05-05 18:44] kevinmost commented on #3135
I would be open to that, I just thought it would be a safer change to put an implementation in the `Optional` class (maybe someone has implemented another subclass of `Optional` elsewhere for whatever reason, and we don't want to break their class and force them to implement a new method). But if that doesn't seem like a big deal then I am fine with implementing it either way, where `Present`'s en

[2018-05-05 18:46] pascalgn commented on #3136
Thanks for the pointer, I have not considered that! However, `Multimaps.index` returns a map, so it's very similar to `Collectors.groupingBy`:

[code]

However, sometimes it's much easier to determine where a list should be split ("no, these two items are different!") than to assign a suitable key to each item. Additionally, the proposed solution would support cases where you would not want items

[2018-05-07 06:04] ernestp opened #3137 "Update wiki regarding Proguard rules"
Current rules in wiki is outdated, I getting massive amount of errors with guava:25.0-android.

https://github.com/google/guava/wiki/UsingProGuardWithGuava

Even better to include Proguard rules in library.

Currently I've got some usable configuration for my Android project.
Not sure that all of it is correct.

`-keep class com.google.common.io.Resources {
    public static <methods>;
}
-keep cla

[2018-05-07 06:53] tomhalex commented on #1707
+1

[2018-05-07 13:57] kluever commented on #3135
I think we've been avoiding adding additional functionality to `c.g.c.base.Optional` since `j.u.Optional` has been released... @kevinb9n ?

[2018-05-07 14:16] kevinmost commented on #3135
I can understand that, but I think there is still value in `c.g.c.base.Optional`, for example, on Android. We can't use `j.u.Optional` because we still have to support phones that run Java 6 in our projects. Especially with Guava now having a specific Android-friendly artifact, I think a lot of people started using it on Android.

For us, seeing `@Deprecated` ever added to `c.g.c.base.Optional` wo

[2018-05-07 15:44] kevinb9n commented on #3135
I'm sorry, but the legacy Optional class is indeed frozen.

[2018-05-07 15:44] #3135 closed

[2018-05-07 20:09] ben-manes commented on #3136
You might consider [jOOL](https://github.com/jOOQ/jOOL) as a better fit, since there was already an [issue](https://github.com/jOOQ/jOOL/issues/296) to support Guava's partition and make it more flexible. That utility library is going towards broad coverage of functional streams, whereas Guava usually has a high bar and a wider scope.

[2018-05-08 12:39] pascalgn commented on #3136
Thanks for the pointer, I'll also have a look at the issue there!

Regarding the name I'm not so sure anymore. `Lists.partition` returns a view of the list, which makes sense in a way, because modifying elements has no effect on which group they belong to:

[code]

The same handling would be weird for the proposed new function, because changing elements of the original collection could lead to mod

[2018-05-08 19:03] Maaartinus commented on #3136
FWIW it's like string splitting on a zero-width match like `\\b` (the corresponding `BiPredicate` would be something like `(a, b) -> Character.isAlphanumerical(a) != Character.isAlphanumerical(b)`).

[2018-05-09 14:36] stkelley opened #3140 "Javadoc for Multimaps.unmodifiableMultimap is misleading"
The Javadoc for [Multimaps.unmodifiableMultimap](https://github.com/google/guava/blob/7abf5990b29f19a7e8c458b63af73c88523e1820/android/guava/src/com/google/common/collect/Multimaps.java#L517-L518) (as well as the other `Multimaps.unmodifiable*Multimap implementations`) include this note:
[code]
In all of these implementations the `removeAll` and `replaceValues` methods simply throw an `Unsupported

[2018-05-10 20:21] avakel opened #3143 "Introduce Unmodifiable wrapper suitable for TreeMultimap"
The [unmodifiableSortedSetMultimap method in Multimaps](https://github.com/google/guava/blob/07b4f00bc2cb5fcab1b96df8d186e499703eb50d/guava/src/com/google/common/collect/Multimaps.java#L930-L950) is currently the best way to get an unmodifiable view of a `TreeMultimap` but lacks two key features of `TreeMultimap`s:
1. Guaranteeing the sorting of the keys
1. Returning `NavigableSet`s and `Navigable

[2018-05-11 10:01] bedla commented on #2083
Question: Why is ImmutableList.of() preferable to Collections.emptyList() ? JavaDoc: "for consistency and maintainability of your code" does not clarify it, imo.

[2018-05-11 12:32] Stephan202 commented on #2083
The return type of `ImmutableList.of()` is an `ImmutableList`. Guava recommends using such `Immutable*` types throughout, because this way immutability is communicated and propagated at the level of the type system. Not only does this increase maintainability (because it makes it easier to reason about the code), the compiler will then also warn about code that invokes a mutator method on such typ

[2018-05-11 12:41] bedla commented on #2083
I understand what you mean, but it works only when you have ImmutableList at signatures, but when you prefer coding against interface, you have List there...

[2018-05-11 12:53] ronshapiro commented on #2083
We treat ImmutableList as an interface in that sense. It has meaningful
semantics that are frequently relevant for a caller to know. In the same
way that you can return a Collection vs. a Set, even though Set doesn't
have any different methods, it is clearly a different type.

On Fri, May 11, 2018, 8:41 AM Ivo Šmíd <notifications@github.com> wrote:

[2018-05-11 12:59] bedla commented on #2083
Ok, i see :] thanks a lot

[2018-05-14 20:28] ashughes commented on #3137
There was just a talk at Google I/O last week that included Proguard rules for the latest Guava. See https://stackoverflow.com/a/50338429/287575.

I agree, the documentation should be updated, and it would be ideal if these rules could be included in `consumerProguardFiles` in a future release.

[2018-05-14 21:07] cpovirk commented on #3140
(I got curious... :))

Sounds like there's nothing subtle here, just a broken comment.

Internally, this comment was introduced in CL 7155959. That included the comment: "I realized that the removeAll and replaceValues methods could simply throw an UnsupportedOperationException." But that discussion seems to have been about changing the `ListMultimap`, etc. subclasses to `throw new UnsupportedOper

[2018-05-15 08:03] jreznot opened #3147 "PatternCompiler should have public modifier"
At the moment, we are trying to modularize guava on the fly before linking with jlink.

In order to use modular JAR in the future PatternCompiler must have public modifier.

Otherwise: ServiceLoader throws exception - java.util.ServiceConfigurationError: com.google.common.base.PatternCompiler: module com.google.common does not declare `uses`

Also, we cannot define "uses" in module-info.java for c

[2018-05-15 08:11] jreznot commented on #3147
Also, we could move `ServiceLoader.load(PatternCompiler.class)` call into the next `try {} ` block: https://github.com/google/guava/blob/master/guava/src/com/google/common/base/Platform.java#L82

[2018-05-15 10:59] jreznot commented on #3147
I've tried to fix this in the fork and successfully built module with the following module-info.java https://github.com/cuba-platform/cuba-cli/blob/feature/jlink/bundles/com.google.common/module-info.java

Thus, it definitely helps using guava in modular builds.

[2018-05-15 17:44] cpovirk commented on #3143
We could probably take a patch for this if you're interested. The approach would probably be for the unmodifiable multimaps to call a method similar to the `unmodifiableCollectionSubclass` methods in classes like `Multimaps.CustomMultimap`.

[2018-05-15 19:05] cpovirk commented on #3143
Yes, sorry, I'm thinking just of guaranteeing that you can cast.

[2018-05-15 20:18] cgdecker commented on #3036
I don't really feel that it's worth the time to try to go through and exhaustively document equivalences and differences between different libraries like that. I'd support getting rid of the collections page too, but since it already exists I'm not going to go out of my way for that.

[2018-05-15 20:18] #3036 closed

[2018-05-15 23:33] #1389 closed

[2018-05-16 10:18] thecoop commented on #1409
Could this be made more generic, for running any arbitrary operation that throws `InterruptedException`?

    Uninterruptibles.runUninterruptibly(() -> opThrowingInterruptedException())

[2018-05-16 11:41] RamAnvesh commented on #1409
@thecoop https://github.com/google/guava/issues/2384

[2018-05-17 04:18] Sawon90 commented on #2449
Support Java8 on android or provide us Consumer<T> interface on guava.

[2018-05-17 07:38] ogregoire opened #3150 "BiConsumer to Consumer using a fixed value"
I often have to write the following kind of code. This code isn't as obvious as people first think. I've seen many new coders hit with this very hard and they spend countless time trying to figure out an appropriate way to implement this.

    void doSomething(List<A> listOfAs, B b) {
      // somehow call doSomething(a, b) with each element of listOfAs as a.
    }
    void doSomething(A a, B b) {

[2018-05-17 14:18] ronshapiro commented on #3150
I think what you've done in `#1` is much more readable than the `bindLast` codeblock suggestion. If you're going to be doing something inline, that seems like the clearest option. The suggestion doesn't read left-to-right very clearly once you start introducing a `bindLast` into the mix.

[2018-05-17 15:13] orionll commented on #2960
FYI: it is impossible to use `guava` and `java.xml.ws` modules simultaneously:

[code]

This code will not compile because there is a split package in `jsr305` and `javax.xml.ws.annotation` modules.

[2018-05-17 16:54] lowasser commented on #3150
I concur with @ronshapiro.  The proper thing to do is to write your first example, and to train developers to write that by default.

[2018-05-17 18:43] avarzar commented on #3011
Let's keep the issue open until PR #3023 is merged.

[2018-05-18 05:42] orionll commented on #2960
Update to my previous comment. It is not impossible, however, this requires exclusion of jsr305 dependency:
[code]

[2018-05-18 21:15] lowasser commented on #3147
Is there any alternative that keeps PatternCompiler package-private?  I think we wanted to avoid exposing that implementation detail, since it's mostly simply there for Google-internal reasons.

[2018-05-18 21:16] lowasser commented on #3105
Hmmm.  This feels a little weird, largely because most of our classes in `primitives` have a `checkedCast` method, and it's only `Ints` that has an equivalent in Java 8.

[2018-05-19 09:46] jreznot commented on #3147
You could move this line https://github.com/google/guava/blob/master/guava/src/com/google/common/base/Platform.java#L80 into try block. Anyway, ServiceLoader will throw exception for package-private class in modularized environments, thus custom PatternCompiler will not work.

[2018-05-20 16:19] kluever commented on #3105
Should we consider adding this warning to the other (now obsolete) APIs in places like `IntMath` though? e.g., `IntMath.checkedSubtract(a, b)` -> `Math.subtractExact(a, b)`

[2018-05-20 16:36] kluever commented on #3105
Oh, looks like you already have a CL out to do so!

[2018-05-20 20:50] mojojojo94 opened #3151 "Provide download links to the Guava JAR files"

[2018-05-20 21:10] jbduncan commented on #3151
Hi @mojojojo94. Good question! Unless you're using Maven or Gradle to manage dependencies like Guava for you, it's not that easy to find a compiled JAR file for the latest Guava version (25.0 at time of writing).

Try looking into http://central.maven.org/maven2/com/google/guava/guava/25.0-jre/. You should find guava-25.0-jre.jar there and be able to download it, which I believe is what you're aft

[2018-05-20 21:13] jbduncan commented on #3151
@cpovirk @cgdecker  I wonder if we should start providing again links to downloadable jars for each release in https://github.com/google/guava/releases, as what used to happen up until version 21.0.

WDYT?

[2018-05-20 21:19] jbduncan commented on #3151
@mojojojo94 I should note a caveat with downloading just the Guava jar by itself.

Downloading just the Guava jar means that you won't have access to Guava's own dependencies either, of which there are a few.

On the plus side, these dependencies aren't mandatory (by my understanding), as they just contain various annotations.

But if you intend to use Guava with tools like [error-prone](http://er

[2018-05-21 16:03] netdpb commented on #3151
@jbduncan Not a bad idea.

[2018-05-21 16:22] jrtom commented on #3151
I'm pretty sure that there used to be download links from the main README file; I know because that's where I got the idea to do the same for JUNG (which still has them: https://github.com/jrtom/jung).

It could be that we removed those because it made it more of a pain to update when we started doing more frequent releases, I don't know.

[2018-05-21 16:36] cgdecker commented on #3151
I partly stopped doing this because A) I wasn't sure anyone did manual dependency management anymore, and B) you could get the jars from central.maven.org. But I guess we also aren't including the links to central.maven.org for the releases in the release notes now either.

I don't think it's worth including direct links in the main README; to me it seems preferable to just provide a link to the r

[2018-05-22 19:41] shauntarves opened #3153 "GWT Super-source location"
I am having a problem with 25.0-jre since 38d2f3296b722e7d84a01d31037e31fade13951c, which super-sourced the `nullToEmpty`, `emptyToNull`, and others.

When running in super dev mode with the gwt-maven-plugin (https://tbroyer.github.io/gwt-maven-plugin), the `Platform` class is only on the runtime classpath (sourcemaps) under `com/google/common/base/super/com/google/common/base`. I'm not entirely s

[2018-05-23 06:54] SarjitaKonj commented on #2747
Hi, @erdarun  can you please share this code. I want to refer how to add entries into the cache, my cacheBuiler is always empty after adding also. Thank you in advance.

[2018-05-23 16:00] cpovirk commented on #3153
The relocation theory sounds reasonable to me.

When you say...

...you mean that your `.gwt.xml` has something like...

[code]

...right?

[2018-05-23 16:22] cpovirk commented on #3153
Thanks, I figured but wanted to be sure.

Searching around, I saw https://groups.google.com/d/topic/google-web-toolkit/Qi5btTMre5s/discussion, which sounds similar but didn't reach any conclusion :\

I don't know how well tested Guava is with Super Dev Mode. I would have assumed that we'd have heard of problems internally, but maybe the JsInterop code is important or something.

I'll try to dig so

[2018-05-23 16:30] cpovirk commented on #3153
I did find a suggestion of using `-noincremental`, though of course you shouldn't have to. And the thread above suggested `-style PRETTY` (ditto). I've found some other threads that suggest that unusual GWT linkers can cause problems unless you do special handling. I don't know what you're using or whether it's easy for you to test with a different one.

[2018-05-23 16:32] cpovirk commented on #3153
(Also "clear the caches"... :\ )

[2018-05-24 04:44] Azimboy opened #3155 "no main manifest attribute, in com.google.guava.guava-22.0.jar"
I want to run `BaseEncoding.base64().encode()` method on Bash and trying to execute jar file but there is  following error. How can I this issue?

no main manifest attribute, in com.google.guava.guava-22.0.jar

[2018-05-24 08:31] kleinron opened #3156 "Iteration over Streams.concat hangs"
`Streams.concat` functions as expected when its arguments are finite streams.
If we concat two streams: the first is finite and the second is infinite, then obviously we get an infinite stream. But we can iterate over a limited number of elements. This is the scenario where the program hangs.

[code]

[2018-05-24 15:10] thecoop commented on #902
+1

[2018-05-24 18:41] michaelhixson commented on #3156
Nice find.  I thought this underlying problem with `flatMap` (which `Streams.concat(primitiveStreams)` currently uses) was [fixed in the JDK](http://mail.openjdk.java.net/pipermail/core-libs-dev/2017-December/050763.html), but apparently that fix doesn't come into play when you use `iterator()`.

[2018-05-25 04:10] Azimboy commented on #3155
@jbduncan thanks for your response! You are right, it is not an application and I've confused a little)). Yesterday I wanted to encode array of bytes to base64 on Bash and I did it with following way:
1) Created `EncodeBytes` class and implemented this logic:
[code]
2) Executed following commands on Bash:
[code]

[2018-05-25 04:10] #3155 closed

[2018-05-26 18:57] jbduncan commented on #3155
@Azimboy Cool, glad to hear you managed to solve your problem!

I found this link the other day that I think should allow you to base64-encode a string without depending on Java, if that would be of interest to you: https://scottlinux.com/2012/09/01/encode-or-decode-base64-from-the-command-line/. :)

[2018-05-28 07:32] wangbo911 commented on #3147
1. wb1063916463@163.com

[2018-05-28 07:33] wangbo911 commented on #3147
#3155

[2018-05-28 07:51] mali5590 opened #3160 "Exception caught while taking screenshot in Appium"
Issue: Exception caught while taking screenshot in Appium

Exception : Unexpected result for screenshot command: com.google.common.collect.Maps$TransformedEntriesMap instance

Maven Dependency:
<dependency>
    <groupId>com.google.guava</groupId>
    <artifactId>guava</artifactId>
    <version>25.1-jre</version>
</dependency>

have tried with 24.1 - jre as well No luck :(

[2018-05-28 14:48] skitt opened #3162 "CVE-2018-10237 fix for 23.6"
Hi,

Is there any chance we could get a 23.6.1 release with 7ec8718f1 applied on top of 23.6? It cherry-picks nicely...

Regards,

Stephen

[2018-05-28 16:19] jbduncan commented on #3160
Hi @mali5590, that's an interesting bug report.

I'm personally unfamiliar with Appium, and I don't know if anyone on the Guava team is familiar with Appium themselves, so could you provide an [MCVE](https://stackoverflow.com/help/mcve) so that the Guava team can reproduce this when they get around to looking at this issue?

[2018-05-28 21:00] kluever commented on #3162
Is upgrading directly to the latest version (25.1) not otherwise feasible?

[2018-05-29 12:26] skitt commented on #3162
It’s doable, with a fair amount of work (this is for OpenDaylight BTW, but I imagine we’re not the only project in this situation). It would be far, far simpler for us to bump to a 23.6.1, but obviously that has consequences for you — I thought I’d ask, on the off-chance.

Admittedly the vulnerability doesn’t change the attack surface so I can understand you might not want to cut another release j

[2018-05-29 13:08] kluever commented on #3162
@cpovirk thoughts?

[2018-05-29 13:14] rgoldberg opened #3164 "BiFunction separator provider for Joiner"
I have a use case for `Joiner` where the separator must be obtained from the next part to be joined.  I can imagine situations where the separator must be obtained from the previous part to be joined, or from some logic operating on both the previous and the next parts.

Would you consider allowing a `BiFunction<T, T, String>` to be a separator provider, where the previous part is the first argume

[2018-05-29 13:24] rgoldberg opened #3165 "Should immutable collection classes be annotated like @Immutable(containerOf = "E")?"
Should immutable collection, map, etc. classes be annotated like the following?

    @com.google.errorprone.annotations.Immutable(containerOf = "E")

[2018-05-29 14:05] rgoldberg opened #3166 "Possible typos: @javax.annotation.Nullable is only used in two places"
There is probably a typo in each of the two following lines of `NullPointerTesterTest`:

https://github.com/google/guava/blob/0a2258e6691a22aa7ff2604871b520d44bbac01f/guava-testlib/test/com/google/common/testing/NullPointerTesterTest.java#L89

https://github.com/google/guava/blob/0a2258e6691a22aa7ff2604871b520d44bbac01f/guava-testlib/test/com/google/common/testing/NullPointerTesterTest.java#L553

[2018-05-29 14:10] cpovirk commented on #3166
Thanks, but these are intentional tests that `NullPointerTester` recognizes the `javax` `@Nullable`.

[2018-05-29 14:10] #3166 closed

[2018-05-29 14:56] jrtom commented on #3160
I'm not familiar with Appium, but this sounds like a bug in Appium that happens to be triggered in a place where they're using the Guava library.  I'd try filing a bug there: https://github.com/appium/appium/issues

[2018-05-29 15:07] kevinb9n commented on #3164
We're actually de-emphasizing `Joiner` now in favor of `Collectors.joining()`, `String.join()`, and `StringJoiner`, all in the JDK. I don't think we'll be adding more features to it, sorry!

[2018-05-29 15:07] #3164 closed

[2018-05-29 15:23] cpovirk commented on #3162
Done. Releases can take a few hours to show up in Maven Central, so watch http://repo1.maven.org/maven2/com/google/guava/guava/23.6.1-jre/

[2018-05-29 15:23] #3162 closed

[2018-05-29 15:27] skitt commented on #3162
Fantastic, thank you very much!

[2018-05-29 15:53] cpovirk commented on #3165
Probably, thanks. Error Prone, at least, [already recognizes the types as immutable](https://github.com/google/error-prone/blob/e30e4f487353d080ea7955f18096821d7a05181c/core/src/main/java/com/google/errorprone/bugpatterns/threadsafety/WellKnownMutability.java#L148), but annotations seem like a better route, especially since they provide documentation (not too important for classes with names like

[2018-05-29 16:54] jmini opened #3167 "Wiki: typo in the CaseFormat example code snippet"
I have spotted a small typo in the “CaseFormat” section, in the code snippet: there should be only one closing bracket instead of two.

---

This is a patch for the wiki repository:
[code]

Patch:
[patch.diff](https://github.com/google/guava/files/2049421/patch.diff.txt)

---

Is:
[code]

Should be:
[code]

[2018-05-29 16:58] jrtom commented on #3167
I've fixed it.  Thanks!  :)

[2018-05-29 16:58] #3167 closed

[2018-05-29 20:02] cpovirk commented on #3147
Sorry for the slow response. I think we'll just strip out the `ServiceLoader` usage entirely, since it's never been usable in public Guava, anyway (relying, as it does, on the ability to implement a package-private type).

[2018-05-29 20:06] cpovirk commented on #3147
And thank you for uncovering and reporting this! As you can tell, our Java 9 testing and fixes addressed only some of the issues that the module system can cause.

[2018-05-30 06:24] nawaz-np opened #3168 ""Iterables.isNullOrEmpty" null safe version of Iterables.isEmpty method"
Iterables.isEmpty throws NPE when the passed in argument is null.
So, introduction of new method which checks for null would be helpful.

[2018-05-30 06:44] perceptron8 commented on #3168
https://github.com/google/guava/wiki/IdeaGraveyard#iterablesisnullorempty

[2018-05-30 07:31] #3168 closed

[2018-05-30 08:24] cowwoc opened #3169 "Add java.time.Duration overloads to Suppliers.memoizeWithExpiration()"
`Suppliers.memoizeWithExpiration()` takes a `TimeUnit`. Consider adding a `java.time.Duration` overload similar to what you did with `CacheBuilder`.

[2018-05-30 13:47] kluever commented on #3169
Funny you bring that up...I _just_ had a need for that last week and have an internal CL out that adds the `java.time.Duration` overload. However, the CL has been stalled because we're trying to determine what to do for the parameter and return types re. legacy, soft-deprecated `com.google.common.base.Supplier` vs. Java's `java.util.function.Supplier`.

Should we accept the `j.u.f.Supplier` but re

[2018-05-30 14:45] #3160 closed

[2018-05-30 15:29] cowwoc commented on #3169
@kluever
My 2 cents: all Guava APIs that expect a `c.g.c.b.Supplier` argument should allow `j.u.f.Supplier` as well. Where they don't already do so, overloads should be added. I would even go so far as formally deprecating `c.g.c.b.Supplier` explicitly.

Once this is done, I see no benefit in returning `com.google.common.base.Supplier`.

[2018-05-30 15:45] cowwoc commented on #3169
@kluever I would suggest hard-deprecating `c.g.c.b.Supplier` to simplify these kind of decisions. That being said, here is my reasoning:

* Users want to use a new Java 8 API: `Duration`
* This means their codebase has access to `j.u.f.Supplier`
* If we use `j.u.f.Supplier` exclusively, we're telling them if you want to use this Java8-specific API then you also need to update your code to use this

[2018-05-30 17:52] kluever commented on #3169
I tend to agree with you. It is a _little_ weird that we're mixing APIs that accept/return `c.g.c.b.Supplier` and `j.u.f.Supplier` in a class called `c.g.c.b.Suppliers`, but I'm not sure where else they would go.

[2018-05-31 17:27] #3147 closed

[2018-06-01 16:23] cpovirk commented on #3153
I see https://github.com/tbroyer/gwt-maven-plugin/issues/111 that suggested that GWT itself is responsible. I'll try to keep an eye out for anything you file against them.

One other thought: Is `--generateJsInteropExports` necessary here -- on `guava-gwt` or on your project?

[2018-06-01 16:33] cpovirk commented on #3153
(Setting `<generateJsInteropExports>` in the `guava-gwt` `gwt-maven-plugin` `compile` configuration has no effect on the output jar. But I don't know if it affects downstream projects somehow.)

[2018-06-03 08:05] nikhilbarar commented on #1266
Can i pick this up as my first contribution?

@kluever checkArgument(T, boolean) or checkArgument(T, boolean, String) also has T as return type instead of void for checkArgument(boolean) or checkArgument(boolean, String). Shouldn't this be okay as per overloading best practices as this won't count as overloaded copies of checkArgument. Please correct me if I'm wrong.

Also, can someone please expl

[2018-06-03 08:59] nikhilbarar commented on #3169
Can i pick this up?

Will this work:

[code]

[2018-06-04 02:05] kluever commented on #3169
@nikhilbarar thanks for the offer, but I actually have a pending change out for this - we just need to work through the Guava Supplier vs. JDK Supplier issue.

[2018-06-04 02:06] kluever commented on #1266
I suspect we're leaning towards not doing this proposal... maybe @kevinb9n has some thoughts on it?

[2018-06-04 03:37] nikhilbarar commented on #3131
Is this still open? Can i pick it?

[2018-06-04 04:10] nikhilbarar commented on #2467
Is this issue still open?

[2018-06-04 10:41] kishorebattula opened #3172 "Will it be performant to use bufferedOutputStream in FilebackedOutputStream"
In FilebackedOutputStream we are using the following line
`FileOutputStream transfer = new FileOutputStream(temp)`
and we are using transfer.write to write bytes to this stream. Can we wrap FileOuputStream with bufferedOutputStream for better performance while writing?
Any thoughts on this?

[2018-06-04 13:34] leventov opened #3173 "Files.java uses Closer where try-with-resources would be enough"
It seems to me that https://github.com/google/guava/blob/2cac83e70d77f0fa9b2352fe5ac994280fc3b028/guava/src/com/google/common/io/Files.java uses `Closer` at three places where try-with-resources statements would be enough.

[2018-06-04 13:51] leventov opened #3174 "Document synchronization guarantees of utilities for working with files"
It would be nice to document the synchronization guarantees of utilities for working with files, e. g. if data is saved on disk after `fileSource.copyTo(fileSink)` or not. As far as I understand none of the utilities in `com.google.common.io` package concerns about data safety, but still maybe note that explicitly in the package-level doc.

[2018-06-04 14:49] lowasser commented on #3131
We have not decided whether or not we think this ought to be added to Guava in the first place, but are leaning towards "it shouldn't."

[2018-06-04 14:56] nikhilbarar commented on #3173
Can i implement this?

[2018-06-04 14:57] ronshapiro commented on #3173
I believe the issue here is that try-with-resources is still not available on all versions of Android that we support. Is that right @cpovirk?

[2018-06-04 15:20] JakeWharton commented on #3173
It's on API 19+ natively or API 1+ with desugar/D8, which I'm not sure if you assume.

[2018-06-04 15:22] leventov commented on #3173
@ronshapiro but Android has a completely different source file https://github.com/google/guava/blob/master/android/guava/src/com/google/common/io/Files.java, isn't it?

[2018-06-04 15:23] ronshapiro commented on #3173
@leventov yes, but we try not to fork unless we feel a need. It adds extra work to maintain both.

@JakeWharton we don't yet at least

[2018-06-04 16:15] nikhilbarar commented on #3172
Any updates on this? Are we doing this?

[2018-06-04 17:49] nikhilbarar commented on #3060
Is this open? Can i pick it?

[2018-06-04 18:59] kevinb9n commented on #3060
Sorry, there's nothing to do on this right now.

[2018-06-04 19:02] nikhilbarar commented on #2956
Hi, Is this still open? Can i pick it?

[2018-06-04 19:06] nikhilbarar commented on #2550
Is this up for implementation?

[2018-06-04 19:06] nikhilbarar commented on #2473
Any update on this? Can i work on this?

[2018-06-05 13:24] sdavids opened #3175 "UsingProGuardWithGuava still mentions jsr305"
https://github.com/google/guava/wiki/UsingProGuardWithGuava

[2018-06-06 15:20] sandhu5 commented on #3116
[Test.java.zip](https://github.com/google/guava/files/2076902/Test.java.zip)

[2018-06-06 18:30] cpovirk commented on #2467
Yes, we'd be happy for a pull request, thanks.

[2018-06-07 08:49] magicDGS commented on #2939
@kluever or @ronshapiro - this is marked as triaged. Can I contribute with code implementing this algorithm?

[2018-06-07 15:45] kluever commented on #2939
Thanks for the HDF5 file format reference. Are you aware of any other use cases for this particular hash function? I assume you already have a need for it...is that for HDF5? Something else?

[2018-06-07 18:08] nikhilbarar commented on #2467
[PR #3176] (https://github.com/google/guava/pull/3176)

Please let me know if any changes are required. Thanks.

[2018-06-07 20:07] nikhilbarar commented on #2467
Hi, Do i need to add a custom entry implementation which checks for null values in the test case builder?

[2018-06-07 22:22] FranckDG opened #3177 "ImmutableRangeSet.intersection generates empty ranges"
ImmutableRangeSet.intersection can generate some empty ranges in specific cases. In my example, I have this:
- Set #1 contains this range [10210..10211)
- Set #2 contains this range (10210..10211]
- The resulting intersection set contains (10210..10211) which is essentially empty

[2018-06-07 22:34] jrtom commented on #3177
This is true.  It's not clear what you're suggesting should be done about this (if anything), though.

The documentation for [Range.isEmpty()](https://google.github.io/guava/releases/snapshot/api/docs/com/google/common/collect/Range.html#isEmpty--) may be of interest here.

[2018-06-07 22:39] kevinb9n commented on #3177
Yes, that documentation explains as a *Range*, such a case is not in fact "empty".

[2018-06-08 08:32] magicDGS commented on #2939
My main use case is HDF5 - but it might be useful for other projects too.

[2018-06-08 13:09] kluever commented on #2939
Thanks. Again, my consider is the same as it was back in Sept 2017. There's dozens of hash functions that we _could_ add to Guava -- we're trying to strike a balance and only include the very widely used ones.
Do you mind if we leave this request open for now to gather support? If we get a handful of +1s, then I'm happy to look at a pull request.

[2018-06-08 13:33] magicDGS commented on #2939
Fair enough. Thanks for considering!

[2018-06-09 18:08] FakeNeth commented on #902
+1

[2018-06-11 07:28] chaminiPrashakthi commented on #2393
I also use
` LoadingCache<String, List<ArchetypeConceptData>> loadingCache= CacheBuilder.newBuilder().expireAfterAccess(5, TimeUnit.MINUTES).build(cacheLoader);`

when loading dataI saw that some datas are missing there.(Data which was saved just now)
Is it alos happens due to guava issue?

[2018-06-11 16:27] #3177 closed

[2018-06-11 16:28] lowasser commented on #3177
A reliable way of addressing this is to canonicalize all ranges in all the RangeSets.  But a RangeSet cannot, by itself, canonicalize ranges or determine that that range is "empty," since it isn't .isEmpty.

[2018-06-12 14:12] jbee opened #3178 "Iterables.concat has unexpected behaviour"
I was looking for a convenient way to build a `Iterable` for a collection of `Iterable`s and tried `Iterables.concat(Iterable<? extends Iterable<? extends T>> inputs)` (v25.1)

My expectation is that this is functionally equivalent to iterating all `Iterable`s and appending all the elements into a new collection that is the merged `Iterable` (just without creating an actual intermediate collection

[2018-06-12 14:42] jrtom commented on #3178
If you can provide a self-contained example that demonstrates the behavior you're talking about, then we can try to investigate it.  Otherwise, it's going to be difficult to help you.

[2018-06-12 15:24] jbee commented on #3178
I wasn't asking for help. Just wanted to point your attention to something that might be a defect. I have no small self-contained example I can give you therefore I gave you two scenarios that work as expected (my naive `Iterable` of `Iterable`s and building an intermediate list) while `Iterables.concat` does not.

[2018-06-12 15:39] kevinb9n commented on #3178
Thanks for trying to report this problem, but unfortunately there's no way for us to take action on your report. We would need to try writing random variations of code until we just happened to stumble upon a bug, which might be the same as whatever problem you observed. But we already tried testing everything we could think of and have thousands of internal usages that seem to be working. If you

[2018-06-12 15:39] #3178 closed

[2018-06-12 16:27] nikhilbarar commented on #1266
Any updates on this?

[2018-06-12 16:38] cpovirk commented on #3173
[We currently target API 15.](https://github.com/google/guava/blob/c2f8967beb5a6feb9b104739d453dc116982a76a/README.md#important-warnings) I don't have a good feel for whether it's safe to assume Desugar/D8. It hasn't been a priority to figure out, since it's almost entirely a question of whether we can use `try-with-resources` internally. We may want to figure that out as Desugar/D8 evolves to do

[2018-06-12 16:38] cpovirk commented on #2550
We don't have a plan here yet, sorry. We might be able to replace the current overloads with ones that use the Java 8 types, but we'll have to see what the impact is.

[2018-06-12 17:15] kluever commented on #1266
I have an old proposal called "Truth Checks" that is basically [Truth](https://github.com/google/truth) for `Preconditions`. For example, you could write:
[code]

It's been stalled for a long time, mostly because we don't want to introduce a new competing library with Preconditions. There's also the question of performance/object allocation (which Preconditions has zero of), but this would unfortu

[2018-06-12 17:16] jbee commented on #3178
Debugged it. Problem occurs in case the underlying iterators behave differently in case `hasNext` is called multiple times before `next` is called. So this is not strictly a defect in `ConcatenatedIterator` but its implementation could avoid the problem by making sure `hasNext` is only called once before `next` is called.

[2018-06-12 17:32] kevinb9n commented on #3178
Thanks for looking into it. An iterator whose `hasNext` changes the iterator's observable state is broken, so we would not be inclined to modify our implementation to work around that.

[2018-06-12 17:36] cpovirk commented on #2467
I think the implementation you added for `testsForHashMapNullValuesForbidden` is the right thing to do, yes. Sorry for not reviewing this sooner.

[2018-06-12 18:12] nikhilbarar commented on #2467
Thanks Chris for the reply. I was just wondering if there's any other way to provide custom implementation for all entry points to a Map, like `put` and `entry.setValue`, which reduces the boilerplate code.

[2018-06-12 18:45] cpovirk commented on #2467
Not to my knowledge, unfortunately.

[2018-06-13 08:05] simonsfan opened #3180 "how to use RateLimiter in the actual project？"
hello ,i am new learner from china,i am confused about the how to use RateLimiter in actual project.
i use it like that :
---------------------------------------------
@Controller
@RequestMapping(value = "/junelsgift")
public class JuneLSGiftContrller extends CommonControl {

    static RateLimiter rateLimiter;

    static {
        rateLimiter = RateLimiter.create(1.0);
    }
    @ResponseBody

[2018-06-13 08:59] cardamon commented on #3180
You may end up with lots of blocked threads that way. Doing this at the container level might be more appropriate.
E.g. if you use Tomcat:
* http://tomcat.apache.org/tomcat-8.0-doc/config/valve.html#Semaphore_Valve

Or Jetty:
* https://www.eclipse.org/jetty/documentation/current/dos-filter.html
* https://www.eclipse.org/jetty/documentation/current/qos-filter.html

Etc.

[2018-06-13 18:39] nikhilbarar commented on #1966
Can i pick this?

[2018-06-13 18:40] nikhilbarar commented on #1901
Is it open? I'd like to send a PR for this

[2018-06-13 18:40] nikhilbarar commented on #1325
Any update on this? Can i pick it

[2018-06-13 18:45] cpovirk commented on #1901
Kevin [recently said](https://github.com/google/guava/issues/3135#issuecomment-387107841):

I'll close this and any other `Optional` feature requests I see floating around.

[2018-06-13 18:45] #1901 closed

[2018-06-13 18:47] cpovirk commented on #1799
Kevin [recently said](https://github.com/google/guava/issues/3135#issuecomment-387107841):

I'm closing this and any other `Optional` feature requests I see floating around.

[2018-06-13 18:47] #1799 closed

[2018-06-13 18:48] cpovirk commented on #1450
Kevin [recently said](https://github.com/google/guava/issues/3135#issuecomment-387107841):

I'm closing this and any other `Optional` feature requests I see floating around.

[2018-06-13 18:48] #1450 closed

[2018-06-13 18:48] cpovirk commented on #1171
Kevin [recently said](https://github.com/google/guava/issues/3135#issuecomment-387107841):

I'm closing this and any other `Optional` feature requests I see floating around.

[2018-06-13 18:48] #1171 closed

[2018-06-13 18:52] cpovirk commented on #1966
Unfortunately, the hard part of many of these changes is the cleanup of our internal depot. If you want to try to get a PR together, I can try to submit any parts of it that pass internally. However, I wouldn't guarantee that _any_ of it will pass internally, so the PR might sit until one of us internally can find the time to do the internal cleanup.

[2018-06-13 19:52] SaltOfTheFlame commented on #902
+1

[2018-06-13 19:55] nikhilbarar commented on #3165
I'd like to send a PR for this.

If i understand this correctly, we need to add the Immutable annotation to classes which are listed as Immutable in Error Prone, right?

[2018-06-13 20:01] kevinb9n commented on #1325
There isn't ample justification for this.

[2018-06-13 20:01] #1325 closed

[2018-06-13 20:09] kevinb9n commented on #1266
Even if we do something like that, we aren't going to just overload `checkArgument`, so I'm closing this.

[2018-06-13 20:09] #1266 closed

[2018-06-13 20:10] cpovirk commented on #3165
That's the idea. To verify that the classes pass Error Prone's tests, you'd have to [set up our Maven build to use Error Prone](https://errorprone.info/docs/installation). Some of them won't pass the tests initially, so we may need to have some discussions to figure out what to do. As a start, though, if you want to set up Error Prone, that would be a useful thing to have on in any case.

[2018-06-13 20:11] kevinb9n commented on #2473
There is no justification given for why this is a useful feature.

[2018-06-13 20:11] #2473 closed

[2018-06-13 20:11] #3131 closed

[2018-06-13 20:13] rgoldberg commented on #3165
I imagine that all types documented as immutable (which should include all
types whose name begins with “Immutable”, and all types that Error Prone
considers immutable) should be annotated with @Immutable (including any
appropriate values for containerOf).

I don’t know about the problems already, or expected to be, encountered.

I saw a few threads about Guava possibly migrating annotations packa

[2018-06-13 20:13] kevinb9n commented on #3165
Note that the `containerOf` attribute is being rethought - possibly changed to a boolean, possibly with its default reversed, or other possibilities. I wouldn't do anything on this right now.

[2018-06-13 20:15] kevinb9n commented on #3172
I think the precedent is that OutputStream implementations should not bake in their own buffering as it just results in costly redundant buffering. The user should wrap `transfer` in a `BOS` if they want to.

[2018-06-13 20:18] kevinb9n commented on #3172
Sorry, I misunderstood.

[2018-06-14 08:29] simonsfan commented on #3180
ok，i will see it in detail，thanks two brother !

[2018-06-14 12:55] turbanoff opened #3181 "Use ConcurrentHashMap.newKeySet() as newConcurrentHashSet"
Method ConcurrentHashMap.newKeySet() was introduced in java 8.
It can be used to create concurrent hash set implementation. It can be faster that Collections.newSetFromMap as it removes one indirection level - https://stackoverflow.com/a/32054823/272742

[2018-06-14 16:17] jiraky90 opened #3182 "InternetDomainName possibly misbehaving — request for clarification"
I'm finding troubles in understanding the behaviour of the method `com.google.common.net.InternetDomainName#isValid(String domain)`.
It is supposed to validate a domain name but with certain inputs such as the following it looks like it is misbehaving. For example:
[code]
For each one of them the method returns `true`.
In comparison, the Apache `org.apache.commons.validator.routines.DomainValidato

[2018-06-14 17:28] cgdecker commented on #3182
It looks to me like this behavior is intended because those strings could, syntactically, be domain names.

@cdberry is my understanding correct?

[2018-06-14 17:35] cgdecker commented on #3181
I think that the advantages of using `newKeySet()` are likely extremely minimal, and as such it's not worth introducing an additional diff between the JRE and Android flavors of Guava for this. That said, I could definitely see doing this at whatever point in the future we can use Java 8 APIs everywhere in Guava, so I'm leaving this open.

[2018-06-14 17:35] cdberry commented on #3182
Yes, that's the correct behavior. isValid simply checks that the form of the string is syntactically correct per the relevant RFCs. If you want to determine whether the string represents a plausible host address, you probably want InternetDomainName#hasPublicSuffix:

https://google.github.io/guava/releases/snapshot/api/docs/com/google/common/net/InternetDomainName.html#hasPublicSuffix--

There's a

[2018-06-14 17:38] cgdecker commented on #3182
Thanks!

[2018-06-14 17:38] #3182 closed

[2018-06-15 06:49] mjd507 opened #3183 "find two same `Striped64.java` files in guava, is this intentional ?"
https://github.com/google/guava/blob/master/guava/src/com/google/common/cache/Striped64.java
https://github.com/google/guava/blob/master/guava/src/com/google/common/hash/Striped64.java

[2018-06-15 14:29] kluever commented on #3183
Yep, we don't want them to be public APIs, so the only way to use them in both packages is to make 2 copies.

What I didn't realize is that `LongAdder` actually made its way into Java8. I suspect we can delete our copies of `Striped64` and `LongAdder` in our Java8 branch. @lowasser ?

[2018-06-15 20:16] lowasser commented on #3183
I think this would break GWT/J2CL.

[2018-06-18 21:34] cpovirk commented on #1548
Fixed in a change that will be mirrored out shortly.

[2018-06-18 21:34] #1548 closed

[2018-06-20 08:24] MischenkoSV opened #3184 "Add MediaType application/hal+json"
Please, add media type "application/hal+json" (https://tools.ietf.org/html/draft-kelly-json-hal-08#section-3).

[2018-06-21 17:05] rgoldberg opened #3185 "Should RangeSet #asRanges() & #asDescendingSetOfRanges() return NavigableSet<Range<C>>?"
Should `RangeSet#asRanges()` & `RangeSet#asDescendingSetOfRanges()` return `NavigableSet<Range<C>>`?

[2018-06-21 17:17] lowasser commented on #3185
No, that's WAI.  There is not a sensible `Comparator` to use there.

[2018-06-21 17:17] #3185 closed

[2018-06-23 10:14] nikhilbarar commented on #3172
@kevinb9n Can i pick it? Do we have any performace tests available?

[2018-06-23 10:22] nikhilbarar commented on #3049
@cpovirk Can i send a PR for the changes if any required?

[2018-06-23 10:50] nikhilbarar commented on #3112
Can i pick this?

[2018-06-23 11:34] nikhilbarar commented on #3051
Are we doing this?

[2018-06-23 20:09] amcp commented on #3112
Yes please do whatever necessary to get included in guava upstream. Mention/Add me to the PR so I can review.

[2018-06-24 20:54] martinm1000 commented on #3096
Were still waiting for the input of @lowasser on this. If more people need something like this, the better!
you might also have other needs or comments on this too ?

[2018-06-24 21:16] lowasser commented on #3096
The intention of the API design was, in fact, to do what @cpovirk suggested.  I'm inclined to think the API is complicated enough without further bells and whistles: the intention was that you could build more complicated operations out of the narrower set we provide.

[2018-06-25 14:52] hendraanggrian commented on #1658
Worth nothing that this is supported since JDK 9.

[2018-06-25 20:55] NateUniAccount opened #3187 "Please make graphs and graph builders public and non-final"
Great library!

I'd like to extend a graph class so as to replace the huge type name it generates with a shorter one more germane to my usage. When a graph gets built, it's type name is something like `MutableValueGraph<SourceElement, SourceRelationship>` whereas I'd like to extend it with a class called `SourceGraph`...much better! The graph builder classes don't allow changes to build a custom g

[2018-06-25 21:05] cpovirk commented on #3187
Extending classes to provide `typedef`-like functionality usually doesn't go well: As soon as you call a method like `transitiveClosure`, you have a `Graph` that isn't of the right type anymore.

You could consider creating a `SourceGraph` type that contains an instance of `MutableValueGraph<SourceElement, SourceRelationship>`, but of course then you either need to copy the methods you're interest

[2018-06-25 21:05] #3187 closed

[2018-06-25 21:10] cpovirk commented on #3049
This has turned out to look more complicated than we'd hoped, but we could take a patch if you get it working.

[2018-06-26 16:40] jrtom commented on #3187
Side note: generally speaking, the only time that one should be working with the `Mutable` types is when they are modifying the graph, or are returning a graph that their callers will expect to be modifiable.  Otherwise you should (in this case) be using `ValueGraph<...>`.

(`ValueGraph` and its siblings are, of course, also interfaces that you can create subtypes of.)

[2018-06-26 20:42] NateUniAccount commented on #3187
To be fair, calling transitiveClosure doesn't respect the original graph class anyway even if it's a guava graph class. Yeah forwarding or copy-paste seem to be the only options but I was kinda hoping to avoid them. Think I'm gonna go with jgrapht because it's a bit more open even though it's not as clean.
Anyway thanks for the quick reply, much appreciated!

[2018-06-26 20:58] jrtom commented on #3187
Not sure what you mean by saying that`transitiveClosure` "doesn't respect the original graph class".   It necessarily creates a new graph instance, so as to avoid mutating its input.  How would you expect it to work, and why would you expect it to return a particular type other than `Graph<N>`?

For what it's worth, we've considered polishing up and making public the `Forwarding*` classes that com

[2018-06-26 22:52] jbduncan commented on #3187
I'm kind of curious to know as well what you mean by "transitiveClosure doesn't respect the original graph class". Did you mean that you expect the returned graph to be of the exact same type as the original graph? Or did you mean something else?

[2018-06-27 02:47] NateUniAccount commented on #3187
I don't have any expectations about the method, just mentioned it because it was put forward as a reason against allowing extending the Graph sub-classes, when the same can be said of the other sub-classes.
I'm not trying to change how you do things! This was literally just to save me typing half a dozen words every now and then lol
FWIW there are several ways it could return the same type but am

[2018-06-27 09:21] vipcxj commented on #1782
Google is a big company and the libraries they develop always give priority to their own services. They should have a very strict set of development rules inside. All internal developers must follow this set of rules from the beginning. So what they developed always used these rules as axioms. But we are freelance developers and we do not have to follow these rules. Even if a lot of rules are good

[2018-06-27 12:09] leventov opened #3188 "Avoid FileInputStream and FileOutputStream"
Since they override `finalize()` in OpenJDK, I think it's better to avoid instantiating those classes in `FileByteSource` and `FileByteSink`, instead using `Files.newInputStream` and `newOutputStream`.

[2018-06-27 15:11] cpovirk commented on #3187
I'm to blame for starting that part of the discussion :) I probably overstated things. I know I have seen problems in the past when people (including me) tried a "typedef" like this, but it's been a while, and I don't remember the details well. So while I still wouldn't recommend the pattern in general, it might well work OK in your case.

(I managed to dig up [The pseudo-typedef antipattern](http

[2018-06-27 15:33] jrtom commented on #1782
Kevin and others have been saying that Guava is not going to revisit the decision to not support `null` for about four years now.  All of the arguments for not doing so are still in force.  We understand that you may want to have an immutable `Map` that allows null values, but this class is not going to do that, Guava is not going to do that, and people saying that they really want this feature is

[2018-06-27 20:32] #2478 closed

[2018-06-27 20:48] cgdecker commented on #2616
Based on the responses I got when we discussed this internally earlier this year, I'm going to close this. As @cpovirk said above, the main issue with this is that the use cases for this are very limited, especially given that `ZipFile` (and even the decryption use case above, though it might not be ideal there) can be handled using `ByteSource`.

For what it's worth, I will note that I made some

[2018-06-27 20:48] #2616 closed

[2018-06-27 20:51] tvanhill opened #3189 "LocalCache.Segment.clear() does not lock if count == 0"
There appears to be a bug in LocalCache.Segment.clear(). LocalCache.Segment.clear() has been "optimized" to exit out early if the count == 0. Due to this, clear() will not clear any entries currently being loaded by lockedGetOrLoad(). Note that this same optimization does not exist in Segment.remove(Object key, int hash).

This causes an issue if the Cache.invalidateAll() method is called while th

[2018-06-27 20:51] #2657 closed

[2018-06-27 20:53] #2095 closed

[2018-06-27 21:04] cgdecker commented on #3188
I'm not sure that it's worth doing this right now since it would require creating another diff between the JRE/Android flavors, since Android didn't support `java.nio.file` at all until API level 26 (Android O).

[2018-06-27 21:23] lowasser commented on #3189
I'm not sure this violates the spec.  I'm not sure I understand how this is different from `clear()` just normally racing with other operations, in which case which operation finishes first is undefined.

[2018-06-28 13:24] tvanhill commented on #3189
I don't know that it breaks the spec as I don't see anything in the javadoc explaining how it should work (of course I could be missing something). The LoadingCache interface simply states that "Implementations of this interface are expected to be thread-safe, and can be safely accessed by multiple concurrent threads." The javadoc for the three invalidate methods has no mention of thread safety or

[2018-06-28 14:11] cpovirk commented on #3188
Ooo, I hadn't thought about Android. That raises an interesting point, which is that the code diff between flavors would produce a _behavior_ diff. And of course it's also a behavior diff versus previous versions of Guava. That's the point, after all :) But it could also mean that someone updates a project's version of Guava (or builds against guava-android and then runs against guava-jre) and sud

[2018-06-28 14:38] leventov commented on #3188
https://bugs.openjdk.java.net/browse/JDK-8080225

Guava itself could just prefer to use `MoreFiles.asByteSource()` and `asByteSink()`.

This is probably not a great idea, because `FileInputStream.finalize()` is already annotated as `@Deprecated(forRemoval=true)`

[2018-06-28 14:57] mlmitch commented on #2616
@cgdecker You marked #3054 as a duplicate since it was contained in this issue.

Can you reconsider making
`static byte[] toByteArray(InputStream in, long expectedSize)`
public in `ByteStreams.java`?

It is a static utility method that provides useful functionality as is. I can't think of a reason for it not to be public.

[2018-06-28 15:03] cpovirk commented on #3188
Oh, nice, thanks. I should have opened that Java 10 `src.zip` that I just downloaded the other day... or at least read [the docs](https://docs.oracle.com/javase/10/docs/api/java/io/FileInputStream.html#finalize()) :) Although the docs are pretty confusing: "Ensures that the `close()` method of this file input stream is called when there are no more references to it. The `finalize()` method does no

[2018-06-28 15:21] leventov opened #3190 "Potential issues with File.length() calls in Files"
3 calls to `File.length()` in [`Files`](https://github.com/google/guava/blob/0cd4e9faa1360da4a343f84cb275d6eda0c5e732/guava/src/com/google/common/io/Files.java): in `FileByteSource.sizeIfKnown()`, `FileByteSource.size()` and `Files.map()` might be problematic because they don't check if `File.length()` returns 0 or not, that may signify an I/O error.

[2018-06-28 16:57] elbaulp opened #3192 "Feature Request: Make MinMaxPriorityQueue Serializable"
[Long time ago someone proposed to serialize some collections](https://github.com/google/guava/issues/615). It would be nice if one of them were MinMaxPriorityQueue.

For a few days I am struggling with unexpected functionality in my Flink application, and now it seems I found the problem. Its because MinMaxPriorityQueue is not serializable.

You can check the following links:

- https://stackover

[2018-06-28 18:00] cgdecker commented on #3190
Other than changing `Files.asByteSource` to delegate to `MoreFiles.asByteSource` (which, as I mentioned in the other issue, we could only do for non-Android), there's not much we can do about this. That said, maybe it's worth the diff if it solves both this and the finalizer thing.

[2018-06-28 18:06] cgdecker commented on #3190
That said, I'm also not terribly worried about this in practice: both `size()` and `sizeIfKnown()` check `file.isFile()` before trying to read the length, which seems highly likely to return `false` if the file doesn't exist or there's any issue that would cause the code to be unable to read the attributes of the file, which seems like the most likely error cases where `length()` would return 0.

[2018-06-28 18:29] leventov commented on #3190
I probably realise the problem now: there is no way to distinguish benign file size of 0 from an I/O error. However, at least in case of `Files.map()`, it might be worthwhile to resort to `RandomAccessFile.length()` (JDK 1.0+), since file descriptor is created later in this procedure anyway.

[2018-06-28 18:58] jbduncan commented on #3192
Effective Java 3rd Edition, Item 85: "Prefer alternatives to Java serialization" provides a great explanation IMO of why one should avoid Java's built-in serialization if at all possible (basically, it opens up Java applications to a very big, difficult-to-avoid security hole by today's standards), but I recognise that perhaps Flink doesn't provide a way of serializing MinMaxPriorityQueue without

[2018-06-28 19:59] cgdecker commented on #3190
Yeah exactly, that's the main issue here with the `File.length()` API itself.

Good suggestion about getting the file size later. I'm making that change.

[2018-06-29 06:19] tlinkowski commented on #3192
I agree that making `MinMaxPriorityQueue` `Serializable` does not sound like a good idea.

As @jbduncan mentioned, Java serialization is considered risky, and there are even [plans to remove it at all](https://www.infoworld.com/article/3275924/java/oracle-plans-to-dump-risky-java-serialization.html).

[2018-06-29 07:13] orionll opened #3194 "Streams.forEachWithIndex"
I often need a traversal of a Stream with an index. The current API is not very convenient:

[code]

Or:

[code]

Can we make a method `Stream.forEachWithIndex(Stream<T>, ObjLongConsumer<? super T>)`?

[2018-06-29 07:17] orionll commented on #3194
Sorry. Someone already reported this: #2913

[2018-06-29 07:18] orionll commented on #2913
`ConsumerWithIndex` is unnecessary. There is already `ObjLongConsumer<T>` in java.util.function.

[2018-06-29 07:32] elbaulp commented on #3192
Thanks both (@tlinkowski & @jbduncan) for your reply. I didn't know it
was so risky.

@jbduncan I am trying to apply
[Tomasz](https://stackoverflow.com/a/51089059/2252930) answer to my
question in scala. I will inform you as soon as I try it.

--
elbauldelprogramador.com

[2018-06-29 10:30] orionll commented on #1073
`FluentIterable.of(E, E...)` still doesn't have `@SafeVarargs`

[2018-06-29 11:45] perceptron8 commented on #2913
@orionll True, but I was trying to follow reasoning from https://github.com/google/guava/wiki/IdeaGraveyard#functionspredicates-for-n--2-inputs. `Streams.ConsumerWithIndex` would be more specialized than `ObjLongConsumer`, and it's name would be analogous to `Streams.FunctionWithIndex`.

[2018-06-29 17:40] #3194 closed

[2018-06-30 09:19] orionll commented on #2913
@perceptron8 FunctionWithIndex exists only because there is no ObjLongBiFunction in Java. However, ObjLongConsumer does exist, so I see no good reason to create a duplicate.

[2018-06-30 19:20] Lanchon commented on #2616
too bad you consider something that both you and i need and use (you use it internally) as being of no use. IMHO implementing `ByteSource` to do the work of what should be a static method call is obscure, verbose, error prone, and plain ridiculous. and although i aplaude the efforts on `ByteStreams.toByteArray`, its performance will never come close to allocating an array once of the expected size

[2018-06-30 19:44] Lanchon commented on #2616
btw, you already implemented all of what i proposed here in 6cd80a9443ab2d8f15c8bff60b289e3b5d94a9d0 (including deleting `Files.readFile`) except for the check

[code]

and making the new method `ByteStreams.toByteArray(InputStream in, long expectedSize)` public.

[2018-06-30 20:07] Lanchon commented on #2616
i also want to comment on this:

`ByteStreams.readFully` is not an option. it will throw if the file is shorter than expected, but it will silently fail (misbehave) if the file length was increased under its feet, potentially returning a byte array that is not representative of any file state.

what is needed is a **performance hint** to a robust helper, not some brittle alternative that you canno

[2018-07-01 18:14] ekuvardin opened #3195 "Problems with padding"
Hi.

In class `com.google.common.util.concurrent.Striped`
   in private classes `PaddedLock` and `PaddedSemaphore` we can see additional fields means padding to 64 length according to comment in `PaddedLock`

When I use JOL(Java object Layout) on this class I have found output below( Ws7 x64 Oracle Java 8)

[code]

As you can see current amount -  40 bytes not equivalent to 64 as comment said. Mor

[2018-07-02 08:11] asarkar opened #3196 "Sorted BiMap"
Use case: [Move-to-front transform](https://en.wikipedia.org/wiki/Move-to-front_transform)

In order to implement the above algorithm efficiently (worst case `O(logn)` for each operation), I need to be able to look up the timestamp associated with a character from a hash table, and then find the position of the timestamp in an ordered set. I use a `HashMap` and a `TreeSet`, respectively.
[code]

I

[2018-07-03 00:38] ben-manes commented on #3195
I think a benchmark to justify padding should be used before making any changes. The overhead of locking might defeat any gains, whereas a more basic operation like a counter would see such gains.

[2018-07-03 01:01] epkugelmass opened #3198 "Address remaining JSR-305 annotations"
The (partial) transition from "JSR-305" nullability annotations to Checker Framework annotations in 23.6 [1] was a welcome change. However, the remaining JSR-305 annotation usages like "package-level" nullability default [2] make it difficult for FindBugs users to use Guava >= 23.6. FindBugs does not recognize the new Checker Qual annotations and so reasons that null-tolerant methods like `ToStrin

[2018-07-03 18:06] jrtom commented on #3187
@NateUniAccount Thanks for the additional context.  A few quick responses for future reference:

* `clone()` seems like a bad fit because that implies "create a copy of this object" rather than "create a new instance of this object's type".
* `graph.getClass().newInstance()` would be a better fit conceptually, but I don't like using reflection unless it's absolutely necessary.
* I'm not sure what

[2018-07-03 20:31] cgdecker commented on #3198
Marking as a duplicate of #2960 which is still open for tracking this issue. AFAIK we still need Jetbrains to do something so that we won't break Kotlin users by migrating away from `@ParametersAreNonNullByDefault`.

[2018-07-03 20:31] #3198 closed

[2018-07-03 20:33] cgdecker commented on #3192
I think we would generally prefer to avoid making more things serializable, though with all the serializable collection types we already have I wouldn't necessarily rule this out.

[2018-07-03 23:42] Maaartinus commented on #3187
@jrtom

I'd bet, he meant an instance method returning a new empty instance (just like `graph.getClass().newInstance()`, but implemented any way you like). Anyway, given the `GraphBuilder`, it's not needed.

IMHO it's much easier, but maybe `toBuilder()` would be a better name as `builder()` is normally the static method (and some classes might need both).

[2018-07-03 23:55] jrtom commented on #3187
The benefit of having an instance method that would return a new empty instance, versus `GraphBuilder`, would be that you could have it return your particular subtype of `Graph` (or whatever); the original concern was that since `GraphBuilder` is `final` that he couldn't create his own subclass of it that would return his own `Graph` subtype.

I agree that `toBuilder()` is a better name for that h

[2018-07-04 00:41] Maaartinus commented on #3187
Damn... I guess, I should get more sleep. ;)

[2018-07-04 10:46] elbaulp commented on #3192
@jbduncan After trying the answer proposed by @tlinkowski without luck, I finally implemented other solution ([you can check it here](https://stackoverflow.com/a/51106451/1612432)).

Could you guys explain to me why it is a security risk to Serialize some collections? I would like to know.

Best

/cc @cgdecker

[2018-07-05 03:11] tuanhiep12 commented on #2152
Im having a similar issue. I have a springboot project. And this block of code:

[code]

Output is:

[code]
I can run on intellij successfully. But when I package project to a jar file and run `java -jar <filename.jar>`, getTopLevelClasses method returns an emty list while getAllClasses method returns non-empty list. I'm using guava version 25.1-jre. same situation in version 19.0.

[2018-07-05 15:38] elbaulp commented on #3192
@jbduncan Thank you very much!

[2018-07-05 20:58] romeara commented on #1782
@orbfish , @nitehawk42 , @Ryaryu , @codeseedr - In response to @jrtom 's suggestion for a group to get together to create a library if such things would be useful, I am working on a lighter-weight variant of Guava that is also less opinionated in matters like these, and I'd be happy to have others help contribute to it. The project is https://github.com/StarChart-Labs/alloy, and the corresponding

[2018-07-07 16:21] perezd opened #3199 "Support for JWTs"
I'd love to see JWT support in Guava, Auth0 team has an example java impl that relies on apache commons and jackson. I'd love to see this done with Guava primitives instead and exposed as a proper API from Guava.
https://github.com/auth0/java-jwt/tree/master/lib/src/main/java/com/auth0/jwt

[2018-07-08 02:13] cea87 opened #3200 "RandomAccessFile.length()"

[2018-07-08 15:02] clessiomendes opened #3201 "CaseFormat improvement: Translate accented characters"
Docs say explicitly that non ASCII characters are not guaranteed to be upper/lowercased when using CaseFormat. Think it should not be difficult to include special characters from the [Latin](http://www.madore.org/~david/computers/unicode/cstab.html#Latin-1) character set to expand the library coverage beyong English speaking users.
Currently, `CaseFormat.to(CaseFormat.UPPER_CAMEL, "MANÉ")` gives u

[2018-07-09 13:47] ronshapiro commented on #3200
I'm going to close this since there's no description, and the referenced API is part of the JDK, not Guava. If you'd like to provide more information, we'd be happy to discuss!

[2018-07-09 13:47] #3200 closed

[2018-07-09 13:51] ronshapiro commented on #3201
Internationalization is a complicated problem space, and other libraries (like ICU4J) are better suited for handling these types of requests. I suspect that we probably won't want to take this on because it becomes very hard to cover all of the bases beyond ASCII, but I'll let @cgdecker and @cpovirk chime in too.

[2018-07-09 13:54] ronshapiro commented on #3199
Is this better suited in a library like Gson? Guava doesn't do anything with JSON currently

[2018-07-09 15:02] perezd commented on #3199
Possibly. JWT has way more to do with hashing and signing which is in the
Guava wheel house..but its encoded as JSON + base64.

On Mon, Jul 9, 2018 at 6:55 AM Ron Shapiro <notifications@github.com> wrote:

[2018-07-09 20:49] cpovirk commented on #3201
Yeah, `CaseFormat` is targeted mostly at names of identifiers in source code, and those usually contain only ASCII characters. We should probably document this better, but I don't envision branching out to internationalization use cases.

[2018-07-09 20:49] #3201 closed

[2018-07-10 16:11] cgdecker commented on #3199
This seems like something that could be implemented as a separate API using things from Guava, but it doesn't really seem to me like something we'd want to include in Guava. For the most part, where Guava includes things related to specific technologies such as this, they're extremely widely used things like HTTP and/or things that have been very commonly needed within Google. This also isn't some

[2018-07-10 16:11] #3199 closed

[2018-07-10 19:39] #3184 closed

[2018-07-12 18:18] nartz opened #3202 "cache.Weigher.weigh() should return a long instead of an int"
Currently, the `Weigher.weigh()` returns an `int`. However, setting the maximum cache weight (`.maximumWeight(long weight)`) uses a long.
[code]

**Proposal:**
Weigher#weigh to return a long, instead of an int. A use case would be when caching large files that have a large size in bytes (i.e. a 3gb file) - i understand this is not the main use case of this library.

**Positives:**
- Ability to hav

[2018-07-12 18:51] kdvolder commented on #2928
I disagree. The stacktrace is helpful because it will actually point directly to the point where the problem occurred (i.e where the value was being computed). Which usually what you want to know. Gramted, it won't point to the call that requested the value from the cache. But if guava library wanted to address that concern, it could do so simply by wrapping the exception in a new exception and us

[2018-07-12 19:32] kashike commented on #2758
Any update on this?

[2018-07-12 19:45] ronshapiro commented on #3202
Hm. This seems like an oversight from the beginning unless I'm missing something. There's even this explicit cast to an `int`: https://github.com/google/guava/blob/c9add81c4a0139747b23e8bf7054abbfb30b72e9/guava/src/com/google/common/cache/LocalCache.java#L267

I'm not sure there's a good way to change this without making a binary incompatible change, besides adding a `default` method in the Java 8

[2018-07-12 20:46] cgdecker commented on #3202
I'm not sure that it's an oversight. I think the reason the maximum weight is a `long` is so that you can potentially hold a lot of things that have weights that are a significant fraction of the max single-entry weight (i.e. `Integer.MAX_VALUE`).

And that cast to `int` isn't really relevant because it only happens when a custom `Weigher` _isn't_ used, i.e. when each entry has a weight of 1.

[2018-07-13 01:22] ben-manes commented on #3202
Yes, everything @cgdecker said is correct. For real world usages, accounting down to the byte for large values (>4GB) doesn't offer much value and would increase the per-entry overhead. The largest user at the time was Cassandra, which divided when using CLHM's `Weigher` (predecessor library but similar interface). For advanced usages like theirs with millions of entries the concern is GC overhead

[2018-07-13 03:15] nartz commented on #3202
I'm fine leaving this as is, as i understand keeping things simple and tight is usually a good thing; however, it might be nice to allow some sort of overriding that would let me use longs (or maybe this is already supported but im just not seeing it?)? I see the point about the cast performance hit as well with a generic type.

 I can always divide by a thousand i guess of course, just makes thin

[2018-07-13 13:59] leventov opened #3203 "MoreFiles.deleteRecursively() doesn't throw NoSuchFileException if the given path doesn't exist"
Instead, it throws a `FileSystemException` with a `NoSuchFileException` suppressed, making it impossible to distinguish "the root path doesn't exist" from "impossible to delete one of the children of the root path". That would be the way to implement "deleteRecursivelyIfExists" kind of operation, atomic with regard to the root existence:
[code]

BTW, it's not obvious what does _(optional specific

[2018-07-13 17:43] elharo commented on #2837
I just hit this in googleapis/api-common-java

[2018-07-13 17:49] cpovirk commented on #2837
Thanks, and sorry. Does https://github.com/google/guava/issues/2721#issuecomment-275220035 help?

[2018-07-13 18:14] cpovirk commented on #2837
I went and added this to the release notes for Guava 20 and 21, as I should have done a while ago.

[2018-07-16 16:05] cgdecker commented on #3202
I'm going to go ahead and close this, because I think it's unlikely we'll want to do anything about this.

[2018-07-16 16:05] #3202 closed

[2018-07-16 22:03] Pr0methean opened #3206 "Primitives feature request: variadic haahCode method"
It's often tempting to use `java.util.Objects.hash` to implement `hashCode()` for a POJO class. But if this is done with primitives, then it leads to unnecessary autoboxing and can hurt performance. Why not have `Longs.hashCode(long... values)` and so on for the other primitive types?

[2018-07-17 02:21] ben-manes commented on #3206
You still need to compose hashCodes when different types, so its less usable. You might prefer to use `HashCodeBuilder` from Apache Commons instead, which may not allocate thanks to escape analysis.

[2018-07-17 10:59] jayanth-ganganahalli opened #3207 "Not able to build the source code v18.0"
Hi,
I took source code from "https://github.com/google/guava/tree/v18.0". While trying to build, I am getting the below error:
"D:\NMS_NG\V1.0SinecDev\src>mvn clean verify
Done: MAVEN_OPTS="-Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.al
lowall=true -Dmaven.wagon.http.ssl.ignore.validity.dates=true"
[INFO] Scanning for projects...
[ERROR] [ERROR] Some problems were encountered while

[2018-07-17 19:33] bhardwick commented on #1392
This actually was a pretty good request. I was trying to do this today and ended up having to iterate the list twice... one to transform my objects to strings and then again to join. This is such a simple change and such a nice feature, its not clear to me why it was rejected.

[2018-07-17 19:50] kevinb9n commented on #1392
This is a basic issue of separation-of-concerns. Most libraries should have one clear purpose, but be composable with other utilities to get more complex behaviors. Joiner's purpose is to join things.

Side note: Joiner usage should probably be phased out in favor of new JDK 8 functionality such as Collectors.joining().

[2018-07-18 02:15] bhardwick commented on #1392
Interesting. I used Iterables.transform() and IntelliJ had me convert it to a stream/map/collect. If Iterables.transform() doesn't do the map/collect first but only does it when iterated, that is indeed a good solution.

[2018-07-18 04:41] deathbit opened #3208 "==Preconditions.checkPositionIndexes==wiki may be incorrect"
wiki says "Checks that [start, end)"
I think it should be [start, end]

hope for your reply

[2018-07-18 04:44] jonahgreenthal commented on #3208
Ranges in Java are almost always right-half-open. See e.g. [the documentation for `List.sublist()`](https://docs.oracle.com/javase/8/docs/api/java/util/List.html#subList-int-int-).

[2018-07-18 09:31] jbduncan commented on #1392
@bhardwick Yeah, IntelliJ is pretty zealous IMO when it suggests replacing Guava constructs like `Iterables.transform` with stream/map/collect (the former is _lazy_, whereas the latter is _eager_ despite being based on streams).

Thus I'd personally suggest that you treat those particular suggestions from IntelliJ with a pinch of salt. :)

[2018-07-18 14:11] cpovirk commented on #3208
The quote:

Like jonahgreenthal says, I think that's accurate but confusing. ["A position index may range from zero to `size`, inclusive."](https://google.github.io/guava/releases/snapshot/api/docs/com/google/common/base/Preconditions.html#checkPositionIndexes-int-int-int-), just like the indexes to a `subList` call.

The more direct statement would be something like:

[2018-07-18 18:47] awesomefei commented on #3203
Hello, I am new here and I wonder if I can join you guys and work on this stuff since this is low priority and seems a good starter?

[2018-07-19 16:00] thespags opened #3209 "Missing Performance Optimization for toArray of size zero"
After reading [“Arrays of Ancient Wisdom”](https://shipilev.net/blog/2016/arrays-wisdom-ancients/#_experimental_setup) I was curious as to `ImmutableList`'s and `ImmutableSet`'s performance. It turns out the zero case, `listOfStrings.toArray(new String[0])`, is not optimized for array backed collections as `ImmutableCollection`'s will create a new array of appropriate size so we don't get the use

[2018-07-19 17:38] NhatDinh opened #3210 "Quantiles.ScaleAndIndexes#computeInPlace throws an unexpected ArrayIndexOutOfBoundsException if the array indexes is empty"
In `Quantiles.ScaleAndIndexes#computeInPlace`, if the array `indexes` of `Quantiles.ScaleAndIndexes` is empty, an unexpected `ArrayIndexOutOfBoundsException` is thrown.
The problem is if the last argument(`int[] indexes`) of `Quantiles.ScaleAndIndexes` constructor is length of 0, `computeInPlace` passes an invalid negative value as the third argument to the private method `selectAllInPlace` and ca

[2018-07-19 17:43] NhatDinh commented on #3210
Link to proposed fix: [PR #3211](https://github.com/google/guava/pull/3211)

[2018-07-19 20:55] leventov opened #3212 "SecureDirectoryStream-based recursive file tree deletion doesn't always work in Docker"
I encountered a strange behaviour of `MoreFiles.deleteRecursively()` in a Docker container. It throws a `DirectoryNotEmptyException` at this line: https://github.com/google/guava/blob/34c1616279efe08089960aafd3df486cf8a04820/guava/src/com/google/common/io/MoreFiles.java#L626
It should never happen unless files are concurrently created in the directory, that shouldn't be the case.

I copied the log

[2018-07-20 12:58] rdicroce commented on #1791
It looks like this was fixed in commit 24b497e94f138792ccba0a284dada2c49f12296a and released in version 18. This issue should probably be closed now.

[2018-07-20 14:24] cpovirk commented on #1791
Thanks for catching that.

[2018-07-20 14:24] #1791 closed

[2018-07-20 15:45] netdpb commented on #3207
I don't think we can help you without seeing your configuration. We can't provide personalized support for Maven.

It looks like maybe you don't have all the source? (You're also trying to build quite an old version.) Have you asked on StackOverflow for help from the community?

[2018-07-20 15:45] #3207 closed

[2018-07-20 15:51] netdpb commented on #3212
Can you create a reproducible failure?

[2018-07-20 18:33] lowasser commented on #3209
Can you send us a pull request with this improvement?

[2018-07-20 21:34] thespags commented on #3209
Hi, I can send a pull request, but will they be a probably as I have to remove the final modifier from `ImmutableCollection#toArray(T[] other)`?

[2018-07-20 21:36] lowasser commented on #3209
All right, we can do it another way.

[2018-07-20 22:44] thespags commented on #3209
Great. I've added a PR: #3213. The PR doesn't address RegularImmutableAsList implementation which would probably want to defer to the delegateList similarly to `copyIntoArray` if you were going down that path.

[2018-07-23 10:36] samwho commented on #2503
My use case for `ComparisonChain` was implementing an `equals()` method while avoiding the usual pitfalls involved.

Consider the following example:

[code]

In this example, a `NullPointerException` is thrown if the private member `foo` is null.

I know that I could use `compare(this.foo, foo, Ordering.natural().nullsFirst())` but it feels, to me, that accepting nulls by default is not always bad

[2018-07-24 16:02] Felk commented on #2514
Any update on this? It would be really useful to have fair locking

[2018-07-25 18:01] cpovirk opened #3214 "AbstractSequentialIterator.of(UnaryOperator)"
`AbstractSequentialIterator` is very rarely used, but we could still consider this helper, which might encourage more people to use it by permitting lambda expressions:

https://github.com/google/guava/blob/34c1616279efe08089960aafd3df486cf8a04820/guava/src/com/google/common/collect/RegularContiguousSet.java#L80-L87

...becomes...

[code]

But I guess I'm not really that excited about that particu

[2018-07-25 18:05] cpovirk commented on #2785
(Kevin did that... though I may recall some problem using lambdas in certain cases because `from` is overloaded??)

[2018-07-25 18:06] jbduncan commented on #3214
How about `AbstractSequentialIterator.iterate` to mimic `Stream.iterate`?

[2018-07-25 18:24] cpovirk commented on #3214
OK, I am now pretty sure what the best method name would be :) Thanks.

Interestingly, `Stream.iterate` has a fair number of callers. That may suggest that `AbstractSequentialIterator` is underutilized (which I've somewhat suspected), or it may suggest that `Iterator` is even less important now that we have `Stream`. (And rarely did anyone have to implement `Iterator` in the first place, especiall

[2018-07-25 22:32] crazybob commented on #1029
Ran into this again:

[code]

[2018-07-26 14:06] cpovirk commented on #3214
I continue to think that we will probably never do this, but a few thoughts while it's still on my mind:

- If we provided a static method, the `AbstractSequentialIterator` type would no longer have any value. We wouldn't delete it, but we might want to put the new method on `Iterators`, where it might also be more discoverable.

- That would mean it becomes `Iterators.iterate`, though. Really, I

[2018-07-26 22:41] leventov opened #3215 "Closer's attempt to allocate a small stack doesn't work"
Here:
https://github.com/google/guava/blob/34c1616279efe08089960aafd3df486cf8a04820/guava/src/com/google/common/io/Closer.java#L107-L108

In OpenJDK, the minimum size of `ArrayDeque` is 8, so this attempt is worthless.

[2018-07-26 22:51] leventov commented on #3215
However, `ArrayDeque` has been improved in OpenJDK 9 to allow any sizes.

[2018-07-26 22:51] #3215 closed

[2018-07-27 08:56] ChristianCiach commented on #3214
I regard myself well versed in the tools offered by guava and never stumbled upon AbstractSequentialIterator. Maybe its existence is just not well known?

Anyway, thanks for the hint. I can think of some places in our codebase where this can come in handy :)

[2018-07-31 12:56] LuchistiyPirozhok commented on #1818
+1

[2018-07-31 17:38] CesiumLifeJacket opened #3219 "Feature request: escape percent sign in errorMessageTemplate of preconditions.checkArgument, etc."
If I do
`String.format("%%serialized: %s", "foobar")
`
I get back the string `"%serialized: foobar"`.

But if I do
`Preconditions.checkArgument(false, "%%serialized: %s", "foobar")
`
it throws the exception:
`"%foobarerialized: %s"`

This is not what I was hoping for, and the simplest workaround I can find is something like:
`Preconditions.checkArgument(false, "%%s: %s", "serialized", "foobar")`

[2018-07-31 20:36] cpovirk commented on #2514
I put this on our agenda to discuss on Thursday.

[2018-07-31 21:50] AndrewWestberg opened #3220 "Add reset() method to RateLimiter"
It's would be useful to be able to reset a RateLimiter to its initial state. For example, in a mobile app, if a user performs a logout and then logs in as a different user, you'd want to be able to reset any RateLimiters that were in place from the previous user.

[2018-08-01 04:12] Jaskey commented on #1110
I need LFU in guava, is this implemented in the latest guava version?

[2018-08-01 04:40] ben-manes commented on #1110
@Jaskey https://github.com/ben-manes/caffeine/wiki/Efficiency

[2018-08-01 19:15] Sadgrinner commented on #2685
Hoping to help others that also want this feature, I wanted to add a comment revising @jrtom 's example method at the top.

You can't use this directly:
[code]
... because the `GraphBuilder.from(graph).build()` line wants to return a `MutableGraph<N>`, not `MutableGraph<T>`.

You'll get an error message like this:

My alternate suggestion (which is strictly for directed graphs) is this:

[code]

T

[2018-08-01 19:38] jrtom commented on #2685
@Sadgrinner that's a good point, thanks for the catch.

A simpler approach would be to modify my original snippet to adapt the code from `GraphBuilder.from()` that creates a new instance based on an existing one:

[code]

That said, I agree that if the `Function` is super-slow that your version would be faster...but it's also the case that if the `Function` is super-slow that it could easily be ma

[2018-08-01 21:33] Sadgrinner commented on #2685
@jrtom That's better for sure!

Note though that this line:
[code]
won't work for the same `T`-versus-`N` problem: the original input graph's `.nodeOrder()` will return `com.google.common.graph.ElementOrder<N>`, whereas the `GraphBuilder<T>` demands an `ElementOrder<T>`.

Any suggestions there?

[2018-08-01 21:41] kevinb9n commented on #3220
Is the expected behavior equivalent to `setRate(sameValueThatWasUsedWhenCreating)`?

[2018-08-01 22:11] jrtom commented on #2685
@Sadgrinner whoops, another good catch.  :)

The most obvious way to deal with that is to just brute-force it, something like (I haven't checked the code below, just winging it):

Where this gets tricky

[code]

and then call `transformedNodeOrder(originalGraph, comparator)` instead of `graph.nodeOrder()`.

I think that should do it.  Needless to say, for cases where you don't have a comparator yo

[2018-08-02 19:47] cpovirk commented on #2514
We're going to add something that can be used for this (by adding `Striped.custom`, similar to https://github.com/google/guava/issues/1893 (though that requested `lazyWeakCustom`, which we aren't doing until we have a chance to look more into the lazy-weak use case)). We have another thing to add, too (`Striped.intrinsicMonitors`), but I'll try not to let this sit too much longer.

[2018-08-02 21:01] bobyangyf opened #3223 "Large Regression in Performance of ImmutableSet Building."
https://github.com/google/guava/commit/a98632ee83a6c4c93f4b31820437f68ddde041dd#diff-439cf531381acbc7a3a95b99000d22ca
Introduced a significant performance regression.

The regression caused certain commands of our project to regression 50%.

I performed JMH benchmarks and got the following results (Note: small set is 3 distinct elements, large set is 1000000 insertions, 500000 distinct elements, e

[2018-08-02 21:01] bobyangyf commented on #3223
I already have some local changes that seems to solve this regression. Expect PR soon as I verify :)

[2018-08-03 15:29] AndrewWestberg commented on #3220
@kevinb9n According to the setRate javadoc...

   * <p>Note though that, since each request repays (by waiting, if necessary) the cost of the
   * <i>previous</i> request, this means that the very next request after an invocation to {@code
   * setRate} will not be affected by the new rate; it will pay the cost of the previous request,
   * which is in terms of the previous rate.

What I'm looking

[2018-08-03 16:42] thor-the-great commented on #3219
Hi guys,

I came from traige and like to contribute. This would be my first contribution to open-source, please don't judge too hard.
Seems that the fix should go to Strings.lenientFormat - somewhere around line 276, additional check needed for the placeholder that we have found if there is a leading '%' - it should be ignored.

Could you please refer me to some process guide and how I can commit

[2018-08-03 17:39] jbduncan commented on #3219
Hi @thor-the-great, welcome to Guava!

In my personal experience, the best way to contribute to Guava is to discuss things on various issues. The Guava team have very high standards for code contributions, so they generally only accept very small contributions which are either obvious bug fixes or documentation fixes; for anything else including creating new APIs, they prefer to do it internally a

[2018-08-03 18:13] thor-the-great commented on #3219
Hey @jbduncan,

Thank for the reply. It's not clear to me - are they closed Guava project even for small changes/fixes like this one? To me this one looks pretty easy/small/safe. Why then this issue is tagged as "triaged"?

Maybe you can advise on other OS projects that are opened for contributors? I'm just a Java enthusiast, but with a good set of experience in Java (15+ yoe). I have some spare t

[2018-08-03 18:38] kevinb9n commented on #3219
I'm sorry for the confusion with "Triaged".  We define it as meaning "These are issues that we think are well formed and *might* be worth addressing at some priority."

We don't have a status that means "we know we want this to happen, we just need someone to step up and do it." The sad reason we don't is that very few issues would ever really sit in that state. If an issue actually gets that far,

[2018-08-03 18:39] kevinb9n commented on #3223
Thanks for looking into this. Have you been able to identify which revision might have been responsible?

[2018-08-03 18:42] lowasser commented on #3223
@kevinb9n , the OP posted a link in the first line of their comment.

I can readily believe that this would have introduced a regression, and would be eager to see a PR to fix it.  I'd hope we can make sure we keep the key features of the original change, though

* recognizing hash flooding and falling back
* O(1) build
* up-front deduplication at add() time

[2018-08-03 22:31] jbduncan commented on #3219
@thor-the-great In my personal experience, it is a lot more fun to get into open source if you can find a project that really interests you. One thing which you can do (which is what I did when I started out) is to look through [awesome-java](https://github.com/akullpp/awesome-java), see if there are any projects there that interest you, and then take your time and have a peaceful look through a p

[2018-08-03 22:43] bobyangyf commented on #3223
Seems like something was a bit off with the small set profiling. Updated the numbers a bit in this task. The regression is only limited to large sets, which is reasonable.

A pull request has been submitted which greatly improves the performance of large sets.
https://github.com/google/guava/pull/3225

I would like to point out that the current build is not O(1), but O(n) as we go through the enti

[2018-08-06 15:18] cpovirk commented on #1608
Internally, bug 112137598 shows a large number of places where people are omitting the `try`-`finally` or doing it wrong. Maybe it's time for us to revisit this now that we have a Java 8 branch?