[2020-10-01 16:34] melloware commented on #4011
I understand but its listed in Sonatype with a score of 7 which means my management team freaks out we are using a JAR with a vulnerability.  Even if you prove to management you aren't using that feature it doesn't mean someone tomorrow in the org couldn't accidentally start using it.  So that is why I am PRO on removal vs documentation.

When you work at a very security sensitive client who recei

[2020-10-01 17:00] JLLeitschuh commented on #4011
A few options for you.

 1. Push back on Sonatype's analysis of this vulnerability. As a customer, if you think that your security vendor's analysis of a given vulnerability is rating the vuln as too high, then push back. Feel free to include me in the email thread. My email address can be found on my GitHub profile.
 1. Push back on management. Here's an ArchUnit test that you can add into your J

[2020-10-01 17:06] melloware commented on #4011
Cool I didn't know about ArchUnit!!!  _It won't help much we have over 50 in production applications using it so we would have to add this test to each one and all future applications._

As for your email when I click on your profile GitHub gives me the "Unicorn page is taking too long to load!"???  you must have a lot in your profile.

[2020-10-01 17:10] cpovirk commented on #1977
To detect any remaining or new problems, we could look at [ArchUnit](https://github.com/TNG/ArchUnit) for its [Cycle Checks](https://www.archunit.org/userguide/html/000_Index.html#_cycle_checks) (mentioned in https://github.com/google/guava/issues/4011#issuecomment-702270205).

[2020-10-02 04:56] JLLeitschuh commented on #4011
Agreed.

A few suggestions for you:

1. Create one Gradle build that pulls down all of the JAR artifacts from your different applications, load them all onto the classpath of that Gradle build, and run the check there. Sounds complicated, but it may not be if you publish all your jars to the same internal Sonatype instance.
2. Something that may scale better is [GitHub's Code Scanning feature](htt

[2020-10-02 05:01] H1414 commented on #4011
Bg

[2020-10-02 05:02] H1414 commented on #4011
Hi byby

[2020-10-02 07:39] bennyhinn commented on #5133
How you doing

On Sat, 26 Sep, 2020, 1:50 AM dingohacker666, <notifications@github.com>
wrote:

[2020-10-02 11:11] melloware commented on #4011
@JLLeitschuh Than you for all your work!   That GitHub bot code will be a huge help!

[2020-10-02 15:40] cpovirk opened #5257 "More docs about using GWT/j2cl"
They would go here:
https://github.com/google/guava/wiki/UseGuavaInYourBuild#what-about-gwt

They should say at least:
- Here's [how to use Guava with j2cl](https://github.com/google/j2cl/tree/master/samples/guava).
- We do run most of our tests under GWT internally, but our _external_ setup for those tests is going away. It's possible that open-source-specific bugs will creep in -- files in the w

[2020-10-02 15:59] cpovirk commented on #5257
(I did recently verify that GWT tests were passing at https://github.com/google/guava/commit/52882ad975d2a55bb624143f02387515b3b01f46. So if anything does break, the cause should be something after that.)

[2020-10-02 21:26] Saucistophe commented on #3678
Someone named `cpovirk` did it in commit b6b4dc49b1ccfc4141181b24a26eadc689b48b43, so I think you can close it now :)

[2020-10-02 22:18] Saucistophe commented on #3679
I'm having trouble with the CLA, but the PR is here.

[2020-10-05 10:47] bmnizar opened #5262 "RateLimitter is not thread Safe"
Hello,

I have tested RateLimitter with a non synchronized code and it was working as expected.But when in a multi threaded environment,it's not thread safe unless i put acquire method in a synchronized block.

[code]

Result:
get 1 tokens: 0.0s
get 1 tokens: 0.987943s
get 1 tokens: 1.987914s
get 1 tokens: 2.9879s
get 1 tokens: 3.985922s
get 1 tokens: 3.997088s
get 1 tokens: 3.997955s
get 1 tokens

[2020-10-07 22:20] netdpb commented on #5262
`acquire()` returns how many seconds it blocked. Your executor has only four threads, which means that pretty much every request after the first few has to wait for four seconds for the four previous ones to finish.

If you serialize, as you have, then you're not requesting another permit until there's nothing in the queue.

Closing this for now. If you have further questions, you might find usefu

[2020-10-07 22:20] #5262 closed

[2020-10-08 16:30] semmalimayan commented on #4011
@JLLeitschuh  does the com.google.common.io.Files.createParentDirs() creates with similar vulnerable permissions ?

[2020-10-08 22:02] JLLeitschuh commented on #4011
@semmalimayan here's the method you're asking about.

https://github.com/google/guava/blob/fec0dbc4634006a6162cfd4d0d09c962073ddf40/guava/src/com/google/common/io/Files.java#L470-L487

The true answer here is "it depends".

For example, this would be vulnerable:
[code]

That being said, I think that at that point, this is probably more likely a user-error vulnerability, less a guava vulnerability.

[2020-10-09 14:08] cpovirk commented on #4005
@elharo notes that Animal Sniffer's Android "scents" haven't been updated since API Level 27. (As I write this, it looks like we're [at API Level 30](https://source.android.com/setup/start/build-numbers).)

(As noted in my comment just above this one, we've had other trouble with Animal Sniffer, too.)

It's also possible that *someday* we'll be able to assume that Android users are using [Java 8 l

[2020-10-09 14:11] ogolberg commented on #4005
Check out https://github.com/open-toast/gummy-bears - it provides android scents for API 19-30 and accounts for APIs "available" via desugaring (vs. android.jar)

[2020-10-09 14:21] cpovirk opened #5269 "Build Android flavor with `-source 8 -target 8` (but still avoid Java 7+ APIs)"
Currently, our "Android" flavor of Guava supports 2 use cases:
- Android users (API level 15 (Ice Cream Sandwich) and up)
- Java 7 users

We are definitely _not_ going to start using Java 8 _APIs_. Thus, we are _not_ going to increase our minimum Android version to 24, nor are we going to require our users to enable [library desugaring](https://developer.android.com/studio/write/java8-support-tabl

[2020-10-09 15:43] #3682 closed

[2020-10-10 07:43] thistanghong opened #5270 "Hashing is friendly"
when i use Hashing.crc32c(), the compiler say ...collect.Hashing is not public in ....collect

[2020-10-12 12:38] netdpb commented on #5270
I'm not sure how to help here. `com.google.common.hash.Hashing.crc32c()` is public and has no dependencies on `com.google.common.collect.Hashing`.

This isn't really the right forum for general questions on how to use Guava. (It's for bug reports and feature requests.) Maybe look on stackoverflow.com under the `guava` tag: https://stackoverflow.com/questions/tagged/guava

[2020-10-12 12:38] #5270 closed

[2020-10-12 14:09] jbduncan commented on #5254
Okay! I'm more than happy to provide a PR, but I don't yet know when I'll have the time to provide one. I'll keep you posted.

[2020-10-12 16:27] JLLeitschuh commented on #4011
A similar vulnerability has been disclosed and patched in JUnit 4. CVE pending.

https://github.com/junit-team/junit4/security/advisories/GHSA-269g-pwp5-87pp

To reiterate my earlier question:

CC: @google-admin

[2020-10-12 16:44] melloware commented on #4011
Here is the fix Junit did: https://github.com/junit-team/junit4/commit/610155b8c22138329f0723eec22521627dbc52ae#diff-25d902c24283ab8cfbac54dfa101ad31

[2020-10-12 18:09] jbduncan commented on #5254
@cpovirk I found the time this evening to raise a PR (https://github.com/google/guava/pull/5272). :)

[2020-10-13 00:01] kelloggm commented on #3501
@cpovirk Should this issue be closed? It looks like it was fixed in #3830.

[2020-10-13 00:09] #3501 closed

[2020-10-13 17:21] jbduncan commented on #5254
@cpovirk Thanks for merging it in, but I realised I found a mistake in my example in the PR: it uses `KnownOrder` directly rather than `IteratorTester.KnownOrder`, so it doesn't compile. :facepalm:

So I've raised a new PR to fix that: https://github.com/google/guava/pull/5276.

Sorry about that, and thanks in advance!

[2020-10-14 17:33] jbduncan opened #5279 "IteratorTester does not check that iterator throws NoSuchElementException after exhaustion"
**How to reproduce:**
1. `git clone https://github.com/jbduncan/graphemes-iterable.git`
2. `git checkout 304c99c0ca662f49bbb048098fd0555753c1d58f`
3. Open "src/main/java/org/jbduncan/Graphemes.java"
4. Comment out lines 48-50:
[code]
5. Ensure you're using Java 11+
6. Run `./gradlew :test --tests "org.jbduncan.GraphemesTests.graphemesFulfillsIteratorContract"`

**Expected behaviour**
A red test sa

[2020-10-14 17:41] cpovirk commented on #5279
Hmm, thanks. I would have guessed that it would catch that somewhere around here:
https://github.com/google/guava/blob/7affc4e29a6dff7bfb5207ebb2f979b849c5dfdd/guava-testlib/src/com/google/common/collect/testing/AbstractIteratorTester.java#L442

Is this because you're limiting the number of steps to the length of the list? That would mean that we can call `next` _n_ times but then don't have anoth

[2020-10-15 04:23] castioussupreme commented on #3450
I wanted to agree here, but seeing as the defacto usage of AutoClosable is try with resources; it stands to reason the implementors here want to explicitly call out the need to register resources with a closer.

[2020-10-15 14:11] cpovirk commented on #5279
Tentatively closing, given the above, but please reopen if I have that wrong.

[2020-10-15 14:11] #5279 closed

[2020-10-15 16:39] jbduncan commented on #5279
Ooh, you're absolutely right! I didn't check the case when the `steps` is +1 the length of both the expected and actual lists, only when one list is +1 the length of the other. So indeed this is a misreport. Thank you very much!

[2020-10-15 17:54] jbduncan commented on #5279
As a follow-up to this, I've raised _yet another_ PR (https://github.com/google/guava/pull/5281) to update the number of `steps` in the `IteratorTester` class javadoc's example from 5 to 6, with a short paragraph on why it's useful. (Thanks for your patience on this!)

[2020-10-16 12:27] yuxiaoyi24 commented on #2660
aop not work!!

[2020-10-16 13:53] brettkail-wk opened #5284 "BaseEncoding.encodingStream().close() is non-idempotent"
[`Closeable.close`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/io/Closeable.html#close()) says:

Code:
[code]
Output:
[code]

[2020-10-16 13:57] cpovirk commented on #5284
Thanks. For our reference, here is [the implementation](https://github.com/google/guava/blob/bc67a44a1676211b2c6859adbc021c3640e66990/guava/src/com/google/common/io/BaseEncoding.java#L618). The simplest thing is probably to mark _all_ methods as `synchronized` and track `isClosed` in a `boolean` field. That may have some performance impact, but I'm not sure we can do better without giving up on th

[2020-10-16 14:09] brettkail-wk commented on #5284
It looks like the problem is just that `close` doesn't adjust `bitBufferLength`.  I don't think thread-safety is required.

[2020-10-16 14:10] swankjesse commented on #5284
Being idempotent is useful; it's very easy to double-close a stream due to ARM blocks and wrapping streams that close their underlying streams.

Synchronization is probably unnecessary. Java I/O streams are generally synchronized, but I've never seen anyone use multiple threads to concurrently read or write a shared stream.

[2020-10-17 23:30] Saucistophe commented on #3951
There, I added a basic implementation.
Not for the Android flavor, since it does not support Java 8 interfaces (if I read #5269 well).

[2020-10-17 23:54] Saucistophe commented on #5284
@brettkail-wk I assumed you meant that it should go back to zero after closing, even if I'm not sure that it's descriptive of the stream's state.

[2020-10-18 09:11] rohitkrishna094 commented on #4013
Search feature looks awesome. Not sure if we can search in regular javadocs(I don't see a search button on normal [javadocs](https://guava.dev/releases/19.0/api/docs/overview-summary.html))

[2020-10-18 10:07] sebkur commented on #4013
It is open source: https://github.com/sebkur/javadoc-ng

[2020-10-18 10:19] sebkur commented on #4013
Although, actually that repository currently only contains that article. I haven't gotten to publish the project itself freely yet.

[2020-10-19 08:31] moonfruit opened #5289 "ByteStreams.copy() that used FileChannel is been reverted, but still in 30.0 change log"
In the 30.0 change log:

![image](https://user-images.githubusercontent.com/1070090/96420575-3f01b380-1228-11eb-9daf-5220bee7f80b.png)

But this is already been reverted in e839f94fb4eb1240f10763586aa92a7f701caa89, and not be included in the 30.0.

Should it be removed from the 30.0 change log?

[2020-10-19 11:41] Saucistophe commented on #5284
And while we're at it, @cpovirk, do you think it is possible to tag this repository with topic `hacktoberfest`? That would make this PR count towards my 4 PR goal - and my shirt! :shirt: :1234:
Thanks :)

[2020-10-19 14:28] brettkail-wk commented on #5284
@Saucistophe I have not analyzed the code.  I just observed the condition for writing more bytes in `close`, and I noticed the similarity in structure to the `write` method, which does adjust `bitBufferLength`.

[2020-10-19 14:37] cpovirk commented on #5289
Thank you for pointing out my mistake. I went and updated the release notes.

[2020-10-19 14:37] #5289 closed

[2020-10-19 15:51] cpovirk commented on #3975
This is in [30.0](https://github.com/google/guava/releases/tag/v30.0), released Friday.

[2020-10-19 21:13] ganeshbhargav commented on #5269
Migrating from Java 7 to Java 8 is recommended because of New language features, security improvements, Optimum performance, Writing code more efficiently, Oracle recommendation to uninstall pre-8 versions to avoid security risks, Older releases no longer publicly supported, Third party Java libraries no longer being developed and supported.

To check the new features in JDK 8 by library - check h

[2020-10-20 15:27] cpovirk commented on #2117
[Truth](https://truth.dev/) may also benefit from one of these. It looks like all we have internally is `-dontwarn java.lang.SafeVarargs`, but we may want to do more around our reflective access to `ActualValueInference`/ASM (touched recently in https://github.com/google/truth/commit/aea78e81c090e377c44287ce87e4760177a5b207 and https://github.com/google/truth/commit/0bfa285fa5ed629cb2c69e18ab0c6d0

[2020-10-21 07:52] h4yin opened #5290 "RateLimiter is not accuracy"
Consider permitsPerSecond is 80000(not too large), the real permitsPerSecond will be 83300. It's can reach 4% error.
permitsPerSecond 8001 can allow to acquire 8065 counts actually.

[code]

The inaccuracy may be caused by the double calculation error and too big time unit micros.

[code]

[2020-10-22 12:37] asarkar opened #5291 "Cool off period"
I’ve a use case where the provider wants us to throttle the calls not by some fixed rate/second, but by individual user ids. In other words, a user must wait for a period x before making a call again. So it’s more like a cool off period than the usual rate limiting.

One obvious way to approach this problem is to create a rate limiter per user. But there will be many such limiters, and very short

[2020-10-22 14:03] bjmi commented on #708
Similar request in #450

[2020-10-22 18:20] akshayrb9 opened #5292 "ECCN for guava 29.0"
Hi, For documentation purpose and project release process we need the Export control classification number(ECCN) for guava version 29.0 if it applies. Can you please let me know the ECCN ?

[2020-10-22 18:24] cpovirk commented on #5292
We have no information about this.

[2020-10-22 18:24] #5292 closed

[2020-10-23 20:15] nick-someone commented on #5290
See more at: https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/util/concurrent/RateLimiter.html#create-double-

Are you getting `83300` permits per second consistently? Have you used something like http://guava.dev/Stopwatch to make sure that your reset loop is triggering correctly once every `1 second`?

I'm going to close this for now, but please reopen if you're seeing behavior

[2020-10-23 20:15] #5290 closed

[2020-10-23 21:04] nick-someone commented on #5291
Unfortunately, Guava doesn't, to my understanding, provide this feature.

You may want to search StackOverflow for help with this question (see https://github.com/google/guava#links for a link to ask a well-tagged question)

[2020-10-23 21:04] #5291 closed

[2020-10-25 09:14] h4yin commented on #5290
@nick-someone Thanks for your reply.

Almost yes.

[code]

There is an another way shows the same error.
[code]

[code]

Dive into the method `  final long reserveEarliestAvailable(int requiredPermits, long nowMicros) `

[code]
For 80000 permitsPerSecond,  the double stableIntervalMicros is 12.5, and when freshPermits is 1, the  product cast to long  is 1 * 12.5 = 12, there is the error 0.5/12.5 =

[2020-10-27 15:43] Sufaev commented on #2212
Hello.
s.matches("([A-Z]+[a-z]+\\w+)+") failed to recognize situations when digit is located among two capital letters.
Could you fix regexp for test case "C2ControlFeatureCategoryCodeType".

[2020-10-28 06:38] thistanghong commented on #5270
Thank you for your sincere advice

[2020-10-29 09:49] purekeeper opened #5295 "The method getDone() of Futures is rightly invoked here?"
![image](https://user-images.githubusercontent.com/15372524/97551304-c95acc00-1a0d-11eb-8c9d-a24e5a029b4f.png)

Class is Futures

getDone() means future was already done,but we not sure here,right ? is it  a bug ?

getUninterruptibly() replaced by getDone () after 19.0, could you tell me why do this ?

[2020-10-29 13:30] nick-someone commented on #5295
This class is `CallbackListener`, a Runnable class which is invoked from a ListenableFuture after it's complete (i.e.: the run() method is only called *after* the underlying Future is done).

[2020-10-29 13:30] #5295 closed

[2020-10-30 06:25] h4yin opened #5296 "Reopen for RateLimiter is no accuracy"
See more at: https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/util/concurrent/RateLimiter.html#create-double-

Are you getting `83300` permits per second consistently? Have you used something like http://guava.dev/Stopwatch to make sure that your reset loop is triggering correctly once every `1 second`?

I'm going to close this for now, but please reopen if you're seeing behavior

[2020-11-01 04:39] arjunduggal commented on #3720
hi @nick-someone
Is there any decision on the acceptance of this feature? Is yes, is this still open for contribution?
Thanks

[2020-11-01 04:43] arjunduggal commented on #3751
hi @cpovirk
Is this issue still open?
Thanks

[2020-11-02 08:39] jodastephen commented on #3320
So, I now have this problem. The security world is screaming that Guava has a security hole (even if it [doesn't really](https://github.com/google/guava/issues/4011)) but I have no desire to upgrade while Guava continues to have this dependency mess.

Can we get a resolution to this issue please?

[2020-11-02 14:23] cpovirk commented on #3320
Sorry for the continued trouble. If I were doing this again today, I can't see myself introducing the dependency. At this point, though, we can't remove it without making a binary-incompatible change to `AbstractFuture` (and yes, that's another reason that we should have erred on the side of leaving it out :\\) or without introducing further build weirdness that is likely to cause harm on net.

[2020-11-02 14:23] #3320 closed

[2020-11-02 16:16] J-Ankit2020 commented on #3102
Please assign this issue to me. I will give my 100%

[2020-11-02 16:20] cpovirk commented on #5257
Cross-link: https://github.com/google/guava/issues/3102

[2020-11-04 18:25] Gr33nbl00d commented on #2914
Version should describe a different version of the SAME artifact. If it is a different artifact use a different artifact name!

@dbyron0
Its a shame you simply close such issues..

[2020-11-05 20:59] theodiefenthal commented on #1778
+1 for the area of performance optimization. I have an IP address and need to check it against a list of >10.000 CIDR notated netmasks, identifying all the netmasks containing the IP address. Each mask can be formualted as range with low and high ip address and the IP being the point to check in for.

[2020-11-06 16:59] cpovirk commented on #3679
Reopening, as I've noticed that we still have similar methods in classes other than `Collections2`:
https://github.com/search?q=6558557+repo%3Agoogle%2Fguava+path%3A%2Fguava&type=Code&ref=advsearch&l=&l=

[2020-11-09 05:14] h4yin commented on #5296
@nick-someone Sorry to bother you. Would you continue this issue. Thanks!

[2020-11-09 16:02] elharo commented on #4005
To be honest, API level 26 is probably good enough for now. That still only covers ~75% of the installed base. We'd have to go earlier than 26--I'm not sure how far--to bring that up to 95%.

[2020-11-09 16:04] cpovirk commented on #4005
Agreed: [Guava targets API Level 15](https://github.com/google/guava#important-warnings), so it will be a while before we have any problems.

[2020-11-09 18:49] cgdecker commented on #3235
Note, years later: I was apparently misremembering about `CaseFormat` only being usable for Java source code formats. Though I'm still of the opinion that we probably don't want to try to make it extensible.

[2020-11-10 21:44] benrkia commented on #4023
I would like to work on this issue if it's possible 🙏

[2020-11-11 17:57] cpovirk commented on #4023
That would be terrific. I'm not 100% sure of the best place to put the code, but maybe [near the end of `main` in `updaterelease.sh`](
https://github.com/google/guava/blob/eab62203255f88968469ac8d910bbbaaf62faf02/updaterelease.sh#L408)? We'd want to do it only if `$RELEASE` is `snapshot`.

I'm also not completely sure what command I ran to generate these. I think I actually had a Java program when

[2020-11-12 11:04] spearkkk opened #5309 "Not Working `Lists.newArrayList()` for Path of Nio"
Hello, this is spearkkk.
To initialize and add element for List, I user newArrayList() method.
Like this:
[code]
However I expected that there is `path` in a `paths` list, there is two paths.
Because Path class implements Iterable<Path>,  `path` is divied as logic in Path class.
Eventually, `Paths` has Path("guava") and Path("best").

I think that the method is not working for Path class.
Could yo

[2020-11-12 11:12] vlsi commented on #1977
I've requested ArchUnit sample via https://github.com/TNG/ArchUnit/issues/470
An alternative option is https://github.com/jQAssistant/jqassistant which loads the model to Neo4j, then assertions could use cypher queries.

[2020-11-12 17:55] HannesWell opened #5311 "Enable multiple Finalizers for FinalizableReferenceQueue"
At the moment a `com.google.common.base.FinalizableReferenceQueue` has one `com.google.common.base.internal.Finalizer`. This `Finalizer` mainly starts a Thread that calls `finalizeReferent()` for each `FinalizableReference` that is enqueued to the shared `ReferenceQueue` and terminates when the `FinalizableReferenceQueue` is closed or garbage collected.

In situations where finalizeReferent() is a

[2020-11-12 18:14] pedro93 commented on #1911
Hello,

I've just come across this limitation at work. Using @swankjesse's proposed solution worked for me.
Would the maintainers be ok with a PR that add the appropriate parsing method to the Range class?
Something in the lines of:

[code]

This method would parse the output of `Range.toString()`

[2020-11-13 15:38] cpovirk commented on #2134
There is a chance that you can work around this with:

[code]

We should still do better someday.

[2020-11-13 17:14] netdpb commented on #5309
`Path` unfortunately implements `Iterable<Path>`, which means `Lists.newArrayList(path)` is ambiguous. It looks like it calls `newArrayList(Iterable<E>)` instead of `newArrayList(E...)`, both of which are declared on `Lists`.

I'd suggest you just add the element yourself:

[code]

If you really want to do that in one line, you could do:

[code]

With a static import, you could shorten that to:

[

[2020-11-13 17:14] #5309 closed

[2020-11-13 17:24] netdpb commented on #5311
How often do you see `finalizeReferent()` taking a long time or blocking? That seems unusual to me. Can you give some examples?

[2020-11-14 07:32] HannesWell commented on #5311
I'm using the `FinalizableReferenceQueue` in a Cache (with strongly referenced keys and softly or weakly referenced values) that writes the data-payload of a value to the drive once the value is finalized by the garbage-collector.
In order to speed up writing, I want do it concurrently. Writing the data not only requires to dump bytes from the RAM to the drive, but also to compute the bytes to wri

[2020-11-14 12:47] H1414 commented on #5311
دب

[2020-11-16 12:50] tanmauec commented on #3679
As discussed with @cpovirk, I am taking this up.

[2020-11-16 15:00] netdpb commented on #5311
I'm not sure I understand what you mean by having the executor's task "poll the `ReferenceQueue` directly". `ThreadPoolExecutor`s use a `BlockingQueue`, which isn't the same as a `ReferenceQueue`. (I may be missing something.)

Could you set up an executor just for that final data persistence, and make `finalizeReferent()` submit a compute-and-write task to that executor for each referent?

[2020-11-16 16:05] nitinsurana opened #5320 "Java optional is not serializable, migration would be easy if Optional can contain `isEmpty()` and similar methods."
Google optional is serializable.
Although, refactoring from java.util.Optional to googleOptional requires quite some code changes.

This can be prevented if we can make googleOptional interface similar to Optional.
1. Add isEmpty()
2. Add `Optional.empty()` alongside `Optional.absent()`

Thanks

[2020-11-16 17:47] netdpb commented on #5320
Thanks for the comment. Guava's `Optional` actually predates `java.util.Optional` by a few years. We have no plans to change `Optional` to be more similar to `java.util.Optional`.

We recommend using `java.util.Optional` in modern code (post Java 8; see [the Javadoc](https://guava.dev/Optional)).

[2020-11-16 17:55] netdpb commented on #5320
OK, I got caught up in your description of changing `Optional` and didn't notice the title, which was about the fact that `java.util.Optional` isn't serializable.

I'm still going to keep this issue closed, because we can't change `java.util.Optional`, and we're not planning to change `Optional`'s methods to be more similar.

What is your use case for storing an optional value in a field of a seri

[2020-11-16 17:55] #5320 closed

[2020-11-17 09:12] HannesWell commented on #5311
Sorry, my statement was ambiguous. I meant that in this case I could use an ordinary `java.lang.ref.ReferenceQueue` and submit tasks to the Executor (one per available Thread), that constantly poll from that ordinary ReferenceQueue and call finalize. Just like FinalizableReferenceQueue does but with multiple tasks perspectively Threads.

Yes I could set up an executor for that final data persisten

[2020-11-17 18:06] netdpb commented on #5311
So in either case your `Reference`s would implement `finalizeReferent()` to do the compute-and-write work, right? In one case directly, and in another by submitting a runnable to an executor.

I'm not sure that submitting a runnable to an executor is more complex than setting up an executor that polls from a RQ. In fact, the FRQ approach means you don't have to write polling code (or deal with the

[2020-11-17 18:20] ben-manes commented on #5311
Guava's cache used to use FRQ for reference collection, but this was problematic. I think it was a mixture of being unable to keep up, threads were not permitted on some environments (e.g. JEE, GAE), and classloader problems (e.g. Tomcat). For a while it was deprecated, and then un-deprecated by request but no longer evangelized / used by Google ([thread](https://groups.google.com/g/guava-discuss/

[2020-11-19 20:31] melloware commented on #4011
@JLLeitschuh I submitted a PR for this so we will see. I feel like its totally harmless since the method is deprecated anyway.

[2020-11-21 03:58] Leoniduss opened #5327 "Guava"

[2020-11-21 14:00] HannesWell commented on #5311
@netdpb yes you are right.

Yes either way is approximately as complex as the other, but in total both are not very complex. That's right the FRQ approach would save me from writing that code. Therefore I suggested this change because I thought it would be a handy features and maybe others also would appreciate it.

Alright. I have now prepared my own Executor that polls a ordinary `ReferenceQueue

[2020-11-21 14:32] HannesWell commented on #5311
@ben-manes regarding to your question why I don't use Guava Cache, the answer is: I used it in my first implementation but because I could not find a way to "attach" metadata to a entry or value of the cache another map was necessary. Both maps must be kept in sync.
The metadata contain for example a reference to the value-data to write or a CountDownLatch to synchronise writes to driven with subs

[2020-11-21 17:24] ben-manes commented on #5311
The caches might not be useful themselves, but you might find the approach they use helpful.

Instead of using background thread(s) blocked on `ReferenceQueue#remove()`, the work is amortized across calling threads. When handling a cache operation, like `get(key)`, an atomic counter is retrieved by hash from an array and incremented. When the counter exceeds a maximum, e.g. 16, then the caller att

[2020-11-23 14:11] #5327 closed

[2020-11-23 18:27] netdpb commented on #5311
OK, I'm closing this feature request since it seems you have a solution that works for you. Feel free to continue a discussion here if you'd like.

[2020-11-23 18:27] #5311 closed

[2020-11-23 21:45] vgonsalv opened #5329 "Expose Absent and Present as Subtypes of Optional"
Consider an interface  `Foo` as follows:

    interface Foo {
        Optional<Bar> doFoo();
    }

Suppose we now have an implementation  which wants to provide a stricter contract of always returning a value. Currently it would have to always wrap the value in an Optional. Even if we document that the Optional always had a value, most linters would complain about the lack of an isPresent() check

[2020-11-23 21:52] cpovirk commented on #5329
Interesting! I'm surprised that (as far as I can recall) we haven't heard this suggested before.

That said...

We do not want to our `Optional` to compete with the JDK's: We recommend that people use the JDK class if they can. And even if they can't use it today (typically because they target older versions of Android or Java), we don't want to add features that would complicate a future migratio

[2020-11-23 21:52] #5329 closed

[2020-11-25 11:16] HannesWell commented on #5311
@netdpb thanks for the discussion.

@ben-manes that's a quite clever approach you use and I agree that avoiding the finalizer-thread-per-cache is definitely a benefit. Nevertheless in my use case the additional removal work (in my case writing data to drive) should be done as soon as possible.

I'm using my `DriveCache` as an extension to the RAM, that only writes data to the drive if the JVM tend

[2020-11-25 15:42] ben-manes commented on #5311
That makes sense. I’m sure you’re aware, but just in case, soft references have a bad reputation. They fill up the heap, require a full GC (STW pause) to collect, and cause GC storms because only enough memory is freed to continue the application. This caused mayhem in traditional collectors like CMS and global lru meant it wasn’t aware of what data was more costly to reload. Newer GCs are more ag

[2020-11-25 17:39] HannesWell commented on #5311
I was partly aware of what you've mentioned. Until some point it is desired that the SoftReference fill up the heap, because I want to avoid to unnecessarily write data to the drive in case they would have fit in the memory. On the other hand when it comes to the point that the memory is too small, I agree that frequent small GC-cycles are potentially slowing down the application.
It a dilemma.

T

[2020-11-25 18:06] ben-manes commented on #5311
A size-limited cache can use soft-references as a failsafe, but as you note it may not be good enough. If you persist on write rather than write on evict, then you won't have those finalization problems. And if your graph is layed out to be disk-friendly, the I/O read/write might not be expensive as the OS's buffer cache is keeping it too. A library that could be interesting (or not, I've never us

[2020-11-26 18:46] HannesWell commented on #5311
The data-structure of the Graph is given, we use the `BinaryResource` of the Eclipse Modelling Framework.
But nevertheless thanks for the link, it looks interesting. Maybe it provides some good ideas (Since it seems to be abandon, it is probably not a good idea to use it directly).

Yes, that sounds reasonable. I'll have to think about it again and hopefully find a better solution.
Thanks a lot fo

[2020-11-26 20:45] ckloner opened #5336 "EventBus: Add options to enable ImmediateDispatcher"
This ticket is almost the same as #2986 but deals with the `EventBus` instead of the `AsycEventBus` object.

I am using the `EventBus` object not as global object (static or singleton) but on a single instance per user session. In this scenario, instantiating for each `EventBus` instance an instance of `PerThreadQueuedDispatcher` with all the `ThreadLocal` variables does not make much sense. It wo

[2020-11-26 21:00] ckloner commented on #5336
Actually I also found issue #3406 related to this problem now. The most problematic thing is only, that the abstract class `Dispatcher` is package visible. If the implementation of `ImmediateDispatcher`can be used or not, is not that important because the code is trivial and can easily be reimplemented by extending `Dispatcher`. I could also create a Pull request to fix this issue if this is OK an

[2020-11-27 12:21] ramadasa opened #5337 "Synchronized usage of Concurrent Multi Hash Map"
While looking for a Concurrent Multi Hash Map, I found `Multimaps.synchronizedMultimap()` wrapper which seems to be what I'm looking for.
However, the documentation gives an example which I'm not picturing a situation when this might be useful:
https://github.com/google/guava/blob/4709fe4d50cf5249b9e5e40fb8917c610831c317/guava/src/com/google/common/collect/Multimaps.java#L566-L583

My take is that

[2020-11-28 23:36] ramadasa commented on #5337
To add a bit more context as my initial phrasing is not fully explicit.

[All methods of `SynchronizedMultimap` are synchronized](https://github.com/google/guava/blob/064fac35d71231aba35062d1965983ecd36b6873/guava/src/com/google/common/collect/Synchronized.java#L573-L757) with a [non-accessible mutex](https://github.com/google/guava/blob/064fac35d71231aba35062d1965983ecd36b6873/guava/src/com/googl

[2020-11-29 00:08] ramadasa commented on #5337
While providing further context I ended up founding the solution 🤦 I opted to still posting it to share my reasoning hoping it can still be helpful to others. I'm also going to close this issue, but do correct me if I'm wrong.

While looking around I never questioned what happened when the [constructor passed a `null` mutex](https://github.com/google/guava/blob/4709fe4d50cf5249b9e5e40fb8917c610831

[2020-11-29 00:08] #5337 closed

[2020-11-30 08:25] SangHakLee commented on #2876
@perceptron8

Does it actually work now?

[code]

[2020-11-30 15:17] netdpb commented on #5336
Thanks for your feature request. At this point we are not actively developing EventBus. There are several more modern frameworks for event-driven or reactive programming, including [RxJava](https://github.com/ReactiveX/RxJava) among others.

[2020-11-30 15:17] #5336 closed

[2020-11-30 15:19] netdpb commented on #2986
Thanks for your feature request. At this point we are not actively developing EventBus. There are several more modern frameworks for event-driven or reactive programming, including [RxJava](https://github.com/ReactiveX/RxJava) among others.

[2020-11-30 15:19] #2986 closed

[2020-12-01 20:04] cpovirk commented on #1519
See also ["SEVERE: input future failed" spams stdout/stderr (#2134)](https://github.com/google/guava/issues/2134), in which I propose [a possible workaround](https://github.com/google/guava/issues/2134#issuecomment-726833556) for people with that problem.

[2020-12-02 17:23] cpovirk opened #5340 "StandardSystemProperty: Support jdk.module.* properties"
See [docs](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/lang/System.html#getProperties()). They "may" be included in a given system. I'm not sure if that's intended to be a different state from java.vendor.version ("optional") or java.compiler (which is just missing in practice). And of course they didn't exist at all until Java 9.

We haven't heard demand for these -- and I s

[2020-12-02 17:26] cpovirk commented on #5340
Oh, and there's also java.vendor.version (added in Java 11, listed as optional as of Java 13). It also looks rarely used.

[2020-12-03 12:38] pontusp opened #5342 "Cache.asMap() interface makes it possible to map NULL values into the cache"
Through the `asMap()` interface it is possible in certain situations to partially map NULL values into the `Cache` which results in an unpredictable state. When using `ConcurrentMap.compute` and `ConcurrentMap.computeIfPresent` it possible to remap a previous value to null rather than removing it, which I think would be the expected behaviour here.

Attached [CacheNullValueTest.java.zip](https://g

[2020-12-04 00:33] ben-manes commented on #2077
Closing. In retrospect, I think the writer idea from other libs was a bad choice to implement. It has too many quirks, e.g. does not model clear/absent removals. An eviction listener that is called synchronously with the eviction or if there were atomic / non-atomic builder methods for removal listener would be a more perfect fit for Guava/Caffeine. Someday I'll deprecate Caffeine's, but deciding

[2020-12-04 00:33] #2077 closed

[2020-12-04 00:53] ben-manes commented on #5342
The test case is confusing because passes due to asserting the invalid behavior. I suspect that the Guava team would prefer to have a failing test to iterate against.

The compute methods are not a good fit with Guava's design, so the implementation has quirks and performance issues. I don't think those methods are commonly used, so they are likely not fully robust.

Can you try Caffeine? I believ

[2020-12-04 06:12] qi-jasper opened #5345 "about documentation pdf"
could you offer a link to download your documentation? or I haven't found out the link?

[2020-12-04 17:32] netdpb commented on #5345
Home page: https://guava.dev/
Guava Explained: https://github.com/google/guava/wiki

[2020-12-04 17:32] #5345 closed

[2020-12-05 07:00] ben-manes commented on #5342
I took a quick look and proposed a fix in #5348. I haven't been a contributor in many years and my familiarity with the cache internals is hazy, but I don't think anyone still active on the Guava team is any better off than I am. That PR seems to address the problem, but alas I can't be certain there are not edge cases that I missed.

[2020-12-05 07:15] ben-manes commented on #2827
@lowasser This is fixed in PR #5348 as part of fixing ##5342.

[2020-12-08 20:53] JLLeitschuh commented on #4011
With respect to: https://github.com/google/guava/pull/5324

I'd prefer if Google did the CVE issuance for this vulnerability, but since I haven't gotten an official statement about it, I'll just go to the parent CNA, MITRE, to request it.

[2020-12-08 20:57] melloware commented on #4011
Once you get a CVE number please come back and edit this Ticket titleto add the CVE number.

[2020-12-08 21:11] JLLeitschuh commented on #4011
Stating that I was going to file a formal appeal to MITRE finally got action on behalf of Google. They have assigned CVE-2020-8908 which should be disclosed later this week.

[2020-12-09 18:17] alexandru-2016 commented on #1740
The queue nature should be documented.

I just discovered that the event.post is not always guaranteed to execute all subscribers after it returns.

It clearly says in the docs:

But if you do a post while inside a subscribed callback, it's clearly not the case.

[2020-12-10 15:48] #3945 closed

[2020-12-15 20:00] loganbush789 opened #5356 "Guava EOL Versions?"
I am trying to figure out if there are any EOL versions for Guava, and if so, when do these versions become EOL?

Thanks.

[2020-12-15 22:27] jbduncan commented on #5356
I was under the assumption that only the latest version is supported, given that Google have the luxury of "[living](https://abseil.io/about/philosophy) at [head](https://dl.acm.org/doi/pdf/10.1145/2854146)" internally.

I don't know what the policy re. security patches are, though.

Any clarification on this would be enlightening.

[2020-12-16 19:12] ejona86 opened #5358 "30.1-android triggers Java 8 desugaring checks"
I'm seeing a compilation failure with 30.1-android. I don't see it with 30.0-android.

[code]

https://github.com/google/guava/commit/dc52e6e385fc9f0571dbd046d8ce5bf1a1c1f5cd looks suspicious. It seems the code expected the build to ignore the Java 8 bytecode and fail at runtime. A minute of glancing didn't show a way to ignore the error without enabling desugaring.

The release notes didn't menti

[2020-12-16 19:57] cpovirk commented on #5358
Ouch, sorry. Thanks for letting us know. I think I was under the impression that desugaring of _language features_ was on essentially universally nowadays, so this is information that I needed, though I certainly didn't want to discover it only by breaking stuff.

Do you know more about the state of adoption? For example:
- Aare there risks to opting in, or is it just that some people have not tak

[2020-12-16 20:13] ejona86 commented on #5358
In case it wasn't obvious, this was in the gRPC project.

I'm not too concerned about requiring desugaring of language features for Android. Although I sort of expected to start doing that when we drop Java 7 support; it is a bit harder to explain before that point.

I sincerely hope that gRPC's down-stream users are already desugaring; it is pretty painless and is quite helpful. But this would al

[2020-12-17 12:22] joachim-durchholz-six commented on #3031
I'd suggest not trying to use Java 9 or 10 with CF. Last time I looked the policy was "we support only LTS versions of Java".
Building it on your own seems to be difficult, but it's just the beginning: You have to annotate the JDK to get any value out of CF, and that means analyzing the whole JDK source. (Obviously you can carry over the analysis from Java 8 and retrofit changes made for Java 11,

[2020-12-17 18:37] cpovirk commented on #3990
We already have cases of [the conditional use I described above](https://github.com/google/guava/issues/3990#issuecomment-677722778). Specifically, we use APIs from higher than Java _6_ in guava-android -- again, only conditionally, but `--release 6` would still object:

https://github.com/google/guava/blob/c8d05367c2862ac74781a62061b4fd55e98ffda9/android/guava/src/com/google/common/util/concurren

[2020-12-17 21:23] cpovirk commented on #5358
Thanks, that's all reassuring. Your "more users in a small way" / "few users in a large way" framing sounds like the right way of looking at it.

A pre-migration is indeed what we're going for. But I had hoped we could ease into it with some runtime warnings and then escalate from there, not immediately force compile-time errors on people.... Then again, I did specifically call out the possibility

[2020-12-17 21:33] ejona86 commented on #5358
:rofl:

Sounds fair. gRPC will be use 30.0 for the moment, which was still an upgrade for us. But our release isn't even scheduled for another month, and even then it seems fine to use 30.0. But we'll still want to make sure we figure out things soon-ish so that we can get users into a solid state to avoid being in a lurch if there is a security vulnerability, Guava's Important New Feature, or the

[2020-12-18 05:37] aepshteyn commented on #3460
The `ImmutableCollection` javadoc specifies (for all immutable collections) the iteration order to be insertion order at creation time, "unless an explicit ordering is otherwise specified":

https://github.com/google/guava/blob/99a4d3afe044f7bd55f2394ee61756bd6c0adc13/guava/src/com/google/common/collect/ImmutableCollection.java#L60-L64

It would make sense for the `ImmutableMultimap` builders to a

[2020-12-18 20:26] skingsland commented on #3415
When you say remove it from "Resources.getResource", you're _actually_ talking about removing `@Beta` from the [class itself](https://github.com/google/guava/blob/master/guava/src/com/google/common/io/Resources.java#L45), which is not specific to the `getResource()` method, correct?

[2020-12-21 00:19] AlbertoSinigaglia opened #5362 "Add checkstyle as dependency"
Hi,
I was reading the contributions rules, and i came across this:

_Files should be formatted according to [Google's Java style guide](https://google.github.io/styleguide/javaguide.html)._

I looked at the main `pom.xml`, but I can't find any kind of static code analysis, for example to be sore that that rule is complied.

So my question is, are there any specific reason why you are not using [so

[2020-12-21 21:24] cpovirk commented on #5362
Thanks. My guess is that we won't want to set this up, but the reasons are a bit weird:

First: All our changes are submitted to an internal repository first and then synced out to GitHub automatically. The internal repository already has a formatting presubmit in place.

Additionally, there's a complication that comes in which our syncing process makes automated changes to some of our code. For e

[2020-12-21 21:25] #5362 closed

[2020-12-22 05:45] shenyachen opened #5366 "advice"
Are there any Chinese notes

[2020-12-22 15:34] #5366 closed

[2020-12-23 21:34] AlbertoSinigaglia opened #5368 "Migration to travis-ci.com"
Hi,
I would like to point out that as reported [in this article](https://docs.travis-ci.com/user/migrate/open-source-repository-migration):
<p align="center"><i>travis-ci.org will be officially closed down completely no later than December 31st, 2020</i></p>

and currently this project is still using **travis-ci.org** and so it's probably a good idea to migrate to **travis-ci.com**

[2020-12-24 03:45] smallYellowCat opened #5369 "There have no log to recorde exception"
https://github.com/google/guava/blob/98b785aada30c1eec8149b10019a67778b4a77b5/guava/src/com/google/common/cache/LocalCache.java#L3549

In my project occurred a NoSucheMethod excpetion,   but there have no log to recorde this exception,  it is  take my long time to located this problem.

[2020-12-24 15:23] kluever commented on #5369
This report doesn't contain enough information to diagnose anything, but I suspect you have multiple versions of Guava on your class path.

Please ask questions like this on stackoverflow using the tag `guava`.

[2020-12-24 15:23] #5369 closed

[2020-12-28 15:57] cpovirk commented on #5368
Thanks. Internally, some people told us about this but also told us that travis-ci.com [requires additional permissions](https://docs.travis-ci.com/user/github-oauth-scopes/) that we shouldn't grant. So we may look into [GitHub Actions](https://github.com/features/actions), similar to [what some other Google projects have done](https://github.com/google/error-prone/commit/745c3c7537ff0f13a3090c12a

[2020-12-28 16:00] cpovirk commented on #5368
(Supposedly Travis is planning to loosen the permissions requirement before the turndown. But it doesn't sound like we can rely on that.)

[2020-12-30 01:55] William1104 opened #5372 "How to avoid Rate Limiter to store unused permit?"
I would like to have a rate limiter to avoid overflow (absolutely no more than N calls in T duration). I tried it with Guava's RateLimiter and created following testcase.

[code]

Unfortunately, the test failed.

Reading the source code of Guava's RateLimiter, we have following methods:

[code]

I suspect the issue was due to the 'saved permit' mentioned in the source code. The default 'maxBurstSe

[2020-12-30 15:31] GabrieRabelo commented on #3284
Is there an alternative to use without with this @Beta notation?

[2020-12-31 17:29] harpocrates opened #5375 "UnsignedLong to double conversion does not always round correctly"
The `UnsignedLong.doubleValue` method claims to convert `long` to `double` with correct rounding. Assuming "correct rounding" means produces the `double` whose real value is the closest to the real value of the `long`, here is a counter example:

[code]

This outputs

[code]

The double that Guava produces is 26 away from the original value, but there was a closer double only 22 away from the orig

[2021-01-02 09:08] mghildiy commented on #3999
Hi, can I work on this issue?

[2021-01-02 09:12] mghildiy commented on #3333
Hi, can I pick up this issue?

[2021-01-02 16:38] Marcono1234 commented on #642
As a side note: If you look at the implementation of the internal [`ReaderInputStream`](https://github.com/google/guava/blob/master/android/guava/src/com/google/common/io/ReaderInputStream.java) you will see that it already is performing some buffering, so calling `ByteSource.openStream()` _might_ already yield good enough performance.

[2021-01-02 16:44] Marcono1234 opened #5376 "Add conversion from Reader to InputStream"
It appears there are use cases where one wants to convert a `java.io.Reader` to a `java.io.InputStream` using a given charset, see [this Stack Overflow question](https://stackoverflow.com/questions/65541132/how-to-convert-reader-to-inputstream-in-java) or [this Baeldung article](https://www.baeldung.com/java-convert-reader-to-inputstream#guava).

Guava already has this functionality implemented as

[2021-01-02 18:02] Marcono1234 opened #5377 "CharSource.asByteSource(...).openStream() does not implement InputStream.available()"
The `InputStream` returned by `CharSource.asByteSource(...).openStream()` (i.e. internal class [`ReaderInputStream`](https://github.com/google/guava/blob/master/guava/src/com/google/common/io/ReaderInputStream.java)) does not implement [`InputStream.available()`](https://docs.oracle.com/javase/8/docs/api/java/io/InputStream.html#available--).

Example:
[code]

Possible implementation:
- If `com.go

[2021-01-06 16:17] carterkozak commented on #1977
@cpovirk I've built an errorprone check which detects precisely this kind of deadlock here: https://github.com/palantir/gradle-baseline/pull/1598

I'd be more than happy to transfer the code upstream into error-prone if there's interest.

[2021-01-06 21:06] netdpb commented on #5372
Right now there is no way to configure the burst behavior. Editing this issue to make it a feature request.

[2021-01-07 20:15] dacloutier-logmein commented on #3722
Just curious, how did you solve it ?

I am facing the same issue.

[2021-01-10 04:17] mlilback opened #5379 "WIki PreconditionsExplained page does not mention class name"
The `PreconditionsExplained` wiki pages never mentions what class the preconditions it describes are in. Neither does ConditionalFailuresExplained. Links should to be provided for both.

[2021-01-11 12:51] thinkerou commented on #3414
any update? thanks!

[2021-01-11 16:40] cpovirk commented on #1977
Thanks! I am interested in principle. My fear has been that such a checker may be prone to false positives, but if they turn out to be easy enough to work around, we'd probably enable a check anyway as a precaution.

[2021-01-11 22:15] cpovirk commented on #5358
Unless we hear more reports of problems, I'm going to call this Working as Intended-ish.

I've updated our [announcement](https://groups.google.com/g/guava-announce/c/1QEmTnt3Bbg/m/ii6DaNApCwAJ) and [release notes](https://github.com/google/guava/releases/tag/v30.1) to mention the change.

Some non-eventful updates:

I've been doing daily web searches from problems from this, and so far, they've o

[2021-01-12 17:12] carterkozak commented on #1977
I've added an error-prone ticket to discuss upstreaming the check: https://github.com/google/error-prone/issues/2062

[2021-01-13 19:55] glassm commented on #3285
The @Beta annotation says to me, "I can't be trusted". It would be better to use alternative libraries for serious (production) applications. Please explain your policy for software stability and your use of @Beta annotation

[2021-01-13 22:07] netdpb commented on #3285
We should absolutely review the use of `@Beta` on this class. However, Guava's `@Beta` definitely doesn't mean an API isn't trustworthy!

As documented [here](https://github.com/google/guava/blob/master/README.md#important-warnings) and [here](https://guava.dev/releases/snapshot/api/docs/com/google/common/annotations/Beta.html), APIs annotated with `@Beta` may change incompatibly in a future relea

[2021-01-13 22:29] robeden commented on #3285
@netdpb - Cool. Thanks for the reply. So... uh... `Files`? 🥺

[2021-01-14 15:36] cpovirk commented on #1557
This is probably the same as https://github.com/google/guava/issues/2587, which was fixed. Let us know if not.

[2021-01-14 15:36] #1557 closed

[2021-01-15 20:21] cgdecker commented on #5379
The method links in `PreconditionsExplained` all link to the Javadoc for the methods on the `Preconditions` class. That said, we could probably be a little more explicit about that.

For `ConditionalFailuresExplained`, there's a table that links to both `PreconditionsExplained` (for the preconditions row) and to the Javadoc for `Verify` (for verification), so I'm not sure that there's anything for

[2021-01-15 22:19] oliviercailloux opened #5380 "Add an immutable computing map"
(Sorry, hit `post` by mistake, and the initial post was empty. Edited afterwards.)

Please consider providing an `ImmutableMap` that works by computing _only once_ the value associated to each key, lazily, and storing the result. Concretely, I propose to add: `Maps#immutableComputingMap(Set<K> keys, Function<K, V> valueProvider): ImmutableMap<K, V>`. The returned map has a constant `keySet()`, the

[2021-01-16 11:10] mtov opened #5381 "Small improvement in Files test (FilesTest.testCopyIdenticalFiles)"
Hi,

In the following test

https://github.com/google/guava/blob/master/guava-tests/test/com/google/common/io/FilesTest.java#L192

[code]

Wouldn't it be better to use `temp2` in the final assert:

[code]

=>

[code]

Thanks,

[2021-01-19 17:08] cgdecker commented on #5381
That does look like it would be the better assertion.

[2021-01-19 18:08] #5381 closed

[2021-01-20 10:52] BlackRose01 opened #5387 "Add bit operations to UnsignedInteger class"
Could you please consider to implement bit operations to the UnsignedInteger class?

Currently I try to migrate a CRC32 algorithm from C# to Java. This algorithm works only with unsigned integer values and use bit operations like xor, and, left shift.

[2021-01-20 16:01] cpovirk commented on #3990
- This appears to [work](https://github.com/protocolbuffers/protobuf/issues/7827#issuecomment-681010545).
- It's apparently much like [what we do internally for Android builds](https://github.com/google/error-prone/issues/2122#issuecomment-763236119).

[2021-01-21 14:34] cpovirk commented on #1652
(As for `CountingOutputStream`, we definitely have users who want to be able to monitor the count as an operation is underway, rather than being able to look it up only at the end. (This is presumably part of the reason for https://github.com/google/guava/issues/900, for example.))

[2021-01-21 14:40] cpovirk commented on #900
*Arguably* even atomics are not enough: That still leaves a window between when the data is written to the stream and when the count is updated. But probably most users don't care about that level of guarantees: They just want to make sure that the count is eventually correct.

And if someone _really_ wants to eliminate that window, that can be accomplished by wrapping the entire stream to synchro

[2021-01-21 21:22] computerquip-futurex opened #5388 "HostSpecifier requires a hostname with a public suffix"
The documentation states:

The lack of a public suffix doesn't mean that the hostname given isn't valid for a URI. For example, I could have an HTTP URI look something like `https://internal.network/mywebpage.html`. This class would fail to parse the hostname, because "network" isn't a public suffix. That hostname is valid, however. A more obvious example is "localhost" which also fails to parse a

[2021-01-22 13:50] ManavIBM opened #5389 "CVE-2020-8908 on failureaccess artifact"
Hi,

We are using latest guava version 30.1-jre.
The above CVE suppose to be fixed in that version but owasp still showing vulnerability
on failureaccess artifact.

[ERROR] failureaccess-1.0.1.jar: CVE-2020-8908

Can someone help on this.

Thanks.

[2021-01-22 18:45] tony-- commented on #4011
The last sentence in [the CVE](https://nvd.nist.gov/vuln/detail/CVE-2020-8908) description says, "We recommend updating Guava to version 30.0 or later, or update to Java 7 or later, or to explicitly change the permissions after the creation of the directory if neither are possible."

The ", or update to Java 7 or later," clause suggests that this vulnerability only affects Java < 7, but that's not

[2021-01-22 20:40] JLLeitschuh commented on #4011
@tony-- you are correct. Updating to Guava 30.0 won't fix this either. All that 30.0 changes is marking the method as deprecated. #5324 is a fix for it, but it's not been merged yet.

[2021-01-22 21:11] tony-- commented on #4011
@JLLeitschuh thanks for responding.  Any suggestion for how to communicate the need to update the CVE?  I didn't realize it was SO WRONG.

[2021-01-23 16:42] JLLeitschuh commented on #4011
I've sent the following message to the Google security team.

[2021-01-25 07:51] tzh921129 opened #5390 "guava wiki CollectionUtilitiesExplained has a mistake"
wiki location: https://github.com/google/guava/wiki/CollectionUtilitiesExplained
the chapter is Multisets
the demo code show in wiki is
multiset2.removeOccurrences(multiset1); // multiset2 now contains 3 occurrences of "a"

it's wrong, should be Multisets.removeOccurrences(multiset2,multiset1);

[2021-01-25 08:35] MSSedusch opened #5391 "Maven Builds require JDK11"
Hi,

I am using Guava in an application that is build and runs on JDK 8. I cannot use a newer one.
I am currently using Guava 28.1 which is build with JDK8.
However, for security reasons, I have to update to Guava > 30.0 but these builds seem to be build with JDK11.

Can anyone point me to a Maven repository that contains Guava > 30.0 libs build with JDK 8?

Thanks

[2021-01-25 13:27] jbduncan commented on #5391
@MSSedusch I'm also a user of Guava (I'm not in the Guava team), but my understanding is that even though the latest versions of Guava are _built_ using Java 11, they can still be _used_ in Java 8 projects without any problems. (I imagine the Guava folks are using javac's `--release` flag or something, which makes this possible.)

Why do you ask? Is it because you can't use the latest pre-built Gu

[2021-01-26 08:44] wangxj3 opened #5392 "when compile the code，report an error"
use the method，【Iterables.transform】，when Iterables.transform。
code：Iterables.transform(Iterable<String>, Function);
error：
Error:(48, 26) java: 无法将类 com.google.common.collect.Iterables中的方法 transform应用到给定类型;
  需要: java.lang.Iterable<F>,com.google.common.base.Function<? super F,? extends T>
  找到: java.lang.Iterable<java.lang.String>,DolphinPlu[...]ource
  原因: 无法推断类型变量 F,T
    (参数不匹配; 方法引用无效
      不

[2021-01-26 14:32] kluever commented on #5391
Please use [StackOverflow](https://stackoverflow.com/questions/ask?tags=guava+java) to ask "how-to" and "why-didn't-it-work" questions.

[2021-01-26 14:32] #5391 closed

[2021-01-26 14:45] kluever commented on #5390
Thanks - will get this fixed shortly.

[2021-01-27 06:19] kishaningithub commented on #5389
Duplicate of https://github.com/google/guava/issues/5389

[2021-01-27 14:47] #5392 closed

[2021-01-27 14:48] #5389 closed

[2021-01-28 10:58] anjor opened #5393 "Configurable log level for AggregateFuture"
**Context**
We use the [whenAllSucceed](https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/Futures.java#L629) method in Futures to combine futures when batching requests. This is done for the ["fast failing"](https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/AggregateFuture.java#L115) that AggregateFuture provides.

When mo

[2021-01-28 15:10] cpovirk commented on #5393
I have felt bad about this for years, but `util.concurrent` has remained not a priority for us for years, so I'm not sure when that will change.

You can follow along on https://github.com/google/guava/issues/2134. I recently suggested [a workaround](https://github.com/google/guava/issues/2134#issuecomment-726833556) that I haven't tested but that I am hopeful would work.

[2021-01-28 15:10] #5393 closed

[2021-01-28 18:19] tony-- commented on #4011
Any reply that you can share @JLLeitschuh ?

[2021-01-28 18:48] richardsonj commented on #3678
That's a very different method. That returns a Collector that will create a Multimap from a Stream.

Multimaps.toMap() takes in a Multimap and returns it as a Map of Collections (depending on the Collection type of the Multimap).

[2021-01-28 19:20] nick-someone commented on #4011
Hi @JLLeitschuh!

Nick from the Guava team here. I sincerely apologize for my radio silence on the matter. I take full responsibility for not having been well engaged in this process. I believe my inaction was driven from a sense of avoiding stepping on the security team's toes, or inadvertently causing more consternation by doing the wrong thing (saying something I shouldn't have, not understandi

[2021-01-28 21:27] JLLeitschuh commented on #4011
Wow, this is more than I expected out of this. Thank you for the kind, respectful, and very human apology here. I really honestly do appreciate it.

Please do consider utilizing GitHub Security advisories as a part of this process. I know they aren't perfect yet, but I continue, as a GitHub star, to utilize my contacts inside of GitHub to improve their shortcomings. Although they do still have sho

[2021-01-29 13:51] JLLeitschuh commented on #4011
Quick update to everyone following this. I added a "workaround" section to the header of this document. I realized that was missing. Sorry about that.

[2021-01-29 18:34] cpovirk commented on #4011
Trying to tie together various internal and external discussions over these past months:

- The CVE update is https://github.com/google/cvelist/pull/1.
- We don't think that https://github.com/google/guava/pull/5324 is enough: It could fix the problem for our `-jre` releases but not our `-android` releases. And if anything, I would suspect that our method's behavior is more likely to cause end use

[2021-01-29 18:38] cpovirk commented on #5389
The ongoing security discussion is indeed tracked by #4011. That said, no tool should ever have been reporting a problem with `failureaccess`, only with `guava` itself. This sounds like a bug in the tool that you're using or the data it relies on.

[2021-01-29 19:06] JLLeitschuh commented on #4011
Hold up now, (🤯) this actually puts a whole new spin on my research project if this is true. Android apps hostile towards each other is a way more compelling security perspective on this whole issue.

That being said, in all my previous research (ie. googling random terms), I have been completely unable to track down any kind of documentation regarding the behaviours of the `java.io.tmpdir` in the

[2021-01-29 19:06] cpovirk commented on #4011
One thing for us to think more about: While I feel pretty safe autoreplacing Google's usage of this method on the server with `nio` (at least after [some earlier testing](https://github.com/google/guava/pull/5324#issuecomment-732993392)), we should figure out how easily _Android_ users can migrate to `getCacheDir`. Challenges:
- They need a reference to a [`Context`](https://developer.android.com/

[2021-01-29 19:07] cpovirk commented on #4011
Eek, I hope I did not just say something completely false :) I will see what I can dig up about `java.io.tmpdir` on Android.

[2021-01-29 19:54] cpovirk commented on #4011
[The Android docs for `System.getProperties()`](https://developer.android.com/reference/java/lang/System#getProperties()) claim that `java.io.tmpdir` is set to `/sdcard`. Presumably that is a shared directory. I suppose it's conceivable that files there magically are restricted to the creating app, but that... would not be my first guess.

_However_, I came across a comment internally that suggest

[2021-01-29 20:04] cpovirk commented on #4011
Most likely https://android.git.corp.google.com/platform/frameworks/base/+/e1d330a071a4574040e6f1147800b4b2c8864043

That [made it into the first Jelly Bean release](https://android.git.corp.google.com/platform/frameworks/base/+/android-4.1.1_r1/core/java/android/app/ActivityThread.java#3979) but [did not make it into the last Ice Cream Sandwich release](https://android.git.corp.google.com/platfor

[2021-01-29 20:16] JLLeitschuh commented on #4011
Any chance you can externalize those links? All of them point to internal Google resources that I can't see as a layperson 😢 😆

[2021-01-29 20:21] cpovirk commented on #4011
Argh, sorry. Hmm. I will see what I can find. Until I do, here are some more still-internal links:

Here's something that's still not a user-visible doc but is at least a code comment to further back up the idea that that change is intentional:
https://android.git.corp.google.com/platform/libcore/+/56f48d7d7c69b49d35ebf122877f58528a59d76c/ojluni/src/main/java/java/lang/System.java#1034

I also loo

[2021-01-29 20:24] cpovirk commented on #4011
OK, I believe that all links now point to pages I can see in an incognito window.

[2021-01-29 20:34] cpovirk commented on #4011
One other tiny comment about the Ice Cream Sandwich days: I saw another comment internally that suggested that `/sdcard` is/was not writable by many apps. (This may even have been part of the reason for changing where `java.io.tmpdir` points.) This sounds like it could remove the security hole: If no one can write temporary files, then no one can read sensitive data from them! But I suspect that w

[2021-01-29 20:44] cpovirk commented on #4011
[The `/sdcard` value in native code dates back to at least Cupcake.](https://android.googlesource.com/platform/frameworks/base/+/e1d330a071a4574040e6f1147800b4b2c8864043/core/jni/AndroidRuntime.cpp#741) (I wasn't going to look, but I stumbled across it in one of the tabs I still had open. If someone wants to investigate more than that, be my guest :))

It presumably became ineffective as of the 20

[2021-01-29 20:45] JLLeitschuh commented on #4011
I think our best bet here is to go with the documented behaviour and assume that that is correct? Or is that being to hopeful about the  documentation being up-to-date?

[2021-01-29 20:47] cpovirk commented on #4011
I am pretty confident that `/sdcard` is wrong nowadays. But I think it is well past time for me to do what you originally said and talk to actual Android people.

[2021-01-31 20:56] prbprbprb commented on #4011
FYI

1. The third column in the Android `getProperties()` docs is headed "Example" rather than say "Expected", but agree this is misleading and should be changed.
2. The only place (aside from tests) in AOSP where `java.io.tmpdir` gets set is the [same code](https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/java/android/app/ActivityThread.java;l=6288) Chris referen

[2021-02-01 10:28] ManavIBM commented on #5389
Sure Thanks.

[2021-02-01 11:22] 1c3t3a commented on #5387
We are a group of students ([Tobias](https://github.com/kariustobias), [Elena](https://github.com/Kara3), [Dominik](https://github.com/DJCoding) and me), who would like to contribute to guava, could we pick this up?

[2021-02-01 15:00] cpovirk commented on #4011
Thanks, Pete!

My mistake about the `getProperties()` docs. Hopefully a "normal" reader is more likely to see the header than I was: I was grepping the Android sources for `java.io.tmpdir` and `/sdcard`, so I saw those lines in isolation (and in source code), rather than in the rendered table.

It's also nice to great to hear that SELinux has been restricting access for a while. I was probably too

[2021-02-01 15:12] cpovirk commented on #4011
One other thought on that Android front:

It's great that the app's cache directory is already the value of `java.io.tmpdir` nowdays. First, again, given that `java.io.tmpdir` is now locked down, Android apps can safely use that directory, so there's no particular danger from `createTempDir` _under Android_. But also, if those users are migrating off `createTempDir`, they can continue to create th

[2021-02-01 15:22] JLLeitschuh commented on #4011
I've asked some android developers to follow up here on the android question. Hopefully I can find someone with actual real devices they can test this on for us across the past 5-6 android versions.

---

Why is this even needed? Doesn't Java 7's `Files` api already offer this functionality?

[2021-02-01 15:40] prbprbprb commented on #4011
Very possible :) I've only worked on Android for a couple of years so have no direct knowledge, but nowadays the platform security team are certainly very passionate about protecting apps from each other, and even from vendors (including Google).

I have a sketchpad app I wrote for exactly this kind of thing which I keep meaning to get open sourced, so 'twas as simple as
[code]

I didn't test on a

[2021-02-01 15:44] 1c3t3a commented on #5377
We are a group of students ([Tobias](https://github.com/kariustobias), [Elena](https://github.com/Kara3), [Dominik](https://github.com/DJCoding) and me), who would like to contribute to guava, could we pick this up?

[2021-02-01 16:38] cpovirk commented on #4011
Right, Java 7's `java.nio.file` offers this functionality.

However, that wasn't added to Android until [API Level 26](https://developer.android.com/reference/java/nio/file/package-summary) ([Oreo](https://source.android.com/setup/start/build-numbers), [2017](https://en.wikipedia.org/wiki/Android_version_history#Android_8.0_Oreo_(API_26))). (Contrast to some [other Java 7 APIs](https://docs.oracle

[2021-02-02 16:31] JLLeitschuh commented on #4011
So two comments about this thread, because I think it's getting out of hand and off focus.

1. I think this thread needs a "Android Security Implications" post that specifically summarizes the entirety of the discussion above. I don't want a poor security team lead who handle this vulnerability read the novel we've constructed above to fully grock whether or not android is vulnerable.
I suggest th

[2021-02-03 02:30] Marcono1234 commented on #5377
Additionally I think this check will always be `false`:
https://github.com/google/guava/blob/c9f4b9fcb4ae756af0be113a6c307f6702cde404/guava/src/com/google/common/io/ReaderInputStream.java#L153-L154

If `doneFlushing == true` it was set in this invocation because otherwise the draining check at the beginning of the method would have returned fast.
However, if `doneFlushing` was set in this invocati

[2021-02-03 16:05] prbprbprb commented on #4011
Re (1) my understanding of the Android situation prior to any Guava fix is this (please correct if wrong):

* Guava `createTempDir()` creates world readable directories (mode 755)

* On  ICS and more recent, there is by default no security impact because each app gets its own private tmp dir via the `java.io.tmpdir` Java property.  If applications override that property for any reason (e.g. shared

[2021-02-03 16:09] cpovirk commented on #4011
[The first release that is not impacted was JB](https://github.com/google/guava/issues/4011#issuecomment-770020802), rather than ICS, right?

[2021-02-03 16:12] prbprbprb commented on #4011
Oops, that's correct, thanks!

[2021-02-03 16:14] JLLeitschuh commented on #4011
Also, if the `java.io.tmpdir` was at any point `/sdcard`, according to a security researcher I spoke to:

From this I interpret that for any situation where `java.io.tmpdir` was set to `/sdcard` this method is vulnerable.

Also from that researcher:

I think as a part of this, it would be nice to have a nice clear table that details what the value of `java.io.tmpdir` was by default on android. Tha

[2021-02-03 16:51] nick-someone commented on #4011
@prbprbprb

It would be more correct to say (although I don't know if there's an effective difference in this situation) that `createTempDir()` uses the permissions inherited from the surrounding directory. It doesn't do any explicit permissions modification.

[2021-02-03 16:56] prbprbprb commented on #4011
Hmm, me either and I think we'd need to look at some real devices rather than the emulators to be sure.

[2021-02-03 17:10] elharo opened #5398 "Beta packages"
The `@Beta` annotation should also be applicable to packages. Right now it is:

[code]

I would like to add   ElementType.PACKAGE to this list.

google-http-java-client has multiple packages marked Beta, currently with a custom Beta annotation.

[2021-02-03 23:15] tony-- commented on #4011
I was curious to search through the source and make the table that @JLLeitschuh suggested, so FWIW...

Android version to git tag mapping from https://source.android.com/setup/start/build-numbers#source-code-tags-and-builds

Android Version | `java.io.tmpdir` value | git reference
------------ | -------------  | -------------
Donut|/sdcard|[ref](https://android.googlesource.com/platform/frameworks

[2021-02-05 07:54] PhenJuly opened #5399 "LoadingCache.get(key) return some Object guess"
The list returned by cache.get("") has the some object, which causes an exception in maps.unqueIndex. The test environment cannot reproduce it. Is it possible for loadingcache.get ("") to get the cached data repeatedly

[2021-02-05 10:35] DJCoding commented on #5380
Hello, can I take this issue?
I already started a basic Implementation of this. But I ran into trouble to choose a super class.
Because the `ImmutableMap` has no information about the computing part. Especially the Builder class lacks the param `Function<K, V> valueProvider`

[2021-02-05 12:00] perceptron8 commented on #5380
@oliviercailloux If `ImmutableMap` involved lazy computing, I wouldn't trust any `ImmutableMap` returned by any API ever again. "Is it safe to pass on?", "Should I iterate over `values()` to trigger loading first?" and so on. I know that it is not specified directly to be so, but most of the times I treat "immutable" as "set in stone".

It is pretty easy to get computing map already using guava ca

[2021-02-05 17:27] kamilkub commented on #5398
Hi! I would like to take on this task as a first challenge. Can I start working on it?

[2021-02-05 20:07] ben-manes commented on #5380
In the description, a call like `size()` or `keySet()` would change over time. It would therefore not be immutable, but would be not directly modifiable. Instead it seems like @perceptron8 sample, wrapped with `Collections.unmodifiableMap`, would serve this purpose and require no library changes.

[2021-02-07 13:44] oliviercailloux commented on #5380
Unless I missed something in the documentation, it seems to me that my proposition satisfies the contract of `ImmutableMap`. Therefore, if someone wants `ImmutableMap` to guarantee that it does not “lazy compute anything” (if that is what you suggest, or is it?), then that person should enter a proposal for modification and ask that this guarantee be added to its contract. (Not that I currently se

[2021-02-07 13:50] oliviercailloux commented on #5380
AFAIU, Guava requires that immutability be compile-safe, not merely safe by declaration. It therefore refuses to build lazily using a general Function, which in general the compiler can’t prove is not mutable. My proposal is compatible with this requirement because I propose to use a specific way of computing the values, but using some unspecified function would not necessarily be compatible with

[2021-02-07 13:52] oliviercailloux commented on #5380
No, it would not: “[The returned map has a constant keySet()](https://github.com/google/guava/issues/5380#issue-787248738)”. Similarly, @perceptron8’s implementation never exhibits a change of size. Please correct me if I am wrong or if anything is unclear.

[2021-02-07 19:16] perceptron8 commented on #5380
Let me repeat: I do know that this is currently not specified *directly*. And I think you may be right! This should be documented.

Have you ever heard of [LazyInitializationException](https://docs.jboss.org/hibernate/orm/current/javadocs/org/hibernate/LazyInitializationException.html) ;)?

---

According to [ImmutableCollectionsExplained](https://github.com/google/guava/wiki/ImmutableCollectionsE

[2021-02-07 19:23] perceptron8 commented on #5380
In fact, @ben-manes is right about missing `Collections.unmodifiableMap` wrapping. In my sample, if `Set` was modifiable, then `Map` would be too. `Maps.asMap` is a live view.

[2021-02-08 17:14] oliviercailloux commented on #5380
These are two excellent points. I agree then that one can reasonably say that my proposal does not comply with (the spirit of) an `ImmutableMap`.

I don’t think that a `Collections.unmodifiableMap` wrapping would solve the problem, or I don’t see what you mean. I think there is no escape from defensively copying the given set: `Maps.asMap(ImmutableSet.copyOf(set), cache::getUnchecked);`.

Anyway,

[2021-02-08 20:12] cpovirk commented on #5358
Closing to indicate that we're not currently planning to change anything in response to this. But please continue to report any discoveries here so that we can change course as needed.

[2021-02-08 20:12] #5358 closed

[2021-02-08 21:18] tony-- commented on #4011
So https://github.com/google/cvelist/pull/1 has been merged, but https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8908 and https://nvd.nist.gov/vuln/detail/CVE-2020-8908 are still unchanged.  Any ETA on when we'll see the public-facing advisories for CVE-2020-8908 get updated, @cpovirk?

[2021-02-08 21:35] cgdecker commented on #5377
Something you don't explain in this issue that I'm curious about is _why_ you want this stream to implement `available()`. As far as I can tell the main reason to want to use `available()` in the first place is to implement some kind of non-blocking thing where you only read from an `InputStream` when it says it has bytes available, but:

- This isn't something you can rely on as a general rule gi

[2021-02-08 21:40] nick-someone commented on #4011
@tony-- The PR to watch is https://github.com/CVEProject/cvelist/pull/713 (which would apply this change to the actual upstream CVE sources). Sounds like there are some minor comments going on there.

[2021-02-08 22:16] cgdecker commented on #5398
I'm not necessarily opposed to this, but in general our `@Beta` annotation primarily exists for the use cases we need it for in Guava and annotation a whole package isn't something we've wanted to do. Another concern I'd have with this is that existing tools such as https://github.com/google/guava-beta-checker wouldn't know to look for `@Beta` on packages and as such wouldn't handle such APIs corr

[2021-02-08 22:22] cgdecker commented on #5399
Sorry, it's really unclear to me what you're asking here. Can you provide a [short, self-contained, correct example](http://sscce.org/) demonstrating the problem you're having, or at least an example of what the code you're talking about actually looks like? You mention a "list" returned by `cache.get`, which presumably means your cache has `List<Something>` values... in that case, the contents of

[2021-02-08 22:22] #5399 closed

[2021-02-08 23:16] stunnamaneee commented on #5399
YHANKS SO MUCH

[2021-02-08 23:44] Marcono1234 commented on #5377
My rationale was that if an `InputStream` can in some way provide bytes without blocking, it should override `available()` because I assumed in general it would be useful to provide this information to the user of the API (without a specific use case in mind).
When I wrote this GitHub issue I was only aware of some of the corner cases, which need to be handled, but not all and only became aware of

[2021-02-09 17:08] netdpb commented on #5356
We do not generally backport bug fixes. We encourage users to use the latest compatible version of Guava.

[2021-02-09 17:08] #5356 closed

[2021-02-10 07:37] #3341 closed

[2021-02-10 07:39] ben-manes commented on #2063
Closing since it seems unlikely to be resolved. This would be simple and be a large speed up, but requires an internal champion.

[2021-02-10 07:39] #2063 closed

[2021-02-10 09:04] jbduncan commented on #2897
@ben-manes The way I see it, it's still worth keeping this open since it seems to be interesting edge case worth testing against, at least for custom `Map` impls like `ImmutableMap`.

[2021-02-10 09:08] ben-manes commented on #2897
Sure thing. JDK bug was fixed, fwiw.

[2021-02-12 05:20] Mahir92 opened #5405 "Usage of broken hash algorithm detected"
In file https://github.com/google/guava/blob/master/guava/src/com/google/common/hash/Hashing.java (at Line 175) "md5" algorithm has been used.

Security Impact:

The MD5 Message-Digest Algorithm is not collision-resistant, which makes it easier for context-dependent attackers to conduct spoofing attacks

Useful Resources:

https://www.cvedetails.com/cve/CVE-2004-2761/

Solution we suggest:

Use Sh

[2021-02-12 16:09] #2827 closed

[2021-02-12 16:09] #5342 closed

[2021-02-12 16:34] netdpb commented on #5405
This is a library method that implements MD5; it doesn't _use_ MD5. The method is deprecated, and its documentation states that you should "avoid MD5, which is neither fast nor secure."

This is not a helpful bug report. Thanks.

[2021-02-12 16:34] #5405 closed

[2021-02-12 17:51] ijuma commented on #5269
Out or curiosity, what's the downside of requiring library desugaring?

[2021-02-12 18:00] cpovirk commented on #5269
For most users, it's probably a reasonable thing to enable. However, there are downsides in some cases. As I understand them, the downsides are:

- It increases app size somewhat. (That's in comparison to doing nothing. Of course, if people have to write their own alternatives to the Java 8 APIs, they may offset that gain.)
- It requires multidex. Many people already have to use that (or will have

[2021-02-13 14:23] mfulton26 opened #5408 "published JavaScript module"
I'd like to use Collections2.permutations, ValueGraph, etc. in a JavaScript project.

If Guava were published as Node package and/or an ESM module then JavaScript projects could leverage Guava compiled via GWT, etc. instead of porting or finding alternatives to some of the real awesome goodies herein.

[2021-02-16 14:59] cpovirk commented on #5408
Guava supports JavaScript primarily so that people can share code across cross-platform applications -- like those that target web browsers, Android, and [iOS](https://developers.google.com/j2objc) from mostly the same codebase. Developers who are writing only for JavaScript are likely better served by pure JavaScript libraries, which can be more efficient, idiomatic, etc. I wish that I knew enoug

[2021-02-16 18:39] cpovirk commented on #3990
We can also consider using `Unsafe` [through a `MethodHandle`](https://github.com/protocolbuffers/protobuf/issues/7827#issuecomment-778470895) instead of referring to it directly in code.

That said, that is an option only for the JRE, not for Android. _That_ said, we less urgently need `--release 8` for Android because Android builds work around the `Buffer` problem (as noted in passing [here](ht

[2021-02-18 12:52] MykolaBova commented on #2368
Hi Team! Is it still important to fix? Is it a good fix for beginner to work on?

[2021-02-18 12:53] MykolaBova commented on #2394
Hi Team! Is it still important to fix? Is it a good fix for beginner to work on?

[2021-02-18 14:46] cpovirk commented on #2394
It's not urgent or critical, just nice to fix someday. If you're lucky, you may be able to just replace `LinkedList` with `ArrayDeque` nowadays, as it looks like `ArrayDeque` is now available under all environments that we target, including GWT (since 2.8.0, which I believe is [what we already require](https://github.com/google/guava/issues/3102)). I'd be happy to have a look at a PR.

[2021-02-18 14:54] cpovirk commented on #2368
This is another thing that is probably not critical, but bugs are always bad. I haven't looked at `SortedMapTestSuiteBuilder` in a long time, so I don't have a feel for how hard it is. If we're lucky, we _might_ just be able to make `SortedMapTestSuiteBuilder.createDerivedSuites` skip the submap testers unless the map supports `CollectionSize.SEVERAL`. However, I'm not entirely sure that that info

[2021-02-18 16:09] nick-someone commented on #4011
Two quick updates here:

* It appears that the CVE PR was merged a couple of days ago. The changed description appears to have made its way to https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8908 and https://nvd.nist.gov/vuln/detail/CVE-2020-8908, so hooray for that!
* From my earlier comment, I made reference to an upcoming open source security response guide. Thanks to the work of @annab

[2021-02-18 17:25] melloware commented on #4011
Now we just need someone to fix this CVE and release a new Guava. 😄

[2021-02-18 20:01] nick-someone commented on #4011
@melloware 😄

There continue to be discussions about how best to proceed regarding this method, with some points summarized by https://github.com/google/guava/issues/4011#issuecomment-769975829

Shortly:
* This method would seem to appear to be the type of method we've reserved the "right" to remove (i.e.: It's `@Beta` and we're intending to remove it for security purposes).
* However well-intende

[2021-02-18 21:11] melloware commented on #4011
OK thank you.  My vote is removal 😄

[2021-02-19 04:49] Msaza1 opened #5410 "www.msaza.com_[Original comment](https://code.google.com/p/guava-libraries/issues/detail?id=859#c2) posted by **nto...@maginatics.com** on 2012-01-10 at 06:01 PM_"
_[Original comment](https://code.google.com/p/guava-libraries/issues/detail?id=859#c2) posted by **nto...@maginatics.com** on 2012-01-10 at 06:01 PM_

---

Instead of extending the Monitor API, you could always maintain a Cache of all Monitors keyed off ID. You need to do some extra work to figure out the best way to evict unused monitors but that is a different topic.

_Originally posted by @giss

[2021-02-19 04:52] Msaza1 commented on #5410
@inproceedings{45409,
title	= {Security Keys: Practical Cryptographic Second Factors for the Modern Web},
author	= {Juan Lang and Alexei Czeskis and Dirk Balfanz and Marius Schilder},
year	= {2016},
booktitle	= {Financial Cryptography}
}

[2021-02-19 08:51] ogregoire opened #5411 "Handle codepoints"
Codepoints are more and more present rather than chars. Working with them is hard because the Java API didn't really think about them and we're left with a handful of methods, not even in the same place.

Something that would be nice to start from somewhere is a kind of `CodepointStream`, and then expand on that. I'm not talking about `String::codepoints`, but rather about a new kind of `Reader`:

[2021-02-19 14:43] #5410 closed

[2021-02-19 17:45] jbduncan commented on #5411
@ogregoire Out of curiosity, do you use code points or grapheme clusters more?

For context, my understanding is that a grapheme cluster can represent any user-perceived character, whereas code points can only represent some. For example, this [blog post](https://manishearth.github.io/blog/2017/01/14/stop-ascribing-meaning-to-unicode-code-points/) explains that the "flag emoji “🇺🇸” is [...] made o

[2021-02-20 17:47] ogregoire commented on #5411
I had to look what a grapheme cluster is, but actually, that's something I'm kind reimplementing. I'm mostly parsing Unicode to tokenize sentences into a sequence of words, ideograms, emojis, etc. but I guess my implementations would be much easier with grapheme clusters.

[2021-02-20 19:59] jbduncan commented on #5411
Cool! You can use ICU4J's [`BreakIterator`](https://unicode-org.github.io/icu-docs/apidoc/released/icu4j/com/ibm/icu/text/BreakIterator.html) to get the [words](https://unicode-org.github.io/icu-docs/apidoc/released/icu4j/com/ibm/icu/text/BreakIterator.html#getWordInstance-com.ibm.icu.util.ULocale-) and [grapheme clusters](https://unicode-org.github.io/icu-docs/apidoc/released/icu4j/com/ibm/icu/te

[2021-02-21 11:20] ogregoire commented on #5411
@jbduncan Thanks! This is indeed useful. I'll try to figure out how to get a `BreakIterator` for a `Reader` without putting everything into memory. Making an `Iterator` around `BreakIterator` seems easy in comparison.
Should this ticket be closed or is there anything salvageable for Guava?

[2021-02-21 17:56] mfulton26 commented on #5408
I do suspect that this is very true to a great degree. After submitting this issue I found https://github.com/dagrejs/graphlib which appears to have a lot of the graph/network utilities I was hoping to use. I'm mentioning here 1) to help validate your point and 2) for others who may find this issue and have not yet discovered a good library to use.

[2021-02-22 02:01] zhangmingshuang opened #5413 "How to gracefully determine if Collection 、Map or Set is null or empty ."
When using a String, it can use `Strings.isNullOrEmpty(str)` to determine that `str` is null or empty.

alike, I want use like `Collections.isNullOrEmpty` to determine that the collection is null or empty in gracefully way.

Maybe I have been careless, I can't find a similar implementation in the framework.  Please reply.

Thank you in advance!

[2021-02-22 03:06] jbduncan commented on #5413
@zhangmingshuang I actually remember reading about this in Guava's ["Idea Graveyard"](https://github.com/google/guava/wiki/IdeaGraveyard#iterablesisnullorempty). The Guava devs suggest to "return empty collections instead of null" so that you can just use `Collection#isEmpty`, or alternatively to follow one of the suggestions in [this StackOverflow answer](https://stackoverflow.com/questions/69100

[2021-02-22 03:33] zhangmingshuang commented on #5413
Got it! Thans a lot.

[2021-02-22 03:33] #5413 closed

[2021-02-22 04:04] qrqhuang commented on #450
Still need this feature.

Is there a better way to handler two element and skip the blank.

[code]

[2021-02-22 14:21] cpovirk commented on #5411
As a general rule, we have tried to stay away from internationalization:

- That's not because it's unimportant but rather because it's _too_ important to be handled by non-experts such us as.
- Any real internationalization requires an ICU4J dependency. And, yes, I know that we're already not dependency-free (and I know this has caused people pain), but we are _trying_ to be deliberate about grow

[2021-02-22 19:36] jbduncan commented on #450
@qrqhuang Are you on Java 8 or greater? And by "blank" do you mean that your string is empty? If so, the following code should work:

[code]

If by "blank" you mean "this string contains just whitespace", and if you're on Java 11 or greater, you can use the following instead:

[code]

If you have any further questions, StackOverflow is the best place to ask them, as far as I can tell.

I hope this

[2021-02-23 02:41] qrqhuang commented on #450
@jbduncan Thanks a lot.   Stream is a work around way, but not easy to use.

Hope that with Joiner.

[2021-02-25 10:08] noamgrinch commented on #3882
@thhart Hello,

I have created a pull request: [https://github.com/google/guava/pull/5417]

[2021-02-26 12:29] aadityac opened #5419 "tryAcquire always returns true when timeout set to >= 1 second"
I have been using tryAcquire method to enforce ratelimits on a function. Example shown below.

[code]

RuntimeException never gets thrown. However, if I change the timeout to values below 1000 ms, for eg: -

`Boolean permitAcquired = RateLimitTest.rateLimiter.tryAcquire(1, 900, TimeUnit.MILLISECONDS);`

I do see the RunTimeException, which means the ratelimiter works as expected. I don't understan

[2021-02-26 13:38] pratikthaker84 commented on #3102
Hi All,

I am using GWT 2.9.0 and guava-gwt-29.0-jr.jar and using below classes from guava,

com.google.common.collect.ComparisonChain
com.google.common.collect.Ordering

At the time of gwt compilation, we are facing below issue,

[code]
Any way we can resolve this ?

[2021-02-26 15:36] nick-someone commented on #5419
It looks like your RateLimiter is configured to emit 1 permit per second, so waiting 1 second to acquire a permit seems appropriate.

[2021-02-26 15:36] #5419 closed

[2021-03-01 09:15] elmaxe commented on #5388
We're 5 people doing a course where were supposed to fix issues, we would like to fix this issue
[Yannis](https://github.com/K2017), [Taqui](https://github.com/Internet-Person-IP), [Andreas](https://github.com/andreaskth), [Telo](https://github.com/teljoh)

[2021-03-01 15:19] cpovirk commented on #5388
The docs could certainly by corrected, but ideally we would rename the class to better indicate its purpose. However, we're trying not to make backward-incompatible changes often, so I'm not sure we'll do it in this case.

(As for the purpose: It can make sense to require a public suffix when accepting, say, an email address or web address on a form when you know that they will be displayed to the

[2021-03-01 19:01] Internet-Person-IP commented on #5375
We're 5 people doing a course where we're supposed to fix issues, we would like to try and fix this issue or possibly something else that might be beginner-friendly and easy to test.
[Yannis](https://github.com/K2017), [Axel](https://github.com/elmaxe), [Andreas](https://github.com/andreaskth), [Telo](https://github.com/teljoh)

[2021-03-01 19:01] Internet-Person-IP commented on #5372
We're 5 people doing a course where we're supposed to fix issues, we would like to try and fix this issue or possibly something else that might be beginner-friendly and easy to test.
[Yannis](https://github.com/K2017), [Axel](https://github.com/elmaxe), [Andreas](https://github.com/andreaskth), [Telo](https://github.com/teljoh)

[2021-03-01 19:27] #4004 closed

[2021-03-01 21:16] netdpb commented on #5372
Thanks! I don't think this feature request is a good candidate for a beginner-friendly fix, but we're working on gathering a list across our projects and we'll update you with that.

[2021-03-02 15:41] antonlovstrom commented on #2394
Hi! We are a group of five students (me, [Olof](https://github.com/olofeldre), [Joakim](https://github.com/JoakimSkoog97), [Caroline](https://github.com/CarolineLarsen), [Robin](https://github.com/robinwanlund)) taking a course in which we are to solve issues, can we take on this one?

@MykolaBova Have you started work on this?

[2021-03-03 15:43] Internet-Person-IP commented on #5372
Hi again, thank you for keeping us up to date with your process and ideas. Currently, we have a deadline until Friday for our course so we will try and possibly extend the code to solve the test case that was mentioned in the issue. Currently, our main idea is to overload the create method so that users can also set the maxBurstSeconds which we thought would solve the test case that was provided.

[2021-03-04 21:35] netdpb commented on #5372
You're of course welcome to create a PR that makes that change, but if your course requires us to accept and merge that change by Friday, we won't be able to do that. Our process for adding APIs is slow by design: we tend not to add to our APIs unless we have reason to believe that such additions would be used by a lot of people (and not easy to misuse) and that they're significantly better than e

[2021-03-04 22:04] andreaskth commented on #5372
Thanks for the detailed answer, @netdpb! We fully understand and fortunately the course only requires us to submit a suggestion/PR; it does not have to be accepted. If we had had more time for this assignment (we had only roughly 1 week) we would definitely have spent more time to coordinate with you (the maintainers of this project) to perhaps find a more suitable issue before just "jumping in" a

[2021-03-09 14:43] William1104 commented on #5372
Hi @netdpb,

I actually don't have any practical use cases for this feature. I written the test just for myself to understand better how the Guava RateLimiter works. Thanks for your reply and opensourcing the Guava. It teaches me a lot.

FYI, I created a simple github repo (https://github.com/one-williamwong/rate-limiter) to implement a RateLimiter with a different approach. It samples the past N

[2021-03-11 15:03] falconetpt commented on #5411
Will pick this one :)

[2021-03-12 13:16] quickiwiki commented on #10
2021? Still no movement?

[2021-03-14 13:57] marlowa commented on #4011
To mitigate this I suggest that the version that has it removed increments the major version number. This would be a tip-off for the API incompatibility.

[2021-03-21 12:37] ben-manes opened #5438 "Cache's computeIfPresent discards if error'd entry"
It appears that we still have a bug in the compute logic. The test case below should retain the previous value when the compute throws an error. Instead the failed compute is left in the cache and the prior value can be read. When the next compute occurs, it treats the exception as a null old value, ignores the mappingFunction, and removes the entry.

[code]

Caffeine's test suite runs against a G

[2021-03-21 13:19] ben-manes opened #5439 "Cache recursive compute may deadlock"
`ConcurrentHashMap` used to livelock on a recursive computation in Java 8, and later added early detection to fail. Many years ago, Guava's loader used to deadlock and I added a check via `Thread.holdsLock` to error instead (see `waitForLoadingValue`). It appears that map computations may deadlock because it doesn't have this check and instead waits on the pending future.

[code]

[2021-03-22 21:03] cpovirk commented on #5368
Fixed by the migration to GitHub Actions: https://github.com/google/guava/commit/2cc42ec016d947a6722e09cea49d2092c2ce4f58

[2021-03-22 21:03] #5368 closed

[2021-03-23 17:17] netdpb commented on #5439
Thanks, @ben-manes! If you feel like sending a PR, we'll test it internally and accept it.

[2021-03-23 17:17] netdpb commented on #5438
Thanks! Do you have a fix in mind? We would test and accept a PR.

[2021-03-23 18:03] ben-manes commented on #5439
I'm still playing with a fix, but hope to send a PR eventually.

[2021-03-23 18:06] ben-manes commented on #5438
I think we can catch the exception and unwind back to the prior entry, as it holds the segment lock throughout. I don't like how it leaves a zombie, which causes these quirks.

[2021-03-23 19:14] #5269 closed

[2021-03-29 16:01] Marcono1234 opened #5450 "ImmutableGraph.delegate() exposes package-private BaseGraph"
`com.google.common.graph.ImmutableGraph` inherits and overrides the method `delegate()` which returns the package-private type `BaseGraph`:
https://github.com/google/guava/blob/018796b79b314b5b7790c9320c1a7c89140af76d/guava/src/com/google/common/graph/ImmutableGraph.java#L103

It looks like the method is only used within the same package, so this could be fixed by making both `ForwardingGraph.dele

[2021-03-29 16:10] Marcono1234 opened #5451 "ImmutableGraph inherits implementation methods from AbstractBaseGraph"
`com.google.common.graph.ImmutableGraph` inherits some protected methods from the package-private class `AbstractBaseGraph`, these methods are therefore part of `ImmutableGraph`'s public API.
Affected:
- [`edgeCount()`](https://github.com/google/guava/blob/018796b79b314b5b7790c9320c1a7c89140af76d/guava/src/com/google/common/graph/AbstractBaseGraph.java#L51)
- [`validateEndpoints(EndpointPair)`](ht

[2021-03-29 16:10] cpovirk commented on #5450
Thanks. I guess the method is more or less inaccessible to actual users, since they can't subclass `ImmutableGraph` from outside the package, anyway. That makes it pretty safe a cleanup to mark them package-private.

[2021-03-29 16:16] cpovirk commented on #5451
Thanks. We should also look at `AbstractValueGraph` and `ImmutableValueGraph`, as I have some notes that say there's something similar going on there.

[2021-03-29 16:27] cpovirk commented on #5451
Oh, I forgot that, while we don't expose `AbstractBaseGraph` itself, we do expose subclasses `AbstractGraph` and `AbstractValueGraph`.

We could make `edgeCount()` package-private in `AbstractBaseGraph` but then override it to make it `protected` in those subclasses. Or we could decide that it doesn't need to be `protected` anywhere.

`validateEndpoints` and `isOrderingCompatible` are mildly more

[2021-03-29 16:38] cpovirk commented on #5451
(If you want to send a PR to change those 3 methods as described above, feel free. Since I wasn't sure if we should hide the methods from *all* `Abstract*` classes or only from `AbstractBaseGraph`, I didn't want to go to too much trouble to make the changes. I'm taking care of the other `protected` methods in `common.graph`, though.)

[2021-03-29 17:37] #5450 closed

[2021-03-29 20:01] Marcono1234 commented on #5451
Thanks! You are right, I missed a view cases, and the situation for `AbstractBaseGraph` and `AbstractNetwork` is indeed tricky because users might have subclassed them (transitively) and accessed the protected methods.

I am now not sure what the correct approach would be; I feel that `validateEndpoints` and `isOrderingCompatible` should be marked as `@Deprecated` first to prevent breaking user co

[2021-03-29 20:13] jbduncan commented on #5451
I used `edgeCount()` in a [small project](https://github.com/jbduncan/guava-graph-utils/blob/29023559adabcc6cae2c24afa81b13160963ffd1/src/main/java/org/jbduncan/MoreGraphs.java) of mine (and I almost used `validateEndpoints` at some point), so I can attest that deprecating it or making it package-private would complicate things.

[2021-03-29 20:18] cpovirk commented on #5451
Thanks, and thanks. It's sounding like further changes here would require someone with actual knowledge about `common.graph`. (And as you may be aware, we haven't reliably made time for `common.graph` when actually knowledgeable people have been available.) If we do put some dedicated effort into `common.graph`, that may be a good time to pick this up.

[2021-03-30 18:54] TristonianJones opened #5456 "Add Duration parsing support to match Abseil C++ and Golang"
Golang's `time.ParseDuration` routine parses a very human-readable string format for duration values. This functionality was ported into the Abseil C++ library which makes it easy to consume the same duration strings in both C++ and Golang. Java does have support for Duration parsing to a `java.time.Duration`, but not in the same format. If the same routines were ported to Guava, then the same for

[2021-03-31 03:04] cowwoc opened #5457 "Broken link in Javadoc"
1. Go to https://guava.dev/releases/30.1.1-jre/api/docs/
2. Search for "unsignedbytes"
3. Get redirected to https://guava.dev/releases/30.1.1-jre/api/docs/undefined/com/google/common/primitives/UnsignedBytes.html which returns HTTP 404.

[2021-03-31 10:28] cpovirk commented on #5457
Thanks. We'll need to do the same thing as https://github.com/google/truth/issues/670 (which might also be what we did for https://github.com/google/error-prone/issues/1825, but I haven't looked).

[2021-03-31 10:32] cpovirk commented on #5457
(As noted on the Truth issue, you might like an alternative that we added, which is to navigate to [guava.dev/unsignedbytes](http://guava.dev/unsignedbytes). But we'll fix search, too.)

[2021-03-31 15:03] cowwoc commented on #5457
@cpovirk I looked at the issue you linked to but it sounds like everyone is implementing a workaround instead of fixing the underlying problem. Did anyone file a bug report against the Javadoc tool?

[2021-03-31 15:44] cowwoc commented on #5457
@cpovirk Good find. I'll add it to the Stackoverflow discussion.

[2021-04-01 10:33] AnkBurov opened #5460 "TreeMultimap.get(null) triggers NullPointerException"
Hello. Executing of such code triggers NPE:
[code]
[code]

According to method's javadoc, an empty collections should be returned:
[code]
but instead an NPE is thrown.

As a fix, may be it is worth to remove `keyComparator().compare(key, key)` invocation in `com.google.common.collect.TreeMultimap#createCollection(K)` and invoke simply `super.createCollection(key)`?

[2021-04-01 11:31] perceptron8 commented on #5460
It is already documented in TreeMultimap's javadoc:

(https://guava.dev/TreeMultimap)

It is inevitable to use comparator to determine equality.

Please note that the following also triggers NPE:

[code]

[2021-04-01 13:35] cpovirk commented on #5460
I'm happy to see that we do document this. Also relevant:

Still, it's unfortunate that [`get`](https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/collect/TreeMultimap.html#get(K)) is annotated as accepting a `@Nullable K` rather than just a `K`. Luckily, _this quarter_ is the one in which we're finally planning to redo Guava's nullness annotations to make them more useful. That sh

[2021-04-01 13:38] AnkBurov commented on #5460
Not sure why there is even a need to use comparator in the case when key is null especially when the returned value is ignored and the only needed thing here is to create an empty collection, but if you say that this is expected behavior - ok, I'll just override the method and invoke `createCollection()` when key is null.

Thanks. You can close the issue if you want.

[2021-04-03 00:37] xinzheyang opened #5462 "Is it safe to do synchronized(cache)?"
Suppose I have a Guava cache object

`Cache<String, String> cache = CacheBuilder.newBuilder().build()`

Is it safe to do
[code]

Want to make sure synchronized(cache) won't block with internal logic of Guava cache.

[2021-04-03 08:20] ben-manes commented on #5462
Yes, the cache internalizes its locking and doesn't synchronize on itself. However you should prefer a dedicated lock object when possible, preferably `ReentrantLock`.

[2021-04-03 15:50] #5462 closed

[2021-04-05 03:49] Mikhail-Polivakha opened #5464 "Documentation Improvement"
I have read CONTRIBUTING.md file, but I am still confused about how exactly we should create pull requests. Can you please clarify in documentation - From which exactly branch I should start new branch (to implement the feature). If the answer is not that simple, than also point it out in documentation.

[2021-04-05 10:16] jbduncan commented on #5464
@Mikhail-Polivakha The general rule in GitHub repositories is to branch from `master` (or `main` if it exists), and Guava follows that rule too. :)

[2021-04-06 17:45] nick-someone commented on #5464
jbduncan@'s got it.

Note that our pull request process doesn't merge commits directly via GitHub pulls, but will be used to generate a new commit internally and vend it outwards, so it's unlikely to be a major concern about the actual branch point (unless of course the file was updated in the interim).

[2021-04-06 17:45] #5464 closed

[2021-04-08 09:42] ThisCakeIsALie opened #5471 "Ambiguity in the description of DoubleMath.fuzzyEquals"
Hello, the description of `DoubleMath.fuzzyEquals` states:

[code]

These two statements contradict each other: If the tolerance is negative `fuzzyEquals` throws an exception while `Math.abs(a - b) <= tolerance || Double.valueOf(a).equals(Double.valueOf(b))` does not.

Changing the first sentence to something like
[code]
solves the issue.

[2021-04-08 13:56] nick-someone commented on #5471
Thanks for filing the issue! Generally preconditions like "the tolerance is non-negative" are encoded as the IllegalArgumentException here suggests.

Similarly, the one-line summary states:

`Returns true if a and b are within tolerance of each other`

which doesn't make sense with tolerance as a negative number.

[2021-04-08 13:56] #5471 closed

[2021-04-09 21:31] jbduncan opened #5482 "Allow `MoreFiles.fileTraverser()` to have customizable error handling"
Context
---

I've noticed that when using Kotlin's [`File.walk`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.io/-file-tree-walk/) function, if it doesn't have permission to read a subdirectory, it will just skip over that subdirectory by default.

If one wants to handle that case as an error, they'd use [`FileTreeWalk.onFail`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.io/-file-tr

[2021-04-11 12:27] jbduncan commented on #5482
Alternatively, a builder class could be provided that exposes an `.onFail(...)` method?

[2021-04-13 01:24] eamonnmcmanus commented on #5375
Here's my understanding of the situation. The test number looks like this in binary:
[code]
The indicated span is 53 bits, which is as much as a `double` can represent. The current algorithm first drops the leading 1 bit and converts to `double`:
[code]
Then it adds 2<sup>63</sup>, which produces this:
[code]
The true sum of the numbers represented by these two `double` values is halfway between t

[2021-04-13 14:05] nanachimi commented on #3360
Yes please!

[2021-04-14 00:53] #5375 closed

[2021-04-14 00:56] eamonnmcmanus commented on #5375
Thanks @harpocrates for finding this subtle problem and including not only a test case but a fix!

[2021-04-17 19:09] spencer-h-l commented on #2130
I am on Windows and I was able to clear three previously failing tests that looked at absolute paths by modifying the getClassPathEntry function to more directly deal with absolute paths.
[https://github.com/spencer-h-l/guava/blob/5d67f759cbc8d97650e002579fe3e681e6e334bf/guava/src/com/google/common/reflect/ClassPath.java#L645-L650](url)

[2021-04-19 15:40] #3477 closed

[2021-04-19 15:56] #1568 closed

[2021-04-19 17:04] cpovirk commented on #1716
There's probably a lot that could be done here:

- `lazySet` is also atomic (just potentially delayed).
- So is `get`.

I admit that my first thought was "Why are we saying 'atomic' at all when it's not a compare-and-set operation?" But saying "atomic" makes sense for `double` because Java does not always guarantee that writes to a `double` (or a `long`) are atomic, since 32-bit environment might

[2021-04-19 17:13] netdpb commented on #1692
I feel like bae9a59c562acacd1be81c4421fb2c96b6efcc18 from 2017 addressed this issue, so I'll close it. Please reopen if you think the documentation still needs to be clarified.

[2021-04-19 17:13] #1692 closed

[2021-04-19 17:14] cpovirk commented on #1569
Someone just mentioned this issue to me.

While this request is clearly still not a priority, I'm still not sure that it creates any larger a type-system hole that reflection already provides. It looks to me like [the previous comment](https://github.com/google/guava/issues/1569#issuecomment-61353285) may not capture the full picture: I see no `ClassCastException` from the `method.invoke` call eve

[2021-04-19 17:32] cpovirk commented on #2083
I'm now imagining that we'll do this, only to find that inline classes will eventually force us to make it _not_ a singleton (though I imagine we'd still try to have only one instance for each possible specialization) :) If we wanted, we could hedge our bets with something like [what the Javadoc for `emptyList` says](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/util/Collection

[2021-04-19 17:33] cpovirk commented on #2083
(Oh, and I was also going to note that we could conceivably make similar changes for `Optional.absent` and quite possibly other types.)

[2021-04-19 17:36] #5380 closed

[2021-04-19 17:46] cpovirk commented on #1073
We did start adding this for some types (after an earlier abortive attempt documented in internal bug 10396752), and to the best of my knowledge, we haven't heard reports of issues. That's probably because we've require a Java 7 JRE (or Android, which is especially tolerant of missing classes, as I understand it). Also, I've heard that missing annotations don't cause problems at runtime nowadays -

[2021-04-19 18:22] eamonnmcmanus commented on #642
Since there is already a way to do this with the existing APIs, we don't think there's a need for a new one.

[2021-04-19 18:22] #642 closed

[2021-04-19 18:34] kluever commented on #2963
The page hasn't been updated since Guava 23.0.

If we wanted to incorporate it into our release pages, we'd need to have it automatically generated/updated regularly.

[2021-04-19 18:34] #2963 closed

[2021-04-19 18:42] cpovirk commented on #2963
(23.0 was the last Guava release with a "normal" version number. As of 23.1, the the release to analyze would be of the form "23.1-jre." I suspect that that's the problem here.)

[2021-04-19 18:52] kluever commented on #3285
`@Beta` was removed from the class, but added to individual methods.

That being said, the method the OP asked about (`asByteSource`) was de-betaed, so I'm closing this. If folks have other specific APIs they want de-betaed, please open a new issue.

[2021-04-19 18:52] #3285 closed

[2021-04-19 20:44] #3360 closed

[2021-04-19 20:58] #2788 closed

[2021-04-19 21:05] #784 closed

[2021-04-19 21:05] cgdecker commented on #1349
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:05] #1349 closed

[2021-04-19 21:06] #1431 closed, assigned to cgdecker

[2021-04-19 21:07] cgdecker commented on #1630
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:07] #1630 closed

[2021-04-19 21:08] cgdecker commented on #1740
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:08] #1740 closed

[2021-04-19 21:09] cgdecker commented on #1817
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:09] #1817 closed

[2021-04-19 21:09] cgdecker commented on #1837
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:09] #1837 closed, assigned to nobody

[2021-04-19 21:09] cgdecker commented on #1862
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:09] #1862 closed

[2021-04-19 21:10] cgdecker commented on #1976
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:10] #1976 closed

[2021-04-19 21:10] cgdecker commented on #2359
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:10] #2359 closed

[2021-04-19 21:11] cgdecker commented on #2577
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:11] #2577 closed

[2021-04-19 21:11] cgdecker commented on #2660
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:11] #2660 closed

[2021-04-19 21:12] cgdecker commented on #2880
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:12] #2880 closed

[2021-04-19 21:12] cgdecker commented on #3231
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:12] #3231 closed

[2021-04-19 21:13] cgdecker commented on #2792
I'm closing this issue because we are no longer going to be making changes to `EventBus` other than important bug fixes. The reasons we're discouraging it and some alternatives are listed in the [EventBus javadoc](https://guava.dev/EventBus).

[2021-04-19 21:13] #2792 closed

[2021-04-19 21:33] #3808 closed

[2021-04-20 13:14] cpovirk commented on #2350
Another place to link to future-converter is from [`JdkFutureAdapters`](https://guava.dev/JdkFutureAdapters), which sure _sounds_ like it ought to contain methods to convert between `CompletableFuture` and `ListenableFuture`.

[2021-04-20 14:11] cpovirk commented on #1569
While `method.invoke(someObjectOfAParameterizedType, ...)` is already permitted despite being unsafe, it's fair to say that creating a proxy for a parameterized type is at least an operation that's easily detectable as unsafe, so there's not much motivation to go out of our way to make it look safer.

[2021-04-20 14:16] #1664 closed

[2021-04-20 14:36] cpovirk commented on #1382
If we were to do this, we'd want to consider whether to explode out the overloads to avoid boxing and varargs allocation, as we do in `Preconditions`. But maybe code that uses this is already likely to allocate, as in the following chain...

[code]

(which allocates some `Optional` instances and a new `Supplier` -- and there's no getting around the `Supplier` allocation even if you write `() -> th

[2021-04-20 16:06] #1569 closed

[2021-04-20 16:11] castortech commented on #3232
Why if you are pointing people to Caffeine, can't I find any reference to Caffeine in the cache documentation section??

[2021-04-20 20:22] #3203 closed

[2021-04-20 21:54] cpovirk commented on #2176
(Very belated update: I eliminated `RunningState` in CL 266130757.)

[2021-04-21 09:07] noamgrinch commented on #2549
Hello,

Regarding #5465,
I do not have an example of actual code of mine which uses .tryParse on different implementations of CharSequence other than String. However, there might be some cases an overloading method would be better. For example, cases when manipulations and logic should be applied on a CharSequence is better done on StringBuilder or StringBuffer(Thread-safe).

[2021-04-22 01:18] er1992 opened #5522 "Make Range extendable"
`Range` has been set as a `final` class. Is there any particular reason for this? I am trying to include multiple "types" of ranges in a single `RangeSet` and when querying them back out into a list, I need to know what type were they originally.  I would like to achieve this by adding an enum to `Range` that I can check later.

[2021-04-22 02:36] lowasser commented on #5522
In general, it is best practice to make classes final whenever possible.  A class cannot be immutable if it is extendable, for example.  Additionally, in this specific case, `TreeRangeSet` does not even necessarily retain your original `Range` objects; it rebuilds them as necessary to handle merging, and would know nothing of a `Range` subtype.

It sounds like it might be appropriate for your use

[2021-04-23 09:46] vergilyn opened #5527 "why `cache.getIfPresent()` is not invoke RemovalListener?"
guava version: 30.1.1-jre
JDK: 8

[code]

## Excepted
console print: "#removalListener() >>>> ...."

[2021-04-23 14:03] #5522 closed

[2021-04-23 21:40] kluever commented on #5527
Questions like these are best suited for http://stackoverflow.com/questions/ask?tags=java+guava

[2021-04-23 21:40] #5527 closed

[2021-04-25 15:08] A248 opened #5528 "Add Automatic-Module-Name for guava-testlib"
guava-testlib should have an Automatic-Module-Name for use in dependent modular projects. It seems that its module name, `guava.testlib` is derived from the filename as of 30.1.1.-jre. Issue https://github.com/google/guava/issues/2920 and related issues only added a module name for Guava itself.

While guava-testlib is most frequently used as a test-scoped dependency, there are cases where one may

[2021-04-26 02:38] walnut-tom opened #5529 "With eventbus, the sequence of events cannot be handled in the order of post?"
My test code is as follows, The complete code is on github https://github.com/walnut-tom/event-bus-test
[code]

But the output order is different from the post order. Your output may be different

[code]

[2021-04-26 19:31] cgdecker commented on #5529
You're posting to two different `EventBus`es on two different threads. Ignoring everything else, the order in which `post` gets called between the two threads is indeterminate. Then, your `AsyncEventBus` is using the same `Executor` to dispatch events to the subscriber that's being used to post events to your event buses. That itself might not really affect anything, but `AsyncEventBus` doesn't ma

[2021-04-26 19:31] #5529 closed

[2021-04-26 23:26] oliviercailloux commented on #3864
… or be saved thanks to this post.

[2021-04-27 08:30] jodastephen commented on #5456
FYI. ThreeTen-Extra is still interested in Google's PRs

[2021-04-27 12:52] oliviercailloux commented on #2407
It would be very valuable to have a _type_, say, `CompleteEnumMap`, that guarantees that the enum map is “complete” (in supplement of being immutable), in the following sense: the key set of the map equals the set of possible enum values.

I could then design a method that returns `CompleteEnumMap` and the user of my class would know immediately that she can query whatever key from the correspondi

[2021-04-27 14:13] TristonianJones commented on #5456
@jodastephen Thank so much!

[2021-04-27 16:44] lowasser commented on #2407
What is inadequate about `Function<Enum, Value>` for that API?

On Tue, Apr 27, 2021, 5:52 AM Olivier Cailloux ***@***.***>
wrote:

[2021-04-28 08:05] flying1020 commented on #3602
May I ask, is there any conclusion about this issue?

[2021-04-28 08:19] hashar commented on #3602
@flying1020 at Wikimedia we encountered the issue in Gerrit (a java based code review system written by Google).

The issue disappeared for us after we have we have migrated to a new hardware AND upgraded the underlying Debian operating system (from Jessie to Buster).  We probably raised the JVM heap at the same time.

Maybe it is has been caused by a Linux kernel issue, the openjdk or a system li

[2021-04-28 08:39] flying1020 commented on #3602
@hashar Thank you for you reply. I encountered this issue today, the stacks of thread as same as you comment above, thousands of thread is blocked at  `com.google.common.cache.LocalCache$Segment.lockedGetOrLoad`, and the thread that hold the lock has done it's job and returnd threadpool. I hive no idea why the lock is not released correctly.
It's not jvm or os bug, I think, its guava's bug.

[2021-04-28 11:39] oliviercailloux commented on #2407
I’ve thought a bit more about this in the meantime and think that the name `ImmutableCompleteMap` would fit better for the concept I proposed (previously named `CompleteEnumMap`).

An `ImmutableCompleteMap` provides more service than a `Function`: it also permits to deal with the function’s co-domain, through the methods `containsValue` and `values()`. Also, `keySet()` is useful, even though it on

[2021-04-28 11:59] oliviercailloux commented on #2407
Please see [this draft interface](https://github.com/oliviercailloux/JARiS/blob/draft-immutable-complete-map/src/main/java/io/github/oliviercailloux/jaris/collections/ImmutableCompleteMap.java) that illustrates what I have in mind.

[2021-04-28 13:12] davido commented on #3602
Note, though, that `guava` cache backend was replaced in gerrit with `caffeine`: [1].

There is one exception, though, recursive cache loader wasn't replaced and is tracked here: [2].

[1] https://gerrit-review.googlesource.com/c/gerrit/+/244612
[2] https://crbug.com/gerrit/11900

[2021-04-28 16:51] ben-manes commented on #3602
One user [found](https://github.com/ben-manes/caffeine/issues/203#issuecomment-826264751) that recursive operations that lead to a `StackOverflowError` left the lock in a bad state. [JEP 270](https://openjdk.java.net/jeps/270) should have resolved this, though. Regardless neither cache supports recursive computations.

[2021-04-29 20:42] cpovirk commented on #2970
A recent experience in JPMS adoption: https://github.com/ben-manes/caffeine/issues/535 -> https://github.com/ben-manes/caffeine/pull/540

[2021-04-30 05:20] HaydenMuscat opened #5540 "Support of curly brace placeholders in LenientFormat strings"
Hi Google! I'll cut to the chase:

At our company, we use `Preconditions` checks to cleanly throw exceptions, but recently realise curly braces weren't supported. I would like to propose adding the more modern `{}` as allowed placeholders in lenient format strings, in addition to the classic `%s`.

https://github.com/google/guava/blob/4cacc0e97fce8bae83983584371450641836983f/guava/src/com/google/c

[2021-04-30 11:03] gajduk commented on #1666
Thanks for sharing this helped me with a similar issue. Praise!

[2021-04-30 18:36] cgdecker commented on #5540
I don't think we want to support brace format. `Preconditions` is intentionally kept very simple in terms of formatting options.

[2021-04-30 18:36] #5540 closed

[2021-05-12 17:47] varunu28 commented on #5482
@nick-someone @cpovirk I will like to take a shot at this. Can you please assign this to me?

[2021-05-13 21:14] kuzmavictor opened #5555 "Problem of `Error Prone` integration"
I have started the integration of the `Error Prone` tool into a project.(`Error Prone` version: 2.3.3, `gradle-plugin`:`version. 1.3.0`) The project uses `guava-25.1-jre` and `gradle 6.0.1`.
### Problem description:
I need to use `Error Prone` with compiler option `-Werror`.  Every time I get the following error:
![image](https://user-images.githubusercontent.com/50623799/118188017-734cf380-b448-1

[2021-05-13 21:20] jbduncan commented on #5555
I'm not on the Guava team, but I'm curious about this issue.

What happens if you upgrade your Guava version to the latest, which at time of writing is 30.1.1-jre? Does that fix the problem?

If not, does upgrading all other mentioned dependencies help too?

- Gradle 7
- error-prone 2.6.0
- gradle-errorprone-plugin 2.0.1

[2021-05-13 21:22] jbduncan commented on #5555
Ah, ninja'd! I've just seen you've edited the OP saying that you can't upgrade Guava yet and tried upgrading things.

Then I don't have anything else to offer, sadly. :(

[2021-05-13 21:43] kuzmavictor commented on #5555
@jbduncan The project is large and changing the `guava` version is not planed.  I tried to change the guava version to latest and other tools (like in your message above) and had the same problems with others classes.
![image](https://user-images.githubusercontent.com/50623799/118191269-012add80-b44d-11eb-8ce8-2835a476c2ba.png)

[2021-05-13 21:51] jbduncan commented on #5555
Okay, thanks for confirming re. your Guava upgrade situation!

As a sidenote, Guava versions <=29 have [security problems](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&seach_type=all&query=cpe:2.3:a:google:guava:29.0:*:*:*:*:*:*:*) with `Files.createTempDir()` and other such APIs, so you should probably let your team know that these problems exist and try to co

[2021-05-13 21:55] kuzmavictor commented on #5555
@jbduncan The newest version hasn't solved my issue.  I demonstrated it above.

[2021-05-13 22:01] cpovirk commented on #5555
This question is probably beset suited for Stack Overflow, but I replied on [the error-prone-discuss thread](https://groups.google.com/g/error-prone-discuss/c/caDLkTeuDVE).

[2021-05-13 22:01] #5555 closed

[2021-05-14 09:52] ChitSuShine commented on #5262
Hello, I also have tested for RateLimitter using parallel of IntStream like the below, resulting thread unsafe:

[code]
[code]
But if I uncomment synchronized block, the result seems fine.
[code]

[2021-05-14 15:56] netdpb commented on #5262
`tryAcquire()` returns false immediately if it can't acquire a permit. You've set up a rate limiter that gives 10 requests per second, or one every 100ms. You immediately ask 20 times for a permit within 100ms. The first one succeeds, which means the next permit won't be given out for 100ms; the rest fail.

You might have more luck getting the results that you want if you extend the duration past

[2021-05-15 14:37] vigneshtdev opened #5557 "Addition of isNullOrEmpty method to Maps utility class"
Hi team

I am not sure about cretiria for addition of new feature to Guava. So creating the issue as a proposal to include `isNullOrEmpty` method in Maps class of Guava.

As the name suggests it will return a `boolean` which will be true in case the `Map` object received is null or empty.

Can you share your thoughts on this?

[2021-05-15 16:01] jbduncan opened #5558 "`pom.xml` should refer to GitHub Actions rather than Travis CI"
Currently in file `pom.xml`, it has the following section:

[code]

It should probably be changed to GitHub Actions now.

[code]

[2021-05-17 13:16] cpovirk commented on #5557
This is similar to `isNullOrEmpty(Collection)`. We discuss the reasons we've chosen not to add that [here](https://github.com/google/guava/wiki/IdeaGraveyard#iterablesisnullorempty).

[2021-05-17 13:16] #5557 closed

[2021-05-18 05:58] pssoft7 commented on #2205
commit c15cd8040f5d802b396c39911a11eb2a12c4b3a4 seems to take in parent directory File. but it is private constructor. i'm hoping this could be a public one.

[2021-05-18 17:26] #5558 closed

[2021-05-18 17:54] jbduncan commented on #5558
@cpovirk I just saw that an associated PR was merged in. Thank you for such a quick turnaround! :+1:

[2021-05-19 12:57] tfij commented on #1991
Hi,
Why don't you check the simple two-level cache which bases on the guava cache?
https://github.com/tfij/BrightCache

[2021-05-19 18:00] joaquinfernandez131 commented on #2797
Any updates on this?

[2021-05-24 07:55] D3vil-hunt opened #5568 "First timers."
There are no issues labeled for first timers, I am a first timer , If I want to contribute where can I start ?

[2021-05-24 14:02] srain2010 commented on #1410
@cpovirk Hi,I find the same  problem on guava version 24.0. Does the latest version 30.1.1 solve this? Can I upgrade 24.0 to 30.1.1 to solve it，is 30.1.1 compatible with  24.0？

[2021-05-24 16:32] cgdecker commented on #1472
Now that I've let 8 years pass, I don't think removing `Flushables` makes sense. It's not something we'd want to encourage people to use, though.

[2021-05-24 16:32] #1472 closed

[2021-05-24 16:34] cpovirk commented on #1472
(We could always still deprecate or at least add warnings. But I can't really say I'd recommend that as a priority for anyone.)

[2021-05-24 17:05] cgdecker commented on #3151
I've added links to jar file downloads to the release page for the latest release (30.1.1) and updated our script that generates the base release page format to include those links for future releases.

[2021-05-24 17:05] #3151 closed

[2021-05-24 17:24] cpovirk commented on #1472
(Looks like usage inside Google has been declining on its own.)

[2021-05-24 22:18] nick-someone commented on #5568
Hi! Unfortunately, we don't tend to have issues available for first-time-contributors.

From the [CONTRIBUTING.md](https://github.com/google/guava/blob/master/CONTRIBUTING.md#how-to-contribute), I think it would be best to discover the existing open issues, and help us by providing feedback on your use-case (e.g.: some  program you're working on that would really be improved by X that doesn't exis

[2021-05-24 22:18] #5568 closed

[2021-05-24 23:06] xenoterracide opened #5570 "Joiners add skip predicate"
I have a use case where I think I'd like to be able to skip a certain string. my code isn't this simple,

[code]

[2021-05-25 02:08] srain2010 commented on #1410
Have you solved this now？

[2021-05-25 02:21] D3vil-hunt commented on #5568
I totally understand :) , Thanks for the assistance.

[2021-05-27 09:31] danielalmeidagoncalves opened #5577 "When will Guava support Java 16?"
Hi all,

In our project we would like to upgrade our java version to version 16 (release in March this year) but it seems that Guava is breaking if we try to do the upgrade. We get the following error:

[code]

Is this about has someone said, trying to access classes that are now part of JDK internals? What are the plans for supporting JDK 16?

Thanks in advance!

[2021-05-27 09:40] kashike commented on #5577
You should be poking at [the guice repository](https://github.com/google/guice/) for this - not caused by guava.

[2021-05-27 19:06] cpovirk commented on #2708
Closing since we don't have much to go on and this may be something specific to how Spark implements serialization.

[2021-05-27 19:06] #2708 closed

[2021-05-27 19:14] cpovirk commented on #2348
We mostly regret our APIs that perform on-demand computation like this (`Iterables.transform`, etc.). The JDK's model of a single-use `Stream` that can be materialized into a collection is less prone to surprises. (Your use case here would be fine, but occasionally we see transformations that create new mutable objects, like `Future` instances.) And as noted above, `AbstractList` offers an alterna

[2021-05-27 19:14] #2348 closed

[2021-05-27 19:33] heuermh commented on #2708
Thanks for following up, this is old enough that I cannot remember the context under which it was occurring originally.

[2021-05-28 12:54] srirama-rayaprolu commented on #1410
Am also facing the same issue. Is this an understanding issue?

As per the below link, it seems we need to use soft reference. Is this correct, but it affect application performance.

https://jessitron.com/2011/10/06/keeping-your-cache-down-to-size/

Is this correct?

[2021-05-28 18:59] jling0906 commented on #3345
Upgrade the Guava of the package which you call getTopLevelClassesRecursive for, should solve this problem.

[2021-05-29 16:41] bcorso commented on #2650
@nymanjens, do you still have plans to add this feature to `NetworkBuilder`?

[2021-05-31 08:58] nymanjens commented on #2650
This option was foreseen for `Graph`, `ValueGraph` and `Network` when it was initially designed. But the `Network` part got snowed under other priorities over time, partly due to its use case not being clear to me.

Do you have an example motivating use case?

[2021-05-31 17:09] bcorso commented on #2650
Our use case is that we rely on `Network#successors()` to traverse the network in an annotation processor, and the order of traversal directly affects the generate source. We need the iteration order to at least be stable so that we generate the same source for a given input. Just being stable would be enough, but, it would be great if the order was "connecting edge insertion order".

Currently, w

[2021-05-31 18:38] nymanjens commented on #2650
Fair enough, that sounds like a use case that would indeed benefit from a similar feature on Network

[2021-06-01 07:39] YuKongEr opened #5580 "` com.google.common.collect.Range#hasLowerBound` not support deepclone"
[code]

because  ` com.google.common.collect.Range#hasLowerBound` implement by `equals` not `instance of`

[2021-06-01 07:40] YuKongEr commented on #5580
should implement:
[code]

[2021-06-01 18:54] amalloy commented on #5570
This doesn't really belong in Joiner. Filtering functionality belongs to streams. And fortunately, there is an easy way to accomplish your goal using Stream:

Stream.of("zero", "five")
  .filter(s -> !s.equals("zero"))
  .collect(Collectors.joining(" "))

[2021-06-01 18:54] #5570 closed

[2021-06-02 06:07] mwunderlich commented on #3376
Any updates on removing @Beta for RangeMap (also applies to TreeRangeMap)?

[2021-06-03 14:02] Chemdevil opened #5589 "Blocking Queue with buffer"
With the implementation of the **Evicting blocking queue** the element at the head of the queue is going to be evicted on the addition of new element which does not provide fairness to each element(element at head removed on each addition). Instead there must be some sort of additional memory (buffer) that should add the element to itself if the Blocking queue is full and only add the  element fro

[2021-06-03 14:02] Chemdevil commented on #5589
How to build the guava project using maven in windows environment?

[2021-06-03 20:52] amalloy commented on #5580
Guava does not make any particular effort to support third-party libraries that use reflection to mess with its internals. Since Range is immutable, so if you must use Cloner to clone it, you can always work around the issue by customizing a Cloner instance to treat Range as an immutable class, as it does for e.g. `String`.

[2021-06-03 20:52] #5580 closed

[2021-06-05 22:46] mont1985 opened #5593 "iniq"

[2021-06-05 22:46] #5593 closed

[2021-06-07 07:35] Meijuh opened #5594 "Remove @Beta from Interners"
Interning has been part of Guava for quite some time and in my experience pretty stable.

Can the `@Beta`  be removed from this component?

[2021-06-07 21:20] Chemdevil commented on #5589
@amalloy can you please look into the #5592 pull request.

[2021-06-11 08:57] e9ab98e991ab opened #5599 "Caused by: java.lang.NoSuchMethodError: No static method b(Ljava/lang/Object;)Lcom/google/common/base/Optional; in class Lcom/google/common/base/Optional; or its super classes (declaration of 'com.google.common.base.Optional' appears in /system/framework/libyunosfw.jar)"
在阿里TV OS上报如下错误，请问是否用到了framework相关函数

Caused by: java.lang.NoSuchMethodError: No static method b(Ljava/lang/Object;)Lcom/google/common/base/Optional; in class Lcom/google/common/base/Optional; or its super classes (declaration of 'com.google.common.base.Optional' appears in /system/framework/libyunosfw.jar)

[2021-06-11 21:18] kluever commented on #5599
Please post questions like this to stackoverflow: https://stackoverflow.com/questions/tagged/guava

[2021-06-11 21:18] #5599 closed

[2021-06-12 12:50] minseongkimdev opened #5600 "Why guava ImmutableCollection not allowed a null element?"
hi, thanks for provide graet library, but i have a question which is same with this issuse's title.

ill waiting for your answers. thank you!

[2021-06-14 12:09] avinash-ak commented on #5600
The guava ImmutableCollection returns false for a null element rather than throwing an exception. The developers might have thought null check is not necessary.
you can do something like this to get the job done--
return element != null && example.contains(element);

[2021-06-14 14:31] kluever commented on #5600
A bit more info here: https://github.com/google/guava/wiki/UsingAndAvoidingNullExplained

[2021-06-14 14:31] #5600 closed

[2021-06-14 15:14] hiranya911 commented on #5269
We started seeing this in Firebase Java SDK builds:

[code]

We would certainly like to drop Java 7 support, but not before the larger Google Cloud client libraries ecosystem decides to do so. AFAICT cloud libraries like Firestore and Storage are still Java 7 compatible. Has a decision been made to migrate all these libraries to Java 8?

[2021-06-14 18:44] Sid-Bezawada opened #5602 "Wiki update - Fix incorrect link for Bloom filter tutorial"
https://github.com/google/guava/wiki/HashingExplained#bloomfilter

The tutorial link points to https://llimllib.github.com/bloomfilter-tutorial/ which returns a 404.

The correct link is https://llimllib.github.io/bloomfilter-tutorial/

[2021-06-14 21:18] alowaniak commented on #428
AFAICT it's only able to parse a (pretty narrow) format into a DataSize, there's no logic to format a DataSize (to a human readable format) that I can find.

[2021-06-14 22:40] #5594 closed

[2021-06-16 03:40] kevinb9n commented on #5602
Thanks! Fixed

[2021-06-16 03:40] #5602 closed

[2021-06-16 21:02] cpovirk commented on #5269
Hi, thanks for reporting that. We have been in contact with the Google Cloud people, and we won't be dropping support unless they are. Part of the reason for this warning was to share any information we could find with them.

[2021-06-17 08:57] zaragozamartin91 opened #5612 "Remove @Beta from com.google.common.util.concurrent.RateLimiter"
RateLimiter has been around since version 13 and it is stilled marked as @Beta

[2021-06-17 19:45] Marcono1234 commented on #5376
Yes that looks reasonable, but it would probably be good to have an `asInputStream(Reader, Charset)` method for simple use cases as well.
Though I am not sure if this feature is actually something the maintainers want to add.

[2021-06-18 13:08] mont1985 opened #5613 "> _https://github.com/google/guava/issues/5593#issuecomment-855306046_._"
_Originally posted by @mont1985 in https://github.com/google/guava/issues/5593#issuecomment-855306046_

[2021-06-18 15:39] #5613 closed

[2021-06-18 22:22] jbduncan commented on #5612
For people waiting for `RateLimiter` to be made stable, an alternative that looks good is [resilience4j](https://github.com/resilience4j/resilience4j), which also has a rate limiter, amongst other utilities for "fault tolerance".

I've never actually used it, so I can't personally vouch for it, but Hystrix, an older library in this space, recommends it in their [README](https://github.com/Netflix/

[2021-06-18 22:26] cpovirk commented on #5612
Thanks, @jbduncan! We've been wondering if we should recommend that, but we haven't found the time to look into it.

[2021-06-18 22:56] jbduncan commented on #5612
As a side note, Netflix, the creators of Hystrix, say that they've using a technique called [adaptive concurrency limits](https://medium.com/@NetflixTechBlog/performance-under-load-3e6fa9a60581) instead of Hystrix since around 2018. They have a [library](https://github.com/Netflix/concurrency-limits) for this, but I know even less about it than resilience4j and Hystrix.

[2021-06-19 21:59] kevinb9n commented on #3452
imho the debate here is whether the entirety of guava-testlib is just permanent beta by nature. It may not really call for a finalization process.

That is, @Beta exists due to the problem of released *libraries* using (especially exposing) Guava types, where a library here is approximately "something that ends up on someone else's classpath". Does anyone really do this with guava-testlib? I admit

[2021-06-21 07:10] jakobbraun opened #5618 "wrong url in pom file"
guava does not define a project URL in the pom file. In that case, maven inherits the value of the parent pom and appends the artifact id (see [maven documentation](https://maven.apache.org/ref/3.6.1/maven-model-builder/)).
By that maven resolves the URL to https://github.com/google/guava/guava, which does not exist.

## Suggested Solution

Add an URL tag to `guava/pom.xml`

[2021-06-21 15:32] #5618 closed

[2021-06-22 19:08] cpovirk opened #5621 "Once `guava-jre` requires Java *9*, investigate merging the 2 "flavors" into a multi-release jar"
Someday in the distant future, `guava-jre` will require Java 9.

(My assumption has usually been that we will skip requiring 9 and wait until we have enough reason to require some even *higher* version. If so, we can wait for *that*. But the issue I'm now filing will give us at least a *small* motivation to pull the trigger on Java 9 rather than wait. Then again, our hand is often forced by the pe

[2021-06-23 08:44] Xaerxess commented on #3284
It seems that you recently [removed @Beta from multiple classes](https://github.com/google/guava/commit/6242bdd27bfa7a2223548a082c25a8ef97a951db) and [also from `HashFunction`](https://github.com/google/guava/commit/e1cc195cfb7ad4a3f24aaee6b8b63e441594a9b3) (came from an internal change?) but not from other classes from [com.google.common.hash](https://github.com/google/guava/tree/master/guava/src

[2021-06-25 11:46] Dichotomia opened #5625 "Add Streams.stream(Enumeration) method"
We have Iterators.forEnumeration(Enumeration) and Streams.stream(Iterator).

Simplify and add Streams.stream(Enumeration) method

[2021-06-25 15:00] kevinb9n commented on #5625
I believe it's welll-understood that you can get the functionality you want by using the two methods we have together. That's API composability and we see it as success.

When I made `Iterators.forEnumeration`, it was to be the "last word" on `Enumeration` -- so that we would never have to do anything else with that legacy type again. That was over a decade ago, and it's served that purpose well!

[2021-06-25 15:00] #5625 closed

[2021-06-28 08:55] fangxlmr opened #5628 "How to handle thread exit due to StackOverflow exception when loading cache"
What happens exactly when thread exit due to StackOverflow Exception when loading cache? And how to handle this situation?

In my business code, I found out when the first loading thread exit as StackOverflow other threads that access the same key will block indefinitely. However I can't reproduce in the example code. So I'm wondering what exactly happened and how to handle it properly.

Example c

[2021-06-28 20:09] mernst opened #5629 "Documentation search box is broken"
At https://guava.dev/releases/snapshot-jre/api/docs/ I typed "Parameter" into the search box at the upper right.  See [screenshot](https://user-images.githubusercontent.com/121025/123697473-d1277600-d811-11eb-815e-db8e09eb1d7b.png).

I clicked on the first match, which took me to
https://guava.dev/releases/snapshot-jre/api/docs/undefined/com/google/common/reflect/Parameter.html
which gave me a 404

[2021-06-28 20:10] mernst opened #5630 "One version of `Parameter` lacks the `getAnnotatedType()` method"
The variant of class `com.google.common.reflect.Parameter` that is defined in file `android/guava/src/com/google/common/reflect/Parameter.java` lacks the `getAnnotatedType()` method that appears in
file `guava/src/com/google/common/reflect/Parameter.java`.  I think this method should appear in the Android version too, since (according to my reading of https://developer.android.com/studio/write/jav

[2021-06-28 22:13] netdpb commented on #5630
The note I see there about type annotations says: "Type annotation information is only available at compile time, and not at runtime." That suggests that the reflection API doesn't have access to type annotations. Does that sound correct?

[2021-06-29 00:15] mernst commented on #5630
Oh, is `Parameter` only used at run time, never at compile time?  It's not documented either way.  (It is in a package named `reflect...`, which is a strong hint, but I've seen such inconsistencies in some projects and didn't want to assume.)

Thanks for the correction to my (lack of) assumption; I appreciate your help!

When `@Nullable` is a type annotation, how will tests like `nullPointerTester

[2021-06-29 16:22] netdpb commented on #5628
A stack overflow means you have a bug in your loading code. I think the best way to handle that is to fix the infinite recursion bug.

That being said, I think you might get more help for this question at stackoverflow.com (and not only because you're dealing with a `StackOverflowError` 😄). Since this isn't a bug report or feature request, I'll close this issue.

[2021-06-29 16:22] #5628 closed

[2021-06-29 20:14] cpovirk commented on #5629
Thanks. The search issue is https://github.com/google/guava/issues/5457, which maybe we should fix by building Javadoc with a newer JDK.

Our approach for Javadoc has been to link to the Javadoc for a release from its page, e.g., https://github.com/google/guava/releases/tag/v30.1.1. Maybe @cgdecker has thoughts on whether to also include that on the landing page -- or maybe to link from the landin

[2021-06-29 20:28] cpovirk commented on #5630
There are probably half a dozen unfortunate things that are intersecting here.

Among them:

- [The "Android" branch also supports JDK 1.7.](https://github.com/google/guava#guava-google-core-libraries-for-java) This means that it's limited to Java 7 APIs, so we can't use `getAnnotatedParameterTypes` (from [`Executable`, `@since 1.8`](https://docs.oracle.com/en/java/javase/16/docs/api/java.base/jav

[2021-06-29 21:08] mernst commented on #5630
Chris, the long-term plan you laid out is actually very helpful.  Thanks!

I think I will just disable the NullPointerTests under Android for now, extricating myself from the rat's nest I have wandered into.

[2021-06-29 21:08] #5630 closed

[2021-06-30 13:42] mluizaa00 opened #5634 "Creation of annotation processors"
Further looking at the Guava code, I have noted this project doesn't use the **standard** way to create the processor of a annotation such as `@Beta`.
If I may ask, how is it made? Is it a individual Google Annotation API to generate those processors automatically?

I appreciate all the responses for this question.

[2021-06-30 19:59] netdpb commented on #5634
I'm not sure what you mean by "the standard way". `@Beta` is not handled by an annotation processor at all, but by an [Error Prone](http://errorprone.info) checker.

We use this issue tracker for bug reports and feature requests, and some other tasks. For general questions about Guava, please consult https://stackoverflow.com/questions/tagged/guava. Closing this issue since it's a question.

[2021-06-30 19:59] #5634 closed

[2021-07-02 09:11] 0827cg opened #5637 "What do you need to do with the native type as key in map"
It's like trive4j, a library that implements the same functionality

eg

    // key: int,
    TIntObjectHashMap<String> testKey = new TIntObjectHashMap<>();

how,

[2021-07-02 23:02] netdpb commented on #5637
I'm not sure what you're asking about. I think you'll get more and better answers to your question on stackoverflow.com.

[2021-07-02 23:02] #5637 closed

[2021-07-10 23:04] rishkaul opened #5643 "Allow clients to configure ExceptionTypePolicy in NullPointerTester"
`NullPointerTester.java` in `guava/guava-testlib/src/com/google/common/testing/` hard-codes the `policy` field to `ExceptionTypePolicy.NPE_OR_UOE`.

[Code reference](https://github.com/google/guava/blob/master/guava-testlib/src/com/google/common/testing/NullPointerTester.java#L78)

NullPointerTester works well with Lombok `@NonNull` annotations. But you can configure Lombok to throw a different ex

[2021-07-12 14:04] cpovirk commented on #5643
Let's reopen https://github.com/google/guava/pull/1949 to keep this conversation in one place.

[2021-07-12 14:04] #5643 closed

[2021-07-15 23:13] alexmnyc opened #5647 "Vulnerability sonatype-2020-0926 in com.google.guava : guava : 30.1.1-jre"
https://nexus.awstrp.net/assets/index.html#/vulnerabilities/sonatype-2020-0926

[2021-07-16 15:07] findepi opened #5648 "Incorrect hash result from murmur3_32 with String input containing surrogate pairs"
Here is the test program comparing behavior of

- Guava's `Hashing.murmur3_32` with `hashBytes(str.getBytes(encoding))`
- Guava's `Hashing.murmur3_32` with `hashString(str, encoding)`
- Airlift's `Murmur3Hash32.hash(str.getBytes(encoding))` (https://github.com/airlift/slice/blob/d3a025291fd8d6a062e44f3823ee49196783ab9c/src/main/java/io/airlift/slice/Murmur3Hash32.java)

[code]

Results when run wi

[2021-07-16 15:08] findepi commented on #5648
I suspect that the optimized code path for UTF-8 here https://github.com/google/guava/blob/769e1e9c5ea1c6bddf14cec66b71d6824a8d28a6/guava/src/com/google/common/hash/Murmur3_32HashFunction.java#L147
does not take surrogate pairs into account.

[2021-07-16 15:12] findepi commented on #5648
cc @rdblue as Iceberg uses the allegedly affected code path when bucketing string/varchar data. See https://github.com/trinodb/trino/pull/8104/files#r655190551 for context.
kudos to @wendigo for finding this.

[2021-07-16 16:35] lowasser commented on #5648
@findepi, are you sure?  https://github.com/google/guava/blob/769e1e9c5ea1c6bddf14cec66b71d6824a8d28a6/guava/src/com/google/common/hash/Murmur3_32HashFunction.java#L187 seems to be where that gets addressed; it bails out of the first loop as soon as it finds anything non-ASCII.

[2021-07-16 17:07] findepi commented on #5648
@lowasser the place referenced is decorated with a comment:
[code]

here, we're not dealing with invalid Unicode, but i admit i do not understand this code yet.

My lack of understanding was what prompted me to write a "test".
Looking at the methods documentation i was under impression that `guavaValue1 == guavaValue2` should always be true (i am referring to variable names from the test code from

[2021-07-16 17:37] findepi commented on #5648
I posted a PR for this: https://github.com/google/guava/pull/5649

[2021-07-16 22:04] amalloy commented on #5647
That link is broken when I try to follow it. But as far as I can tell this is a duplicate of #4011.

[2021-07-16 22:04] #5647 closed

[2021-07-17 16:53] ddadon10 commented on #5457
Hi, any news about this issue? I use Guava's Javadoc often and this bug is very annoying.

Thanks :)

[2021-07-19 17:12] archiecobbs opened #5653 "Javadoc -link broken due to missing package-list file"
When building the Javadoc for a pre-Java 11 project that want's to link to Guava's Javadoc, that linking fails.

E.g., in Maven:
[code]

The cause is that there is no `https://guava.dev/releases/30.0-jre/api/docs/package-list`, because `package-list` has been renamed to `element-list`. This bug is described in more detail here: [JDK-8211194](https://bugs.openjdk.java.net/browse/JDK-8211194).

Coul

[2021-07-21 09:57] PrachiPrakash commented on #5482
have raised a PR https://github.com/google/guava/pull/5655  to address this.
@jbduncan do mind having a look into this.

[2021-07-21 12:31] jbduncan commented on #5482
@PrachiPrakash I'm not actually on the Guava team or a Googler, so I'm not the right person to ask for a review.

And for that matter, I'm sorry to say that your hard work was probably for naught, as the [contribution guidelines](https://github.com/google/guava/blob/master/CONTRIBUTING.md) specifically say...

...and we're still in the discussion phase; no-one from Google has confirmed that this f

[2021-07-21 16:42] jbduncan commented on #5482
@PrachiPrakash I've re-read my last message, and I've realised I may have come across as a bit blunt. If so, then I apologise, as it wasn't my intention! :bow:

[2021-07-21 16:48] PrachiPrakash commented on #5482
@jbduncan that okay I guess was just looking around the code found this interesting so tried to give it a shot. not aware that this was still under discussion.

[2021-07-21 17:01] jbduncan commented on #5482
Thanks, and no worries, @PrachiPrakash!

I don't want to discourage you from contributing to open source in general. If Java libraries are your thing, Apache Commons might be a good project to try. Otherwise [awesome-java](https://github.com/akullpp/awesome-java) has a (somewhat out-of-date) list of other projects to try.

I wish you all the best with your open source efforts, and you can contact

[2021-07-26 16:33] jbduncan commented on #5482
@nick-someone My original use case for this feature request was being able to count the number of files in my user folder on my MacBook, as part of a Java/Kotlin experiment.

Through this experiment, I discovered that Kotlin's `File.walk` and Java's `Files.walkFileTree` can discover a lot of my files, even if I've not given the JVM the right macOS permissions to access all subfolders.

By comparis

[2021-08-03 09:57] #3208 closed

[2021-08-07 10:27] CodingFabian opened #5673 "MultimapBuilder creates unnecessary objects"
Looking at high memory usage in one of our components, we noticed that for every MultiMap created by a MultimapBuilder, we have a Supplier too (in our case it is a HashSetSupplier, but it applies to other Suppliers too)

the reason for that is that we do:
[code]

which in turn calls this Guava code
[code]

This creates a new `hashSetSupplier` every time build is invoked.
This looks incorrect to me

[2021-08-07 10:30] CodingFabian commented on #5673
![image (3)](https://user-images.githubusercontent.com/176132/128597232-8502f44c-edef-4975-ae59-d9d2d19f6ce8.png)

[2021-08-09 00:19] ben-manes opened #5674 "collect.testing does not pass setUp/tearDown to derived tests"
When testing collections the supplied `setUp` and `tearDown` are not executed for derived suites such as keySet, values, and entrySet. I believe the expected behavior is to pass the parent's instances to the children, e.g. in `MapTestSuiteBuilder`

https://github.com/google/guava/blob/88b1bdcb613de9f985cf3f873b7eec0a2e13741b/guava-testlib/src/com/google/common/collect/testing/MapTestSuiteBuilder.j

[2021-08-09 10:29] mafei2021 opened #5675 ".fun verify domain false"
I want to verify if a string is a domain name， but a.com is true, a.fun is false

my code :
`String domain = "a.fun";
InternetDomainName.from(url).isUnderPublicSuffix()`

I tracked down the source code and found that it was verified here，.fun is not exist

https://github.com/google/guava/blob/master/guava/src/com/google/thirdparty/publicsuffix/PublicSuffixPatterns.java#L45

.fun is ok domain suffi

[2021-08-09 23:21] eamonnmcmanus commented on #5675
I tested your code against Guava 30.1.1-jre and it returned true. Perhaps you are using an old version?

`PublicSuffixPatterns` uses a compact encoding. You generally can't tell whether a given suffix is present just by looking at the strings in `PublicSuffixPatterns`.

[2021-08-09 23:21] #5675 closed

[2021-08-10 02:39] andi-livn opened #5680 "Add CacheBuilder.recordStats(boolean) to simplify inline style configuration"
This is just a simple feature request to add a parametrised `CacheBuilder.recordStats(boolean)` setter

[code]

[2021-08-10 04:18] Marcono1234 opened #5681 "`HostAndPort.fromString(String)` parses non-ASCII ports"
The method `HostAndPort.fromString(String)` parses non-ASCII ports due to its usage of `Integer.parseInt`:
https://github.com/google/guava/blob/2b6b844683e6ff63fc8ba676692cf636f74504fd/guava/src/com/google/common/net/HostAndPort.java#L195

For example:
[code]

Whether that is the intended behavior depends on which RFC this method wants to comply with (if any). Though for example [RFC 3986](https:/

[2021-08-10 04:40] Marcono1234 opened #5682 "`InetAddresses.forString(String)` parses non-ASCII decimals"
The method `InetAddresses.forString(String)` parses non-ASCII decimals due to its usage of `Character.digit(...)`.
For example:
[code]

While it appears there is no RFC which strictly specifies the syntax, related RFCs, such as [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#appendix-A) specifying the URI syntax, explicitly only allow ASCII `0`-`9` (respectively `f` for IPv6).
Additionall

[2021-08-10 04:50] mafei2021 commented on #5675
thanks ,my version 19.0   repaired after the upgrade

[2021-08-10 19:24] eamonnmcmanus commented on #5680
`CacheBuilder` is part of an API that is in maintenance mode. We explicitly recommend using [Caffeine](https://github.com/ben-manes/caffeine/wiki) instead.

In general the `CacheBuilder` API has no way to undo the effect of the various option-methods. I don't see a strong reason to introduce one for this case. If you don't want to record stats then don't call `recordStats()`.

Do you have a partic

[2021-08-10 21:55] Kurru commented on #1910
Any update on this? Would still be a great enhancement for manipulating Ranges

[2021-08-11 00:17] andi-livn commented on #5680
Purely for aesthetic reasons and laziness really. I'm enabling stats collection depending on an external configuration property. And in the absence of a setter that takes a boolean, you loose the benefits of the builder of being able to string together calls. You have to first assemble a `CacheBuilder` to only call `recordStats()` in an `if` block, and finally call `build() `.

On 11 Aug 2021, 05:

[2021-08-11 00:21] eamonnmcmanus commented on #5680
The same argument applies to the other option methods, like `softValues()` and `weakKeys()`. I think if `CacheBuilder` were still under active development we'd consider it, but as it is I don't think there's a strong enough motivation to make the change.

[2021-08-11 00:21] #5680 closed

[2021-08-11 01:30] ben-manes commented on #5680
You might want to look at [CacheBuilderSpec](https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/cache/CacheBuilderSpec.html) as it provides a little convenience for externalized configurations.

[2021-08-11 04:13] andi-livn commented on #5680
Thanks. I might give that a shot, or check out Caffeine.

On 11 Aug 2021, 11:30, at 11:30, Ben Manes ***@***.***> wrote:

[2021-08-11 18:14] eamonnmcmanus commented on #5682
I made the appropriate change and tried it out against the full range of Google's internal tests. I found that some Google projects had tests explicitly verifying that addresses like `１２７.０.０.１` work, where those are "fullwidth" digits. We can fix the code in question so that it sanitizes non-ASCII digits before calling `InetAddresses.forString` (or the various other `InetAddresses` methods), but

[2021-08-11 19:02] aspanin opened #5684 "Simple and tricky case"
Hello,

Just simple case: no more than 100 RPS, otherwise the controller is blocked for everyone for 1 minute.
I dug the whole documentation and haven't understood, Everything I have is
`        RateLimiterConfig config = RateLimiterConfig.custom().limitRefreshPeriod(Duration.ofMillis(5000))
                .limitForPeriod(5).timeoutDuration(Duration.ofMillis(10000)).build();`
but there's nothing

[2021-08-12 17:01] #5681 closed

[2021-08-12 17:01] #5682 closed

[2021-08-12 20:55] eamonnmcmanus commented on #5684
Can you clarify what this is about? Guava doesn't have a `RateLimiterConfig` class.

[2021-08-13 19:28] #5684 closed

[2021-08-18 22:49] #5674 closed

[2021-08-19 02:22] ben-manes commented on #5674
Thanks @eamonnmcmanus!

[2021-08-19 12:31] Liulietong opened #5692 "Fix bug that result of TopKSelector is unstable when quicksort fallback to Arrays.sort."
Related PR : #5691
The result of `TopKSelector` may be wrong when `trim()` is invoked and quiksort fallback to `Arrasys.sort()`. Because `Arrasys.sort()` is been used by mistake there.
Following test case can trigger this bug.
[code]

[2021-08-19 22:26] JarrodDeming commented on #3250
jarroddeming@gmail.com account login

[2021-08-22 17:31] shreelakshmijoshi commented on #5692
Hi ! @Liulietong ,
I am a new open source contributor and I would love to fix the issue, could you please provide some more reference to help me understand better? Is this issue open for contribution ?

[2021-08-22 17:35] shreelakshmijoshi commented on #5621
Hi @cpovirk !
I am a new open source contributor and would like to know about this issue, could you help me understand the issue by providing some extra references ?

[2021-08-23 12:11] Liulietong commented on #5692
I have submit PR #5691 to fix the issue

[2021-08-23 12:12] Liulietong commented on #5692
@shreelakshmijoshi I have submit the PR #5691 to fix the issue

[2021-08-23 12:28] shreelakshmijoshi commented on #5692
oh okay

[2021-08-24 05:01] unnati914 commented on #5653
could i work on this if its available?

[2021-08-24 14:08] eamonnmcmanus commented on #5653
Yes, feel free.

[2021-08-27 01:33] hakanai opened #5697 "`MoreFiles.deleteRecursively` fails spuriously if something else deletes some of the files while it's iterating"
We tried to switch from our own recursive deleter to Guava's `MoreFiles.deleteRecursively` and found many cases where it failed spuriously due to files not existing.

The use case is we have a thread that regularly retries deletions which previously failed, to properly clean up temp files. On some occasions the operating system will tell us that the deletion failed, but then seemingly delete the f

[2021-08-31 15:36] suchit07-git commented on #5387
I would like to contribute to this issue.

[2021-08-31 16:46] photographzzz opened #5699 "Cache.getIfPresent returns null, but cache do have this key."
<img width="1055" alt="image" src="https://user-images.githubusercontent.com/42164573/131542971-914460c4-24b2-4446-a25f-4b3f22d64d54.png">

[2021-08-31 17:39] kevinb9n commented on #5699
Hi,

We think you'll be better served by posting questions to StackOverflow.
(That's this group's policy.)

If you do, you'll get a quicker/better answer if you can explain what you
know and how you know it, to readers who aren't accustomed to deciphering
your IDE's debug UI. (The gold standard for that being a minimal, runnable,
failing unit test, and why you believe it should pass.)

On Tue, Aug

[2021-08-31 18:24] #5699 closed

[2021-08-31 18:29] photographzzz commented on #5699
I'm so sorry, I didn't really mean to post this issue. Could you please delete this issue for me?

Thanks!

[2021-09-01 02:46] gongxuanzhang opened #5700 "Table toString"
Is it possible to put the Interface Table and implementation method toString() like mysql

<pre>
***********************
***c1       ** c2      *c3*
***********************
***c1       ** c2      *c3*
***********************
</pre>

[2021-09-01 06:09] JonasTaulienSolutions opened #5701 "Please add ImmutableTreeMultimap"
Hi, I just wanted to ask, if it is possible to add an immutable Version of `TreeMultimap` (or some other immutable implementation of `SortedSetMultimap`).
Thanks :)

[2021-09-01 14:54] jbduncan commented on #5700
@gongxuanzhang Am I right to think that you want a way of printing a `Table` to a string, in the format of the SQL command `SELECT * FROM table`?

If so, then I'm pretty sure that Guava doesn't have this. :(

Have you tried asking this question on StackOverflow with the <kbd>guava</kbd> tag already, by any chance? If not, then that's usually the best place for these sorts of questions.

[2021-09-02 08:45] gauravwalia2013 opened #5703 "Issue with Android 12, api 31 , while building chromium code"
Exception in thread "main" java.lang.NoClassDefFoundError: com/google/common/collect/ImmutableList
	at com.android.manifmerger.ManifestMerger2.<clinit>(ManifestMerger2.java:83)
	at com.android.manifmerger.Merger.createInvoker(Merger.java:190)
	at com.android.manifmerger.Merger.process(Merger.java:94)
	at com.android.manifmerger.Merger.main(Merger.java:42)
Caused by: java.lang.ClassNotFoundExceptio

[2021-09-02 15:01] nick-someone commented on #5701
Thanks for the feature request!

In the near term, we do have an unmodifiable wrapper ([Multimaps.unmodifiableSortedSetMultimap](https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/collect/Multimaps.html#unmodifiableSortedSetMultimap(com.google.common.collect.SortedSetMultimap)) which can be used to create an effectively-immutable version, assuming that the underlying creator doesn'

[2021-09-02 15:05] nick-someone commented on #5700
+1 to this suggestion.

(Also, I edited the comment to make the asterisks more clear as GitHub Markdown was eating them)

[2021-09-02 15:05] #5700 closed

[2021-09-02 18:22] eamonnmcmanus commented on #5648
Our current plan is to deprecate `Hashing.murmur3_32()` and introduce a new `Hashing.murmur3_32_fixed()` that is identical except that it has correct behaviour for UTF-8 strings with non-BMP characters. That way we avoid breaking anyone who was using the current incorrect hash values to form keys to persistent storage.

[2021-09-05 23:01] aliakhtar commented on #1361
Bump

[2021-09-06 15:51] amanjha8100 commented on #3978
hey @kluever can I work on this, since no PR has been submitted yet.

[2021-09-08 13:56] #5648 closed

[2021-09-08 14:30] akerra6993 opened #5708 "[Feature Request] Allow clients to specify maxPermits for com.google.common.util.concurrent.RateLimiter"
Hi, I have a use case where a dependent service is throttling requests if they are not evenly-spaced (perfectly smooth). So 2 requests within 10 ms, even if there are no other requests within the next second, are treated as 100 TPS. The default token-bucket algorithm provided by `RateLimiter` even with a warmup period is causing unallowable bursts.

In order to shape the client traffic accordingly

[2021-09-09 09:55] guaiziguo opened #5710 "EventBus: Add extention to enable tracing"
I'm using EventBus in in distributed system. I found that com.google.common.eventbus.Subscriber lost tracting infomation.
Because com.google.common.eventbus.Subscriber#dispatchEvent is a final method, I can't extend it.

[code]

I advice to add the TracerRunnable instead of Runnable, like this:
[code]

[2021-09-09 22:00] amalloy commented on #5703
There is insufficient information in this issue for us to take any action. Apparently something somewhere can't find Guava. This seems unlikely to be a Guava issue, since Guava couldn't even be found on the classpath. But if you have clear reproduction steps that point to this being a Guava issue, please include them when you reopen this issue.

[2021-09-09 22:00] #5703 closed

[2021-09-20 22:45] bharathk005 commented on #5710
@amalloy I would like to start working on this. If possible, please assign this to me.

[2021-09-23 18:41] JonasTaulienSolutions commented on #5701
Thanks for your reply!

Unfortunately its a private project so I can not point you to that. The reasons why I want an immutable version of `ImmutableSortedSetMultimap` is nicely summed up in your wiki (https://github.com/google/guava/wiki/ImmutableCollectionsExplained#why).

There are no additional reasons besides what is listed there (thread safety, memory efficiency, defensive programming).

Sor

[2021-09-24 13:13] rampatra opened #5728 "[Question] Can the value from BaseEncoding.base64Url().encode() be used in a url?"
Can the value from BaseEncoding.base64Url().encode() be used in a url as a path value or a query parameter?

I am asking this because I see space is being converted to = with this method. And, = is a reserved character in a url.

[2021-09-24 13:21] #5728 closed

[2021-09-24 19:46] cpovirk commented on #3620
(I dumped some internal links in bug 201006116.)

[2021-09-25 16:24] orionll commented on #3803
`ImmutableMap.ofEntries()` has been added in https://github.com/google/guava/commit/cd3b4197fb523bf26f9122492915006ad306b3f3. It's now available since [Guava 31](https://github.com/google/guava/releases/tag/v31.0).

[2021-09-28 07:06] bjmi opened #5739 "Joiner.join(Object[]) doesn't accept null but is annotated with @Nullable"
_a4baad35_ introduces `@Nullable` at `Joiner.join(@Nullable Object[] parts)` but actual code would throw a _NullPointerException_.

[2021-09-28 08:27] bjmi commented on #5739
`@Nullable Object[] parts` means any element can be null but not _parts_. Working as intended.

[2021-09-28 08:27] #5739 closed

[2021-09-29 07:35] Mirabolen opened #5741 "`@Nullable Object[] parts` means any element can be null but not _parts_. Working as intended."
`@Nullable Object[] parts` means any element can be null but not _parts_. Working as intended.

_Originally posted by @bjmi in https://github.com/google/guava/issues/5739#issuecomment-928972316_

[2021-09-29 10:20] #5741 closed

[2021-09-29 21:33] rbygrave commented on #2970
Well, having added module-info to a library that is together made up of 12 odd modules (plus another 8 modules that are upstream dependencies), for me I would say that module-info forced me as a library author to be more explicit in terms of "public api" (exports) and "friend api" (exports to) and overall I'd say it was a pretty significant improvement for the longer term and a really good push to

[2021-09-29 22:44] chartung17 opened #5742 "AtomicDouble/AtomicDoubleArray accumulate and update methods"
The built-in Java classes AtomicInteger, AtomicLong, AtomicIntegerArray, and AtomicLongArray all implement the methods accumulateAndGet(), getAndAccumulate(), updateAndGet(), and getAndUpdate(). The Guava classes AtomicDouble and AtomicDoubleArray do not currently implement any of those methods.

[2021-09-30 21:01] demtnt opened #5744 "Remove @Beta from XmlEscapers"
9 years ago com.google.common.xml.XmlEscapers was marked as Beta. Maybe 2021 is the good year to remove this annotation?

[2021-09-30 23:48] deeTEEcee commented on #359
I get `com.google.common.io.InsecureRecursiveDeleteException: /var/folders/ys/8kxkb4yd6tv1vcyh7y16_zrc0000gn/T/data-2188147556886190201: unable to guarantee security of recursive delete` on mac right now. I know there's an option for "insecure" but I didn't seem to see anyone else on the web with this same issue and preferred not to add it since our servers run this on linux anyways.

[2021-10-02 04:30] xihongshi6 commented on #5739
a little confusing, is this a rule that most people knowns?

[2021-10-02 11:05] jbduncan commented on #5739
@xihongshi6 I don't know about others, but it's a rule that I understand anyway.

All it is saying is the array cannot be null, but any of the objects in the array _can_ be null.

The reason why is because the `@Nullable` annotation is annotating the `Object` part of the array, rather than the `[]` part.

So this is allowed:

[code]

But this is not allowed:

[code]

I hope this helps. :)

[2021-10-02 12:32] xihongshi6 commented on #5739
Thank you for your detailed explanation!

Maybe someone  see `@Nullable Object[] parts`, he think he can bind a `null` to parts, and get a `null` result, but unfortunately a `NullPointerException` was thrown. To some extend, it is ambiguous, because some people may think the `parts` can be `null`,  the others may think that any element can be `null`.

Since we use it to annotate elements, we canno

[2021-10-02 14:06] jbduncan commented on #5739
@xihongshi6 In this situation, the right thing to do is to annotate the array like so:

[code]

Here, it tells us that the array itself (the `[]` part) can be null, whereas the elements inside cannot.

Likewise, to say that both the array itself and its elements can be null, one would do this:

[code]

I agree that it is ambiguous! But I think it's a limitation of how arrays and annotations work w

[2021-10-03 16:03] melloware commented on #4011
Any update on removing this so all the Security Services stop reporting Guava as vulnerable?

[2021-10-06 05:01] amarlearning commented on #5653
@eamonnmcmanus It seems like @unnati914 is not working on this issue, can I take this up?

[2021-10-07 09:15] sreekesh93 commented on #5390
documentation is updated can you please close this issue?

[2021-10-13 02:50] ljynfo opened #5753 "Preconditions#checkNotNull(T) Should not throw NullPointerException"
method: com.google.common.base.Preconditions#checkNotNull(T)

Problem: This method should throw IllegalArgumentException (at least not NullPointerException)

Reason: This method is called to avoid NullPointerException, and the exception thrown by this method is identical to the exception I use without calling the method, which doesn't help me avoid code errors

[2021-10-13 04:15] xihongshi6 commented on #5753
I think if T was annotated by `@Nonnull`,  Preconditions#checkNotNull(T) should throw `IllegalArgumentException`

[2021-10-13 05:19] ljynfo commented on #5753
Methods are called to avoid null Pointers, and methods themselves throw null Pointers, just to play the role of a quick failure;

Method should properly consider the user's intention, call this method itself is to do parameter verification, but the method throws a null pointer, and I do not call the method directly use the object effect is basically the same;

[2021-10-13 06:41] ljynfo commented on #5753
@Stephan202
I understand the meaning of fast failure, but why must we throw null pointer exception, null pointer exception is not good for problem location and uniform parameter verification processing

[2021-10-13 07:39] jbduncan commented on #5753
@ljynfo The Guava team explain why `checkNotNull()` throws `NullPointerException` rather than `IllegalArgumentException` in the ["Idea Graveyard"](https://github.com/google/guava/wiki/IdeaGraveyard#preconditionscheckargumentnotnull-throws-illegalargumentexception) section of the Guava wiki.

Long story short, they're just following the Java standard library and the advice of the book _Effective Ja

[2021-10-13 07:46] ljynfo commented on #5753
@Stephan202
Thank you very much for your answer, which helped me a lot.
Sorry again for the trouble caused to you by my lack of knowledge.

[2021-10-14 06:46] GUTINGLIAO opened #5754 "What's the use of generics in Interner"
What's the difference between the following two cases

before all, I defined a simple class

[code]

In first case, i use interner to assign the person，so person and person1 will point to the same object

[code]

In second case, i assign person to person1 directly，i can get the same result like first case

[code]

I know MapMakerInternalMap will store the Person Object as key and a DummyValue as v

[2021-10-18 08:51] hehaoNo1 opened #5756 "unreleased resource : streams"
com/google/common/io/filebackedoutputstream     235line

[2021-10-19 04:46] allanhaywood commented on #5756
@hehaoNo1 Question for my edification. Transfer eventually gets assigned to out. Is your concern for when an exception may be hit in the try block?

[2021-10-27 08:18] lijinliangyihao opened #5763 "Description mistake in SmoothRateLimiter's java doc, line 167"
It says: `The state of the RateLimiter (storedPermits) is a vertical line in this figure.`, but the **horizontal** line is `storedPermits`.

[2021-10-29 19:03] amalloy commented on #5763
I'm not sure I agree with your reading of the Javadoc. The *axis* is horizontal, but the drawing seems to suggest drawing a vertical line up from a point on that axis. @cpovirk, I'm not sure who the best person to check this with is, but it looks like you've made more edits to SmoothRateLimiter than anyone else in recent history; perhaps you can confirm my assessment or loop in someone who can?

[2021-10-29 22:32] TheMode opened #5766 "Efficient implementation for MapMakerInternalMap#compute"
The map created by `MapMaker#build` currently use the inefficient `compute` implementation from `ConcurrentMap`. I assume that it could be optimized for atomic operations by reducing lookups and locking it. Contention will also cause the mapping function to be ran multiple time, preventing atomic update.

[2021-10-30 05:16] ManishOffi commented on #5376
@Marcono1234 ,
Please can you assign me?

[2021-10-30 21:06] Marcono1234 commented on #5376
@ManishOffi, I am not a member of this project, so I cannot assign you sorry.

[2021-11-02 04:55] ben-manes commented on #5766
An implementation for the compute and merge methods exists in `CacheBuilder`, which has an `asMap()` view. It was forked from `MapMaker`, which remains for historical reasons and sneakily used by Interners. Likely you should use that instead and refrain from using MapMaker. There have been pains with those compute methods, though, so another alternative is Caffeine which offers a more robust imple

[2021-11-02 05:28] #5766 closed

[2021-11-02 15:39] xberger commented on #3317
Use case? Well. Maybe I shot myself in the foot with this. I use an `EvictingQueue` as an easy way for logging, keeping events restricted to the last x events and forgetting older. Now when I print this "log" by iterating it starts with the oldest entry. But mostly I'm interested in the newest events, especially when outputting just a few of those.
Now its a pain to just print the last three event

[2021-11-02 21:14] pwr2c opened #5770 "Halve memory used by BloomFilter.java : readFrom()"
guava/src/com/google/common/hash/BloomFilter.java

readFrom allocates a temporary bitmap (data) of the size required, fills it and then passes that to new LockFreeBitArray(data) which allocates the same amount of memory and copies the bitmap (data) which is then discarded.
If the bitmap (data) is say 100MB in size, then double that of memory used during this process (along with extra CPU in the co

[2021-11-02 21:59] chaoren commented on #5763
I agree with Alan. `maxPermits` is a vertical line. `thresholdPermits` is a vertical line. `0` (`storedPermits`) is a vertical line. Those are various "state[s] of the RateLimiter," that the comment refers to. The horizontal axis is called `storedPermits`, but each value (state) along the axis is a vertical line.

[2021-11-03 00:43] lijinliangyihao commented on #5763
@chaoren Thank you for your kindly explanation, now I understand.

[2021-11-03 00:43] #5763 closed

[2021-11-03 18:11] msmerc opened #5773 "Make `Iterators.mergeSorted()` stable"
I've noticed that `Iterators.mergeSorted()` is unstable.

So for example if I have arrays: `[A_1, B_1, C_1]` `[A_2, B_2, C_2]` (where the comparator looks only at the letter), I'd like the result to iterate `[A_1, A_2,  B_1, B_2,  C_1, C_2]`. The current implementation doesn't guarantee this.

Might it be possible to add a stable version?

I confess it's not obvious what to do if the arrays are so

[2021-11-05 11:23] CRogers commented on #2730
(Apologies for the linked PR spam on this issue, it came from some of our updating infra when someone added this issue to a changelog for one of our core libraries - I've now [fixed the changelog](https://github.com/palantir/gradle-baseline/releases/tag/4.37.0) to not link here in a way github understands)

[2021-11-07 23:41] allanhaywood commented on #5742
Can you assign this to me, I'd like to work on it.

[2021-11-08 14:15] kluever commented on #1525
Given Java 11 has `string.repeat(count)`, I don't think we want to add this (you can just write, `String.valueOf(char).repeat(count)`.

[2021-11-08 14:15] #1525 closed

[2021-11-09 05:42] tuannh982 commented on #5773
Could you provide some examples please?

[2021-11-09 09:19] msmerc commented on #5773
@tuannh982: given a really simple data class:

[code]

And the following test:

[code]

I'd get:

[code]

Note how `C 2` comes before `C 1`. If the sort were stable I'd expect to see `C 1` before `C 2` because that's the order they appear in the input.

Full code here: https://gist.github.com/msmerc/279c32fe6620b0dcf2dc6f2c4dfa1469

[2021-11-09 10:52] tuannh982 commented on #5773
@msmerc: okay, please assign this issue to me.

[2021-11-10 00:05] #2810 closed

[2021-11-12 01:14] somayaj commented on #5708
Hi, can this be worked?

[2021-11-12 02:25] somayaj commented on #3946
what should it be?

@Deprecated
 public static final MediaType GZIP = createConstant(APPLICATION_TYPE, "x-gzip");

public static final MediaType GZIP = createConstant(APPLICATION_TYPE, "gzip");

[2021-11-12 06:02] spshuklaji opened #5781 "Compilation Error in ForceGuavaCompilationEntryPoint.java method does not override or implement a method from a supertype"
Maven: https://dlcdn.apache.org/maven/maven-3/3.8.3/binaries/apache-maven-3.8.3-bin.zip
OpenJDK:  https://download.java.net/openjdk/jdk11/ri/openjdk-11+28_linux-x64_bin.tar.gz
Guava tag: v31.0.1

mvn command:
`
mvn -fn -B test
`

[code]

[2021-11-15 20:13] karthikbhat13 commented on #5770
Hey!

Can I take a look at this if it is alright?

[2021-11-17 17:50] cpovirk commented on #5781
You'll need to run `mvn install` instead of `mvn test`.

This is https://github.com/google/guava/issues/2193... from 2015 :(

[2021-11-17 17:50] #5781 closed

[2021-11-19 21:08] pwr2c commented on #5770
If you are asking me, I'm good with that.

[2021-11-21 14:52] rahulsree commented on #5742
Hello - If this issue is still available, could you please assign this to me?

[2021-11-21 18:09] allanhaywood commented on #5742
Created PR here: https://github.com/google/guava/pull/5784

[2021-11-21 18:11] allanhaywood commented on #5742
@netdpb Hi David, I linked the PR above. Let me know if you need anything else from me.

[2021-11-24 20:11] #5742 closed

[2021-11-24 20:40] AbstractAlao opened #5792 "Information Disclosure and Deserialization of Untrusted Data"
I am maintaining an app that has all of the versions of guava listed as a critical vulnerability.

https://snyk.io/vuln/maven:com.google.guava%3Aguava

Is this a false positive because it says the remediation is to upgrade com.google.guava:guava to version 24.1.1-android, 24.1.1-jre or higher.

[2021-11-25 09:43] jbduncan commented on #5792
@AbstractAlao I could be wrong, but it looks to me that Guava 30.0-(jre|android)+ do not have any vulnerabilities according to that Snyk page. Is there something I'm missing? What happens if you upgrade to either of those versions?

[2021-11-28 13:46] darioseidl opened #5794 "Provide string constants for media types to use in annotations"
It would be nice to have string constants of common media types to use in annotations, for example, for Spring's `@RequestMapping` or Swagger's [`@ApiResponse`](https://github.com/swagger-api/swagger-core/wiki/Swagger-2.X---Annotations#apiresponse).

Spring has a very limited set of constants in `org.springframework.http.MediaType`, where each media is available as `MediaType` object and as string

[2021-11-29 06:52] h908714124 opened #5795 "Review code style in FeatureSpecificTestSuiteBuilderTest"
`testWasRun` should be private. Array type declaration should not look like this: `boolean setUp[]`

[2021-11-30 05:58] h908714124 opened #5796 "testlib should not depend on guava"
Currently guava-testlib has a dependency on guava in its pom.
This is a potential problem when testing guava itself, because now the guava classes are duplicated
in guava's test classpath.

Only package `com.google.common.collect.testing.google` needs the guava dependency. Maybe these specialized testers can be split off as a separate artifact, or moved into guava's `src/test` folder?

[2021-11-30 16:10] archiecobbs opened #5798 "Apply JANITOR to generated Javadoc to resurrect frames-like experience to allow browsing"
Newer Javadoc has done away with HTML frames, which means it's much harder to browse available classes. This is especially damaging for a project like Guava which tends to provide lots of good stuff you don't even know about.

See [this stackoverflow thread](https://stackoverflow.com/questions/51992347/missing-iframe-view-for-javadocs-jdk-11).

This change has disgusted many developers including m

[2021-11-30 17:55] AbstractAlao commented on #5792
Looks like that version also has the vulnerability as well. We upgraded to the latest and it still shows up.

![Screenshot_20211130-125316_Chrome](https://user-images.githubusercontent.com/58517851/144101267-28ce3ac3-1ed5-4da7-8d72-da46a292554e.jpg)

[2021-12-01 00:52] jbduncan commented on #5792
@AbstractAlao Oh, really? I ask because the latest versions of Guava are 31.0.1-jre and 31.0.1-android (see the [releases](https://github.com/google/guava/releases)), and https://snyk.io/vuln/maven:com.google.guava%3Aguava says that 30.1-(jre|android) don't have the security problems anymore, as far as I can tell.

![image](https://user-images.githubusercontent.com/2482228/144151525-bc630add-7647-

[2021-12-01 18:19] netdpb commented on #5792
I think @jbduncan has it correct here. It's not a false positive. The latest version of Guava has neither of those vulnerabilities.

[2021-12-01 18:19] #5792 closed

[2021-12-01 18:22] netdpb commented on #5796
Many classes in guava-testlib use classes in guava proper, not only those in that package. And in fact we use the code in guava-testlib to test Guava itself. I'm not sure I understand your question.

Closing, but feel free to add more information.

[2021-12-01 18:22] #5796 closed

[2021-12-01 18:36] cpovirk opened #5801 "Run tests under Java 17"
We would want to detect anything that breaks with more recent versions than what we currently test with (Java 11).

To do so, I'm told that we'll have to omit the `--no-module-directories` option that we're likely adding in https://github.com/google/guava/pull/5800, just as we'll have to have found a way to omit it under Java _8_.

I think that's fine, as I think we're using it only to work around

[2021-12-01 19:03] #5795 closed

[2021-12-02 07:22] h908714124 commented on #5796
Take a look at [ImmutableListMultimapTest](https://github.com/google/guava/blob/master/guava-tests/test/com/google/common/collect/ImmutableListMultimapTest.java), for example.
It uses [ListMultimapTestSuiteBuilder](https://github.com/google/guava/blob/master/guava-testlib/src/com/google/common/collect/testing/google/ListMultimapTestSuiteBuilder.java) to verify that `ImmutableListMultimap` implemen

[2021-12-02 13:41] dmitry-timofeev commented on #5801
Do I understand correctly that this issue is only to run tests on 17, but not to migrate our release scripts to 17?

If we move all release scripts to 17, then we can just keep the present configuration (i.e., without 9–12 specific `no-module-directories` option). That will mean that Javadoc will be generated fine on 8 and 13+ (with working search on 13+), whilst on 9–12 it will just have silently

[2021-12-02 14:04] cpovirk commented on #5801
That's my initial thinking. But you raise an interesting option that I don't think we'd considered.

We currently run the release script on our own machines and with whatever the Google default JDK is. That, particularly the second half, is [not necessarily a great idea](https://github.com/google/guava/issues/3990) (see also internal bug 165936854), so it could be nice to hardcode a JDK that we ch

[2021-12-02 15:49] netdpb commented on #5796
`guava-tests` depends on `guava-testlib`, which depends on `guava`. `ImmutableListMultimap` exists only in `guava`, so it should appear only once in the classpath for the tests.

The code at head uses `HEAD-jre-SNAPSHOT` for all modules (except the `guava/android` flavors, which use `HEAD-android-SNAPSHOT`), so there shouldn't be any version skew when running tests either.

[code]

Please let me k

[2021-12-02 15:58] h908714124 commented on #5796
OK, fair enough. Why change it when it works? I just thought it looks like a circular dependency.

[2021-12-02 16:12] netdpb commented on #5796
OK. Thanks for flagging a potential issue!

[2021-12-02 16:23] h908714124 commented on #5796
Sure, you're welcome 😉

[2021-12-02 18:10] kluever commented on #3978
It looks like the releases contain links to the jars now.

https://github.com/google/guava/wiki/Release23#using-guava-in-your-project

Please re-open if you're not seeing the links.

[2021-12-02 18:10] #3978 closed

[2021-12-03 11:07] dmitry-timofeev commented on #5801
One more bit of work to support 17: fix Javadoc generation there 🙃

Turns out it won’t work on 17 just yet, because, apparently, javadoc tool switched a warning on using incompatible language features in source files to an error. As we pass source 8, but also take _JDK_ sources from the JDK at JAVA_HOME (which naturally uses newer language features), it fails:

<details>
<summary>Error on 17</summ

[2021-12-03 14:10] cpovirk commented on #5801
Oh, right, this is the same general problem as we're working around with https://github.com/google/guava/blob/a197d99b96d69ea75a2c4a15ecd8a730dd3270d6/guava/pom.xml#L110. There were already _some_ problems that were errors, but now there are even more.

The comment there says that "we're using -source 8 to avoid other modules problems." I don't remember what the problems are, though. My guess woul

[2021-12-03 15:53] #5457 closed

[2021-12-03 20:20] ahimani opened #5806 "Remove @Beta from ListenableScheduledFuture"
ListeningScheduledExecutorService is not marked as beta but using it results in unstable warning as the signature references ListenableScheduledFuture which has been marked as beta.

Today in order to avoid errors consumers need to either suppress the warning or downcast to a ScheduledFuture or ListenableFuture to use the result from `ListeningScheduledExecutorService#schedule` method.

Similar to

[2021-12-04 17:02] biecho opened #5808 "MAX_LENGTH incorrectly used for length check"
In InternetDomainName.java:102 MAX_LENGTH is defined as 253, with the justification that after rfc2181 at most 255 octets may be used (1 is used for the length, 1 for the root).

In line 145, the MAX_LENGTH variable is used to check name.length(). But length() returns the number of Unicode code units and not octets. I think there is an inconsistency here.

[2021-12-05 02:00] ben-manes opened #5810 "CacheLoader.loadAll should not be allowed to modify the keys"
I noticed this mistake in Caffeine and my new tests fail for Guava. In both cases the mutable set of keys to load is provided to the user, who might downcast and add or remove an element. By doing so the loop iterating on them will not have the expected behavior. I believe wrapping with `Collections.unmodifiableSet(set)` would be a simple change and it is doubtful anyone did this.

https://github.

[2021-12-05 08:52] ReyBan82 opened #5811 "Alyssa Carson"

[2021-12-06 14:33] #5811 closed

[2021-12-06 14:47] cpovirk commented on #5808
Interesting. This seems like something that @cdberry-zz may have already thought about?

[2021-12-06 19:15] cdberry-zz commented on #5808
This is unfortunately an intractable problem. The actual RFC-specified length constraints are on the [Punycode](https://en.wikipedia.org/wiki/Punycode) encodings of the name parts, and `InternetDomainName` can't have a dependency on a third-party Punycode library for various reasons. If more accurate validation of Unicode names is needed, I suggest you use such a library (e.g. [ICU](https://unicod

[2021-12-06 21:22] #5808 closed

[2021-12-07 09:35] biecho commented on #5808
Thanks to both of you.

[2021-12-10 15:42] cpovirk opened #5816 "Make a JSpecify-annotated Guava available for testing purposes"
A few months ago, we pushed [a branch](https://github.com/google/guava/tree/jspecify-preview) annotated with [JSpecify 0.2.0](https://github.com/jspecify/jspecify/releases/tag/v0.2.0) [`@Nullable`](https://javadoc.io/static/org.jspecify/jspecify/0.2.0/org.jspecify/org/jspecify/nullness/Nullable.html) and [`@NullMarked`](https://javadoc.io/static/org.jspecify/jspecify/0.2.0/org.jspecify/org/jspecif

[2021-12-10 21:26] gkunz opened #5817 "OpenSSF: MFA Tokens for your project"
Hi!

My name is Georg Kunz and I work with the [Developer Best Practices Working Group](https://github.com/ossf/wg-best-practices-os-developers) of the Linux Foundation's Open Source Security Foundation (OpenSSF) ["Great Multi-Factor Authentication (MFA) Distribution Project"](https://github.com/ossf/great-mfa-project).

We'd like to give your project *free* MFA hardware tokens from Google and Git

[2021-12-10 22:58] cpovirk commented on #5817
Interesting! Since our maintainers are Google employees, we already have tokens for our jobs (and we also use them with GitHub), so we're in good shape. Thanks, though: If not for that, I'd be reading more about this.

[2021-12-10 22:58] #5817 closed

[2021-12-10 23:03] gkunz commented on #5817
Hi Chris. Thanks for the feedback!

[2021-12-11 15:49] Modusto509 opened #5818 "Botboughts"
Guava: Google Core Libraries for Java

￼ ￼

Guava is a set of core Java libraries from Google that includes new collection types (such as multimap and multiset), immutable collections, a graph library, and utilities for concurrency, I/O, hashing, caching, primitives, strings, and more! It is widely used on most Java projects within Google, and widely used by many other companies as well.

Guava co

[2021-12-12 01:28] Zimbo7018 opened #5819 "Sony Xperia locked"

[2021-12-13 18:56] cpovirk commented on #3403
https://github.com/google/guava/issues/3620 mentions the possibility of changing the return type of these methods (and others). But we could still do that after removing `@Beta` as long as we don't "just change" it: We'd have to inject bridge methods with the old signatures, as we already do for some other cases of signature changes.

[2021-12-13 19:07] cpovirk commented on #3403
Anyway, my thinking lately has been that the possible interruption change doesn't necessarily block this, either, but that the possible `CancellationException` change for `catching` probably does.

I'm not entirely sure why I feel that way: Both are changes to behavior but not to mention signatures, and both are likely to have negative results for a very small percentage of callers. Maybe it's the

[2021-12-13 19:18] cpovirk commented on #2076
We subsequently added `submit` in Guava 28.2.

[2021-12-13 19:18] #2076 closed

[2021-12-14 06:58] travisdowns commented on #1268
@thespags - the wayback machine [has it](https://web.archive.org/web/20160111161220/http://code.google.com/p/guava-libraries/issues/attachmentText?id=1268&aid=12680001000&name=ArrayListVsImmutableList.java&token=ABZ6GAdWly6Cfrl6SG6cZbDxXSS0PEMH_A%3A1452527855184).

I've attached it here (because I can't attach it to the first message in this thread):

[ArrayListVsImmutableList.zip](https://github.

[2021-12-14 13:08] h908714124 opened #5825 "Network.adjacentEdges returns live set"
The following test fails with a message "Live set", when added to `StandardMutableUndirectedNetworkTest`:

[code]

Even for a mutable `Network`, the method `Network.adjacentEdges` should not retain a reference to the `Set<String>` instance it returns. It should only return safe and unmodifiable _copies_.

To make things a tad more confusing, there is an existing test `adjacentEdges_checkReturnedSe

[2021-12-14 13:33] h908714124 commented on #5819
Have you tried switching it off and on again?

[2021-12-14 15:42] cpovirk commented on #3787
Closing in favor of the newer https://github.com/google/guava/issues/3821 because that one has a little more discussion.

[2021-12-14 15:42] #3787 closed

[2021-12-14 16:37] cpovirk commented on #3783
Deduplicating against https://github.com/google/guava/issues/2797.

[2021-12-14 16:37] #3783 closed

[2021-12-14 16:40] #3052 closed

[2021-12-14 16:40] #3414 closed

[2021-12-14 16:40] #3417 closed

[2021-12-14 16:40] #3423 closed

[2021-12-14 17:19] #3452 closed

[2021-12-14 22:19] cpovirk commented on #2850
One thing we'd want to verify is whether it's still possible to use Bazel to run tests under JDK8 nowadays. It may well be; I'd just want to check.

[2021-12-14 22:20] perezd commented on #2850
It is: https://docs.bazel.build/versions/3.6.0/bazel-and-java.html#configuring-the-jdk

[2021-12-14 22:23] cpovirk commented on #2850
Oh, thanks. And that was fast :)

I got worried by https://github.com/bazelbuild/bazel/commit/c406da09d8bf29b2c8739a579008044626d3ec4f, but your link makes clear that that's just about the "main" runtime, not about the toolchain.

[2021-12-15 01:14] jrtom commented on #5825
Returning a live view is the intended behavior for the implementations that `common.graph` provides, as documented (and explained) here: https://github.com/google/guava/wiki/GraphsExplained#accessor-behavior

The Javadoc for the `Network` interface specifically references the documentation above, under "Additional documentation": https://guava.dev/releases/snapshot/api/docs/com/google/common/graph