[2021-12-15 02:59] tang88888888 opened #5828 "1"
[]()

[2021-12-15 04:38] h908714124 commented on #5825
I don't think this is acceptable as documentation. Note this is an external website, not the javadoc itself, and it doesn't even mention what time this was written at. Would you mind keeping this issue open a bit longer?

[2021-12-15 06:53] h908714124 commented on #5825
The test `adjacentEdges_checkReturnedSetMutability` is confusing for several reasons:

[code]

Especially this line is confusing:

[code]

* The expectation value `adjacentEdges` is declared as `Set<String>`, not `SetView<String>`, thus making it harder to see that this is a live set.
* An expectation value in an assertion should probably not be a mutable `SetView` that had just its contents chang

[2021-12-15 16:59] netdpb commented on #3051
`Invokable` was made obsolete by `java.lang.reflect.Executable` in Java 8. We should probably deprecate it (and `Parameter`, obsoleted by `java.lang.reflect.Parameter`) and provide a migration strategy.

In the meantime, we can remove `@Beta` from other APIs in `com.google.common.reflect`.

[2021-12-17 15:36] tang88888888 opened #5838 "open"

[2021-12-17 16:38] #5819 closed

[2021-12-17 18:00] yeikel commented on #4011
Bump as this continues to be an issue in security scans

[2021-12-20 19:49] cpovirk opened #5840 "Improve `Iterables` doc around migrating to `Stream`"
We're seeing some evidence that people are interpreting the current text as "You should always choose `Stream` over `Iterables`" and even as "`Iterables` is effectively deprecated."

I don't remember all the history, but at a minimum, I don't _think_ we want to suggest "effectively deprecated," if only because of methods like `mergeSorted` that don't have clean `Stream` equivalents.

Even beyond t

[2021-12-21 19:39] cpovirk commented on #5840
The ongoing discussion on the linked issue reminds me of a couple other things:
- We should specifically warn people about `transform` and other lazily computed views.
- We should note that `Streams.findLast` can be either faster than or slower than `Iterables.getLast`.

[2021-12-22 02:15] Kurru opened #5842 "Provide ServiceManager.stopTimes() to enable debugging slow ServiceManager shutdowns"
Consider providing `ServiceManager.stopTimes()` to enable debugging slow ServiceManager shutdowns.

There currently exists `serviceManager.startupTimes()` for startup time, this would be the equivalent for the shutdown process.

[2021-12-22 06:17] h908714124 opened #5843 "Contract of Collection.contains violated in AbstractBaseGraph.edges"
Let `p` be an `EndpointPair<Integer>`. The method [AbstractBaseGraph#edges](https://github.com/google/guava/blob/master/guava/src/com/google/common/graph/AbstractBaseGraph.java) can return a `Set<EndpointPair<Integer>> edges` for which `edges.contains(p)` is `true`, but `e.equals(p)` is `false` for each element `e`. This violates the contract of [java.util.Collection#contains](https://docs.oracle.

[2021-12-22 09:44] h908714124 commented on #5843
The Graph that is returned by [AbstractNetwork#asGraph](https://github.com/google/guava/blob/master/guava/src/com/google/common/graph/AbstractNetwork.java) has a similar problem. Note that this anonymous inner class of AbstractNetwork does not extend `AbstractBaseGraph`.

[code]

[2021-12-22 12:25] minherz opened #5844 "Question: Why RegularImmutableMap.fromEntryArray enforces "not null" policy on values?"
I try to use `ImmutableMap.copyOf()` method which eventually calls to `RegularImuutableMap.fromEntryArray()` which eventuall fails on https://github.com/google/guava/blob/448e326ee1ea0b45b81945b57af93198620ada53/guava/src/com/google/common/collect/RegularImmutableMap.java#L128

While it makes sense to enforce non-null keys it is unclear why this generic implementation enforces values to be not nul

[2021-12-22 13:42] perceptron8 commented on #5844
https://github.com/google/guava/wiki/UsingAndAvoidingNullExplained

[2021-12-22 13:50] #5844 closed

[2021-12-22 15:43] jbduncan commented on #5843
I've investigated this a bit out of interest, and I think the problem is that `AbstractBaseGraph#edges` returns a custom set with an unusual `contains` implementation.

https://github.com/google/guava/blob/448e326ee1ea0b45b81945b57af93198620ada53/guava/src/com/google/common/graph/AbstractBaseGraph.java#L86-L96

Specifically, it uses a custom method: `isOrderingCompatible`, which compares the order

[2021-12-22 15:45] jbduncan commented on #5843
For clarity, I've investigated `GraphBuilder.undirected()`, but not `NetworkBuilder.undirected()`.

[2021-12-22 16:06] jbduncan commented on #5843
I suppose the next question is: is this difference to the `Collection#contains` contract intended?

I can see an advantage to the current approach. It allows all these assertions to pass:

[code]

By comparison, using `EndpointPair#equals`:

[code]

@jrtom Do you have any thoughts on this? I hope you don't mind me including you in this discussion.

[2021-12-22 19:48] cpovirk commented on #5843
I haven't been involved in this, but it was interesting enough that I skimmed through the history.

It looks like this used to be "correct" but was pretty explicitly "broken" by a subsequent change. The change was definitely intended to make different `EndpointPair` instances more easily interchangeable, so it was "intentional" in some sense, but I'm not sure that `contains` behavior specifically

[2021-12-23 14:11] cpovirk commented on #5843
I'm able to change `isOrderingCompatible` to `endpoints.isOrdered() == this.isDirected()` without breaking anything in Google's codebase except our own tests. That's still not to say that we should do that, just that _a lot of breakages_ would have been practically prevented us from changing the behavior.

[2021-12-23 19:03] h908714124 commented on #5825
There's a similar issue with the assertion (merely asserting that a set is equal to itself) in edgesConnecting_checkReturnedSetMutability and

[2021-12-25 08:52] h908714124 commented on #5843
I just found this interesting test in `TestUtil`.
Seems like the original intention was to implement `Set` according to specs:

[code]

[2021-12-25 20:38] hwaite commented on #3234
Is this utility method still in the works? Or is abandoned code publicly available? Pathfinding is a common graph use case so weighted shortest path algo (e.g. Dijkstra) would be useful as well. Incidentally, it'd be easier for users to "roll their own" [unweighted] solutions if Traverser returned paths instead of nodes (i.e. `Iterable<List<N>> breadthFirst(N startNode)`).

[2021-12-27 01:59] tinswzy opened #5850 "It is necessary to set Strategy in Splitter to public so that users can customize flexible Strategies."
It is necessary to set Strategy in Splitter to public，so that users can customize flexible Strategies.
`
public interface Strategy {
    Iterator<String> iterator(Splitter splitter, CharSequence toSplit);
  }
`
Or provide other ways for users to programmatically define Strategies.
Otherwise we would have been seeing some of the following needs, some of which I really needed
`
https://github.com/go

[2021-12-28 22:43] haozm opened #5853 "针对 Rang 函数，建议增加 新的构造器 fromString(....)"
example:
Rang<Int> intRang = Rang.fromString("(4,7)");

Rang<Int> intRang = Rang.fromString("[4,7)");

从 toString  的逆向 工程 是很不错的思维模式~~~~~

[2021-12-30 01:28] tinswzy commented on #5850
@mkbehr @harningt @eatnumber1 @lukhnos Any suggestions ?

[2021-12-31 21:59] dacunni1 commented on #3317
✋ use case here!  I wanted to use an `EvictingQueue` to keep around the most recent N items.  When I need to process (not remove) items from the queue, I'm only interested in the most recent items which may or may not be all N items.  e.g. I may keep around 20 things but might only be interested in the most recent 10 right now.  There's no easy way to do this with `EvictingQueue`, so I'm forced to

[2022-01-04 03:44] bigPandaChina commented on #3284
Why not delete @Beta from Hashing ?  The other have been deleted. Is there any problem with hashing?

[2022-01-04 15:05] kluever commented on #3284
Point of clarification: `@Beta` does not (and never has) meant that the API is "problematic".

Is the `@Beta` tag on `Hashing` causing you problems? If so, please elaborate.

[2022-01-04 19:56] consultantleon commented on #3284
Yes we receive a warning from some of our scanner tools and or Intellij.
It's an unsettling thought that you provided an API/event framework, that we've been depending on for many years (!!) now and our build still warns us of depending on beta features!
I can understand that such annotation is on a new feature at it's introduction, but years and 10th of releases later you expect beta releases to

[2022-01-05 13:50] holgerbrandl opened #5855 "RangeSet should provide a method to test for intersection with another RangeSet"
Currently, the user has decompose one of the sets and check the ranges for overlap with the other RangeSet.

It would be better if guava could support this directly as in the following example:
[code]

[2022-01-05 15:49] Stephan202 commented on #5855
While using a different term ("overlaps" rather than than "intersects") this looks like a duplicate of #2094.

(But I'll use this opportunity to say that yes, this would be a very welcome addition; our code base contains several copies of the example implementation shown in #2094.)

[2022-01-05 16:29] vlsi opened #5857 "Publish guava-tests to Maven Central"
`ByteSourceTester` seems to be a useful TCK for testing `InputStream`.

Would you please consider publishing `guava-tests` module so other projects can reuse the tests?

[2022-01-05 16:53] jbduncan commented on #5857
Or move `ByteSourceTester` to "guava-testlib" or a new artifact?

[2022-01-05 17:22] vlsi commented on #5857
For now, I am interested in `ByteSourceTester` and `ByteSinkTester` for testing https://github.com/pgjdbc/pgjdbc/pull/2376

[2022-01-05 18:38] chaoren commented on #5853
Thank you for the suggestion, but I don't think this is a good idea.

1. `Range` supports arbitrary `Comparable` type parameters, so we can't just have it parse only integers.
2. Parsing data from a String prevents static type checking and could lead to runtime errors if the input String is malformed.

There's is no clear benefit to adding this either. There's no compelling reason to have an inver

[2022-01-05 18:38] #5853 closed

[2022-01-05 22:15] #5810 closed

[2022-01-05 23:54] DeathToGoogle opened #5859 "Death to google. Death to the UK and death to its stupid "national (death) service""
Death to google. Death to the loser bunch of worthless fools that work for this garbage slave company. You are not engineers, not even close, and will never be. You are cheap slave losers who need to be punished for working for this evil terrorist google. Death to google for promoting the disgusting and stupid so called "health sector". Death to google (and every single trashy app they've worked o

[2022-01-06 14:31] #5855 closed

[2022-01-06 14:54] cpovirk commented on #5840
We should also document `Maps`, `Sets`, `Lists`, `Multimaps`, `Multisets`, `Tables`, and `Collections2` to warn about lazily computed views there.

There's also an interesting question about how much to prefer methods like `uniqueIndex` over the `Stream` equivalents. (There's some discussion of this in internal bug 213183492.)

[2022-01-06 16:45] #3284 closed

[2022-01-06 16:45] kluever commented on #3284
Fixed via https://github.com/google/guava/pull/5862

[2022-01-07 09:27] Xaerxess commented on #3284
@kluever Did you discussed removing `@Beta` from `BloomFilter` and `Funnel(s)`? Should I create a separate issue?

[2022-01-07 14:06] kluever commented on #3284
We did not look at those. A separate issue would be great, thanks.

[2022-01-07 14:20] Xaerxess opened #5863 "Remove @Beta from BloomFilter and Funnel(s)"
In #3284 several classes in `com.google.common.hash` were promoted from `@Beta`, most notably `Hashing` and `HashFunction`. @netdpb also mentioned there was a review of _"all @Beta APIs with the intention of removing @Beta from all that have no serious outstanding API issues"_ (see [this comment](https://github.com/google/guava/issues/3284#issuecomment-669155975).

Having said that, `BloomFilter`,

[2022-01-07 14:20] Xaerxess commented on #3284
@kluever I've created #5863.

[2022-01-07 20:06] jmott commented on #2960
My vulnerability scanners are now all complaining about Guava because the com.google.code.findbugs:jsr305:jar:3.0.2 dependency it pulls in is flagged for the recent log4j remote code execution vulnerabilities. Any update on this project to move away from jsr305? Thanks!

[2022-01-07 20:52] ben-manes commented on #2960
The poms for [jsr305](https://search.maven.org/artifact/com.google.code.findbugs/jsr305/3.0.2/jar) and [guava](https://search.maven.org/artifact/com.google.guava/guava/31.0.1-jre/bundle) don't show a log4j dependency (at any scope). It sounds like a false positive.

[2022-01-10 09:26] findepi commented on #1881
@cpovirk sorry for refreshing an old issue, it seems still relevant.
Did you come to agreement on what's the expected behavior?

For me, "`get()` after `invalidate()` should return fresh state" is the expected behavior.

[2022-01-10 11:36] ben-manes commented on #1881
Caffeine resolves this for explicit keyed operations, but not for clearing out the whole cache. That is because it decorates, rather than forks, ConcurrentHashMap which suppresses in-flight loads from appearing in its iterators. A trivial workaround to that is to append a generational id to the key so that existing entries cannot be retrieved and a stale in-flight load detected by the reader to po

[2022-01-10 12:13] findepi commented on #1881
@ben-manes thanks for the update about Caffeine.

I am still looking for the Guava team's perspective on the problem.
In particular, would a patch be accepted? what solution categories have been discarded already?
What are acceptable drawbacks, if any, for a potential fix?

@lowasser 's comment from 2014 (https://github.com/google/guava/issues/1881#issuecomment-67080198) suggests a patch would be

[2022-01-10 14:35] IntHelloWorld opened #5864 "Find test flakiness when building the project."
Dear developers,
When I built the project I got some failures from these tests:

**1. com.google.common.util.concurrent.AbstractFutureFallbackAtomicHelperTest#testToString_delayedTimeout
2. com.google.common.util.concurrent.UninterruptiblesTest#testTryLockInterruptedTimeoutNotExceeded
3. com.google.common.util.concurrent.AbstractFutureTest#testToString_delayedTimeout**

but when I rebuilt the proj

[2022-01-11 01:49] ShangwenWang opened #5865 "Potential flaky tests in the project"
Dear developers,

Recently I used this project to do something. But when I built it

- com.google.common.util.concurrent.UninterruptibleMonitorTest#testEnterWhen_initiallyFalse
- com.google.common.cache.PopulatedCachesTest#testKeySet_populated

It was surprising that when I rebuilt it, they are both passed. So I guess they may be flaky tests.
I report this phenomenon to you and attached is the tes

[2022-01-11 19:36] #5770 closed

[2022-01-14 00:22] cgdecker commented on #5865
Yes, it does look like these are tests that could be flaky. I think it's unlikely that we're going try to do anything about that, though.

[2022-01-14 00:32] cgdecker commented on #5864
Yes, it does look like these are tests that could be flaky. Some tests like these are more or less necessarily flaky. The `_delayedTimeout` test, for example, has this documentation:

In some cases there are ways of making flaky tests deterministic, but some of our libraries, particularly those in `concurrent`, are dealing with low-level enough code that it isn't possible to make them deterministi

[2022-01-14 05:57] IntHelloWorld commented on #5864
Thanks for your response! That really solves my question.

[2022-01-14 05:57] #5864 closed

[2022-01-14 06:49] ShangwenWang commented on #5865
Thanks for your reply. It would be nice if someone can look into it in the future.

[2022-01-14 12:47] wuhongjun15 opened #5871 "Potential flaky tests in the project"
Dear developers,
Sorry for bordering you, when I built the project I found the following tests can pass in one build but fail in another, so maybe they are flaky tests or they possess some extent of flakiness?

- com.google.common.cache.PopulatedCachesTest#testReplace_populated
- com.google.common.cache.PopulatedCachesTest#testEntrySet_populated
- com.google.common.util.concurrent.ClosingFutureTes

[2022-01-14 13:54] cgdecker commented on #5871
Yes, it does look like these are tests that could be flaky. Some tests like these are more or less necessarily flaky. In some cases there are ways of making flaky tests deterministic, but some of our libraries, particularly those in `concurrent` and `cache` among others, are dealing with low-level enough code that it isn't possible to make them deterministic while still actually testing what we're

[2022-01-14 14:05] jonahgreenthal commented on #5871
There have been two other issues opened about flaky tests in the past few days (#5864, #5865), both with similar wording to this one. There were few or no other issues about flaky tests in the last several years. Do we have any idea what's up with this trend?

[2022-01-14 14:05] cgdecker commented on #5871
@jonahgreenthal Class assignment most likely.

[2022-01-15 04:38] EarthCitizen commented on #3253
This is incredibly frustrating. `Striped` is EXACTLY what I need, but I am making a library, and `Striped` is still `@Beta`, so I cannot use it. And, sadly, I am not aware of any alternative to Guava's implementation of this.

According to the JavaDoc of `Striped`, it has been around since Guava 13.0, which appears to have been released in 2012. As of this comment, that is approximately 10 years.

[2022-01-15 14:17] ShangwenWang commented on #5871
Sorry for bothering you for so many times.
Actually, we are trying to find silent flaky tests in open-source projects.
With these identified flaky tests, we wonder if you plan to fix them in the future. If not, what is the major concern? We think these flaky tests may negatively impact the continuous integration process. Thus, fixing them is necessary, more or less. Is your actual concern is the e

[2022-01-15 23:09] cgdecker commented on #5871
It's not something we have time to prioritize because it's not something that causes us a problem; our internal CI is pretty good about understanding test flakiness and dealing with it. It's certainly not something I'd consider "necessary".

If you guys want to send PRs fixing the flakiness for individual methods or classes, we'd be happy to take a look at those. We just generally aren't going to

[2022-01-16 05:35] ShangwenWang commented on #5871
Thanks for your detailed explanation.
We will try to propose reasonable fixes in the future.

[2022-01-17 17:49] ayushjais2654 commented on #5842
@Kurru raised pull request for the requested support. https://github.com/google/guava/pull/5873

[2022-01-17 20:40] WojciechZankowski opened #5874 "Inconsistency in behavior between unmodifiable and immutable maps"
Hi, it might be not a real issue, but I am just rising it.

[code]

and other immutable maps from guava will throw

[code]

At the same time there are 2 implementations in Guava library that have slightly different behavior:

[code]

will throw
[code]

And the other one will just silently go through.

[code]

I am not sure if this has been done on purpose by design or was just simply overseen. Hap

[2022-01-18 00:07] runnable-thread commented on #3376
Any updates on removing @beta for RangeMap (also applies to TreeRangeMap)?

[2022-01-18 14:22] cgdecker commented on #5874
I think this is intentional. The spec of `compute` allows methods that modify the map to either throw `UnsupportedOperationException` (as `ImmutableMap` does) or not throw it (as the `unmodifiableMap`s do) when the map would not actually be modified based on the actual input to the method.

`ImmutableMap` chooses to always throw since even _trying_ to modify an `ImmutableMap` means there's a progr

[2022-01-18 15:00] WojciechZankowski commented on #5874
That's actually my concern that ```Maps.unmodifiableNavigableMap()``` and ```Maps.unmodifiableBiMap()``` are not matching the behavior of JDK's ```unmodifiableMap```, JDK's ```immutableMap``` nor Guava's ```immutableMap```.

Even the delegate behind ```Maps.unmodifiableNavigableMap()``` is ```Collections.unmodifiableSortedMap(delegate)```, but simply ```ForwardingMap``` goes to the default impleme

[2022-01-18 15:07] cgdecker commented on #5874
Ahh, sorry, I read what you were saying too quickly the first time and misunderstood completely. Now that I actually understand what you're saying, this does look like an oversight on our part to me. I think we should make `unmodifiableNavigableMap` and `unmodifiableBiMap` throw `UOE` for such methods like the rest.

[2022-01-18 20:55] #5744 closed

[2022-01-19 03:16] jrtom commented on #5843
@h908714124 thanks for the catch.  This is a bug.  It arose from a bug fix, but @cpovirk is correct that the behavior of `contains()` didn't specifically come up in the review (@cpovirk, the API review which led to this change included "endpoint ordering mismatches" in the title if you want to look it up).

@jbduncan thanks for the analysis; you are correct about the cause.

The original review wa

[2022-01-19 03:43] jrtom commented on #5825
@h908714124 there are a few reasons why we return live sets here, as I said in my earlier comment:

* it entails less overhead (than making a copy)
* in our judgement providing a view that changes as the graph changes is overall more useful, and less surprising, than a copy that does not
* it is consistent with design decisions elsewhere in Guava

To review, these are the four options:

1. immutab

[2022-01-19 22:48] nakulj opened #5882 "Add a `constrain` method to Range"
`com.google.common.primitives.Ints` already has the very useful `static int constrainToRange(int value, int min, int max)`. It would be nice to add this as a method to the `Range` class.

Two advantages:

1. This would be generically available to any `Comparable` type.
2. It just reads better- compare `Range.closed(3,9).constrain(4)` vs `Ints.constrainToRange(3,4,9)`. In the latter case it's not i

[2022-01-20 13:51] cpovirk commented on #643
Let's close this in favor of https://github.com/google/guava/issues/5882, which is focused on the remaining request.

[2022-01-20 13:51] #643 closed

[2022-01-20 15:53] cpovirk commented on #5843
Sadly, I have a CL that blindly changes how `isOrderingCompatible` works (CL 417851751), not one that targets the behavior in `edges`. Maybe the real fix is as simple as changing the `edges` method's _call_ to `isOrderingCompatible`. But I am happy to leave that to you to maybe get to sometime... :)

[2022-01-20 17:45] jbduncan commented on #5843
Do Google's internal search tools allow queries like the following?

If so, I think this would allow the potential disruption of any change to be measured.

Otherwise, my gut feeling is for `directedGraph.edges().contains(undirectedEndpointPair)` to always be `false`, and for `directedGraph.putEdge(undirectedEndpointPair)` to never "work".

[2022-01-20 19:47] Adrodoc opened #5886 "Add putEntry Method to Multimap"
# Problem
When you have a method returning an entry there is currently no good way to insert this entry into a `Multimap` without using a local variable. This is quite annoying when you have multiple calls returning multiple entries.

Consider the following code example:
[code]

As you can see the four workarounds are all quite verbose, which can make the code hard to understand, when there is a b

[2022-01-21 02:18] jrtom commented on #5843
Thanks, @jbduncan.

As far as I can tell, neither of these cases exist in Google's code base.  However, that doesn't tell us whether they exist in the rest of the world.  :)

I think we've settled on this change: that was the original subject of this issue, and I agree that we need to not violate the `Set.contains()` contract.  Since we have an existing contract for `hasEdgeConnecting()` that requ

[2022-01-21 10:55] plap979 commented on #2400
This conflicts with the presence of a boolean isEmpty() method available on Range objects.

[2022-01-21 13:31] h908714124 opened #5888 "Which kind of ImmutableMultimap does ImmutableMultimap.builder().build() create?"
Here's a quote from the class-level javadoc of `ImmutableMultimap`:

In this regard, it seems rather unfortunate that `ImmutableMultimap.builder().build()` returns `ImmutableMultimap`. Is this a SetMultimap or ListMultimap? At least the Javadoc should be clear about that, or better yet, `build()` should return one of the specific types.

See: https://guava.dev/releases/snapshot-jre/api/docs/com/go

[2022-01-21 17:24] eamonnmcmanus commented on #5886
The idea isn't unreasonable. We already have [`put(Map.Entry)`](https://javadoc.io/static/com.google.guava/guava/31.0.1-jre/com/google/common/collect/ImmutableSetMultimap.Builder.html#put(java.util.Map.Entry)) methods in `ImmutableSetMultimap.Builder` and `ImmutableListMultimap.Builder`. On the other hand, `Map` doesn't have a `put(Entry)` method, though your argument would seem to apply just as w

[2022-01-21 20:07] #5874 closed

[2022-01-21 23:44] WojciechZankowski commented on #5886
If ```put``` method would be added then in theory it opens also a discussion for other methods from the interface like:
[code]
where similar concept could be applied. Of course with method's overloading and default methods it doesn't bloat the interface too much. Simply the question is how many things you would like to have there.

1. If you decide one way or another then I can provide you a PR wi

[2022-01-22 17:08] Parnot1 opened #5891 "ประณต ภูมิประพันธ์"

[2022-01-22 17:09] #5891 closed

[2022-01-25 11:25] asureshraja commented on #5438
@netdpb @ben-manes
I raised pull request for this issue.
Can you please verify
https://github.com/google/guava/pull/5896

[2022-01-25 18:22] U1F984 commented on #3102
Hi, I found this ticket after taking a look why our build broke when upgrading guava (patch version). Shouldn't this be at least mentioned in the changelogs?

[2022-01-28 12:31] shyam94 opened #5902 "Vulnerabilities reported by Veracode"
Hi,

Veracode scan reported Medium Vulnerability found in **google-guava-30.0.jar.**

1. **File:** com/google/common/util/concurrent/SequentialExecutor.java
   **Line no:** 235
   **CWE ID:** 117
   **Reason:**  Improper Output Neutralization for Logs. A function call could result in a log forging attack. Writing untrusted data into
                       a log file allows an attacker to forge log

[2022-01-30 10:17] HarunSMetin commented on #5882
@cpovirk @nakulj  Hello. I would like to work on this issue. But This is my first time contributing to an open-source project. Therefore, I need some guidance. Could you please give me more information about this issue?

[2022-01-30 10:19] HarunSMetin commented on #5773
@chaoren @msmerc  Hello. I would like to work on this issue. But This is my first time contributing to an open-source project. Therefore, I need some guidance. Could you please give me more information about this issue?

[2022-02-01 06:33] su1234rita commented on #2131
Any update on this fix? I am also facing a similar issue where getIfPresent returns a null sometimes.
Or alternates to get-ing without an exception being thrown if the value is not present.

[2022-02-01 09:32] msmerc commented on #5773
@HarunSMetin what exactly isn't clear?

[2022-02-01 16:34] netdpb commented on #5902
Hi @shyam94. Please report potential security vulnerabilities using these instructions: https://github.com/google/guava/security/policy. Thank you.

[2022-02-02 22:39] ben-manes commented on #2131
Unfortunately I don't have the time to assist in maintaining Guava's Cache, and like the other coauthors, have moved on. I would prefer to have the difference between libraries be primarily performance and features for new code, rather than have users deal with bugs in their existing code. I can help review patches if anyone is interested in sending bug fixes.

I am familiar with the code base but

[2022-02-03 20:43] JLLeitschuh commented on #4011
A similar vulnerability exists in the Kotlin Stdlib, they haven't fixed it either. They deprecated the method as well.
https://github.com/JLLeitschuh/security-research/security/advisories/GHSA-5w9v-8x7x-rfqm

[2022-02-07 21:04] netdpb commented on #5842
Do you actually have a use case for this feature? What will you use it for? Or are you proposing it simply for completeness?

[2022-02-08 00:52] Kurru commented on #5842
When I start my server I print out the time taken to start all services, which is easy given the current supported API. This lets me see which service was responsible for slow server start performance.

I want the same ability for server shutdown. Currently, when I stop my server, it waits for all services to stop running, however I have no easy visibility into the shutdown delay which is frustrat

[2022-02-09 08:31] evanyang1 commented on #5902
anything else for this issue that should be worked on? Or I should work on? Otherwise it should be closed?

[2022-02-09 18:58] debashisdeb commented on #10
2022? #weNeedTrie 😄

[2022-02-09 19:20] #5902 closed

[2022-02-09 19:21] netdpb commented on #5902
Closing for now. Thanks for the ping.

[2022-02-10 04:59] evanyang1 commented on #5840
what are the relevant files that I or another developer should add documentation in?

[2022-02-10 05:01] evanyang1 commented on #10
Given that this issue was opened in 2014, what would it take for this issue to be resolved + closed?

[2022-02-10 07:12] flaviodonze opened #5916 "can import be optional - com.google.common.util.concurrent.internal"
guava jars after version 27.0-jre to version 31.0.1.jre contain the following Import-Package declaration: `com.google.common.util.concurrent.internal`

Is this dependency really required or could it be optional? Optional would make it less difficult to use the guava bundle.

I also found this description, which sounds like Optional would be possible:
https://mvnrepository.com/artifact/com.google.g

[2022-02-10 16:53] micobarac opened #5917 "Expecting new version on Maven repository"
The latest version has been published to Maven repository months ago.
Master branch has many useful changes and cleanup done.
It would be nice to have it on Maven. :)

[2022-02-14 18:55] jehaineoracle commented on #4011
Bump. When can we expect the vulnerable code to be removed form Guava so we can pass the security scan?

[2022-02-14 20:59] srana6 opened #5922 "Getting an incorrect value back when the cache reloads."
I am using Guava cache with refreshAfterWrite(). I have set the TTL to 60 sec.

[code]
I am setting the key of type ServiceKey object.

[code]

[code]
I am seeing a strange behavior whenever cache expires and the `reload` function is called. On `reload` I am getting the wrong previous value for the key I am currently querying the cache with. Let's say my cache has Key 1 -> val1 and Key2 -> val2. O

[2022-02-15 05:06] ben-manes commented on #5922
It sounds like your cache loader has some mutable state that is causing it to load for the wrong key. You can also experience surprising behavior if the key or value is mutated, or if the key has an incorrect equals/hashCode implementation.

[2022-02-16 18:58] srana6 commented on #5922
@ben-manes I am using Guava's hashcode and equals generator. Doesn't seem anything funky.

[code]

[2022-02-16 20:24] ben-manes commented on #5922
yes, that looks good. Is your cache loader dependent on other mutable data? Typically it is that something else is not synchronized correctly and causing data races. Ideally the cache loader is a idempotent, e.g. just runs a SQL query, but you might be calling other internal services that are not thread safe. If I was in your shoes then I would add logging and asserts to track down the problem.

[2022-02-17 14:12] srana6 commented on #5922
Yes, cache brings the data from a service call. Does mutable data play a role in cache? I thought if my keys are unique and the entry expires it will always bring the same data and update the same key.

Thanks for the suggestion I will dig deep.

[2022-02-17 15:53] srana6 commented on #5922
@ben-manes thank you so much for the pointers so by digging deep I found out the issue is with the Oauth session. I make a service call to bring some values which are then inserted into the cache. On cache reload for some reason the Oauth session value is coming out to be the one that should be for User associated with `Key1` therefore the value of `Key1` is inserted into `Key2`. I need to figure

[2022-02-17 23:07] srana6 commented on #5922
@ben-manes So found out this piece of code on the class level is causing the issue -
[code]
This class is instantiated once for the time server is running locally. On cache reload the thread was the same that was used in the context of Key1 hence the wrong OAuth session is pulled which resulted in wrong values. I am not sure if it is a good practice but moving this instantiation to `reload` method

[2022-02-17 23:23] ben-manes commented on #5922
The problem in your fix is that it creates a new thread per call which is never stopped, causing a memory leak and no reuse. It sounds like you don't manage request-scoped / thread-local state cleanly which causes a data leak. If you did this approach then I would use an explicit `Thread` which will exit when the task is done. Ideally the data leak should be fixed, though.

[2022-02-18 05:47] #5922 closed

[2022-02-18 10:36] aioobe opened #5927 "Support for lazy evaluation of arguments in Preconditions"
A seemingly innocent `Precondition` that looks like this...

    // Make sure 'user' is null
    Preconditions.checkState(user == null, "User is not null. User id: %s", user.getId());

...actually throws an NPE when the precondition is met (`user == null`) since `user.getId()` is eagerly evaluated. The obvious workaround is to provide an argument like...

    Preconditions.checkState(user == null,

[2022-02-19 21:17] aioobe commented on #5927
Nice. I didn't know about Flogger. Personally I usually put something like...

    public static Object lazyArg(Supplier<?> arg) {
        return new Object() {
            @Override
            public String toString() {
                return Objects.toString(arg.get());
            }
        };
    }

...in a utility class somewhere to keep the call sites clean. I guess that is similar to what

[2022-02-20 03:39] kevinb9n commented on #5927
(We should promote flogger more.)

I try to never say never, but the lambda approach is probably unlikely to fly.

They might not be what you want, but I'll leave this open while we think about failState & failArgument a sec.

[2022-02-22 19:10] nick-someone commented on #5916
The dependency graph is basically:

[code]

In that both artifacts require `failureaccess` as a runtime dependency to perform their work.

Is there a specific issue you're referring to with "Optional would make it less difficult to use the guava bundle."?

[2022-02-22 20:12] cpovirk commented on #5927
I recall discussion of methods to be used like `throw new illegalState("foo %s bar", baz);` -- or inside lambdas for `Optional.orElseThrow` -- in an ancient internal doc named "Optional.get() with error messages." The advantage of that over the `fail*` methods is that the compiler can tell that an exception is being thrown. I'd suggest that we close this in favor of https://github.com/google/guava

[2022-02-22 22:10] chaoren commented on #5917
We have a release schedule.

[2022-02-22 22:10] #5917 closed

[2022-02-23 06:43] flaviodonze commented on #5916
With "less difficult" I mean "using only one bundle instead of multiple, like in previous versions".

[2022-02-23 15:00] cpovirk commented on #5916
`com.google.common.util.concurrent.internal` is necessary for users of `com.google.common.util.concurrent`.

"Most users will never need to use this artifact" is not a good explanation -- sorry. The real point that most users will never directly reference the classes from that artifact. However, those classes are still used internally from Guava.

Over time, the decision to add this dependency has

[2022-02-24 07:55] flaviodonze commented on #5916
Thanks for the explanation, was hoping this might be a minor change.

[2022-02-24 16:09] liran2000 opened #5930 "Add existing ExponentialBackOff to common project"
Exponential BackOff is a generic use for retry mechanism with backoff and jitter, and commonly used and needed in several applications for multiple different purposes, like failure handling.

Currently, there is an existing implementation for it at com.google.api.client.util.ExponentialBackOff.

Request here is to move, copy or add BackOff interface with the ExponentialBackOff implementation to Gu

[2022-02-24 17:56] #5916 closed

[2022-02-25 08:57] HYL-2020 opened #5932 "Loadingcache"
What data structures does loadingcache have? only one kind?

[2022-02-27 22:41] rastov commented on #5932
Could you be more precise with your question? What do you mean by data structures of a cache? Generally a cache is a mapping from a key to a value. Both the key and the value can be any Object.

[2022-02-28 13:29] kluever commented on #5932
General questions like this are better suited for [stackoverflow](http://stackoverflow.com/questions/tagged/guava)

[2022-02-28 13:29] #5932 closed

[2022-02-28 16:06] louiscb commented on #5376
Hi @Marcono1234  & @pt657407064 is this issue still relevant? I'd like to contribute and try to fix it with a PR.

[2022-02-28 22:08] eamonnmcmanus commented on #5376
It is _possible_ for anyone to do this with the existing API, like this:

[code]

Not very elegant, but the `com.google.common.io` API does put the emphasis on reusable sources and sinks rather than one-shot streams like `Reader` and `InputStream`.

[2022-03-01 09:21] louiscb commented on #5376
Great thanks @eamonnmcmanus. Can I be assigned to the issue?

[2022-03-01 20:11] eamonnmcmanus commented on #5376
The Guava team has talked this over and we don't think there's enough evidence of demand for such a method. The `com.google.common.io` package has existed at Google for 15 years and we seem to have got by just fine all that time without the method. People who do need it for some reason can do what I suggested [above](https://github.com/google/guava/issues/5376#issuecomment-1054710347).

[2022-03-01 20:11] #5376 closed

[2022-03-02 17:11] kevinb9n commented on #5376
I think also that the functionality is slightly unusual. Normally encoding is part of writing, and decoding associated with reading. (Where "encode/decode" really mean "transcode from/to utf-16".) It's enough that I would at least inquire into how the user got into that situation.

[2022-03-02 20:48] tbbharaj commented on #1642
Is there documentation around how to run benchmarks?

[2022-03-02 22:03] rastov commented on #786
Any chance to get this merged and/or to close this issue?

[2022-03-03 13:56] ChinaLoverussia opened #5944 "支持俄爹正义屠杀乌克兰贱畜"
俄罗斯十分强大打败了乌克兰你们连别人猫都要制裁
你们是不是不知道俄罗斯的强大
中国人不吃这一套你们美国人乌克兰人都没爹妈
草泥马的死爹烂马
搞自己的圣母主义
抢别人东西
乌克兰战争就是美国发动的
美国根本没有人权
枪战每一天
lgbtq男不男女不女的
垃圾东西
nmsl

✔️ Expecte

[2022-03-03 13:57] ChinaLoverussia commented on #5944
美国和乌克兰就是tm的法西斯没有人权自由天天水深火热被资本家控制

[2022-03-07 06:29] daycoolgoodfall opened #5950 "Destroy the United States"
Destroy the United States

[2022-03-07 06:44] daycoolgoodfall opened #5951 "Destroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United States"
Destroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United States

[2022-03-09 08:36] RussiaVk opened #5956 "ClassCastException when get cache which saved on other servletcontext attribute."
I'm tring apply guava cache on a csrf validation libray.This libray is divided into two sections,load and validate. It's deployd on same tomcat webapp but in different context.
But there throw java.lang.ClassCastException when crosscontext validate csrf.(it functioning properly if not crosscontext it run)
[code]

Load part :
[code]

validate part:
[code]

[2022-03-09 09:07] ben-manes commented on #5956
Tomcat uses multiple classloaders, one for each application context. A class is a singleton instance in a classloader, but across them they may differ. For example this allows for multiple versions to be used at runtime, and loading / unloading of applications without stopping the server. The simplest answer is to use the same context, but StackOverflow might offer more solutions.

[2022-03-10 09:29] RussiaVk commented on #5956
I have to use httpServlet

[code]

[code]

[2022-03-10 09:48] 2625180201 opened #5959 "RateLimiter is marked unstable with @Beta"
My compiler shows as below, how should i fix it? use other class?
'com.google.common.util.concurrent.RateLimiter' is marked unstable with @Beta

[2022-03-11 04:18] #5956 closed

[2022-03-11 07:21] alwinlin23 commented on #2094
so,  is it done now?

[2022-03-11 07:22] alwinlin23 commented on #2094
if not, i'm current coming into the same problem and very glad to contribute my implementation

[2022-03-11 09:33] jbduncan commented on #5959
Depending on if you're in a team that cares about that sort of compiler message, either ignore the message or look into an equivalent library like [resilience4j](https://resilience4j.readme.io/).

[2022-03-14 01:37] ben-manes opened #5961 "Cache.asMap() equality with dead entries"
When reviewing Map's equality contract and the implementations in `ConcurrentHashMap` and `AbstractMap`, I am not sure if Guava and Caffeine honor this strictly enough.

 The __consistency__ property between invocations requires that the results are the same if there are no modifications to the information used. Therefore, usages should expect that this operation may return misleading results if e

[2022-03-15 14:10] TakkoTakko opened #5963 "'addCallback(com.google.common.util.concurrent.ListenableFuture<V>, com.google.common.util.concurrent.FutureCallback<? super V>, java.util.concurrent.Executor)' in 'com.google.common.util.concurrent.Futures' cannot be applied to '(java.util.concurrent.Future<U>, anonymous com.google.common.util.concurrent.FutureCallback<U>)'"
I get this error when i hover with my mouse in IntelliJ over the red marked code:
'addCallback(com.google.common.util.concurrent.ListenableFuture<V>, com.google.common.util.concurrent.FutureCallback<? super V>, java.util.concurrent.Executor)' in 'com.google.common.util.concurrent.Futures' cannot be applied to '(java.util.concurrent.Future<U>, anonymous com.google.common.util.concurrent.FutureCallb

[2022-03-16 22:42] nakulj opened #5968 "Too hard to extend Multimaps"
I'd like to create a custom mutable `Multimap` that tracks changed keys. Something like...

[code]

The problem with this approach is that it requires me to reimplement the entire `ListMultimap` interface, most of which would just be dummy 'forwarding' to the underlying `store`'s methods. This seems especially tedious considering that most of the methods could have sensible default implementations

[2022-03-16 23:07] nakulj commented on #5968
Nevermind, I think I can do this with `ForwardingMultimap`.

[2022-03-16 23:07] #5968 closed

[2022-03-16 23:49] kevinb9n commented on #5968
Hope it works out well for you.

[2022-03-18 18:05] eamonnmcmanus commented on #5963
I think this would be better [asked on Stack Overflow](https://stackoverflow.com/questions/ask?tags=guava+java).

[2022-03-18 18:05] #5963 closed

[2022-03-18 18:10] eamonnmcmanus commented on #2797
Duplicate of #5612. I'm closing in favour of that one since it has an assignee and this one doesn't.

[2022-03-18 18:10] #2797 closed

[2022-03-18 18:11] eamonnmcmanus commented on #5959
Duplicate of #5612.

[2022-03-18 18:11] #5959 closed

[2022-03-18 20:21] ben-manes commented on #5961
Closing as having documented this in the issue tracker is likely good enough if one had to dig in. After sorting out my thoughts, I migrated Caffeine off of `AbstractMap` for some minor efficiencies. That now includes an internal JavaDoc that is basically the above to describe the assumptions if using `Map.equals`.

[2022-03-18 20:21] #5961 closed

[2022-03-20 15:17] moqimoqidea opened #5977 "CollectionUtilitiesExplained: wiki typo"
on this wiki [CollectionUtilitiesExplained:invertfrom ](https://github.com/google/guava/wiki/CollectionUtilitiesExplained#invertfrom), code is:

[code]

wrong typo:

[code]

it could be:

[code]

or:

[code]

because wiki could not pull request, so it on issue.

[2022-03-22 13:11] cpovirk commented on #5801
(progress in https://github.com/google/guava/commit/7e04a00131a3a88888752e3548f3c5140b996c85)

[2022-03-22 13:16] cpovirk commented on #5801
Possible other trouble:

[code]

Some of that might be stuff we're willing to use `--add-opens` for (or whatever the flag is; I haven't gotten the hang of them all yet).

[2022-03-22 13:59] ritikBhandari commented on #5930
hi,
Can I work on this issue?

[2022-03-22 14:06] ritikBhandari commented on #3965
Hi,
Can I resolve this issue if still open or unassigned?

[2022-03-24 14:24] ohoho7 opened #5987 "Evolve CharMatcher"
We are living in fast pacing world.
To be on top of the IT world we need to evolve quickly.

Having that in mind can we please evolve Charmande... tfu... CharMatcher (https://github.com/google/guava/blob/master/guava/src/com/google/common/base/CharMatcher.java#L65)
to Char(W)izard?

[2022-03-24 15:17] netdpb commented on #5977
Fixed by [faa2a82](https://github.com/google/guava/wiki/CollectionUtilitiesExplained/faa2a82398d9eeabd5251276cc3567f1afa4c06c).

[2022-03-24 15:17] #5977 closed

[2022-03-24 16:06] kevinb9n commented on #5987
Hmm, I need to assign this to Greg Kick

[2022-03-28 14:19] ritikBhandari commented on #3960
So we have to add the SHA3 family of functions in `com.google.common.hash`  package right?

[2022-03-28 14:49] kevinb9n commented on #3960
Both -- if anyone's willing to send a PR for this, please search for everywhere you see /sha-?512/i and do something parallel to that.

However, there is a difference: we have users on Java 8 for whom this probably won't work. So we need to make sure the methods like Hashing.sha3_224() fail gracefully (UnsupportedOperationException) every time they're called. The other MessageDigest-backed methods

[2022-03-28 14:55] ritikBhandari commented on #3960
I'll try it @kevinb9n.

Can you elaborate it a little?

[2022-03-28 15:08] kevinb9n opened #5990 "A way to get a HashFunction backed by a MessageDigest algorithm"
Another way to satisfy #3960

[2022-03-28 15:09] kevinb9n commented on #3960
Sorry, I'm moving a little too fast here.  I did a little more digging and have found that

- though Google has been on JDK 9+ for *months* no one is using sha3 or asking for it
- there have been conversations about sha3 not being a very good choice (I will not try to relay any details, being not a security expert)

So, while we might still do it, I wouldn't want you to spend time on a PR yet.

I'

[2022-03-28 15:12] kevinb9n commented on #5927
You're right, defeating the compiler's knowledge of abrupt termination is no bueno.

But `throw illegalState` doesn't save much vs. `throw new IllegalStateException`, and the "%s" support isn't important when it's not a conditional throw anymore.

So I think this approach probably won't fly either.

[2022-03-28 15:12] #5927 closed

[2022-03-28 15:25] ritikBhandari commented on #5990
Is MessageDigest the same as MD5 algo?

[2022-03-28 15:33] kevinb9n commented on #5882
I do think it's important that a constrain()/clamp() method never return a value the range doesn't contain. And that means we can't really do this without requiring a DiscreteDomain, and that's really awkward. Even ranges canonicalized using a DD still have this problem, since it canonicalizes to half-open.

Or it would be a method that works _sometimes_, which is also awkward.

Perhaps Contiguous

[2022-03-28 17:50] kevinb9n commented on #5882
Yeah, you've articulated the exact reason I used the word "unfortunately". Yes, it is unfortunate. It just doesn't necessarily mean that adding a bunch of DiscreteDomain-accepting methods to Range is the answer though. The sometimes-working-method idea is problematic in a bunch of ways too. I don't know which way this will go.

[2022-03-28 17:57] lowasser commented on #5990
MessageDigest includes, but is not limited to, MD5.

[2022-03-28 18:05] ritikBhandari commented on #5990
So is HashFunction currently backed by any other algo?

[2022-03-28 18:09] ritikBhandari commented on #5990
![mdalgo](https://user-images.githubusercontent.com/69508348/160459941-4888f7c8-0b94-4270-aad4-9c33b2f6ab27.png)

Among these, which MD algo do we have to back `HashFunction` with? and which one are we currently using?

[2022-03-28 18:11] lowasser commented on #5990
`HashFunction` is an interface with many implementations, including those three (`Hashing.md5()`, `Hashing.sha1()`, `Hashing.sha256()`).  Those three are backed by MessageDigest; the others are not.

[2022-03-28 18:11] lowasser commented on #5990
The point is that we don't expose a utility in _general_ to allow any `MessageDigest` algorithm to be used as a `HashFunction`.

[2022-03-28 18:12] ritikBhandari commented on #5990
So now do we have to back the other ones as well according to the issue raised?

[2022-03-28 18:14] lowasser commented on #5990
No, there's no plan to change other implementations of `HashFunction`.  This issue is just about whether or not we should expose a way to make a `HashFunction` from any `MessageDigest`.

[2022-03-28 18:14] ritikBhandari commented on #5990
Okay! Got it.
Thank you :)

[2022-03-29 11:59] original-codematrix opened #5991 "AsyncEventBus: Enhance access to dispatcher queue"
At the moment the `AsyncEventBus` doesn't have a way to monitor its `Queue`. The `AsyncEventBus` is using the `LegacyAsyncDispatcher` which has internally a `private final ConcurrentLinkedQueue<EventWithSubscriber> queue = Queues.newConcurrentLinkedQueue();` field. At the current state, we have no way without reflections to gain information about the given queue. It would make it easier to monitor

[2022-03-29 13:41] cpovirk commented on #5991
We've been discouraging use of EventBus: See https://guava.dev/EventBus. Given that, we're not planning to take any further enhancements to it.

[2022-03-29 13:41] #5991 closed

[2022-03-31 10:11] MyDarcy opened #5994 "How to avoid thread block while call Futures.allAsList failed throwing exceptions"
under our prod environment，thread often blocked when Futures.allAsList failed and throw exceptions，blocked thread stack msg is as follow，so is there any routines to solve the problem ? thanks.

[code]

[code]

[2022-03-31 13:41] cpovirk commented on #5994
The main question is probably what is holding the lock. You might get more help [on StackOverflow](https://stackoverflow.com/questions/ask?tags=guava+java).

You might also be interested in https://github.com/google/guava/issues/2134, which is about providing a way to disable logging. That thread includes [a possible workaround](https://github.com/google/guava/issues/2134#issuecomment-726833556).

[2022-04-01 16:57] cpovirk commented on #1382
from https://github.com/google/guava/issues/5927#issuecomment-1080778336:

Both true. Additionally, `illegalState` probably even increases the danger that a user would forget to write `throw`, perhaps assuming that `illegalState` _throws_ the exception rather than just _creating_ it. (Of course, we'd hope that people use `@CheckReturnValue` enforcement, which would catch that bug. But not everyone

[2022-04-01 16:59] cpovirk commented on #1382
(But there is also the general issue of whether such a small improvement justifies all the code-review comments about whether to use that API, even if some tools add review comments to suggest the API automatically.)

[2022-04-04 04:07] overheadhunter commented on #2824
Despite simplifying dependency exclusion, this would also help with #2970, since `guava-optional-at-runtime-deps` could have an `Automatic-Module-Name` manifest entry, which Guava's `module-info.java` can "require" without the need to wait for all the (then transitive) annotation jars becoming module-compatible (they will just remain on the classpath - if not excluded 😉).

[2022-04-05 22:20] vorburger opened #6001 "Version -jre/-android suffixes throw off automated tools such as (some) security vulnerability scanner upgraders"
Guava's widely used Maven artifacts [releases](https://github.com/google/guava/releases) currently use `-jre` and `-android` suffixes in their `version`. While https://maven.apache.org/pom.html#Dependency_Version_Requirement_Specification seems to allow for such "qualifiers", perhaps simply putting this into the `artifactId` (as `guava-jre` and `guava-android`) could be more appropriate.

This doe

[2022-04-05 22:48] jbduncan commented on #6001
An alternative to this is PR https://github.com/google/guava/pull/3683, which introduces Gradle module metadata on top of the POM, to allow tools to understand that qualifiers are distinct from the version numbers.

[2022-04-06 14:06] cpovirk commented on #6001
I have been pleasantly surprised that Dependabot somehow handles the suffix _if_ it's already present, as in https://github.com/google/truth/pull/956. It's unfortunate that it doesn't also upgrade old versions, but it's hard to blame Dependabot for our weird choices :) (I went looking a couple times for the Dependabot code that handles this and didn't find it. Either I was looking in the wrong pla

[2022-04-06 14:06] #6001 closed

[2022-04-06 17:39] ataylormays-duetto opened #6002 "NoSuchMethodError: com.google.common.collect.ImmutableMap$Builder.buildOrThrow() in v31.1"
Our codebase was previously using `compile 'com.google.guava:guava:31.0.1-jre'`. After updating to `compile 'com.google.guava:guava:31.1-jre'`, we started seeing the following error triggered from a class that uses an ImmutableTable.Builder while executing tests:

[code]

I initially thought this was due to conflicting versions of Guava, but checking the Gradle's dependencyInsight tool shows just

[2022-04-06 20:25] nick-someone commented on #6002
[code]

I'm not sure how to help debug this one further, as `public com.google.common.collect.ImmutableMap<K, V> buildOrThrow();` is definitively a member of the ImmutableMap class inside the guava jar.

Can you see if there are other dependencies on your class doing really weird things like re-declaring this class?

[2022-04-06 20:58] eamonnmcmanus commented on #6002
If you control the `TypedRegistry` class, it could be useful to put this in a static initializer:

[code]

My suspicion is that maybe a version of `ImmutableMap` is being picked up from some source that doesn't also define `ImmutableTable`.

[2022-04-07 06:27] timewizhan opened #6003 "RateLimiter: the return value of acquire is 0.0 regardless of any values"
I found the return value is always 0.0 in RateLimiter (version "31.1-jre")
[code]
If the permitsPerSecond is changed to less than 10.0, the return value is executed well
[code]
So... weird. Am I using it wrong?

[2022-04-07 12:50] nick-someone commented on #6003
https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/util/concurrent/RateLimiter.html#acquire()

If the rate limiter is only being asked for 1 permit per every 100ms, per your sample code, the behavior you're seeing makes sense. Try sleeping for less time in between permit acquires to see what changes.

[2022-04-07 12:50] #6003 closed

[2022-04-08 19:11] ataylormays-duetto commented on #6002
Aha, thanks so much for the tip @eamonnmcmanus - you're right it looks like the ImmutableMap is coming from the Google closure-compiler:

[code]

Not sure why the closure-compiler includes the Guava classes in its JAR.

[2022-04-08 21:20] nkkolluru commented on #5990
@cpovirk Is there any documentation as to what label P3 means?

[2022-04-08 21:24] nkkolluru commented on #5990
hello! Is the decision to add new API method(s) to `Hashing`, to support creating a `HashFunction` from any `MessageDigest` algorithm taken? Would there be a design process?

[2022-04-13 02:04] ARTonu commented on #5863
@kluever Please consider `Hasher` as well.

[2022-04-13 19:21] licho250879 opened #6013 "Iniciar sesión en tu cuenta Microsoft"
"Iniciar sesión en tu cuenta Microsoft" https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1649822101&rver=7.0.6738.0&wp=MBI_SSL&wreply=https:%2F%2Faccount.microsoft.com%2Fauth%2Fcomplete-signin%3Fru%3Dhttps%253A%252F%252Faccount.microsoft.com%252Fprivacy&lc=2058&id=292666&lw=1&fl=easi2

[2022-04-13 20:50] #6013 closed

[2022-04-14 10:17] davidvarga opened #6014 "Starting from Guava 31.0: android flavor is not Java 7 compatible anymore"
Tried with Gradle:

`api group: 'com.google.guava', name: 'guava', version: '31.0-android'

The issue is triggered by this transitive dependency `No matching variant of org.checkerframework:checker-qual:3.12.0 was found. `.

Downgrading to Guava 30.1.1 seems to solve the issue:

`implementation group: 'com.google.guava', name: 'guava', version: '30.1.1-android'`

Thanks!

[2022-04-14 18:28] cpovirk commented on #6014
There's some coverage of this in [the release notes](https://github.com/google/guava/releases/tag/v31.0) (and an associated [announcement](https://groups.google.com/g/guava-announce/c/EIMDZF4dIdY) and [issue](https://github.com/google/guava/issues/5269), plus [some hacky runtime warnings in older versions](https://github.com/google/guava/issues/5269#issuecomment-860766247), though that was a prett

[2022-04-14 18:28] #6014 closed

[2022-04-15 14:00] wy545 opened #6016 "PerThreadQueuedDispatcher and ImmediateDispatcher"
there are four events, their relations are: A -> B , A -> C, B ->D
now, we use eventbus and PerThreadQueuedDispatcher，event execute as follow A B C D. However, we need A B D then C, ImmediateDispatcher can meet our need. But, ImmediateDispatcher is private and we cannot use, why?
please help me

[2022-04-15 14:02] wy545 commented on #6016
<img width="703" alt="image" src="https://user-images.githubusercontent.com/20380902/163580017-bf4a0ce1-7473-43b0-9789-eec894da90a7.png">

I think  dispatching's design is error, you must according to event type to avoid reentrant event dispatching

[2022-04-18 18:27] chaoren commented on #6016
Thanks for your feature request. At this point we are not actively developing EventBus. There are several more modern frameworks for event-driven or reactive programming, including [RxJava](https://github.com/ReactiveX/RxJava) among others.

See https://github.com/google/guava/issues/2986 and https://github.com/google/guava/issues/5336.

[2022-04-18 18:27] #6016 closed

[2022-04-23 13:06] tanmauec commented on #5773
@msmerc May I know why @tuannh982 's CR couldn't be accepted and issue is still open..?

[2022-04-25 09:31] msmerc commented on #5773
@tanmauec  see comment here: https://github.com/google/guava/pull/5779

BTW: I'm just the reporter, I have no say in what gets merged or why!

[2022-04-26 08:35] NoSugarIce opened #6024 "EventBus does not support generics very well"
code
[code]

Run the result

[code]

**hope**

Distribute different tasks based on subclass's qualified generics

hope result
[code]

[2022-04-26 17:59] kluever commented on #6024
Can you clarify what you expect the results to be?

[2022-04-26 19:53] davidhan-stripe commented on #3421
Hi! Just checking in almost three years later. How are we feeling about retaining the beta tag?

[2022-04-27 03:05] NoSugarIce commented on #6024
Updated on issues , Distribute different tasks based on subclass's qualified generics

[2022-04-27 15:15] #6024 closed

[2022-05-01 07:58] Aeknarakk opened #6034 "@thomasvl Is it ok to migrate this project to ARC?"
@thomasvl Is it ok to migrate this project to ARC?

_Originally posted by @karimhm in https://github.com/google/google-toolbox-for-mac/issues/258#issuecomment-644914430_

[2022-05-01 07:59] #6034 closed

[2022-05-03 08:12] msmerc commented on #5773
@chaoren  / google folk: I've had a go at solving this, see https://gist.github.com/msmerc/fff91f4049dd4d8e39f3614bb0c58acb

My solution is to generate a comparable such that objects are equal (using the original comparator) it will compare the position in the initial array. Is this something you'd want in the main library? Let me know.

[2022-05-03 13:50] Certseeds opened #6035 "Use build-in cache in actions/setup-java and remove actions/cache"
The actions [setup-java](https://github.com/actions/setup-java) had built-in caching and restoring dependencies in it by [actions/cache](https://github.com/actions/cache). details can refer it's [main page](https://github.com/actions/setup-java#caching-packages-dependencies)

so `actions/cache` can be replaced by add a k-v pair `cache: 'maven'` in config of `actions/setup-java`

[2022-05-04 04:46] wxxlamp opened #6038 "the checkNotNull method in com.google.common.collect.Lists#newArrayList(E...) may not take effect"
when I code as follows：
[code]
And `[null]` will be output. It didn't throw an NullPointerException through `checknotnull` method because `E...` converted null parameter to a non-null parameter.

To fix this bug, it may be better to change `newArrayList(E...)` to `newArrayList(E e, E...)`

[2022-05-06 19:14] cgdecker commented on #6038
In general I agree that `newArrayList(E...)` can potentially cause some confusion, but:

- We aren't going to change its signature because that would be a breaking change.
- We also probably aren't going to add a new method because there's not much reason to use `newArrayList` now that `new ArrayList<>` is a thing.
- In this example it's clear that you aren't passing an array to the method, so I w

[2022-05-06 19:14] #6038 closed

[2022-05-07 02:39] guaiziguo commented on #5710
@bharathk005 @amalloy how does the issue process？

[2022-05-09 01:26] linghengqian commented on #3894
What is the reason why this issue is blocked?

[2022-05-09 12:46] onionpsy opened #6043 "Integration of guava into OSS-Fuzz"
Hi all,

I have prepared the initial integration https://github.com/CodeIntelligenceTesting/oss-fuzz/commit/a9d7c011c20c7676b9ff3366419ffe69a818ea66 of guava into [google oss-fuzz](https://github.com/google/oss-fuzz). This will enable continuous fuzzing of this project, which will be conducted by Google. Bugs that will be found by fuzzing will be reported to you. After the initial integration of t

[2022-05-09 14:57] #6035 closed

[2022-05-09 16:42] eamonnmcmanus commented on #6043
Thanks, we're looking into this and will get back to you. Meanwhile, could I ask that the new code be compatible with Google Java Style? That means two-space indentation and imports sorted in one block with no wildcard-imports.

[2022-05-09 21:47] pizzaz93 commented on #3865
@kluever is this issue resolved by the presence of the link to the hashing documentation in the wiki?

[2022-05-10 14:13] cpovirk commented on #5621
I'm going to close this, since the requirement that "Every version of the library should offer the same API" still exists—and is essentially "enforced," intentionally or not, by at least some tools. If something changes, we can reopen this.

[2022-05-10 15:26] ataylormays-duetto commented on #6002
This was resolved by updating the closer-compiler from v20190301 -> v20220405. Thanks for the help in tracking it down @eamonnmcmanus !

[2022-05-10 15:26] #6002 closed

[2022-05-11 07:52] onionpsy commented on #6043
Perfect thank you. I contacted one of the maintainer of OSS-Fuzz and they don't enforce any coding style for the integration of the projects https://github.com/google/oss-fuzz/issues/7689. So as all the fuzz targets already integrated were written with 4 spaces indentation I prefer to keep this for consistency reasons. However I'll remove the wildcard and the extra lines between import blocks.

[2022-05-12 05:41] benjaminp opened #6047 ""finally" for futures"
Consider the following simple snippet that does some work with a closeable resource:
[code]
If we want to make `doWork` asynchronous, this code can be seemingly straightforwardly futurized with the help of `addListener`:
[code]
My concern with this translation is that if `f` is canceled, `c.close` may execute concurrently with `doWork`. That's a problem if `c` is not thread-safe. Ideally, `c.close

[2022-05-13 14:22] eamonnmcmanus commented on #6043
Hi, you can sign me up as the primary contact. You can find my Google email address [here](https://github.com/google/guava/commit/6e9057d0f28799b7483d96097fc7ea2247ebf8d5.patch).

[2022-05-15 01:52] Aeknarakk opened #6048 "Facebook"

[2022-05-16 09:38] onionpsy commented on #6043
Great thank you. I close the issue, feel free to contact me if you have any question.

[2022-05-16 09:38] #6043 closed

[2022-05-17 03:16] Montana opened #6050 "Convert a Map<String, String[]> to a delimited String in Guava"
Hey all,

What is the best way to convert a Java `Map<String, String[]>` to a delimited String? Here's an example I did using Google Guava:

[code]

This does not flatten the `String[]`:

[code]

Would something like this be more feasible?

[code]

Thank you so much,
Montana Mendy

[2022-05-17 07:39] oliverhenlich commented on #5927
Hi @kevinb9n,

Is it possible to elaborate on this a little.

We have just hit the same issue too while trying to convert all our `assert` (keyword) usages to use `Preconditions`. But we have many asserts that have elaborate error messages which are lazy. This is problematic because:
* Loads of our tests now fail because they don't have the right stuff mocked (for the error messages)
* We will inc

[2022-05-17 15:43] netdpb commented on #6047
This makes me think that we should change `ClosingFuture` to guarantee that closing doesn't start until the future is really done, meaning on cancelation it would wait for any running task to complete. I don't know how feasible that is, though.

[2022-05-17 15:59] netdpb commented on #6050
This issues list is for bugs or feature requests for Guava, not usually for general questions. [Stack Overflow](http://stackoverflow.com) is a better resource.

However, I'll tell you this: your first example doesn't work because Java arrays don't implement `toString()`. However, collections like `List` do, so you could do something like

[code]

which should get you something like

[code]

If you

[2022-05-17 15:59] #6050 closed

[2022-05-19 17:52] jrtom commented on #5825
Documentation has now been updated in https://github.com/google/guava/pull/6051.  Please reopen if you feel that this does not adequately address the concern.  (We will not be changing our implementations' behavior from using unmodifiable views, but if we can communicate this more clearly, we're happy to update it.)

[2022-05-19 17:52] #5825 closed

[2022-05-20 03:44] kagian opened #6056 "Visibility of class SortedLists is package private and does not allow access to methods"
I've found the binarySearch functionality in the com.google.common.collect.SortedLists to be quite useful. However the package private access precludes it from being used. I've ended up copying the code to another class that I've written to make use of it.

Am I missing something in terms of being able to use the methods in this class? Or would it be considered to make this class and the enums lik

[2022-05-20 04:16] Aeknarakk opened #6057 "@githubteacher"
@githubteacher

__Originally posted by @Aeknarakk in https://GitHub.com/Aeknarakk/github-slideshow/issues/1#issuecomment-1132440575__

[2022-05-25 03:13] jrtom commented on #5843
Fix applied above per https://github.com/google/guava/pull/6058.

The practical results:
* It is no longer legal to add directed edges to undirected graphs (they will now not be silently interpreted as undirected, but will instead throw an IllegalArgumentException).
* Undirected graphs will no longer (improperly) report that they contain any directed edges.

As a result, all ordering/directionalit

[2022-05-25 03:13] #5843 closed

[2022-05-26 12:01] Kevingu1001 opened #6062 "The Supplier is difference between guava-jre and guava-andorid, is this expected?"
https://github.com/google/guava/blob/master/guava/src/com/google/common/base/Supplier.java#L42
https://github.com/google/guava/blob/master/android/guava/src/com/google/common/base/Supplier.java#L50

The class in Android version removed the extend relationship of java.util.function.Supplier, but it is retained in the JRE version.

[2022-05-26 12:59] cpovirk commented on #6062
Yes, we do this to maintain compatibility with older versions of Android for users who don't use library desugaring:

- https://github.com/google/guava#important-warnings
- https://groups.google.com/g/guava-announce/c/EIMDZF4dIdY
- https://github.com/google/guava/releases/tag/v31.0

[2022-05-26 12:59] #6062 closed

[2022-05-28 11:31] mogarohan opened #6065 "no"

[2022-05-28 11:31] mogarohan commented on #6065
Could you please try to specify it as 18.0.1+1 ?

Sure. I went with passing 18.0.1 instead of 18.0.1.1 as a workaround.

But, shouldn't an action setting up Java support the version pattern specified and used by Java ?

[2022-05-28 14:36] #6065 closed

[2022-05-31 08:19] JanecekPetr opened #6067 "Add LineReader.lines() for parity with BufferedReader"
`LineReader` currently only has the `readLine()` method. However, already since Java 8 there's [`lines()`](https://docs.oracle.com/en/java/javase/18/docs/api/java.base/java/io/BufferedReader.html#lines()), too.

Not to mention that it'd be nice to also maybe have `readAllLines()` and maybe even a `getLineNumber()` from `LineNumberReader`.

Yes, I know, there's `CharStreams.readLines()`, that's fin

[2022-05-31 16:19] liran2000 commented on #5930
hi @chaoren

Is it possible to have this issue reviewed by someone, for approving and assigning it ?

[2022-06-01 17:13] ritikBhandari commented on #6067
so there are 3 methods to be implemented: `lines()`, `readAllLines()` and `getLineNumber()`. Right?

[2022-06-01 19:11] JanecekPetr commented on #6067
Not really. I will say `lines()` definitely is needed to bring `LineReader` to where `BufferedReader` is. The other methods are up for a debate as they could be slightly controversial / unneeded:
- How often do you _really_ need a line count? It's probably not worth it for the component to keep track of it all the time if only a small percentage of use-cases will use it.
- It's unclear whether `re

[2022-06-01 23:27] ritikBhandari commented on #6067
Makes sense. So its `lines()` for now.
Should I resolve it?

[2022-06-02 09:45] matebase opened #6068 "BloomFilter Serialization"
BloomFilter size keeps increasing when serializing and deserializing with kryo ？

Below is the relevant code
[code]

[2022-06-02 12:40] ogregoire opened #6069 "CharMatcher.retainFrom(CharSequence) is never tested"
I just found out that `CharMatcher.retainFrom(CharSequence)`, while having a very simple implementation, is not tested at all in the whole codebase.

[2022-06-09 08:35] coderodde opened #6075 "IndexedLinkedList to Guava?"
I have implemented [IndexedLinkedList](https://github.com/coderodde/IndexedLinkedList) - a succint, heuristic linked list, that runs in a versatile benchmark faster by an order of magnitude than ArrayList/LinkedList.

What do you think? Does it deserve to be included in Guava?

[2022-06-10 02:03] Speiger opened #6076 "[Bug] GuavaTestLib RemoveIf Flag Inconsistencies"
I have been working on a Test Library that basically adds support for Primitive Variants of Guavas Test Lib.
And some of my implementations require to change how iterators are checked and I noticed when disabling that the removeIf tests get disabled too.

While looking through that class I noticed that tests check if "SUPPORTS_ITERATOR_REMOVE" flag is set, but if you have the "SUPPORTS_REMOVE" fla

[2022-06-10 02:14] Speiger commented on #2368
I have been recently using this library extensively and I can actually explain this.
This is caused by SortedMapTestSuiteBuilder.createDerivedSuites, but also MapTestSuiteBuilder.createDerivedSuites.
Either creating submaps or to test if the KeySet is also a SortedKeySet to ensure that implementations support what is requested. But only if the Map is also a SortedMap.

While this could be identifi

[2022-06-10 14:42] MaximeVaschalde commented on #5389
Hi,
The vulnerability is showing because in failureaccess [1.0.1], it is indicated in the pom.xml that his PARENT project is guava 26.0-android :

  <parent>
    <groupId>com.google.guava</groupId>
    <artifactId>guava-parent</artifactId>
    <version>26.0-android</version>
  </parent>

But in guava 26.0-android, the method 'createTempDir' was NOT deprecated.
Problem tracked by https://github.com

[2022-06-10 20:10] amalloy commented on #6068
Could you be clearer about how you're detecting this size increase? I see you've included adapter code to plug into Kryo, but nothing that specifically reproduces an issue. I also suggest that your minimum reproducible example use normal Java serialization (Object(Input|Output)Stream), rather than Kryo. If you can't reproduce the problem with normal serialization, then the issue would appear to be

[2022-06-10 22:42] amalloy commented on #6075
We're not really looking for new collection implementations for Guava at this time.

[2022-06-10 22:42] #6075 closed

[2022-06-10 23:43] amalloy commented on #6076
@lowasser might have an opinion here - it looks like he originally broke out `SUPPORTS_ITERATOR_REMOVE` from `SUPPORTS_REMOVE`. What you say sounds plausible to me, but I'm not an expert on this library.

[2022-06-11 00:18] Speiger commented on #6076
@amalloy iterator needs actually 2 flags. SUPPORTS_ITERATOR_REMOVE and SUPPORTS_ITERATOR_MODIFICATION
Because list iterator has "set/add" which implementations either support, or not, while remove might be supported or not independently.

[2022-06-14 03:37] Dndptvvxcn opened #6077 "Tttttt"

[2022-06-14 15:05] darshitpp commented on #5612
While [resilience4j](https://github.com/resilience4j/resilience4j) is indeed a rate limiting alternative, I believe both the RateLimiters are different. Guava's RateLimiter is a blocking call, whereas Resilience4j RateLimiter throws an `RequestNotPermitted` exception. I found Guava's to be easier to use for my use case.

[2022-06-15 19:04] chaoren commented on #6077
You make an interesting point, but I'm afraid I have to disagree.

[2022-06-15 19:04] #6077 closed

[2022-06-16 14:33] pjbabin opened #6081 "Step failed java.lang.NoSuchMethodError: 'com.google.common.collect.ImmutableMap com.google.common.collect.ImmutableMap.of(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)'"
I cannot believe I am the only one getting this error:

Step failed
java.lang.NoSuchMethodError: 'com.google.common.collect.ImmutableMap com.google.common.collect.ImmutableMap.of(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)'
	at

[2022-06-16 19:37] #6081 closed

[2022-06-16 19:55] chaoren commented on #6081
Try clearing out your maven cache at `C:\Users\<user_name>\.m2`.

[2022-06-16 20:22] chaoren commented on #6076
https://docs.oracle.com/javase/8/docs/api/java/util/Collection.html#removeIf-java.util.function.Predicate-

I guess technically some collection could override that default implementation, but I wouldn't say the iterator is completely unrelated to `removeIf`.

[2022-06-17 08:10] Speiger commented on #6076
Oh yeah its not fully unrelated, but the relation level that was applied is way to high right now.

[2022-06-17 11:30] pjbabin commented on #6081
As mentioned this has been going on for years, and clearing the cache was one of many suggestions that make no difference.
I am waiting for a reply from org.openqa.selenium.chrome

[2022-06-17 16:37] pjbabin commented on #6081
Thank you for your reply, I will pass it on

[2022-06-20 15:07] olehen commented on #5612
Another alternative is [https://github.com/bucket4j/bucket4j](bucket4j) which have the option of using blocking calls if you want. But I agree that it would be nice to have this out of Beta.

[2022-06-21 12:35] pjbabin commented on #6081
Thanks for that, however, I was really only pointing out that it should not have happened in the first place.
I did not make ANY changes,
I had a working automation and suddenly I get this error, I look it up in google and find it has been happening for years, all suggestions, including yours about 'explicit recent Guava dependency' have been mentioned as fixes, but none work.
So to me I am doing

[2022-06-21 14:11] cpovirk commented on #5389
guava-parent doesn't [contain](https://repo1.maven.org/maven2/com/google/guava/guava-parent/31.1-jre/) any code, so the CVE shouldn't apply to it.

I don't know a ton about the various tools that consume CVEs, but it might be that each of them needs to individually decide which Maven artifacts are affected. It looks like GitHub, for example, [rightly considers only the `guava` artifact to be affec

[2022-06-21 14:16] chaoren commented on #6081
FWIW, I couldn't reproduce your issue with the pom.xml you included in the first comment, so it could be caused by some other factors in your environment.

[2022-06-21 21:57] hwaite opened #6087 "bulk removals from sublists of transformed lists are slow"
`com.google.common.collect.Lists.transform(List, Function).subList(int, int).clear()` is slow when removing a series of items from middle of decorated ArrayList. `java.util.List.clear()` method is intended to alleviate this problem but TransformedList fails to override. Furthermore, when working with `javafx.collections.ObservableList` or similar, an excessive number of events are generated. This

[2022-06-24 10:36] jnehlmeier opened #6089 "Consider Service.State.RUNNING_BUT_UNHEALTHY for self healing services"
An application can have a service that needs to access an external service, e.g. a database, to do its job. In case that external service is not reachable for any reason, the app service should not terminate itself but instead have a way to notify about its unhealthy state. That service would then test the external service regularly until it comes back online.

So I am kind of missing something li

[2022-06-27 14:15] Abexope opened #6091 "Memory Leak Issue"
Java 8, Guava Version is 20.0. I have analyzed my application memory consumption and found suspicious memory leak. My code is as follows:

private LoadingCache<Long, Set<Long>> crossMemberCache =
        CacheBuilder
            .newBuilder()
            .expireAfterWrite(5, TimeUnit.MINUTES)
            .maximumSize(500000)
            .build(new CacheLoader<Long, Set<Long>>() {
                @

[2022-06-28 01:03] ben-manes commented on #6091
If your cache is not being read or written to, then there is nothing to trigger the cache to discard those expired entries. The cleanup behavior is described on `CacheBuilder` and on the [wiki](https://github.com/google/guava/wiki/CachesExplained#when-does-cleanup-happen). If you would like prompt expiration via a background scheduling thread, you can either periodically call `cache.cleanUp()` or

[2022-06-28 19:03] eamonnmcmanus commented on #6091
Thanks @ben-manes for the detailed explanation. I'm closing this, since it appears there is no bug here.

[2022-06-28 19:03] #6091 closed

[2022-06-29 16:54] onlykingKD opened #6095 "Library of Crc32cHashFunction.CRC_32_C"
CRC32C is available in Java version 9. But My project is using Version 8 which uses the below function. In which Java library the below function is available  ?

public static HashFunction crc32c() {
    return Crc32cHashFunction.CRC_32_C;
  }

[2022-06-29 17:06] Stephan202 commented on #6095
`Hashing.crc32c()` was introduced in  c20d7397dd89acc5e27e33bf5aff0ca0f316d587, and based on the listed tags was first released in `v18.0-rc1`.

[2022-06-30 04:41] onlykingKD commented on #6095
https://cloud.google.com/secret-manager/docs/samples/secretmanager-access-secret-version#secretmanager_access_secret_version-java

in this link they have used CRC32C library (which is for version 9), I am using Java version 8,, what will be the equivalent for that. They have mentioned the link of this repo to refer in case of version 8. I am not able to get it.

[2022-06-30 05:31] Stephan202 commented on #6095
@onlykingKD (unless you're okay with copying a bunch of code) you'll have to add Guava to your application's classpath in order to use that `Hashing.crc32c()`. How to do that depends on your build system; the [README](https://github.com/google/guava#adding-guava-to-your-build) shows how to do this if you're using Maven or Gradle.

[2022-06-30 08:42] Stephan202 commented on #6095
That's because `Crc32cHashFunction` is package-private. You should instead use `Hashing.crc32c()` (and import `com.google.common.hash.Hashing`).

[2022-07-01 05:52] onlykingKD commented on #6095
Hashing.java file has only two checksum functions available for CRC32() and Adler32() as shown in below link:
https://github.com/google/guava/blob/e62d6a0456420d295089a9c319b7593a3eae4a83/guava/src/com/google/common/hash/Hashing.java#L432

I need checksum function for validation of data having CR32C() function (Java Version 8). What to use in place of that ?

        byte[] data = response.getPayl

[2022-07-01 05:53] onlykingKD commented on #6095
this function returned a Hashfunction type, I need a checksum type instead.

[2022-07-01 05:54] onlykingKD commented on #6095
Hi @Stephan202
Hashing.java file has only two checksum functions available for CRC32() and Adler32() as shown in below link:
https://github.com/google/guava/blob/e62d6a0456420d295089a9c319b7593a3eae4a83/guava/src/com/google/common/hash/Hashing.java#L432

I need checksum function for validation of data having CR32C() function (Java Version 8). What to use in place of that ?

        byte[] data = r

[2022-07-01 06:10] Stephan202 commented on #6095
That code snippet uses `java.util.zip.Checksum`, but only because it also uses `java.util.zip.CRC32C`. In your case you should replace a slightly larger part of the code, because the Guava code does not use `java.util.zip.Checksum`.

Something like this:
[code]
(This suggestion was written directly in Github and I didn't check the `com.google.cloud.secretmanager.v1.*` API, so the above could be wr

[2022-07-01 06:13] onlykingKD commented on #6095
Ok, thanks a lot @Stephan202 for the help.

[2022-07-01 06:13] #6095 closed

[2022-07-01 12:08] bishal7679 commented on #6047
/assign

[2022-07-07 13:19] nishantjain91 opened #6100 "Merge function in table"
I have a question regarding merge function for table and immutable table.
Will it work for both the tables or there is difference between the behavior for both?

[2022-07-10 09:05] zhuhaoman commented on #3360
Now is 2022, @Beta is still there...

[2022-07-11 13:35] prashanthparsi opened #6104 "com.googlecode.owasp-java-html-sanitizer download incorrect guava parent"
We are seeing issues with our builds failing to find com.google.guava:guava-parent:pom:31.1.0.redhat-00001

com.googlecode.owasp-java-html-sanitizer:owasp-java-html-sanitizer:jar:20160628.1 -> com.google.guava:guava:jar:31.1.0.redhat-00001: Failed to read artifact descriptor for com.google.guava:guava:jar:31.1.0.redhat-00001: Failure to find com.google.guava:guava-parent:pom:31.1.0.redhat-00001

I

[2022-07-11 17:43] archiecobbs commented on #1645
Wow, this bug is so old I almost forgot about it... coming up on 8 years.

They grow up so fast...

Would be funny if it weren't so sad...

[2022-07-12 08:36] NikoTung opened #6107 "How the thresholdPermits is calculated regard to the comment in SmoothWarningUp"
I try to understand how the `thresholdPermits` is calculated in [SmoothWarmingUp](https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/SmoothRateLimiter.java), but I still can't get the conclusion `thresholdPermits = 0.5 * warmupPeriod / stableInterval`.

     *    equal to the integral of our function, between X permits and X-K permits, assuming
     *    we wan

[2022-07-12 20:55] vp125 commented on #6104
We are getting the same. Can someone please take a look into this issue?

[2022-07-13 04:46] anoopvlcy commented on #6104
Yep. Same issue :(
Can someone help please.

[2022-07-13 06:11] gau30 commented on #6104
Was facing the same issue
updated the library

com.googlecode.owasp-java-html-sanitizer:owasp-java-html-sanitizer:20211018.2

Now its working

[2022-07-13 11:02] sumanth448 commented on #6104
Getting the same issue
com.github.rholder:guava-retrying:jar:2.0.0 -> com.google.guava:guava:jar:31.1.0.redhat-00001: Failed to read artifact descriptor for com.google.guava:guava:jar:31.1.0.redhat-00001: com.google.guava:guava-parent:pom:31.1.0.redhat-00001 was not found in https://repo.maven.apache.org/maven2/ during a previous attempt. This failure was cached in the local repository and resolut

[2022-07-13 15:44] cgdecker commented on #6104
Guava does not release whatever these redhat dependencies you're having problems with are. [These](https://search.maven.org/artifact/com.google.guava/guava) are the only versions of Guava we've released.

[2022-07-13 15:51] cgdecker commented on #6107
This issue tracker isn't really the place to ask a question. Do you think there's a bug here?

[2022-07-13 16:33] cgdecker commented on #6100
What merge function are you referring to?

[2022-07-13 16:33] #6100 closed

[2022-07-14 03:05] NikoTung commented on #6107
Sorry, I'll close this issue.

[2022-07-14 03:05] #6107 closed

[2022-07-18 10:58] byahia commented on #6104
@cgdecker yes but how do you explain these errors? we're several ones to have them, and so this is not an isolated problem.
What are your suggestions to fix this?

[2022-07-18 11:26] jbduncan commented on #6104
@byahia Looking at [mvnrepository.com](https://mvnrepository.com/artifact/com.google.guava/guava/31.1.0.redhat-00001), it looks like version "31.1.0.redhat-00001" is provided by [Red Hat's Maven repository](https://maven.repository.redhat.com/earlyaccess/all). Do you have this repository in your build? Furthermore, do you import Guava with dynamic versions? If so, does removing the Red Hat reposit

[2022-07-18 11:33] jbduncan commented on #6104
For clarity, any versions of Guava in that Red Hat repository are not released by Google. They're probably released by a team at Red Hat who need their own built version of Guava, for whatever reason.

[2022-07-18 11:44] jbduncan commented on #6104
@byahia Sorry, I've not understood yet. Who is "they" in this context? I ask because when I look in https://maven.repository.redhat.com/earlyaccess/all/com/google/guava/guava/31.1.0.redhat-00001/, I see the offending Red Hat version of Guava there.

[2022-07-18 11:52] jbduncan commented on #6104
Ah, I see that you're transitively importing a dynamic version of Guava, because according to [Maven Central](https://search.maven.org/artifact/com.googlecode.owasp-java-html-sanitizer/owasp-java-html-sanitizer/20220608.1/bundle), your "owasp-java-html-sanitizer" dependency in turn imports an unspecified version of Guava, so your build tool chooses what it thinks if the latest version of Guava, wh

[2022-07-18 11:54] jbduncan commented on #6104
Regardless, "owasp-java-html-sanitizer" shouldn't be using a dynamic version of Guava anyway, so I suggest raising an issue with them anyway. :)

[2022-07-18 12:00] jbduncan commented on #6104
Also it looks like you're importing "owasp-java-html-sanitizer" through https://github.com/mcasperson/ParameterValidationFilter, which hasn't been maintained since 2016, so I strongly encourage you to move away from that library too.

[2022-07-19 04:24] sounddowncomputer commented on #3162
Please contact me regarding my email

[2022-08-02 04:27] rwinograd opened #6126 "Nullness javadocs are unclear and break certain static analyzers"
I'm looking at the changes in 31.0 for enhanced null-checking, and I'm trying to validate that my understanding of the change is correct and bring attention to some issues I am having with the approach.

As an example, let's look at one of the methods that changed from 30 to 31: `Iterables.findFirst()`. Comparing the signatures in javadoc we have:
* [31](https://guava.dev/releases/31.1-jre/api/doc

[2022-08-02 08:05] nicodmt commented on #6104
What is the fix for this issue? We're experiencing the same problem with log below:

Could not resolve dependencies for project XX.XXX.XXX: Failed to collect dependencies at com.github.rholder:guava-retrying:jar:2.0.0 -> com.google.guava:guava:jar:31.1.0.redhat-00001: Failed to read artifact descriptor for com.google.guava:guava:jar:31.1.0.redhat-00001: Could not find artifact com.google.guava:gua

[2022-08-02 08:20] jbduncan commented on #6104
@nicodmt See my messages above. This most likely isn't a problem with Guava but with the Maven repositories your project is using, as you could very well be using a company-internal repository like Artifactory that is in turn using Red Hat's repository, in turn confusing your build into using Red Hat's version of Guava over the official one. If so, this needs to be raised with your company's inter

[2022-08-02 17:52] kevinb9n commented on #6126
I appreciate this report and am sorry for the trouble.

I think we have the following situation:

* We are in the process of defining new and very precise semantics for the meanings of nullness annotations (jspecify.dev)
* NullAway (and several other tools) has been on board with the new direction, but doesn't support it fully yet

So I think the main question here is whether our change was premat

[2022-08-02 18:21] lazaroclapp commented on #6126
NullAway maintainer here. This definitely is already in our radar (cross-ref: https://github.com/uber/NullAway/issues/628, cc: @msridhar)

It appears that in all cases where `@Nullable` is being removed, a new `@ParametricNullness` annotation is being added. The [documentation](https://github.com/google/guava/blob/v31.0.1/guava/src/com/google/common/util/concurrent/ParametricNullness.java#L32) isn

[2022-08-02 19:06] cpovirk commented on #6126
Thanks, Richard, and sorry for the trouble.

One question to help me understand the scope of the problem: Are you setting the `AnnotatedPackages` (sometimes set under the differently cased name "`annotatedPackages`") flag to cover `com.google.common`? I'm finding that I need to do that in order to reproduce the false positives. That's not to take away from the trouble our Guava change is causing:

[2022-08-02 19:27] rwinograd commented on #6126
Thanks all for the quick responses. Greatly appreciated.

A few things to call out.

I actually avoided mentioning this because AFAIK this was intended to be a package-private implementation detail of gauva. I actually think at least some of the documentation problems could be avoided by making it consistent (and public) and making it clear on the parameter/method that the nullness properties are

[2022-08-02 19:40] lazaroclapp commented on #6126
For what it's worth, this is not an uncommon configuration. I think that, if not currently, at various points we have also relied internally on the fact that Guava is annotated for nullness (not that it isn't anymore, but the change in how it is annotated will definitely confuse various tools, including NullAway).

Ah, I actually didn't realize the annotation was package private! I think NullAway

[2022-08-02 19:47] cpovirk commented on #6126
RE: `@ParametricNullness`: The docs are indeed bad :( Of course, the ultimate goal is to continue with the work that will make them unnecessary. And—stop me if you've heard this one before—the plan was for that work to be done a lot earlier than it's going to be, so we figured we could get by with the docs we have now during the transition....

As for the meaning, you've got it, including that the

[2022-08-02 20:49] cpovirk commented on #2484
This would also be a nice opportunity to enable NullAway: NullAway's nullness checking should be largely redundant with what we have internally, but:
- It would be nice to make some of that checking available to external contributors.
- It could help us avoid causing problems like https://github.com/google/guava/issues/6126 in the future.

[2022-08-02 20:53] lazaroclapp commented on #6126
😉

In all fairness, that's on master branch right now. We are aiming to cut a release before the end of the week if we can, though.

[2022-08-02 22:40] rwinograd commented on #6126
Appreciate all the help and support on this issue everyone. Looking forward to see what happens with the jspecify.dev stuff

[2022-08-03 09:16] ayushdubey755 commented on #5886
HI @Adrodoc is anyone working on this issue , or i can add your proposal solution into respective interface

[2022-08-03 16:32] cpovirk commented on #6126
Sorry, I have to take that back—though I do think I have a workaround.

The problem is that we didn't just replace parameters' `@Nullable` annotations with `@ParametricNullness`; we also added `@ParametricNullness` to return types. So, if NullAway treats `@ParametricNullness` like `@Nullable`, it will undo the changes for parameters, but it will also make methods like `AbstractFuture.get()` look l

[2022-08-03 16:53] rwinograd commented on #6126
A few questions about this.

First, AbstractFuture looks to have a `set` method that accepts a Nullable, and I thought the get API was driven by the Future interface which (I believe is actually Nullable). So is this flagging a real issue?

Second, my understanding is that there are going to be a few different cases here:
1. `AbstractFuture` (assuming it is actually Not Nullable)
2. `Iterables.get

[2022-08-03 19:09] cpovirk commented on #6126
[Nowadays](https://github.com/google/guava/blob/3396208df88e0348285ed7b692d32218431e41a2/guava/src/com/google/common/util/concurrent/AbstractFuture.java#L779), `AbstractFuture.set` has a parameter type of `@ParametricNullness V`. As you say, it makes sense for that to match the return type of `get`.

[Previously](https://github.com/google/guava/blob/357db07e9303148d67aedc679babba6dde5ba220/guava/s

[2022-08-03 19:43] lazaroclapp commented on #6126
So, reading this discussion, it sounds to me like:

- In the absence of proper handling of type parameter nullness, NullAway resolving `@ParametricNullness` to `@Nullable` is _correct_/_sound_, even for the `AbstractFuture.get()` case above. It truly can return `null`, since `set(...)` can receive `null`.
- One issue, though, is that Guava might more liberally annotate things as being parametrical

[2022-08-04 01:39] #2484 closed

[2022-08-04 21:57] Yuukiko85 opened #6130 "Make CompactHashMap and CompactLinkedHashMap public or add it to Maps utility class"
Currently, you can't call the public CompactHashMap.create() or CompactHashMap.createWithInitialSize() methods (or the CompactLinkedHashMap variants) because the classes themselves are private.

In order to use the classes, I think they should either be made public, or the Maps utility class should be able to return instances of these.

Or maybe there is a way and I've just overlooked it.

[2022-08-05 09:28] fazeelws opened #6132 "What if we not write expireAfterWrite? Will the values be in cache all the time?"
I want to store 3 constant values which should be always in cache and is used almost everytime. I thought of removing expireAfterWrite and will this work?
Currentlly, there are only 3 entries for SystemUser and limiting it to only 100.

private final LoadingCache<String, Optional<SystemUser>> systemUserCache = CacheBuilder
.newBuilder()
.maximumSize(100)
.build(
new CacheLoader<>() {
@Override
pub

[2022-08-06 13:32] Adrodoc commented on #5886
I am not aware of anyone working on this.

[2022-08-07 21:18] fzakaria opened #6137 "FileTraverser has a poor API for use by Kotlin"
[code]

Kotlin cannot distinguish between Path and Iterable<Path> making use of this function impossible by Kotlin code.

[2022-08-08 18:07] chaoren commented on #6130
I think `CompactHashMap` only exists as implementation detail for Multimaps and wasn't meant to be used directly.

[2022-08-08 18:40] chaoren commented on #6132
Please refer to [the documentation](https://guava.dev/releases/19.0/api/docs/com/google/common/cache/CacheBuilder.html#expireAfterWrite(long,%20java.util.concurrent.TimeUnit)). However, if you don't ever want the entries to be evicted, then perhaps a cache might not be the right tool to use.

[2022-08-08 18:40] #6132 closed

[2022-08-08 19:57] chaoren commented on #6137
Are you talking about `MoreFiles.fileTraverser().breadthFirst()`? It works fine for me. Could you give some more details?

[2022-08-08 21:10] fzakaria commented on #6137
It doesn't show well from the snippet but what I pasted was the error the kotlin compiler was giving me.
It cannot distinguish between Iterable<Path> and Path since Path also implements the Iterable Interface.

Interestingly, I got around this by doing:
[code]
If I do the path without a collection `depthFirstPreOrder(root)` I get the failure as mentioned above.

[2022-08-08 21:11] fzakaria commented on #6137
This issue affects the depthFirstPreOrder and breadthFirst as they share the same disambiguity.

[2022-08-08 21:35] chaoren commented on #6137
What version of the Kotlin compiler are you using?

[2022-08-08 21:39] chaoren commented on #6137
Does the following example work for you?

https://pl.kotl.in/5FE0Jbj-Q

[code]

[2022-08-08 22:02] chaoren commented on #6137
[code]

It compiles just fine.

[code]

It runs just fine as well.

[2022-08-08 22:04] chaoren commented on #6137
I'll go ahead and close this issue since it's not reproducible with the latest guava and kotlinc versions.

[2022-08-08 22:04] #6137 closed

[2022-08-08 22:09] michaelhixson commented on #6137
Not sure what version OP is using, but I can reproduce the error locally in Kotlin 1.6.10 and 1.6.21, but not in 1.7.0 or latest, so it seems like they fixed it in the 1.7 release.

Using `breadthFirst(listOf(path))` seems like a reasonable workaround if updating Kotlin isn't viable yet.

[2022-08-09 00:18] fzakaria commented on #6137
Ah -- thanks for looking into it.
I will upgrade my Kotlin compiler.

[2022-08-09 16:01] bjrke opened #6141 "ConsumingQueueIterator is not thread safe"
The code of `ConsumingQueueIterator` is not thread safe because it is not using an atomic operation in `computeNext`

we have this stacktrace once in our whole cluster
[code]

Instead of
[code]

I suggest sth like this but this changes the semantics since queued `null`s mess this up... ofc its questionable if it makes sense at all
[code]

for me its also unclear why computeNext is public...

[2022-08-09 17:35] rwinograd opened #6143 "[Feature] Add ability for Joiner to truncate"
I often write code of the flavor: `log.info("Array items: [{}]", Joiner.on(",").join(array))`. This code is somewhat brittle for extremely long lists, but I have no convenient way to truncate the list while still indicating that the list has been truncated.

It would be nice if there was some way to both truncate the list to a fixed number of values, but also show within the joined string that it

[2022-08-09 18:47] maxmielchen commented on #6067
I have added the lines method in this pull request https://github.com/google/guava/pull/6142
Can anyone approve it.

[2022-08-09 21:55] Yuukiko85 commented on #6130
The comments seem to imply it could be used directly if there is a use case for it.

[2022-08-09 22:09] lowasser commented on #6130
It was a deliberate choice not to expose these for public use.  It wasn't clear we wanted to get into the business of "alternate collection implementations for different performance goals, not different semantic goals e.g. Multimaps or immutable collections."

It may be appropriate to change that decision based on new data, but it was intentional.

[2022-08-10 21:15] cpovirk commented on #6126
Based on @lazaroclapp 's comment, we'll try leaving Guava as it is for now: Putting Guava `AnnotatedPackages` improves soundness at the cost of false positives (like [the `AbstractFuture` example above](https://github.com/google/guava/issues/6126#issuecomment-1204201066)); leaving Guava out does the reverse.

The good news is that we didn't add `@ParametricNullness` to a _ton_ of _return_ types, w

[2022-08-10 21:28] #6126 closed

[2022-08-15 23:23] gandhishrey opened #6147 "Make ExceptionTypePolicy in NullPointerTester public"
NullPointerTester in guava-testlib has support for testing against different exception types based on a private enum `ExceptionTypePolicy`. However, this is currently set as a private field with no constructor or setter taking this as an input.

Setting an ExceptionTypePolicy or list of expected `Throwable`s will be particularly useful for repos which throw `IllegalArgumentException` instead of `N

[2022-08-16 21:10] cpovirk commented on #3990
(Building with JDK8 requires our newly adopted Error Prone setup to [stick with an old version of Error Prone](https://github.com/google/guava/commit/e06a8cec65815599e510d7f9c1ea9d2a8eaa438a#diff-9c5fb3d1b7e3b0f54bc5c4182965c4fe1f9023d449017cece3005d3f90e8e4d8R145).)

[2022-08-17 07:16] bless66 opened #6148 "compiler error"
I get the source code, branch is master，local run 'mvn clean install ', there is an error.
jdk: 1.8

How can I compile successfully locally？

`
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for Guava Maven Parent HEAD-jre-SNAPSHOT:
[INFO]
[INFO] Guava Maven Parent ................................. SUCCESS [  2.203 s]
[INFO] Guava: Google Cor

[2022-08-21 10:23] Ahbishek commented on #5296
Any update on this issue?  Found similar inaccuracy behaviour.

[2022-08-23 08:21] JanecekPetr opened #6153 "Add Immutable*Array.toImmutable*Array() collector methods"
Please consider adding:
- `ImmutableIntArray.toImmutableIntArray()`
- `ImmutableLongArray.toImmutableLongArray()`
- `ImmutableDoubleArray.toImmutableDoubleArray()`

collector methods for streams. Yes, it is possible to use the already efficient `ImmutableLongArray.copyOf(stream)`, so this would be a small convenience. It just feels much more natural to work with streams and then collect them into

[2022-08-24 17:32] cgdecker commented on #6148
I believe that due to some weirdness with the GWT setup, you need to first install without running tests (`-DskipTests=true`), after which running tests should work. Perhaps this should be documented better somewhere.

[2022-08-24 18:23] cpovirk commented on #6148
`mvn clean install` ought to work in a new clone (and it does for me with whatever JDK 8 I have installed—thanks for noting the JDK version).

We'd probably need more of the logs above the point you've provided so far to take a guess at what might be wrong.

(There's an issue about docs for building Guava in https://github.com/google/guava/issues/2193.)

[2022-09-07 20:35] stephenspol opened #6167 "Include Error Prone Setup for IntelliJ IDEA Setup in README.md"
There was no mention in the `README.md` regarding setup for `errorprone`. This will caused java to throw a `java: Compilation failed: internal java compiler error` when trying to run code in Intellij.

Stacktrace error message:
`Error:java: Caused by: java.lang.NoSuchMethodError: com.sun.tools.javac.util.JavacMessages.add(Lcom/sun/tools/javac/util/JavacMessages$ResourceBundleHelper;)V
Error:java:

[2022-09-08 13:16] stephenspol commented on #3990
Issue #6167 is related to Error Prone setup.

[2022-09-14 21:24] eamonnmcmanus opened #6173 "Document that `ComparisonChain` is mostly obsolete"
There are few if any reasons to use [`ComparisonChain`](https://javadoc.io/doc/com.google.guava/guava/latest/com/google/common/collect/ComparisonChain.html) if you are using a version of Java that has lambdas and [`Comparator.comparing`](https://docs.oracle.com/javase/8/docs/api/java/util/Comparator.html#comparing-java.util.function.Function-). The example usage in the current API documentation is

[2022-09-14 23:41] javabrett commented on #6104
Related: https://github.com/rholder/guava-retrying/issues/104

[2022-09-15 18:30] cowwoc commented on #5653
Hi. My build is failing on this issue.

@unnati914 Any progress?

[2022-09-19 07:14] boris-petrov opened #6176 "`MediaType.parse` doesn't like `\r`"
Guava 31.1-jre, JDK 18.

[code]

Leads to an exception:
[code]

I understand that these `\r` symbols don't make much sense there but I've seem them in the wild (coming from Java Mail) so it would be nice to support them.

[2022-09-19 11:11] dherges commented on #2501
One workaround around the issue is to wrap the Wildfly/JBoss ModuleClassLoader in an URLClassLoader. Also give it the URLs for the virtual file system ("vfs:" protocol):

[code]

[2022-09-19 13:02] mobile664042 opened #6177 "guava cache的LRU算法有bug吗"
我做了一下试验如下：
![image](https://user-images.githubusercontent.com/1433479/191022798-0c3146b5-d3b7-4cfc-8fbf-0735dbda3b31.png)

为什么我最先put的k_0没有被删掉，反而是k_2.

次线程的testMap.getIfPresent 操会影响expireAfterWrite的执行效果吗？

[2022-09-19 17:10] ben-manes commented on #6177
The cache is partitioned into multiple LRUs, hashed to by key, and sized by the concurrency level (default 4). If you set to that to `1` then it will be strict LRU but lower performance, else it is roughly equivalent. This is indicated in CacheBuilder's javadoc.

[2022-09-20 06:19] mobile664042 commented on #6177
是不是说把concurrencyLevel设置为1？我试了, CacheBuilder.newBuilder().maximumSize(4).concurrencyLevel(1), 但是效果还是一样的啊。断点调试的时候，concurrencyLevel值好像并未影响segments的大小，不设置concurrencyLevel时，调试截图如下：
![image](https://user-images.githubusercontent.com/1433479/191181483-44b9e013-5b97-4bfc-94a7-e11ad06fbdfb.png)

是不是我的理解不对吗？

[2022-09-20 06:50] ben-manes commented on #6177
The map’s toString() is unordered and the LRU order it retained on the segment by linked list chains embedded in the entry. You should see it evict in LRU order via the removal cause.

FYI, LRU is a good starting point but is often has low hit rates. A lot of work went into researching new algorithms that are robustly near optimal. The successor caching library, [Caffeine](https://github.com/ben-m

[2022-09-20 11:36] swayamraina opened #6180 "LoadingCache hits downstream multiple time in case of TTL expiry"
Hi,

We are using LoadingCache for our use-case where Key and Value are complex objects
[code]

In our service implementation, we try to fetch multiple keys in a go from the cache object
[code]

However in case a Key has expired, Guava (`CacheLoader<KeyObject, ValueObject>`) immediately calls the downstream to get the fresh value of the object corresponding to the key using `reload(KeyObject key,

[2022-09-20 13:56] mobile664042 commented on #6177
按你说的调试evict相关的方法，如下图：
![image](https://user-images.githubusercontent.com/1433479/191275007-00120e51-fb83-4a94-bb73-22450ec96e54.png)
但是我看代码是调用到了accessQueue属性去删除第一个元素，但是我用的是expireAfterWrite， 不是expireAfterAccess方法，这是bug吗？accessQueue中的每个元素的accessTime都是9223372036854775807为什么？

截图如下：
![image](https://user-images.githubusercontent.com/1433479/191274657-678f2b23-7aa8-4dd1-a5c2-8402c2990b52.png)
版本：guava-

[2022-09-20 17:16] rohitnandi12 commented on #1658
@kluever Is this issue active? I would like to take this up.

[2022-09-20 17:21] kluever commented on #1658
It sounds like a solution was added to the JDK (see above), so this can probably be closed out (unless there are features missing from the JDK --- if so, please re-open).

[2022-09-20 17:21] #1658 closed

[2022-09-20 19:00] ben-manes commented on #6180
I've looked into this previously for https://github.com/google/guava/issues/1975 / https://github.com/ben-manes/caffeine/issues/7.

A reason why it hasn't moved forward is that while it makes sense for `getAll`, that is less often used and it does not optimize for individual reloads triggered by concurrent `get` calls. Both cases can instead be handled by coalescing individual `reload` calls for a

[2022-09-21 02:36] mobile664042 commented on #6177
测试代码：
import java.util.concurrent.TimeUnit;
import com.google.common.cache.Cache;
import com.google.common.cache.CacheBuilder;
import com.google.common.cache.RemovalListener;
import com.google.common.cache.RemovalNotification;
public class Test3 {
	public static void main(String[] args) throws Exception {
		Cache<String, String> testMap = CacheBuilder.newBuilder().maximumSize(4).expireAfterWrite(2

[2022-09-21 03:10] ben-manes commented on #6177
The reader thread's intent is that `k_0` and `k_1` are the most recently used items so they should not be size evicted. Therefore the least recently are `k_2_` and `k_3` when the cache overflows. The `System.out.println(testMap.asMap())` printout is unordered. The test shows that the cache is correctly evicting the LRU'd entries.

[2022-09-21 03:16] mobile664042 commented on #6177
q

我用的是expireAfterWrite方法，不是expireAfterAccess， 难道这两个方法是一样的？

[2022-09-21 04:01] ben-manes commented on #6177
No, but in your test case the expiration period is large enough to never occur. The duration of `expireAfterWrite` will be reset when the entry is created or updated (e.g. `Cache.put`). The duration of `expireAfterAccess` will also reset it when the entry is read (e.g. `Cache.getIfPresent`).

[2022-09-21 05:51] mobile664042 commented on #6177
是不是说，因为空间大小不够用的删除，就不能满足LRU规则？

[2022-09-21 06:14] ben-manes commented on #6177
Expiration is independent of LRU and expired items will be removed prior to size eviction. Internally, expireAfterAccess will reuse the LRU queue because it follows the same ordering rules (reorder on read or write) and is bounded by time instead of length. In your test case LRU is being satisfied.

[2022-09-21 18:26] eamonnmcmanus commented on #6173
Fixed by #6182.

[2022-09-21 18:26] #6173 closed

[2022-09-22 07:39] swayamraina commented on #6180
yeah so by coalescing, I meant was it will do something like this,
[code]

Moreover this works beautifully even if user wants to fetch a single key from cache instead of using current logic of,
[code]

So this is good to prevent latency but downstream takes a hit in terms of network bandwidth and throughput (even though it provided bulk API for optimising this use case)

Not sure if users moved to

[2022-09-22 08:06] ben-manes commented on #6180
The `reload(key, oldValue)` returns a future, but the load operation does not need to be singular. As demonstrated in the above linked example, the first reload could trigger a coalescing period (e.g. 10ms) and submit the work items into a queue. When the period expires, a scheduled thread could then perform all of the pending reloads in a single bulk operation and complete the futures with the re

[2022-09-22 12:59] oliviercailloux commented on #3421
Still a LONG way away from de-beta'ing?

[2022-09-23 22:06] Dndptvvxcn opened #6183 "Safari"

[2022-09-24 15:33] Dndptvvxcn opened #6184 "Safari"

[2022-09-26 13:00] FrancoisTrible commented on #4011
When can we expect a fix ?

[2022-09-27 02:45] Dogscat3831 opened #6186 "Safari is open"
@googlebot

[2022-09-27 02:46] Dogscat3831 commented on #6186
![image](https://user-images.githubusercontent.com/100335577/192419601-d9370cb0-5360-4a54-a106-db31dba9777e.png)

[2022-09-27 09:05] seyoatda commented on #5439
Is any progress yet? Is this fix merged with the newest version of guava?

[2022-09-27 16:05] ben-manes commented on #5439
Nope, I am not actively working on this.

[2022-09-27 21:25] eamonnmcmanus commented on #3584
As #6173 says, `ComparisonChain` is mostly obsolete. Using the static `Comparator` methods allows what's asked for here. Instead of:
[code]
you can do:
[code]

[2022-09-27 21:25] #3584 closed

[2022-09-27 21:29] eamonnmcmanus commented on #2160
The 2015 [comment](https://github.com/google/guava/issues/2160#issuecomment-141509099) by @cpovirk showed two places where people in Google code were comparing a value with itself. When I ran the same search again (sorry it's not visible to external people) I found five places. I think that this shows that `ComparisonChain` is somewhat error-prone, and when our team discussed it recently we didn't

[2022-09-28 20:15] kilink opened #6187 "Spliterators for sorted collections cause inefficient stream operations when natural ordering is used"
The Spliterators returned by sorted collections such as `ImmutableSortedSet` and `RegularImmutableAsList` result in unnecessary sorting occurring when a sort operation is performed on their associated Stream. The root cause is that the
Spliterators' `getComparator()` implementations always return a `Comparator` instance, even when natural ordering is used.

According to the [Javadoc](https://docs.

[2022-09-30 10:42] Novarest opened #6189 "Question to some files"
The following information is found in the files
com/google/common/cache/LongAdder.java,
com/google/common/cache/Striped64.java,
com/google/common/hash/LongAdder.java,
com/google/common/hash/Striped64.java,
com/google/common/util/concurrent/AtomicDoubleArray.java:

/*
* Written by Doug Lea with assistance from members of JCP JSR-166
* Expert Group and released to the public domain, as explained at

[2022-09-30 17:16] ayabennani opened #6190 "Why Safari is open?"

[2022-09-30 21:29] amalloy commented on #6177
@ben-manes Is there anything Guava team should be doing here? I haven't run all the text through Google Translate, but it sounds like this is a bug report that you're saying is working as intended?

[2022-09-30 21:30] ben-manes commented on #6177
@amalloy please close

[2022-09-30 22:08] amalloy commented on #6186
Can you clarify what this issue is about? There's no context at all, and I don't know what that image means. On the other hand, one other user has filed a similar issue recently (#6190), so maybe there's genuinely something going on here?

[2022-09-30 22:38] amalloy commented on #6189
The guava maintainers are not patent lawyers or experts. If you need this information, ask someone who knows about patents.

[2022-09-30 22:38] #6189 closed

[2022-09-30 22:42] amalloy commented on #6190
Apparent dupe of #6186

[2022-09-30 22:42] #6190 closed

[2022-10-03 14:19] mo20053444 opened #6192 "Missing a word on wiki/HowToContribute page"
Hi, for the text [here](https://github.com/google/guava/wiki/HowToContribute#new-features:~:text=implementing%20a%20feature%2C-,they%27ll%20you%20know,-when%20you%20request)
maybe it's trying to say "they'll (let?) you know"

[2022-10-03 15:52] #6177 closed

[2022-10-04 15:57] chaoren commented on #6192
Yes, thanks for catching the mistake.

[2022-10-04 18:50] #6186 closed

[2022-10-04 23:05] #6192 closed

[2022-10-10 17:28] gruenich opened #6201 "Replace Findbugs by Spotbug"
FindBugs has not seen a release since 2015. Citing Spotbug's Github page:

Guava should move away from FindBugs to Spotbugs to have maintained dependencies, profit from their fixes and new features.

Probably related to #2960.

[2022-10-10 17:53] cpovirk commented on #6201
Thanks, this does sound a lot like #2960.

I know that "findbugs" appears as part of the jsr305 artifact name: https://github.com/google/guava/blob/fde1b8451d8d84c2842cbb75dd66a3d0b58a4274/pom.xml#L272

#2960 is indeed about eliminating that. Are there other ways we use Findbugs for us to also look into eliminating? I wouldn't be surprised if we had some comments lying around, for example, but we

[2022-10-10 21:21] gruenich commented on #6201
You are right, Findbugs only occurs in various pom.xml, some comments, and a package-list. Feel free to close this as a duplicate of #2960 .

My pain is that every project directly or indirectly including Guava, I get Findbugs as a dependency and occurs in the software bill of materials. This triggers a warning because Findbugs is unmaintained for 5 years. I know, it used for testing only, but it

[2022-10-10 21:25] cpovirk commented on #6201
Tracking on #2960 is probably best so that all interested parties can follow along when we finally do have some updates again.

(We're already quite interested in getting off the Findbugs jsr305 artifact, but it's always good when we hear from users who will benefit when that finally happens :))

[2022-10-10 21:25] #6201 closed

[2022-10-10 21:28] gruenich opened #6203 "Use checker-util.jar instead of checker-qual.jar"
Guava uses Checker 3.12. The [checker change log](https://checkerframework.org/CHANGELOG.md) mentions for 3.10

Also, added `util` to the end of all the packages of the utility classes.

`checker-qual.jar`, but rather uses a Maven dependency. A fat jar file with all
the dependencies (like the old `checker.jar`) is available in Maven Central with
the classifier "all".

This should be adjusted withi

[2022-10-10 21:42] cpovirk commented on #6203
I think the change log is getting at something a little different than what we're using: [`checker-util`](https://repo1.maven.org/maven2/org/checkerframework/checker-util/3.26.0/) contains some "real" code, like [`NullnessUtil`](https://checkerframework.org/api/org/checkerframework/checker/nullness/util/NullnessUtil.html). For the plain old _annotations_ that we use, I believe that [`checker-qual`

[2022-10-11 01:52] 2is10 opened #6204 "ImmutableList.builder(Collection) or ImmutableList.toBuilder()"
My employer’s codebase currently has 130 occurrences of this pattern:
[code]
That pattern can be useful for appending items and/or collections.

The need for an explicit type argument is unfortunate; it’s nearly always the same as that of `items`. Better would be:

[code]

Even more concise, but not as broadly applicable would be:

[code]

Would you consider either to be worthwhile?

[2022-10-11 06:54] smartdengjie commented on #5990
Hello, I have received your email. Don't worry.

[2022-10-12 05:17] yuyu414 opened #6205 "Lock contention performance issues：com.google.common.util.concurrent.RateLimiter#acquire(int) -->reserve()#synchronized"
![image](https://user-images.githubusercontent.com/25549434/195255346-8e1a0117-3785-44e8-8bf9-0209a1c3df3f.png)

I noticed RateLimiter recently and had a question in the ‘com.google.common.util.concurrent.RateLimiter#acquire(int)’ method。
What I want to ask is the performance issue of synchronized (mutex()) in reserve method.
If there are 10,000 requests to synchronize (mutex()) to compete for loc

[2022-10-12 05:21] yuyu414 commented on #6205
![image](https://user-images.githubusercontent.com/25549434/195256388-c5590bdc-b7be-45f0-8c4b-7dc484296f9b.png)

com.google.common.util.concurrent.RateLimiter#tryAcquire(int, long, java.util.concurrent.TimeUnit) also has the same question. For example, my maximum acquisition timeout is 5 seconds, but because there are 10,000 lock competitions If the mutex() resource is obtained after 10 seconds, i

[2022-10-12 06:42] Dogscat3831 opened #6206 "carlwilsonjr662@outlook.comp"
@googlebot

__Originally posted by @Dogscat3831 in https://github.com/google/guava/issues/6186__

[2022-10-12 07:03] digambar-t7 commented on #5987
Hey there!! I was looking forward to this issue.Can you please elaborate it.

[2022-10-12 08:44] digambar-t7 commented on #6153
Hey there!!
           This idea sounds interesting.Can you please elaborate as to how these methods would be better alternatives than the existing ones.

[2022-10-12 08:48] digambar-t7 opened #6207 "Can we have conversions between ImmutablePrimitiveArrays"
Hey there!!
       I just thought in case if we could make the conversions of ImmutableArray of one primitive type to other primitive type.
**For example** : ImmutableIntArray.toImmutableLongArray() -> a method that would return an ImmutableLongArray from the provided ImmutableIntArray
Thank You!

[2022-10-12 09:03] JanecekPetr commented on #5987
It was a Pokémon-based joke. I'm not entirely sure why the ticket is still open.

[2022-10-12 09:31] JanecekPetr commented on #6153
No, it was misinformed, I don't know what I was thinking. Here's what we have today:
[code]
...this doesn't flow nicely, so if you have a long chain of stream transformations that end up with an IntStream, you'll need to store it in a local variable and call `ImmutableIntArray.copyOf(intStream)`. That's obviously not bad at all, it's the best option right now and for the future.

There's an altern

[2022-10-12 09:31] #6153 closed

[2022-10-12 09:47] JanecekPetr commented on #6153
(Maybe I wanted
[code]
which is something we cannot currently do with a `copyOf()`, so we're either converting to IntStreams or doing
[code]
but ... no. I no longer think this would be very useful. I had a single usage for this, once, I seriously doubt even a Google-sized monorepo has many places that'd be improved by this. If you ever find yourself in a place like this, try to reevaluate your cod

[2022-10-12 11:54] digambar-t7 commented on #6207
Yeah this approach is also right

[2022-10-12 11:54] #6207 closed

[2022-10-12 16:08] cpovirk commented on #6204
Dumping some notes from a chat that @eamonnmcmanus and I were having, just so that we don't lose them. (I see that Éamonn assigned the issue to himself, but I'm not committing him to doing anything in particular :))

AutoValue would use this: https://github.com/google/auto/blob/ce33eafc196b0c405654a7c534a8836cc1c26c91/value/src/main/java/com/google/auto/value/processor/PropertyBuilderClassifier.ja

[2022-10-13 08:44] JanecekPetr commented on #6207
I didn't want to discourage you from the ticket :). If you still think the methods would be worth it and you (and your organization, across a bigger codebase) would be using them a lot, maybe they're worth it.

But yes, there is already a way to convert, albeit slightly manual.

[2022-10-14 01:14] u7338876 commented on #3965
Is this issue still open? I would like to contribute to this issue.

[2022-10-14 17:27] captainbkarthick opened #6214 "Strings.lenientFormat / Preconditions: Handling of attempts to use non-%s specifiers could perhaps be handled better"
https://github.com/google/guava/blob/989e3b261eb3c67b42c97f612b5d726f03e1e300/guava/src/com/google/common/base/Strings.java#L268

The method `lenientFormat(String template, Object... args)` has been called from many methods in the Preconditions.java class with different data type inputs as arguments.

This method internally converts all the arguments passed as varargs to String. Refer: https://git

[2022-10-15 03:47] PiyushKeshari24 commented on #6214
Please assign this to me

[2022-10-15 09:37] vaisrinivasan commented on #6143
I have started working on this. Can this is be added to hacktoberfest? Please assign this to me and add the label "hacktoberfest"

[2022-10-15 19:28] kevinb9n commented on #6214
This is actually intentional behavior, for performance and code size reasons. String.format() is actually quite complex. Also, our core philosophy toward Preconditions has *always* been that whenever it's not quite right for you needs, it's 100% fine and good to return to the if/throw idiom. Preconditions is doing its job by making that need a lot less common.

[2022-10-15 19:47] kevinb9n commented on #6143
Hello! A few things

### background

First, for some general background, we're reluctant to make more changes to `Joiner` as we feel that it's been *largely* superseded by new features in the JDK -- I see that we haven't documented this fact yet and will make a note of it. (I don't know offhand whether it might have the feature you want.)

I think your example usage is missing the part that specif

[2022-10-15 20:08] kevinb9n commented on #3965
Well, in our codebase the `Ints` class has 12 times as many usages as `ImmutableIntArray`. So...

As always, we appreciate the offers of help, but the team would first need to decide that this is worth having. The actual effort of writing/testing the code isn't the hard part. I'm sorry that making that decision hasn't been a high priority for us, but this will probably sit in the state it's in a b

[2022-10-15 20:13] kevinb9n commented on #5987
Yeah, I think we like our friend the way she is.

[2022-10-15 20:13] #5987 closed

[2022-10-15 20:34] kevinb9n commented on #6187
Nice find, and thanks for the deep links.

It's of course generally impossible to know whether a `Comparator` is actually implementing natural order, but we could at least special-case `Comparator. naturalOrder()`. @lowasser any thoughts?

We should search for a JDK issue; given that it introduced that `naturalOrder` comparator I think it should do this trick itself. I also think the `Spliterator`

[2022-10-15 20:38] kevinb9n commented on #6187
Oh funny, I didn't bother mentioning it could special-case `Ordering.natural()` too, because we hope users are moving off of that, but that might be what our spliterators are returning at the moment.

[2022-10-15 20:40] kevinb9n commented on #2160
Agreed.

[2022-10-15 20:40] #2160 closed

[2022-10-15 20:42] kevinb9n commented on #6147
Dup of #1949

[2022-10-15 20:42] #6147 closed

[2022-10-16 03:05] ben-manes opened #6217 "Testlib: Add test that putIfAbsent replaces a null value"
This was shown in a recent [Java Collections Puzzlers](https://www.youtube.com/watch?v=w6hhjg_gt_M). The JavaDoc for `Map.putIfAbsent` states the following.

[code]

I found that multiple custom maps which permit null values due not honor this peculiarity. For example fastutils' adopted the testlib and  `Object2ObjectOpenHashMap` passes its suite, but it mistakenly does not replace the value as sh

[2022-10-16 08:49] vaisrinivasan commented on #6143
Thanks a lot for the response. I'll not continue on this one then and see where else I can contribute 👍

[2022-10-17 05:23] captainbkarthick commented on #6214
@kevinb9n
The below code will not return the desired data
`Preconditions.checkArgument(false, "Port `%d` of %s must be a positive number", 8080, "Data");`

Ideally the above should return
**Port 8080 of Data must be a positive number**
Whereas the code will return
**Port %d of 8080 must be a positive number [Data]**

I feel that this is an issue which must be addressed.

[2022-10-17 07:11] BEE-JN commented on #3813
RateLimiter is still be beta in 31.0, but it seems work fine.

[2022-10-17 14:33] cpovirk commented on #6203
(Do reopen if I misunderstood something.)

[2022-10-17 16:01] cpovirk commented on #2160
Anyone stuck without the new `Comparator` methods might be able to write:

[code]

(also, cross-reference to https://github.com/google/guava/issues/3584)

[2022-10-18 00:13] kevinb9n commented on #6217
Thanks Ben! Looks worth adding. If you or anyone else feels like making the PR we can merge it. If not, I hope we'd still get around to it sooner or later.

[2022-10-18 00:14] kevinb9n commented on #6143
For now, we think the workarounds should be okay; feel free to add more comments though.

[2022-10-18 00:14] #6143 closed

[2022-10-18 00:33] kevinb9n commented on #6214
Ah I see! What I said before still stands, but you do raise a valid point here. The fact that the 8080 appears in the wrong place can be misleading.

There could be something simple we could do, without bloating code size, that makes it significantly more _likely_ that the values come out in the right place. To give one *example*, it could:

* When the number of `%s` matches the number of args giv

[2022-10-18 05:19] perceptron8 commented on #6214
@captainbkarthick You may like to use [Error Prone](https://errorprone.info/) in your compilation. Two Checkers will catch this kind of bugs:
- [LenientFormatStringValidation](https://errorprone.info/bugpattern/LenientFormatStringValidation) (since [2.16](https://github.com/google/error-prone/releases/tag/v2.16)),
- [PreconditionsInvalidPlaceholder](https://errorprone.info/bugpattern/Preconditions

[2022-10-18 09:34] captainbkarthick commented on #6214
Thank you @perceptron8. Will take a look at this.

@kevinb9n ,
I am trying multiple solutions to fix this without bloating the code size.
Will keep you posted on this.

Thanks.

[2022-10-18 22:02] kilink commented on #6187
I agree that the JDK ought to handle this check itself, although it wouldn't help Guava at the moment due to `Ordering.natural()`. I'm assuming the `null` means natural ordering contract is a holdover from `SortedMap` / `SortedSet`.

[2022-10-19 09:09] captainbkarthick commented on #6214
@cgdecker / @kevinb9n ,
I have raised a PR. : https://github.com/google/guava/pull/6221
Requesting to check.

[2022-10-19 11:42] cpovirk commented on #3965
The absence of `ImmutableIntArray.reversed()` may someday look more surprising if [`SequencedCollection`](https://bugs.openjdk.org/browse/JDK-8280836) lands with its `reversed()` method. (Not that `ImmutableIntArray` _is_ a `Collection`, much less a `SequencedCollection`.)

I do see a team that implemented and used this for a couple of our types, plus a team that implemented it but didn't end up u

[2022-10-19 15:17] kevinb9n commented on #6214
We can't look at the code until you sign the CLA, but that's okay: what we need now is discussion of the right solution and whether it is worth changing. Feel free to participate in that discussion if you like. As my comment said, "There **could** be something simple we could do", and "To give one **example**, it could...". More discussion is needed. This library's been in popular usage for well o

[2022-10-19 15:21] captainbkarthick commented on #6214
@kevinb9n,
Apologies!
I closed the issue by mistake and reopened it.

FYI,
I have already signed CLA today.

[2022-10-20 17:45] kevinb9n commented on #6214
The team is quite unconvinced that solving this problem is important enough to change anything for.  Note that this is the first time we're hearing about this problem after more than 10 years of wide usage.

In these situations, the main thing that should really happen is for the user to fix their code.

Unfortunately, accepting any change can always result in a cascading series of ongoing tasks,

[2022-10-20 17:45] #6214 closed

[2022-10-20 19:08] kevinb9n commented on #5927
Sorry I missed that.

We think that

[code]

is not sufficiently better code than

[code]

And in fact, *anyone* can read the latter code and know exactly what it does, which isn't the case at top.

Guava has never wanted to be a *different* way to do things. We have always strived to add only features that provide *better* ways than the universal idioms. Preconditions provides value just by being

[2022-10-21 00:34] Jasper336 opened #6223 "App 10237"
What do I need to do on an app showing as 10237 showing up using data and what is app 10237

[2022-10-21 01:39] yonghao97 commented on #3999
Hi, can I work on this issue?

[2022-10-22 22:03] alvonellos commented on #6217
@kevinb9n what would be the best way for me to get started contributing? This looks like a good first issue.

[2022-10-22 22:18] ben-manes commented on #6217
Take a look at [MapPutIfAbsentTester](https://github.com/google/guava/blob/master/guava-testlib/src/com/google/common/collect/testing/testers/MapPutIfAbsentTester.java). These cases would be to allow null values so follow the pattern elsewhere for defining test matching constraints, e.g.

https://github.com/google/guava/blob/b337be608971b02a51f1a31a50a49c4755c6fd75/guava-testlib/src/com/google/com

[2022-10-23 00:29] alvonellos commented on #6217
Hey ben, I made the code change but I'm running into some issues getting guava to build on my system. I get an error: package sun.misc does not exist

any tips?

[2022-10-23 00:32] ben-manes commented on #6217
I believe it should work, but I haven't run Guava's build for a long time. I know that Eclipse defaults to that error for restricted apis, if that is what you mean? If so, you can disable it under,

<img width="784" alt="Screen Shot 2022-10-22 at 5 31 07 PM" src="https://user-images.githubusercontent.com/378614/197367453-629faf46-d961-4947-9fed-84eff951727d.png">

[2022-10-23 01:30] ben-manes commented on #6217
I gave it a build and another likely reason is if you are running on recent JDK which requires access modifiers. It worked for me on Java 11, and I believe the library targets Java 8.

[2022-10-23 02:49] alvonellos commented on #6217
Take a look at my PR: https://github.com/google/guava/pull/6225

[2022-10-23 02:52] ben-manes commented on #6217
Looks like a good first iteration. Of course that doesn't cover this scenario.

I don't have commit access to the repository, so you'll need to have a champion on the Guava team marshall it through.

[2022-10-23 02:54] alvonellos commented on #6217
I'm using IntelliJ. I'm having a hard time getting it to build so I can test that it all works. I signed the CLA. This will be my first contribution to a google project

[2022-10-23 03:01] ben-manes commented on #6217
You can use command line, e.g. `mvn test -Dtest=OpenJdk6MapTests -pl guava-testlib`.

[2022-10-23 03:04] alvonellos commented on #6217
Thanks, I did that and now I get this message:

`alexanderalvonellos@Alexanders-MacBook-Air guava % mvn test -Dtest=OpenJdk6MapTests -pl guava-testlib
[INFO] Scanning for projects...
[INFO]
[INFO] -------------------< com.google.guava:guava-testlib >-------------------
[INFO] Building Guava Testing Library HEAD-jre-SNAPSHOT
[INFO] --------------------------------[ jar ]----------------------------

[2022-10-23 03:07] ben-manes commented on #6217
You are probably running on a newer JDK. It works fine for me on Java 11, but I get this on 17 due reflective access controls being restricted in later versions.

[2022-10-24 09:13] JanecekPetr commented on #3999
Probably not. Guava does not usually accept much code via PRs, especially not when a new API is involved. And especially especially not if it's not clear the proposed thing is something the Google team even wants in their library. in this specific case, there's an ongoing discussion about this being similar to #1778.

Ergo, first finish the discussion, then think about coding things up. You're unl

[2022-10-24 12:29] d-william opened #6226 "TypeVariable bounds should be considered when resolve types"
Given :
[code]
[code]
[code]
[code]
[code]

When :
[code]
Then subType is `SubType<String>` (**OK**)

When :
[code]
Then java.lang.IllegalArgumentException: No type mapping from class java.lang.Integer to class java.lang.String is thrown (**OK**)

When :
[code]
Then subType is `SubTypeBounded<String>` (**KO?**)
Should a java.lang.IllegalArgumentException be thrown ?
Maybe adding a check [here](htt

[2022-10-24 21:29] kluever commented on #6226
Maybe @eamonnmcmanus knows?

[2022-10-24 21:52] eamonnmcmanus commented on #6226
I think @fluentfuture is indeed the expert here.

[2022-10-25 20:23] #6223 closed

[2022-10-26 00:18] Marcono1234 opened #6227 "GitHub release descriptions use `http://` URLs for Javadoc and JDiff links"
The descriptions of the GitHub releases on https://github.com/google/guava/releases seem to use `http://` URLs for Javadoc and JDiff links instead of `https://`.

At least for the description of future releases it would be good to use `https://` given that guava.dev does support HTTPS.

Browser developer tools screenshot showing one of the `http://` URLs:
![Developer tools screenshot](https://user

[2022-10-26 05:29] u6873285 commented on #5882
I would like to work on this issue if it's not been implemented yet.

[2022-10-26 05:34] Yunyan-Liang commented on #1710
Hi, I would like to work on this issues if it's possible.

[2022-10-26 05:35] u6885077 commented on #5773
Hi,
I am new to open source contribution projects. I see that this issue is still open. I was hoping that I could work on it if it has not already been implemented?

[2022-10-26 18:27] nakulj commented on #5882
@u6873285 I don't think it's a matter of implementation, but design. I don't own the repo but I suggest you start by adding your proposed API as a comment on this issue for discussion. If the owners approve, then you can create a PR.

[2022-10-27 16:34] alps99w opened #6228 "Incorrect domain name for www.amazon.com.be"
InternetDomainName internetDomainName = InternetDomainName.from("www.amazon.com.be").topPrivateDomain();

I got "com.be"as InternetDomainName. please take a look.

[2022-10-27 17:01] cpovirk commented on #5801
Another thing for us to look at (possibly not for JDK 17 but for a later version?) is https://openjdk.org/jeps/411. I saw failures when testing with `jdk-20-ea+16`. I was able to get around them by adding `-Djava.security.manager=allow` to...

https://github.com/google/guava/blob/b337be608971b02a51f1a31a50a49c4755c6fd75/pom.xml#L241

...but that broke JDK8 builds with an error whose message I coul

[2022-10-27 18:27] cpovirk commented on #6217
Thanks for taking a look at this, and sorry for the build problems. I am making an attempt at fixing them in https://github.com/google/guava/pull/6230.

[2022-10-27 19:12] ben-manes commented on #6217
I think you can use Maven [toolchains](https://maven.apache.org/guides/mini/guide-using-toolchains.html) for handling this, but I am rusty with that build tool.

[2022-10-27 23:15] CameronUpson commented on #6228
https://github.com/google/guava/wiki/InternetDomainNameExplained

"Getting back to InternetDomainName, as long as we limit ourselves to using hasPublicSuffix() to validate that the domain is a plausible Internet domain, all is well. The danger arises from the methods that identify or extract the "top private domain". From a technical point of view, the top private domain is simply the rightmost su

[2022-10-28 23:52] Pramodmk opened #6231 "Tree edit distance algorithm support"
I was looking at the [common.graph](https://github.com/google/guava/tree/master/guava/src/com/google/common/graph) package and the Graphs utility class. I do not see the support for any tree edit distance algorithm which compares two trees. Are there any plans to include such tree features and algorithms ?

[2022-10-28 23:59] kevinb9n commented on #6231
Am not aware of any existing plans.

Generally, the main thing that convinces us to add something to our API is if we can find code in Google's massive internal codebase that would use it. The reasoning is that probably too few people have needed it, or, if Google is just unusual and the rest of the world needs it, well, that doesn't really suggest that *we* are the right people to create and rele

[2022-10-29 00:04] kevinb9n commented on #3965
Sure, over time, familiarity with SeqColls might lead more users to "expect" to find reversed() on these classes too. That's going to be a very slow effect though, and at some point Valhalla's going to enable `ImmutableList<int>` and make this whole class obsolete.

[2022-10-29 02:56] jrtom commented on #6231
As one of the major contributors to (and primary maintainer of) `common.graph`, I would concur with @kevinb9n that we're unlikely to provide a tree edit distance algorithm:
* I don't recall ever having seen such an algorithm, nor a use case for one.  This isn't conclusive--graph theory is a very broad subject with many different applications, and I don't pretend to be aware of, much less familiar,

[2022-10-31 15:18] shmueldabomb441 opened #6233 "Diff multiple maps"
I need to diff multiple maps across each other.

Guava currently has a great method for diffing two maps and finding the elements that are `onlyOnRight/Left`, `onBoth`, and `differences`. What object would this function return? Something with `onAll`, `differences`, and function  `Map<~> onlyOn(Map<~> map)` ?

[2022-10-31 20:33] kevinb9n commented on #3965
At this point I think it's fair to say that the case is not "clearly compelling" enough. Reopen if something changes.

[2022-10-31 20:33] #3965 closed

[2022-11-01 15:43] netdpb commented on #6233
Hi! Questions like these are better answered on stackoverflow (tag [`[guava]`](https://stackoverflow.com/questions/tagged/guava)) or maybe on the [mailing list](https://groups.google.com/g/guava-discuss). We use this issue tracker for bug reports and feature requests.

[2022-11-01 15:43] #6233 closed

[2022-11-01 15:54] netdpb commented on #6231
I'm going to close this issue based on the discussion above. If and when we (or you or anyone) makes a compelling case for adding such an algorithm, we can of course reopen this issue to discuss.

[2022-11-01 15:54] #6231 closed

[2022-11-01 19:34] shmueldabomb441 commented on #6233
This was a feature request. Sorry for not being explicit.

[2022-11-04 03:46] aditya-kumbhar opened #6236 "Flaky tests in ForwardingMapTest"
Hi,

Following flaky tests were detected using the [Nondex](https://github.com/TestingResearchIllinois/NonDex) tool in ForwardingMapTest:
1. com.google.common.collect.ForwardingMapTest.testToStringWithNullValues
2. com.google.common.collect.ForwardingMapTest.testToStringWithNullKeys

The flakiness is due to comparing the toString() results of HashMaps (HashMap makes no guarantees as to the order o

[2022-11-04 19:50] netdpb commented on #6236
Those are tests of `ForwardingMap`, which uses (although indirectly) the delegate map's entry iterator. So these tests shouldn't be flaky unless `HashMap.toString()` returns something different when called twice on the same instance with no mutation, which I don't think it does.

And in any case, these are tests of `ForwardingMap`'s `toString()` implementation, not simple usages of a map's string

[2022-11-04 19:50] #6236 closed

[2022-11-07 13:42] kluever commented on #6176
I don't think it should be the responsibility of the parser to sanitize inputs or trim white space.

[2022-11-07 13:42] #6176 closed

[2022-11-07 14:02] cpovirk commented on #6228
Guava is returned the proper result according to the data in https://github.com/publicsuffix/list. It does seem likely that that data should be updated for the creation of www.amazon.com.be, but the Public Suffix maintainers are the experts on this, so we follow them. We'd be happy to see their data updated if appropriate.

[2022-11-07 14:02] #6228 closed

[2022-11-07 14:13] boris-petrov commented on #6176
But it handles correctly other kinds of whitespace, e.g. `MediaType.parse("application/pdf;    \n\n\nname=\"foo\n\nbar.pdf\"")` works totally fine. Why not fix it also for `\r`?

[2022-11-07 14:20] cpovirk commented on #6236
I agree with netdpb that there isn't a practical danger here worth fixing.

A clarification, though: This test is comparing `toString()` from two different _`HashMap`_ instances (one of which is, as noted, wrapped in a `ForwardingMap`):

https://github.com/google/guava/blob/6d7e326b2cbfba5f19fc67859c0b3d4c45fab63f/guava-tests/test/com/google/common/collect/ForwardingMapTest.java#L312-L318

That's

[2022-11-07 14:25] kluever commented on #6176
From the class docs:

Also it looks like the linear-white-space was chosen specifically:
[code]

/cc @cpovirk in case he has any opinions.

[2022-11-08 02:13] aditya-kumbhar commented on #6236
Thanks for the detailed feedback!

[2022-11-11 04:46] wyyl1 commented on #6204
Support this writing
[code]

[2022-11-11 11:50] jbduncan commented on #6204
@wyyl1 Have you tried the following?

[code]

[2022-11-12 05:25] wyyl1 commented on #6204
@jbduncan
Thank you for your advice ! I misunderstood before .

[code]

[2022-11-13 16:37] Speiger commented on #6217
@ben-manes does this also affect my lib?
(Didn't have time to check this yet)

[2022-11-13 18:24] ben-manes commented on #6217
@Speiger yep, your `Object2ObjectOpenHashMap` fails the test.

[2022-11-13 19:34] ben-manes commented on #6217
It is also probably worth noting that `Map.putIfAbsent` and `ConcurrentMap.putIfAbsent` are defined differently wrt null values. The behavior of [ConcurrentMap](https://docs.oracle.com/en/java/javase/19/docs/api/java.base/java/util/concurrent/ConcurrentMap.html#putIfAbsent(K,V)) is insert-only (via a `contains` guard) whereas [Map](https://docs.oracle.com/en/java/javase/19/docs/api/java.base/java/

[2022-11-13 19:58] Speiger commented on #6217
Ty @ben-manes
I will address this bug most likely next week.
Also adding unit tests for it.

Yeah I allow null values in my ConcurrentMaps, since they are guava styled its actually rather easy to support null.
Since its just a fixed spot in the Map its not even causing issues.

[2022-11-13 20:07] ben-manes commented on #6217
The segment style in Guava's is forked from Java 5's ConcurrentHashMap. There are definite gotchas with atomicity and null values, and I think allowing null values at all was a mistake for Map. It is best replaced by a sentinel value, e.g. Optional, which has the same cpu and memory footprint (as no one actually makes a valueless entry object for this case in their maps). My general rule is to fol

[2022-11-14 19:42] cpovirk commented on #5801
JDK17 appears to... pass all tests!? (It does still fail to build Javadoc.) I knew that @eamonnmcmanus had done a bunch of work, but I hadn't realized we were so close.

Probably what put us over the top was the EasyMock upgrade in https://github.com/google/guava/pull/6229, which pulled in [an EasyMock fix for new JDKs](https://github.com/easymock/easymock/issues/274).

The errors I see with JDK*2

[2022-11-14 19:52] cpovirk commented on #5801
It looks like JDK17 Javadoc can work fine with `<source>17</source>`. The trick is how to set that for JDK17 without also setting it for other JDK versions (especially older ones): Worst case, we could use profiles. But maybe we can do something with `java.specification.version` or another property.

(`maven-javadoc-plugin` says that [it defaults to `maven.compiler.source`](https://maven.apache.or

[2022-11-14 20:44] cpovirk commented on #5801
RE: [Mockito](https://github.com/google/guava/issues/5801#issuecomment-1314282106): It looks specific to [the `InnocuousThread` tests](https://github.com/google/guava/blob/master/guava-tests/test/com/google/common/util/concurrent/AbstractFutureInnocuousThreadTest.java):

[code]

The simplest thing is probably just to not use Mockito there, since we don't really need it. That will also make our tes

[2022-11-15 19:43] kryptek opened #6241 "EventBus grows in size, tasks get rejected"
Hello,

I'm having an issue w/ the EventBus and was wondering if someone could help me out.

[code]

The number of queued tasks eventually grows to the max size and although completed tasks is increasing, the queued tasks are full and tasks begin getting rejected like this over and over. Is this because the events I am firing are not completing?

[2022-11-15 23:26] #6241 closed

[2022-11-16 12:36] #5801 closed

[2022-11-16 14:00] cpovirk opened #6245 "Fix JDK18+ `SecurityManager` build failures (and maybe other failures on some older JDKs)"
See https://github.com/google/guava/pull/6243.

[2022-11-17 03:08] zhangyungen commented on #1817
this issue is  very meaningful to prevent bugs from happening。 Why ignore it?

[2022-11-17 08:21] jbduncan commented on #1817
@zhangyungen It's because `EventBus` has been discouraged for a while now for [a number of reasons](https://guava.dev/EventBus).

If the suggestions in that link do not work for you, and you legitimately need an event bus, consider [Green Robot's event bus](https://greenrobot.org/eventbus/).

[2022-11-25 18:14] ramkumarbj opened #6249 "HashCode.java#L292 | padToLong() | String Max length check"
Hi team,

We are using the Guava lib for Hashing. The **padToLong()** method is considering only the first 8 digits to generate the hashing.
Eventhough we are passing the 10 digits its considering the first 8 digits, can you please let us know why team is considering only first 8 digits and do we have option to override this to consider the full string...

https://github.com/google/guava/blob/mast

[2022-11-29 21:23] chaoren commented on #6249
If you just want to hash a byte array, you should use `Arrays.hashCode(...)` instead.

`padToLong()` appears to be working as intended: it pads the byte array to the size of a long, which is 8 bytes.

I think `HashCode.fromBytes(...)` is assuming the input byte array is *already* the result of some kind of hashing and should therefore be somewhat uniformly distributed. It does *not* actually perfo

[2022-11-29 21:23] #6249 closed